<div class="frame presentation_medium">
<% form_for @category do |form|%>
<%= form.error_messages %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :product_reference_category_id %>
    <%= form.collection_select_with_indentation(:product_reference_category_id, @categories, :id, :name , options = {:indentation => 15, :include_blank => '-- Racine --'}) %>
  </p>
  <p><%= form.submit submit_button_name %></p>
<% end %>
</div>
