<%= osibox_init :url => {:controller => 'products_catalog', :params => {:type => 'popup'}}, :width => '1024px', :scroll => 'auto', :css => 'max-height: 500px;' %>

<script type="text/javascript">
taxes_vat = <%= ConfigurationManager.sales_taxes_vat %>;

var catalog = document.getElementById('catalog');
var div_elm = document.createElement('div');
div_elm.innerHTML = "<input type=\"button\" onclick=\"add_reference();\" value=\"Ajouter la référence\" style=\"float :right;\">";
catalog.appendChild(div_elm);

function add_reference () {
	var all_ref = document.getElementById('select_reference').childNodes;
	if (all_ref[0].selected) { alert('Veuillez sélectionner une référence'); return false; };
	for (var i=0; i < all_ref.length; i++) {
		if (all_ref[i].selected) {
			new Ajax.Request('/product_references/' + all_ref[i].value + '.json', {
				method: 'get',
				onSuccess: function(transport) {
					var ref_obj = transport.responseText.evalJSON()["product_reference"];
					append_reference(ref_obj);
					osibox_close();
				}
			});
			return true;
		};
	};
	return false;
}

function append_reference (ref_obj) {
	var list = document.getElementById('list_product').lastChild;
	list.innerHTML += "<tr><td>REF #</td><td><textarea name=\"product_references[][description]\">" + (ref_obj['name'] || '') + ref_obj['description'] + "</textarea></td><td><input type=\"text\" name=\"product_references[][quantity]\" class=\"quantity\" onkeyup=\"calculate(this)\" size=\"3\" value=\"1\" /></td><td><input type=\"text\" name=\"product_references[][unit_price]\" onkeyup=\"calculate(this)\" class=\"unit_price\" value=\"" + (ref_obj['production_cost_manpower'] || ref_obj['unit_price']) + "\" /></td><td class=\"total_price\"></td><td class=\"total_price_taxes\"></td><td><img src=\"/images/cross_16x16.png\"></td></tr>";

	all_tr = document.getElementById('list_product').getElementsByTagName('tr');
	calculate(all_tr[all_tr.length-1].getElementsByClassName('quantity')[0]);

	if (ref_obj['unit_price']) {
		var div_refs = document.getElementById('input_references');
		var input = document.createElement('input');
		input.setAttribute('type', 'hidden');
		input.setAttribute('value', ref_obj['id']);
		input.setAttribute('name', 'product_references[][id]');
		div_refs.appendChild(input);
	};
}

function calculate (elm) {
	var row_elm = elm.ancestors()[1];
	var quantity = row_elm.getElementsByClassName('quantity')[0];
	var unit_price = row_elm.getElementsByClassName('unit_price')[0];
	var total_price = row_elm.getElementsByClassName('total_price')[0];
	var total_price_taxes = row_elm.getElementsByClassName('total_price_taxes')[0];
	total_price.innerHTML = parseFloat(unit_price.value) * parseInt(quantity.value);
	total_price_taxes.innerHTML = parseFloat(total_price.innerHTML) + parseFloat(total_price.innerHTML) / 100 * taxes_vat;
}
</script>

<% form_for @estimate, :url => order_estimate_path(@order, @estimate) do |e| %>

<h2>Conditions commerciales</h2>
<p>
<%= e.label :validity_date, 'Date de fin de validité' %>
<%= e.text_field :validity_date %>
</p>
<p>
<%= e.label :carriage_costs, 'Frais de port' %>
<%= e.text_field :carriage_costs %>
</p>
<p>
<%= e.label :reduction, 'Remise' %>
<%= e.text_field :reduction %>
</p>
<p>
<%= e.label :account, 'Acompte' %>
<%= e.text_field :account %>
</p>

<h2>Produit de la commande</h2>

<table id="list_product">
	<tr>
		<td>Référence</td>
		<td>Désignation</td>
		<td>Quantité</td>
		<td>P.U. HT</td>
		<td>Montant HT</td>
		<td>Montant TTC</td>
		<td>Action</td>
	</tr>
</table>

<input type="text"> <button>Ajouter</button>
<button onclick="osibox_open(1); return false;">Ouvrir le catalogue de produits</button>

<div id="input_references"></div>
<%= e.submit 'Enregistrer' %>
<% end %>

<% @estimate.estimates_product_references.each do |epr| %>
<script type="text/javascript">
append_reference('<%= epr.to_json %>'.evalJSON()["estimates_product_reference"])
</script>
<% end %>