<h1>Modifier un secteur d'activit&eacute;</h1>
<% form_tag @activity_sector %>

<% form_for(@activity_sector) do |activity_sector| %>
  <%= activity_sector.error_messages %>

  <p>
    <%= activity_sector.label :name, "Nom"  %><br />
    <%= activity_sector.text_field :name %>
  </p>

  <p>
    <%= activity_sector.submit "Mettre à jour" %> - <%= link_to 'Retour', activity_sectors_path %>
  </p>
<% end %>


