<% content_for :header do -%>
  <%= javascript_include_tag 'sales/quotes_list' %>
  <%= stylesheet_link_tag_with_theme_support 'sales/press_proof' %>
<% end -%>

<%= order_header %>

<%= generate_commercial_step_contextual_menu_partial %>

<h1>BAT (bon à tirer)</h1>

<div class='presentation-medium'>
  <p>
    L'étape "BAT" permet d'établir le(s) BAT pour le dossier en cours.<br/>
    Vous avez la possibilité de créer autant de BAT que vous souhaitez, mais seul UN BAT par produit présent dans le dossier peut être signé à la fois.
  </p>
  <p>
    L'étape "BAT" est automatiquement clôturée lorsque tous les produits possèdent un BAT signé. Vous pouvez clôturer l'étape manuellement si certains produits ne nécessitent pas un BAT et que tous les BAT sont signés.
  </p>
  
  <div class="presentation_in_columns" id="quotes_list_more_infos" style="display:none">
    <div>
      <p>
        Après avoir été validé <%= image_tag("confirm_16x16.png", :alt => "Validé", :title => "Validé") %>, un BAT peut être signalé comme :
      </p>
      <ul class="quote_caption">
        <li><%= image_tag("cancel_16x16.png", :alt => "Annulé", :title => "Annulé") %> <strong>annulé</strong>, car le BAT est incorrect et doit être modifié</li>
        <li><%= image_tag("send_to_customer_16x16.png", :alt => "Envoyé", :title => "Envoyé") %> <strong>envoyé</strong>, car le BAT a été envoyé au client</li>
        <li><%= image_tag("sign_16x16.png", :alt => "Signé", :title => "Signé") %> <strong>signé</strong>, car le BAT a été signé par le client</li>
      </ul>
    </div>
  </div>
  
  <p>
    <%= link_to "Plus de détails", '#quote_list_more', :id => 'quotes_list_more_infos_link' %>
  </p>
  
  <hr/>
  
  <%= display_press_proofs(@order) %>
  
  <%= content_tag(:p, display_press_proof_add_button(@order)) if is_form_view? %>
</div>
