<% product = product_with_press_proofs %>

<% unless product.press_proofs.empty? %>
  <% row_value = get_row_value(product)%>
  
  <tr> <!-- rowspan : permit to merge the row from the partial 'press_proofs/press_proof_in_one_line' into that one -->
    <td rowspan="<%= row_value%>"><%= product.description %></td>
    <td rowspan="<%= row_value%>"><%= product.quantity %></td>
  </tr>

  <%= render :partial => 'press_proofs/press_proof_in_one_line', :collection => product.press_proofs, :locals => {:order => @order} %>
<% end %>
