<%= render :partial => "parcels/ship_forms" %>
<%= render :partial => "parcels/receive_by_forwarder_forms"%>
<p>
  <%= label_tag "parcel[received_at]" %>
  <%= text_field_tag "parcel[received_at]" %>
</p>
<% fields_for "parcel[delivery_document_attributes][]", PurchaseDocument.new do |field| %>
<p>
  <%= field.label :purchase_document %>
  <%= field.file_field :purchase_document %>
</p>
<% end %>
