<% @parcel = receive_by_forwarder_forms || Parcel.new %>
<%= render :partial => "parcels/ship_forms", :object => @parcel %>
<%fields_for @parcel do |f|%>
    <p>
      <%= f.label :received_by_forwarder_on %>
      <%= f.calendar_date_select :received_by_forwarder_on , {:disabled => 
        @parcel.new_record? ? false : (@parcel.received_by_forwarder_on ? true : false)}, {}%>
    </p>
    
    <p>
      <%= f.label :awaiting_pick_up %>
      <%= f.check_box :awaiting_pick_up %>
    </p>
<% end %>

