<% parcel = receive_forms %>
<%= render :partial => "parcels/process_by_supplier_forms", :object => parcel %>
<%= render :partial => "parcels/ship_forms", :object => parcel %>
<%= render :partial => "parcels/receive_by_forwarder_forms", :object => parcel%>
<p>
  <%= label_tag "Reçu le :" %>
  <%= text_field_tag "parcel[received_on]", (parcel.received_on if parcel) %>
</p>
<% fields_for "parcel[delivery_document_attributes][]", PurchaseDocument.new do |field| %>
  <p>
    <%= field.label :purchase_document %>
    <%= field.file_field :purchase_document %>
  </p>
<% end %>
