<p>
  <%= label_tag 'Exp&eacute;di&eacute; le :' %>
  <%= text_field_tag 'parcel[shipped_at]' %>
</p>
<p>
  <%= label_tag 'Par :' %>
  <%= text_field_tag 'parcel[conveyance]' %>
</p>
<p>
  <%= label_tag 'Date de livraison prévue du colis :' %>
  <%= text_field_tag('parcel[previsional_delivery_date]') %>
</p>
