<% f = ship_forms %>
<p>
  <%= f.label :shipped_at %>
  <%= f.text_field :shipped_at %>
</p>
<p>
  <%= f.label :conveyance %>
  <%= f.text_field(:conveyance) %>
</p>
<p>
  <%= f.label :previsional_delivery_date %>
  <%= f.text_field(:previsional_delivery_date) %>
</p>
