<% @parcel = ship_forms || Parcel.new %>
<%= render :partial => "parcels/process_by_supplier_forms", :object => @parcel %>

<%fields_for @parcel do |f|%>
    <p>
      <%= f.label :shipped_on %>
      <%= f.calendar_date_select :shipped_on , {:disabled => 
        @parcel.new_record? ? false : (@parcel.shipped_on ? true : false)}, {}%>
    </p>
    <p>
      <%= f.label :conveyance %>
      <%= f.text_field :conveyance %>
    </p>
    <p>
      <%= f.label :previsional_delivery_date %>
      <%= f.calendar_date_select :previsional_delivery_date , {:disabled => 
        @parcel.new_record? ? false : (@parcel.previsional_delivery_date ? true : false)}, {}%>
    </p>
<% end %>

