<% content_for :header do %>
  <%= stylesheet_link_tag_with_theme_support 'core/has_resources/has_resources' %>
  <%= stylesheet_link_tag_with_theme_support 'core/has_contacts/has_contacts' %>
  <%= javascript_include_tag 'core/has_resources/has_resources.js' %>
<% end %>

<%
  @contacts = contacts_list

  group_by_owner ||= false
  owner = ( @contacts.empty? ? 'owner' : @contacts.first.has_contact_type )  ## get the owner from the contact because, it can be different of @contacts_owner 

  @group_by ||= (group_by_owner ? owner : "first_name")
  @order_by ||= "asc" # ascendent

  if [ "first_name", "last_name", "email" ].include?(@group_by)
    @groups = @contacts.sort_by{ |c| c.send(@group_by) || ''}.group_by{ |d| get_letter_range(d.send(@group_by)[0..0]) }
  end

  if @group_by == owner and group_by_owner
    @groups = @contacts.sort_by { |c| c.has_contact.name }.group_by { |d| d.has_contact.name }
  end
    
  @groups.reverse! if @order_by == "desc"
%>

<% unless @groups.empty? %>
  <%= "<p>Classer par #{group_contacts_by_method("first_name", @contacts_owner)} | #{group_contacts_by_method("last_name", @contacts_owner)} | #{group_contacts_by_method("email", @contacts_owner)} | #{group_contacts_by_method(owner, @contacts_owner) if group_by_owner}</p>"  unless is_form_view? %>
  <% @groups.each do |group, collection| %>
    <div class="resource_group contact_group">
      <%= content_tag(:h1, group || "\"Aucun\"") %>
      <%= render :partial => 'contacts/contact', :collection => collection, :locals => { :contacts_owner => @contacts_owner }  %>
    </div>
  <% end %>
<% else %>
  <%= content_tag :p, "Aucun contact n'a été trouvé." %>
<% end %>
