<%
owner_type = remarks_owner.class.singularized_table_name if is_form_view?
remark_counter ||= 0
remark_counter += 1
%>

<div class='remark <%= remark_counter%2 == 0 ? 'style2' : 'style1' %>'>
<% if is_form_view? and remark.new_record? %>
  <% fields_for "#{owner_type}[remark_attributes]", remark, :index => nil do |form| -%>
    <%= form.error_messages %>
    <p>
      <%= form.label :text, nil, :required => :required %>
      <%= form.text_area_autoresize :text , :cols => 70, :rows => 2, :index => nil %>
      <%= link_to_function "Annuler", "this.up('.remark').remove()"%>
    </p>
  <% end -%>
<% elsif !remark.new_record? -%>
  <p class="remark_header">
    <span class="remark_counter"><%= remark_counter %></span> Ajouté le <strong><%= remark.created_at.humanize %></strong> par <%= remark.user.employee ? link_to(remark.user.employee.fullname, remark.user.employee) : link_to(remark.user.username, remark.user) %> :
  </p>
  <div class="remark_body">
    <%=textilize h(remark.text) %>
  </div>
<% end -%>
</div>
