<% content_for :header do %>
  <%= stylesheet_link_tag_with_theme_support 'sales/sales' %>
<% end %>

<% unless product_reference_sub_category.new_record? %>
  <% add_contextual_menu_item ProductReferenceSubCategory.human_name do %>
    <% product_reference_sub_category_action_buttons(product_reference_sub_category).each do |button| %>
      <%= button %>
    <% end %>
  <% end %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= new_product_reference_sub_category_link(:link_text => 'Nouvelle sous-famille') unless is_new_view? %>
  <%= product_references_link(:link_text => "Voir tous les produits références") %>
<% end %>

<div class="presentation_medium">
  <% form_for product_reference_sub_category do |form|%>
    <%= form.error_messages %>
    
    <p>
      <%= form.label :product_reference_category_id %>
      <%= form.form_or_view(form.collection_select(:product_reference_category_id, ProductReferenceCategory.roots.actives, :id, :reference_and_name, { :include_blank => "Veuillez choisir une famille" }, :disabled => !product_reference_sub_category.can_update_product_reference_category_id?), :product_reference_category, :name) %>
      
      <% unless product_reference_sub_category.new_record? %>
        <%= form.label :reference %>
        <%= strong product_reference_sub_category.reference %>
      <% end %>
    </p>
    <p>
      <%= form.label :name %>
      <%= form.form_or_view(form.text_field(:name), :name) %>
    </p>
    <%= form.form_buttons :return_uri_on_quit => product_references_path %>
  <% end %>
</div>
