<fieldset id="fieldset_config">
  <legend>Configurer les horaires</legend>
  <span class="date_days">
    <%= javascript_tag "document.getElementById('periode1')" %>
    <%= day_select(0) %> au <%= day_select(1) %>
  </span>&nbsp;
  <span id="schedule_text_field" class="alignment">
    Matinée :
    <%= display_schedule_text_field('morning',1) %>
    &nbsp;
    Apr&egrave;s midi :
    <%= display_schedule_text_field('afternoon',5) %>
  </span>
  <span>
    <a onclick="modify_schedule();">Ajouter</a>
  </span>

  <table id="schedules_array">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th colspan="2">Matin</th>
        <th colspan="2">Apr&egrave;s-midi</th>
      </tr>
    </thead>
    
<%
if @schedules.nil?
  days = params[:schedules].nil? ? Time::DEFAULT_DAYS_ARRAY : format_param(params[:schedules])
else
  days = params[:schedules].nil? ? ( @schedules == [] ? Time::DEFAULT_DAYS_ARRAY : days_sort(@schedules) ) : format_param(params[:schedules])
end
%>
    
    <tbody>
    <% days.each_with_index do |elmnt,index|%>
      <% unless index==0%>
        <%="<tr id='t_" + elmnt['day'] + "'>" %>
          <%="<th class=\"day\" name=" + elmnt['day'] + ">" %><%= elmnt['day']%></th>
          <%="<td class=\"morning start\" name=" + elmnt['day'] + ">" %><%= to_hour(elmnt['morning_start'].to_f) unless elmnt['morning_start'].nil? %></td>
          <%="<td class=\"morning end\" name=" + elmnt['day'] + ">" %><%= to_hour(elmnt['morning_end'].to_f) unless elmnt['morning_end'].nil?%></td>
          <%="<td class=\"afternoon start\" name=" + elmnt['day'] + ">" %><%= to_hour(elmnt['afternoon_start'].to_f) unless elmnt['afternoon_start'].nil?%></td>
          <%="<td class=\"afternoon end\" name=" + elmnt['day'] + ">" %><%= to_hour(elmnt['afternoon_end'].to_f) unless elmnt['afternoon_end'].nil?%></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>

  <% 7.times do |i| %>
    <% string = days[i+1].nil? ? ' H | H | H | H |' : schedule_to_s(days[i+1]) %>
    <%= hidden_field_tag( "schedules[#{i+1}]", days[i+1].nil? ? ' H | H | H | H |' : schedule_to_s(days[i+1]) )%>
  <% end %>
</fieldset>
