<%= order_header %>

<% add_contextual_menu_item :mockup do %>
  <%= new_graphic_item_link(Mockup) %>
  <%= graphic_item_link(@mockup) %>
  <%= cancel_graphic_item_link(@mockup) %>
  <%= delete_graphic_item_link(@mockup) %>
  <%= graphic_items_link(Mockup) %>
<% end %>

<h1>Modifier la maquette</h1>
<%= render :partial => "graphic_items/graphic_item", :object => @mockup %>
