<%= order_header %>

<% add_contextual_menu_item :mockup do %>
  <%= new_graphic_item_link(Mockup) %>
  <%= edit_graphic_item_link(@mockup) %>
  <%= cancel_graphic_item_link(@mockup) %>
  <%= delete_graphic_item_link(@mockup) %>
  <%= graphic_items_link(Mockup) %>
<% end %>

<% display_user_spool_in_contextual_menu %>

<h1>Fiche détaillée de la maquette</h1>

<%= render :partial => "graphic_items/graphic_item", :object => @mockup %>
