<%
press_proof = press_proof_infos

require_locals end_products if press_proof.new_record?
require_locals form, order
%>

<p> 
  <%= form.label :end_product, nil, :required => :required %>
  <% if is_form_view? and press_proof.new_record? %>
    <%= form.collection_select( :end_product_id, end_products, :id, :designation_with_dimensions, { :include_blank => true }, { :onChange => "select_product(this);" } ) %>
  <% else %>
    <%= strong(press_proof.end_product.designation_with_dimensions) %>
  <% end %>
</p>

<% unless press_proof.new_record? %>
<p> 
  <%= form.label :end_product_description %>
  <%= strong(press_proof.end_product_description) %>
</p>
<% end %>

<p>
  <%= form.label :internal_actor, nil, :required => :required %>
  <%= form.form_or_view(form.collection_select( :internal_actor_id, Employee.all, :id, :fullname, { :include_blank => "Veuillez choisir un employé" }), :internal_actor, :fullname) %>
</p>
