<%
require_locals f
press_proof = press_proof_additional_infos %>

<p>
  <%= f.label :creator %>
  <%= link_to press_proof.creator.employee_name, employee_path(press_proof.creator.employee) %>
</p>
<p>
  <%= f.label :created_at %>
  <strong><%= press_proof.created_at.humanize if press_proof.created_at %></strong>
</p>
<p>
  <%= f.label :status %>
  <strong>"<%= status_text(press_proof) %>"</strong>
</p>

<% if press_proof.cancelled? %>
  <p>
    <%= f.label :cancelled_at %>
    <strong><%= press_proof.updated_at.humanize %></strong>
  </p>
<% end %>

<% if press_proof.revoked? %>
  <p>
    <%= f.label :revoked_by %>
    <strong><%= link_to press_proof.revoked_by.employee_name, employee_path(press_proof.creator.employee) %></strong>
  </p>
  
  <p>
    <%= f.label :revoked_at %>
    <strong><%= press_proof.updated_at.humanize %></strong>
  </p>
  
  <p>
    <%= f.label :revoked_comment %>
    <strong>"<%= press_proof.revoked_comment %>"</strong>
  </p>
<% end %>
