<%
require_locals mockups
press_proof = press_proof_mockups
%>

<% if is_form_view? %>
  <p>Liste des maquettes disponibles pour le produit concerné</p>
  <div id="mockups_list">
    <%= render :partial => "minimal_mockup", :collection => mockups %>
  </div>
  
  <p>Glissez ICI les Maquettes que vous voulez ajouter au BAT</p>
  <div id="droppable_div" class="press_proof_mockups_container">
    <%= render :partial => "selected_graphic_item_version", :collection => press_proof.graphic_item_versions %>
  </div>
  
  <script type="text/javascript">
    Droppables.add('droppable_div', { 
      accept: 'draggable',
      hoverclass: 'hover',
      onDrop: function(element)
      {
        if(show_selected_mockup(element) == false){
          var path = '<%= order_commercial_step_press_proof_step_add_mockup_path(@order) %>';
          new Ajax.Request(path, { method: 'get', parameters: 'mockup_version_id='+ $(element).down('.version_id').value })
        }
        $(element).hide();
      }
    });
    //filter mockups for the first time, based on the first product of the current order that correspond to the default selected product
    reset_all_draggable(<%= press_proof.new_record? ? @order.products.first.id : press_proof.product_id %>, false);
    
    hide_selected_mockups(<%= press_proof.graphic_item_versions.collect{|n| n.graphic_item.id}.to_json.to_s %>);
  </script>
<% else %>

  <div class="press_proof_mockups_container">
    <%= render :partial => "minimal_mockup", :collection => mockups %>
  </div>

<% end %>
