<%
press_proof = press_proof_infos

require_locals products if press_proof.new_record?
require_locals form, order
%>

<p> 
  <%= form.label :product %>
  <% if is_form_view? and press_proof.new_record? %>
    <%= form.collection_select( :product_id, products, :id, :name, {}, { :onChange => "select_product(this);" } ) %>
  <% else %>
    <%= strong(press_proof.product.name) %>
  <% end %>
</p>

<% unless press_proof.new_record? %>
<p> 
  <%= form.label :product_description %>
  <%= strong(press_proof.product_description) %>
</p>
<% end %>

<p>
  <%= form.label :internal_actor %>
  <%= form.form_or_view(form.collection_select( :internal_actor_id, Employee.all, :id, :fullname), :internal_actor, :fullname) %>
</p>
