<%
press_proof        ||= nil
unselected_mockups ||= []

graphic_item_version  = selected_graphic_item_version
counter               = selected_graphic_item_version_counter

is_unselected_mockup = unselected_mockups.include?(graphic_item_version.graphic_item.id) # when dropping a mockup unselected_mockups is nil
style   = is_unselected_mockup ? "display:none" : ""
hidden  = is_unselected_mockup ? '1' : '0'

remove_method = (graphic_item_version.graphic_item.current_version.id == graphic_item_version.id)? "remove_selected_mockup(this);" : "remove_selected_mockup_with_warning(this);"

previous_image  = "move_to_left_16x16.png"
next_image      = "move_to_right_16x16.png"

if press_proof
  position        ||= graphic_item_version.position_in_press_proof(press_proof)
  position        ||= counter
  previous_image    = "disabled_move_to_left_16x16.png"  if position == 1
  next_image        = "disabled_move_to_right_16x16.png" if press_proof.press_proof_items.last and position == press_proof.press_proof_items.last.position
end
%>

<div id="selected_mockup_<%= graphic_item_version.graphic_item.id %>" class="minimal_mockup" style="<%= style %>">
  <%= render :partial => "graphic_items/graphic_item_summary",
             :object  => graphic_item_version.graphic_item,
             :locals  => { :image           => graphic_item_version.image.url(:thumb),
                           :without_action  => true,
                           :press_proof     => press_proof } %>
  
  <%= image_tag "delete_16x16.png", :alt => delete_text = "Supprimer", :title => delete_text, :onclick => remove_method, :class => "delete_link" %>
  
  <%= content_tag :span, position,                  :class => :number_label %>
  <%= content_tag :span, image_tag(previous_image), :class => :previous_link, :onclick => "move_to_left(this)" %>
  <%= content_tag :span, image_tag(next_image),     :class => :next_link,     :onclick => "move_to_right(this)" %>
  
  <%= hidden_field_tag "press_proof[press_proof_item_attributes][][should_destroy]",
                       hidden,
                       :id    => "press_proof_press_proof_item_attributes__should_destroy",
                       :class => :should_destroy %>
  
  <%= hidden_field_tag "press_proof[press_proof_item_attributes][][graphic_item_version_id]",
                       graphic_item_version.id,
                       :id    => "press_proof_press_proof_item_attributes__graphic_item_version_id", :size => 2 %>
  
  <%= hidden_field_tag "press_proof[press_proof_item_attributes][][position]",
                       position,
                       :id    => "press_proof_press_proof_item_attributes__position",
                       :class => :position %>
</div>
