<div style="visibility: hidden;
						position: absolute;
						left: 0px;
						top: 0px;
						right: 0px;
						z-index: 999;
						background-color: <%= options[:wall_color] %>;
						opacity: <%= options[:wall_opacity] %>;
						-moz-opacity: <%= options[:wall_opacity] %>;
						filter:alpha(opacity=<%= options[:wall_opacity].to_f * 100 %>);"
	id="osibox_wall<%= options[:id] %>" class="osibox">
</div>
<div style="visibility: hidden;
						position: absolute;
						top: 0px;
						left: 0px;
						z-index: 1000;
						padding: 8px;
						overflow: auto;
						-moz-border-radius: <%= options[:border_radius] %>;
						border: <%= options[:border_size] %> <%= options[:border_type] %> <%= options[:border_color] %>;
						background-color: <%= options[:background_color] %>;
						<% unless options[:height].nil? %>
						height: <%= options[:height] %>;
						<% end %>
						<% unless options[:width].nil? %>
						width: <%= options[:width] %>;
						<% end %>
						overflow: <%= options[:scroll] %>;
						<%= options[:css] %>"
	id="osibox_popup<%= options[:id] %>" class="osibox">
	<% if options[:close_button] %>
	<a style="float: right; font-size: 12px;" onclick="osibox_close();">Fermer</a><br />
	<% end %>
	<% if !options[:partial].nil? %>
		<%= render :partial => options[:partial], :locals => options[:locals] %>
	<% elsif !options[:url].empty? %>
		<%= render_component options[:url] %>
	<% else %>
	 <% raise ArgumentError, "missing partial or url" %>
	<% end %>
</div>
<% content_for :header do %>
<script type="text/javascript" src="/javascripts/osibox.js"></script>
<% end %>
<script type="text/javascript">
osibox_wall_elm = document.getElementById(osibox_wall + '<%= options[:id] %>');
osibox_popup_elm = document.getElementById(osibox_popup + '<%= options[:id] %>');

document.body.appendChild(osibox_wall_elm);
document.body.appendChild(osibox_popup_elm);
</script>