<h1>Accueil</h1>

<div class="home">
  <% widgets = Osirails::WidgetManager.widgets %>
  
  <div class="column1">
    <% widgets.select{ |k,v| v[:column] == 1 }.each do |widget_name, attr| %>
      <div column="<%= attr[:column] %>" position="<%= attr[:position] %>">
        <%= render :file => attr[:path] %>
      </div>
    <% end %>
  </div>
  
  <div class="column2">
    <% widgets.select{ |k,v| v[:column] == 2 }.each do |widget_name, attr| %>
      <div column="<%= attr[:column] %>" position="<%= attr[:position] %>">
        <%= render :file => attr[:path] %>
      </div>
    <% end %>
  </div>
  
  <div class="column3">
    <% widgets.select{ |k,v| v[:column] == 3 }.each do |widget_name, attr| %>
      <div column="<%= attr[:column] %>" position="<%= attr[:position] %>">
        <%= render :file => attr[:path] %>
      </div>
    <% end %>
  </div>
</div>
