<% content_for :header do -%>
  <%= stylesheet_link_tag_with_theme_support 'core/has_contacts/has_contacts' %>
<% end -%>

<%
require_locals form

delivery_note           = delivery_note_header
order                   = delivery_note.order
contacts_owners         = order.customer.head_office_and_establishments
quote                   = delivery_note.associated_quote
default_ship_to_address = order.signed_quote.ship_to_address
%>

<div id="delivery_note_header">
  <h3>Information générales</h3>
  <p>
    <%= form.label :delivery_note_type_id %>
    <%= form.form_or_view(form.collection_select(:delivery_note_type_id, DeliveryNoteType.all, :id, :title), :delivery_note_type, :title) %>
  </p>
  <p>
    <%= form.label :published_on %>
    <%= form.form_or_view(form.calendar_date_select(:published_on), :published_on, :humanize) %> <% if delivery_note.was_uncomplete? and delivery_note.published_on.blank? %><span class="help_text">Laisser vide pour mettre automatiquement la date de validation</span><% end %>
  </p>
  
  <div class="presentation_in_columns">
    <div class="small">
      <h3>Adresse de livraison</h3>
      <%= render :partial => 'addresses/address_form', :object => delivery_note.ship_to_address || delivery_note.build_ship_to_address(default_ship_to_address.attributes), :locals => { :address_owner => delivery_note } %>
    </div>
  
    <div id="contact_container" class="medium">
      <h3>Contact de livraison</h3>
      <p>
        <%= label :select_contacts, "À l'attention de " %>
        <%= display_contact_picker(delivery_note, order.all_contacts_and_customer_contacts, :form => form, :contact_key => 'delivery_note_contact', :contacts_owners => contacts_owners) %>
      </p>
    </div>
  </div>
  
  <h3>Références</h3>
  <p>
    <label>Devis signé :</label>
    <%= link_to(quote.reference, order_commercial_step_quote_step_quote_path(order, quote)) %>
    <%= link_to(image_tag("mime_type_extensions/pdf_16x16.png"), order_commercial_step_quote_step_quote_path(order, quote, :format => :pdf)) %>
  </p>
</div>
