<% delivery_note_item = delivery_note_item_in_one_line %>

<% if delivery_note_item.nil? %>
  <% require_locals delivery_note %>
  
  <tr class="aggregates">
    <td colspan="6" rowspan="3"></td>
    <td colspan="2" class="aggregate_label">Net HT :</td>
    <td class="aggregate_amount aggregate_without_taxes"><%= delivery_note.associated_quote.total.round_to(2).to_s(2) %></td>
    <% if is_form_view? %>
      <td rowspan="3"></td>
    <% end %>
  </tr>
  <tr class="aggregates">
    <td colspan="2"class="aggregate_label">Total taxes :</td>
    <td class="aggregate_amount aggregate_all_taxes"><%= delivery_note.associated_quote.summon_of_taxes.round_to(2).to_s(2) %></td>
  </tr>
  <tr class="aggregates global">
    <td colspan="2" class="aggregate_label">NET À PAYER</td>
    <td class="aggregate_amount aggregate_with_taxes"><%= delivery_note.associated_quote.total_with_taxes.round_to(2).to_s(2) %>&#160;&euro;</td>
  </tr>
<% else %>
  <% quote_item = delivery_note_item.quote_item %>
  
  <% fields_for "delivery_note[delivery_note_item_attributes][]", delivery_note_item do |form| %>
    <%= form.error_messages %>
    <tr class="delivery_note_item">
      <td class="reference">
        <%= quote_item.product_reference.reference %>
      </td>
      <td class="description">
        <%= h(quote_item.name) %>
        <br/>
        <%= textilize(h(quote_item.description)) %>
      </td>
      <td class="quantity">
        <%= quote_item.quantity %>
      </td>
      <td class="unit_price">
        <%= quote_item.unit_price.to_f.to_s(2) %>
      </td>
      <td class="discount">
        <%= quote_item.discount.to_f.to_s(2) %>
      </td>
      <td class="unit_price_with_discount">
        <%= quote_item.unit_price_with_discount.round_to(2).to_s(2) %>
      </td>
      <td class="total">
        <%= quote_item.total.round_to(2).to_s(2) %>
      </td>
      <td class="vat">
        <%= quote_item.vat %>
      </td>
      <td class="total_with_taxes">
        <%= quote_item.total_with_taxes.round_to(2).to_s(2) %>
      </td>
      <td class="quantity_for_delivery">
        <%= form.form_or_view(form.select(:quantity, (0..quote_item.quantity)), :quantity) %>
        
        <%= form.hidden_field :id %>
        <%= form.hidden_field :quote_item_id %>
      </td>
    </tr>
  <% end %>
<% end %>
