<% content_for :header do %>
  <%# javascript_include_tag 'sales/quotes' %>
<% end %>

<% delivery_note = delivery_note_form %>

<%= form.error_messages %>

<h2>Entête</h2>
  <%= render :partial => 'delivery_note_header', :object => delivery_note, :locals => { :form => form } %>

<h2>Corps</h2>
<table id="delivery_note_items">
  <tr>
	  <th>Réf.</th>
	  <th>Désignation</th>
	  <th>Qté<br/>devis</th>
	  <th>P.U.<br/>Brut HT</th>
	  <th>Rem.<br/>(%)</th>
	  <th>P.U.<br/>Net HT</th>
	  <th>Total<br/>HT</th>
	  <th>TVA</th>
	  <th>Total<br/>TTC</th>
    <th>Qté<br/>à livrer</th>
  </tr>
  <%= render :partial    => 'delivery_note_item_in_one_line',
             :collection => !delivery_note.delivery_note_items.empty? ? delivery_note.delivery_note_items : signed_quote.quote_items.collect{ |x| delivery_note.delivery_note_items.build(:quote_item_id => x.id, :quantity => x.quantity) } %>
  
  <%= render :partial => 'delivery_note_item_in_one_line', :locals => { :delivery_note => delivery_note } %>
</table>

<% if is_new_view? %>
  <p>
    <%= form.submit 'Créer' %>
  </p>
<% else %>
  <p>
    <%= form.submit 'Enregistrer' %>
  </p>
<% end %>
