<% fields_for "watchable[watchables_watchable_functions_attributes][]", watchables_watchable_function = watchables_watchable_function_in_one_line , :index => nil do |f|%>
  <% options = watchable_function_time_unity %>
  <tr class="watchable resource">
   <td style="display:none">
     <%= f.hidden_field :id, :disabled => watchables_watchable_function.new_record? %>
     <%= f.hidden_field :watchable_id, :value => watchable.new_record? ? @watchable.object_id : @watchable.id%>
     <%= f.hidden_field :watchable_function_id, :class => "watchable_function_id"%>
     <%= f.hidden_field :on_modification, :class => "on_modification", :value => watchables_watchable_function.on_modification ? 1 : 0%>
     <%= f.hidden_field :on_schedule, :class => "on_schedule", :value => watchables_watchable_function.on_schedule ? 1 : 0%>
   </td>
   <td><%= watchables_watchable_function.watchable_function.function_description %></td>
   <td>
   <%= check_box_tag 'watchable[watchables_watchable_functions_attributes][][on_modification_tmp]', 1 , watchables_watchable_function.on_modification ? true : false, :class => "on_modification_tmp", :onchange => "update_on_modification(this.up('.resource'))", :disabled => watchables_watchable_function.watchable_function.on_modification ? false : true%>
   </td>
   <td>
   <%= check_box_tag 'watchable[watchables_watchable_functions_attributes][][on_schedule_tmp]', 1, watchables_watchable_function.on_schedule ? true : false, :onchange => "disabled_or_enabled_time_unity(this.up('.resource'))", :class => "on_schedule_tmp", :disabled => watchables_watchable_function.watchable_function.on_schedule ? false : true%>
   </td>
   <td>
     <span id=<%= "time_unity_" + watchables_watchable_function.watchable_function_id.to_s %> <%= 'style="display:none"' unless watchables_watchable_function.on_schedule %> > <%= f.select(:time_unity, options, {:disabled => watchables_watchable_function.on_schedule ? false : true}, :index => nil)%></span><span></span>
   </td>
  </tr>
 <% end %>
