<%= display_popup_menu_actions%>
<div>
<div class='presentation_medium resource'>
  <h3>Observer <%= "#{@object.class.name}"%></h3>
    <% remote_form_for(@watchable, :update => "content_popup_box", :url => acts_as_watchables_path,:html => {:multipart => true}) do |f| %>
      <%= f.error_messages %>
        <p>
          <%= hidden_field_tag :return_uri, @return_uri%>
          <%= f.hidden_field :id%>  
          <%= f.hidden_field :has_watchable_type, :value => @object.class.name%>  
          <%= f.hidden_field :has_watchable_id, :value => @object.id%> 
          <%= f.hidden_field :watcher_id, :value => @watcher_user.id.to_s%> 
          <%= f.hidden_field :all_changes, :value => @watchable.all_changes ? 1 : 0, :class => 'all_changes'%> 
        </p>
        <p>
          <label>Observer tous les changements :</label>
          <%= check_box_tag 'watchable[all_changes_tmp]',1, @watchable.all_changes ? true : false, :onchange => "update_all_changes(this.up('.resource'))", :class => 'all_changes_tmp'%>  
        </p>
        <h3>Liste des fonctions observable</h3>
         <table>
          <thead>
          <tr>
            <th>Description</th>
            <th>A la modification</th>
            <th>A la planification</th>
            <th>Tous les</th>
          </tr>
          </thead>
          <tbody>
            <%= render(:partial => 'acts_as_watchables/watchables_watchable_function_in_one_line', :collection => @watchable.watchables_watchable_functions, :locals => { :watchable => @watchable }) %>
          </tbody>
         </table>
      <%= f.form_buttons %>
    <% end %><!--end form -->
</div>
</div>
