<% if category_child.enable %>

  <%= "<tr id='#{category_child.class.name.tableize.singularize}_#{category_child.id}' class='#{category_child.class.name.tableize.singularize}_#{category_child.send(category_child.class.name.tableize.singularize).id} #{category_child.enable ? "enable" : "disable"}'>" %>
  <%= "<td></td>" %>
  <%= "<td>" %>
  <%= "<img id='#{category_child.class.name.tableize.singularize}_#{category_child.id}_develop' src='/images/add_10x10.png' alt='D&eacute;rouler' onclick='develop(this.ancestors()[1])' style='display: none;' /> " if category_child.children.size == 0 %>
  <%= "<img id='#{category_child.class.name.tableize.singularize}_#{category_child.id}_reduce' src='/images/reduce_button_10x10.png' alt='Enrouler' title='Enrouler' title='D&eacute;rouler' onclick='reduce(this.ancestors()[1])' /> " %>
  <%= category_child.name + "</td>" %>
  <%= "<td colspan='10'></td>" %>
  <%= "<td>#{display_category_stock_value(category_child,@date)}</td>" unless is_form_view? %>
  <%= "</tr>" %>

  <% unless category_child.send("#{category_child.class.name.tableize.gsub("_categories","").pluralize}").nil? %>
    <%= render(:partial => "supply", :collection => category_child.send("#{category_child.class.name.tableize.gsub("_categories","").pluralize}")) %>  
  <% end %>

<% end %>

