<h1>Liste des inventaires</h1>
<div class='frame'>
<table>
<tr>
  <th>Inventaire</th>
  <th>Date de cr&eacute;ation</th>
  <th>Derni&egrave;re modification</th>
  <th>Status</th>
  <th>Action</th>
</tr>
<% for inventory in @inventories %>
  <tr>
    <td><%= inventory.id %></td>
    <td><%= inventory.created_at %></td>
    <td><%= inventory.updated_at unless inventory.updated_at == inventory.created_at %></td>
    <td><%= inventory.close ? "Terminé" : "En cour" %>
    <td><%= link_to("D&eacute;tails", inventory_path(inventory)) %> <%= link_to("Modifier", edit_inventory_path(inventory)) %></td>
  </tr>
<% end %>
</table>

<%= link_to("Ajouter un inventaire", new_inventory_path) %>
</div>