<% add_contextual_menu_item :possible_actions do %>
  <%= new_inventory_link(Commodity.new, "Nouvel inventaire des matières premières") %>
  <%= new_inventory_link(Consumable.new, "Nouvel inventaire des consommables") %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= commodity_categories_link(:link_text => "Voir toutes les catégories de matières premières") %>
  <%= consumable_categories_link(:link_text => "Voir toutes les catégories de consommables") %>
<% end %>

<h1>Les inventaires</h1>
<div>
  <% if @inventories.any? %>  
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Type d'article</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% for inventory in @inventories %>
          <tr>
            <td><%= l(inventory.date, :format => :long) %></td>
            <td><%= inventory.supply_type == "Commodity" ? "Matières premières" : "Consommables" %></td>
            <td><%= inventory_link(inventory, :link_text => "") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @dates %>
  <% else %>
    <p>Aucun inventaire n'a &eacute;t&eacute; trouv&eacute;</p>
  <% end %>  
</div>
