<% add_contextual_menu_item :commodities_stats do %>
	<%= "<span class='contextual_menu_statistic'>Il y a #{pluralize(@inventories.size, "inventaire", "inventaires")}</span>" %>
	<%= @inventory_closed.size == 0 ? "<span class='contextual_menu_statistic'>Il n'y a pas d'inventaire en cours</strong>" : "<span class='contextual_menu_statistic'>Il y a 1 inventaire en cours</span>" %>
<% end %>

<% add_contextual_menu_item :possible_actions do %>
  <%= new_inventory_link %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= commodity_categories_link %>
<% end %>
  
  <h1>Liste des inventaires</h1>
  <div>
  <% if @inventories.size > 0 %>
    <table>
      <tr>
        <th>Inventaire</th>
        <th>Date de cr&eacute;ation</th>
        <th>Derni&egrave;re modification</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      <% for inventory in @inventories %>
        <%= inventory.closed ? "<tr>" : "<tr class='current_inventory'>" %>
        <td><%= inventory.id %></td>
        <td><%= get_structured_date(inventory) %></td>
        <td><%= show_last_update(inventory) %></td>
        <td><%= inventory.closed ? "Terminé" : "En cours" %>
        <td><%= inventory_link(inventory, :link_text => "") %></td>
          <%= "</tr>"%>
      <% end %>
      </table>
    <% else %>
      Il n'y a aucun inventaire actuellement
    <% end %>    
    </div>
