<% add_contextual_menu_item :possible_actions do %>
  <%= new_inventory_link(Commodity.new) %>
  <%= new_inventory_link(Consumable.new) %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= commodity_categories_link %>
  <%= consumable_categories_link %>
<% end %>

<h1>&Eacute;tats du stock </h1>
<div>
  <% if @dates.size > 0 %>  
    <table>
      <tr>
        <th>Date</th>
        <th>&Eacute;tat des mati&egrave;res premi&egrave;res</th>
        <th>&Eacute;tat des consommables</th>
      </tr>
      <% for date in @dates %>
        <tr>
          <%= "<td>#{date}</td>" %>
          <%= "<td>#{inventory_link(Commodity.new,date)}</td>" %>
          <%= "<td>#{inventory_link(Consumable.new,date)}</td>"  %>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>Aucun inventaire n'a &eacute;t&eacute; trouv&eacute;</p>
  <% end %>  
</div>


