<% content_for :secondary_menu do %>
  <h1><span class="gray_color">Statistiques</span></h1>
  <ul>
    <li><%= "<span class='secondary_menu_statistic'>Il y a #{pluralize(@inventories.size, "inventaire", "inventaires")}</span>"%></li>
    <li><%= @inventory_closed.size == 0 ? "<span class='secondary_menu_statistic'>Il n'y a pas d'inventaire en cours</strong>" : "<span class='secondary_menu_statistic'>Il y a 1 inventaire en cours</span>" %></li>
  </ul>
<% end %>

<% secondary_menu POSSIBLE_ACTIONS do %>
  <%= show_inventory_add_button %>
<% end %>
  
  <h1>Liste des inventaires</h1>
  <div class='frame'>
  <% if @inventories.size > 0 %>
    <table>
      <tr>
        <th>Inventaire</th>
        <th>Date de cr&eacute;ation</th>
        <th>Derni&egrave;re modification</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      <% for inventory in @inventories %>
        <%= inventory.closed ? "<tr>" : "<tr class='current_inventory'>" %>
        <td><%= inventory.id %></td>
        <td><%= get_structured_date(inventory) %></td>
        <td><%= show_last_update(inventory) %></td>
        <td><%= inventory.closed ? "Terminé" : "En cours" %>
        <td><%= show_inventory_view_button(inventory,"") %></td>
          <%= "</tr>"%>
      <% end %>
      </table>
    <% else %>
      Il n'y a aucun inventaire actuellement
    <% end %>    
    </div>
