<% content_for :secondary_menu do %>
  <h1><span class="gray_color">Statistiques</span></h1>
  <ul>
    <li><%= "<span class='secondary_menu_statistic'>Il y a #{pluralize(@inventories.size, "inventaire", "inventaires")}</span>"%></li>
    <li><%= @inventory_closed.size == 0 ? "<span class='secondary_menu_statistic'>Il n'y a pas d'inventaire en cours</strong>" : "<span class='secondary_menu_statistic'>Il y a 1 inventaire en cours</span>" %></li>
  </ul>
  <%= show_action_menu %>
<% end %>
<% if @inventories.size > 0 %>
  <h1>Liste des inventaires</h1>
  <div class='frame'>
    <table>
      <tr>
        <th>Inventaire</th>
        <th>Date de cr&eacute;ation</th>
        <th>Derni&egrave;re modification</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      <% for inventory in @inventories %>
        <%= inventory.closed ? "<tr>" : "<tr class='current_inventory'>" %>
        <td><%= inventory.id %></td>
        <td><%= get_structured_date(inventory) %></td>
        <td><%= show_last_update(inventory) %></td>
        <td><%= inventory.closed ? "Terminé" : "En cours" %>
        <td><%= show_view_button(inventory) %></td>
          <%= "</tr>"%>
      <% end %>
      </table>
    </div>
<% end %>