<% content_for :header do %>
  <%= javascript_include_tag 'logistics/supplies' %>
  <%= javascript_include_tag 'logistics/inventories' %>
<% end %>

<% add_contextual_menu_item :possible_actions do %>
  <%= new_inventory_link(Commodity.new, "Nouvel inventaire des matières premières") if params[:type] == "Consumable" %>
  <%= new_inventory_link(Consumable.new, "Nouvel inventaire des consommables") if params[:type] == "Commodity" %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= inventories_link(:link_text => "Voir tous les inventaires") %>
  <%= commodity_categories_link(:link_text => "Voir toutes les catégories de matières premières") %>
  <%= consumable_categories_link(:link_text => "Voir toutes les catégories de consommables") %>
<% end %>

<h1>Nouvel inventaire de <%= params[:type]=="Commodity" ? "matières premières" : "consommables" %></h1>

<div>
  <% unless @supplies.empty? %>  
    <% form_for(:inventory, :url => {:action => :create}) do %>
      <%= "<table class='#{@supply.class.name.tableize.singularize}'>" %>
        <tr>
          <th rowspan='2'>Cat&eacute;gorie</th>
          <th rowspan='2'>Sous cat&eacute;gorie</th>
          <th rowspan='2'>R&eacute;f.</th>
          <th rowspan='2'>D&eacute;signation</th>
          <th rowspan='2'>Fournisseurs</th>
          <th rowspan='2'>FOB/U (€)</th>
          <th rowspan='2'>Coeff. Taxe (%)</th>
          <th colspan='2'>Stock</th>
          <th rowspan='2'>&Eacute;volution</th>
          <tr>            <th>Actuel</th>
            <th>R&eacute;el</th>        
          </tr>
        </tr>      
      <%= render(:partial => "supply_category", :collection => @supply_categories_root) %>      
      </table>
      
      <%= hidden_field_tag 'type', params[:type] %>
      
      <p class="form_buttons">
        <%= reset nil, "Réinitialiser" %>
        <%= submit_tag "Enregistrer" %>
      </p>
    <% end %>
  <% else %>
    <p>Aucune fourniture disponible pour effectuer un nouvel inventaire</p>
  <% end %>
</div>
