<% content_for :header do %>
  <% javascript_include_tag 'logistics/commodities' %>
  <%= javascript_include_tag 'logistics/inventories' %>
<% end %>

<% contextual_menu "Totaux" do %>
  <span style='color: green;'><%= "TOTAL HT &nbsp;&nbsp;: <span class='total'>#{show_total(@inventory, '', 2)}</span> &euro;" %></span>
  <span style='color: red;'><%= "TOTAL TTC : <span id='total_ttc'>#{show_total(@inventory, '',2)}</span> &euro; TODO"%>
<% end %>

<% contextual_menu POSSIBLE_ACTIONS do %>
  <%= new_inventory_link %>
  <%= show_closed_button(@inventory)%>
<% end %>

<% contextual_menu USEFUL_LINKS do %>
  <%= commodity_categories_link %>
  <%= inventories_link %>
<% end %>

  <h1><%= "Inventaire du #{get_structured_date(@inventory)}" %></h1>
  <div>
    <table class='commodity'>
      <tr>
        <th rowspan='2'>Cat&eacute;gorie</th>
        <th rowspan='2'>Sous Cat&eacute;gorie</th>
        <th rowspan='2'>Fournisseur</th>
        <th rowspan='2'>Désignation</th>
        <th rowspan='2'>Unit&eacute;e de mesure / U</th>
        <th rowspan='2'>Masse / U</th>
        <th colspan='3'>Prix / U (&euro;)</th>
        <th rowspan='2'>Quantit&eacute;</th>
        <th rowspan='2'>Unit&eacute;e de mesure total</th>
        <th rowspan='2'>Masse total</th>
        <th rowspan='2'>Prix total</th>
        <tr>
          <th>FOB</th>
          <th>Coef Taxe</th>
          <th>Prix</th>
        </tr>
      </tr>
      <%= show_structured_commodities(@inventory) %>
    </table>
  </div>
