<% content_for :header do %>
  <%= javascript_include_tag 'logistics/supplies' %>
<% end %>

<% add_contextual_menu_item :commodities_stats do %>
  <span style='color: red;'>VALEUR TOTALE DU STOCK : <%= number_with_precision(@supply_type.stock_value(@date),2) + " €" %></span>
<% end %>

<% add_contextual_menu_item :possible_actions do %>
  <%= new_inventory_link(Commodity.new, "Nouvel inventaire des matières premières") if params[:type] == "Consumable" %>
  <%= new_inventory_link(Consumable.new, "Nouvel inventaire des consommables") if params[:type] == "Commodity" %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= inventories_link(:link_text => "Voir tous les inventaires") %>
  <%= commodity_categories_link(:link_text => "Voir toutes les catégories de matières premières") %>
  <%= consumable_categories_link(:link_text => "Voir toutes les catégories de consommables") %>
<% end %>

<h1>&Eacute;tat des <%= (params[:type]=="Commodity" ? "matières premières" : "consommables") + " au " + l(@date.strftime.to_date) %></h1>

<div>
  <% unless @supplies.empty? %>
    <div class="autoscroll">
      <table class="<%= @supply_type.name.tableize.singularize %>">
        <tr>
          <th rowspan='2'>Cat&eacute;gorie</th>
          <th rowspan='2'>Sous cat&eacute;gorie</th>
          <th rowspan='2'>R&eacute;f.</th>
          <th rowspan='2'>D&eacute;signation</th>
          <th rowspan='2'>Fournisseurs</th>
          <th colspan='4'>Stock/fournisseur</th>
          <th colspan='4'>Stock total</th>
          <tr>            <th>Quantit&eacute;</th>                  <th>Grandeur</th>
            <th>Masse</th>   
            <th>Valeur</th>   
            <th>Quantit&eacute;</th>                  <th>Grandeur</th>
            <th>Masse</th>   
            <th>Valeur</th>     
          </tr>
        </tr>      
      <%= render(:partial => "supply_category", :collection => @supply_categories_root) %>      
      </table>
    </div>
  <% else %>
    <p>Aucune fourniture disponible &agrave; cette date</p>
  <% end %>
</div>
