<% secondary_menu POSSIBLE_ACTIONS do %>
  <%= new_commodity_category_link%>
  <%= new_commodity_link %>
<% end %>

<% secondary_menu USEFUL_LINKS do %>
  <%= commodity_categories_link %>
  <%= inventories_link %>
  <%= inventory_link(@inventory) unless @inventory.nil? %>
  <%= new_inventory_link%>
<% end %>
<h1>Ajouter une nouvelle mati&egrave;re premi&egrave;re</h1>
<div class="frame presentation_medium">

  <% form_for(@commodity) do |form| %>
 <p>
  <%= form.error_messages %>
</p>
      <p>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </p>
  
    <p>
      <%= form.label :commodity_category_id %>
      <%= form.collection_select(:commodity_category_id, @categories, :id, :name , {}) %>
      <%= observe_field("commodity_commodity_category_id", :url => refresh_measure_commodity_path, :with => 'parameter')%>
    </p>
  
    <p>
      <%= form.label :supplier_id %>
      <%= form.collection_select(:supplier_id, @suppliers, :id, :name , {}) %>
    </p>

      <p>
        <%= params[:id].to_i == -1 ? "<label id='commodity_unit_measure'>#{@unit_measure.symbol} / U :</label>" : "<label id='commodity_unit_measure'>#{params[:id] != nil ? show_parent_measure(params[:id]) : show_parent_measure(@commodity_category_id)}</label>"%>
      <%= form.text_field :measure %>
    </p> 
  
    <p>
      <%= form.label :unit_mass %>
      <%= form.text_field :unit_mass %>
    </p> 

    <p>
      <%= form.label :fob_unit_price %>
      <%= form.text_field :fob_unit_price %>
    </p> 
  
    <p>
      <%= form.label :taxe_coefficient %>
      <%= form.text_field :taxe_coefficient %>
    </p> 
  
        <p><%= form.submit("Ajouter") %></p>
  <% end %>
</div>
