<%
checking = checking_in_one_line
employee = checking.employee
as_employee_id ||= nil

action = new_or_edit_action(checking)
%>

<tr class="employee_tr">
  <td class="selector"><%= context_menu(employee, 'employee_tr', :path_options => { :date => checking.date, :as_employee_id => @as_employee_id }) %></td>
  <td class="civility"><%= employee.civility.name %></td>
  <td class="fullname"><%= employee.fullname %></td>
  <%= display_morning_start_td(checking) %>
  <%= display_morning_end_td(checking) %>
  <%= display_afternoon_start_td(checking) %>
  <%= display_afternoon_end_td(checking) %>
  <%= display_total_worked_hours_td(checking) %>
  <%= display_balance_hours_td(checking) %>
</tr>
