<% contextual_menu POSSIBLE_ACTIONS do %>
  <%= new_checking_link unless @employees.empty?%>
<% end %>

<h1>Liste des pointages</h1>
  
<div class="presentation-medium">

<% if @employees.empty? %>

  <p>Vous n'&ecirc;tes responsable d'aucun employ&eacute;</p>
  
<% else %>

  <h2>
    Semaine <%= params[:date].to_date.monday.cweek %>
    (du <%= params[:date].to_date.monday.strftime("%A %d %B %Y") %> au <%= params[:date].to_date.next_week.yesterday.strftime("%A %d %B %Y") %>)
  </h2>
  
  <p>
    <%= previous_week(params) %>
    <select onchange="window.location.href='checkings?employee_id='+ this.options[this.selectedIndex].value +'&amp;date=<%=params[:date]%>'">
      <%= employee_options(@employees, params)%>
    </select>
    <%= next_week(params) %>
  </p>
  
  <% if @checkings.empty? %>
  
    <p>Aucun pointage pour cette p&eacute;riode</p>
    
  <% else %>
  
    <table>
      <tr>
        <th rowspan="2">Date</th>
        <th rowspan="2">Absence</th>
        <th colspan="2">Retards</th>
        <th colspan="2">Heures suppl&eacute;mentaires</th>
        <th rowspan="2">Actions</th>
      </tr>
      <tr>
        <th>matinée</th>
        <th>apr&egrave;s-midi</th>
        <th>matinée</th>
        <th>apr&egrave;s-midi</th>
      </tr>
      
      <% for checking in @checkings %>
      
        <tr>
          <td><%= checking.date.strftime("%A %d %B %Y") %></td>
          <td><%= absence_meaning(checking.absence) %></td>
          <%= generate_delay_and_overtime_td(checking) %>
          <td><%= edit_checking_link(checking, :link_text=>"")%></td>
        </tr>
        
      <% end %>
      
    </table>
    
  <% end %>
  
<% end %>
</div>
