<% content_for :header do %>
  <%= stylesheet_link_tag_with_theme_support 'rh/rh' %>
  <%= stylesheet_link_tag_with_theme_support "rh/checking" %>
<% end %>

<h1>Pointages</h1>
<div>  
  <%= display_as_checking_warning(@as_employee) %>
  
  <div class="date_paginate">
    <span class="precedent"><%= link_to "<&nbsp;Jour&nbsp;précédent", :action => "index", :date => @date.yesterday, :as_employee_id => @as_employee_id %></span>
    <span class="calendar"><%= calendar_date_field_tag("checkings", :date, :default => @date, :on_select => calendar_location(@as_employee_id) )%></span>
    <span class="next"><%= link_to "Jour&nbsp;suivant&nbsp;>", :action => "index", :date => @date.next, :as_employee_id => @as_employee_id %></span>
  </div>
  
  <table class="checkings no_nth">
    <thead>
      <tr>
        <th rowspan="2"><%= toggle_selectable_items_link(image_tag('confirm_16x16.png'), 'employee') %></th>
        <th class="civility" rowspan="2">Civilité</th>
        <th class="employee" rowspan="2">Employé</th>
        <th colspan="2">Matinée</th>
        <th colspan="2">Aprés Midi</th>
        <th class="total_worked_hours" rowspan="2">Cumul</th>
        <th class="balance_hours" rowspan="2">+&nbsp;/&nbsp;-</th>
      </tr>
      <tr>
        <th class="time_slot">Arrivé</th>
        <th class="time_slot">Départ</th>
        <th class="time_slot">Arrivé</th>
        <th class="time_slot">Départ</th>
      </tr>
    </thead>
    <tbody>
        <%= render :partial => 'checkings/checking_in_one_line', :collection => @subordinates.collect{ |s| s.find_or_build_checking_at(@date) },
                                                                 :locals => { :as_employee_id => @as_employee_id } %>
    </tbody>
  </table>  
</div>
