<% contextual_menu POSSIBLE_ACTIONS do %>
  <%= new_checking_link unless @employees.empty?%>
<% end %>

<% contextual_menu USEFUL_LINKS do %>
  <%= checkings_link(@employee_id, @date, !@view_cancelled)%>
<% end %>

<h1>Liste des pointages</h1> 
<div class="presentation-medium">

<% if @employees.empty? %>
  <p>Vous n'&ecirc;tes responsable d'aucun employ&eacute;</p> 
<% else %>

  <h2>Semaine <%= @date.monday.cweek %> (du <%= @date.monday.strftime("%A %d %B %Y") %> au <%= @date.next_week.yesterday.strftime("%A %d %B %Y") %>)</h2>
  
  <p>
    <%= previous_week(@employee_id, @date, @view_cancelled) %>
    <select onchange="<%= javascript_location_url(@date, @view_cancelled)%>" >
      <%= employee_options(@employees, @employee_id)%>
    </select>
    <%= next_week(@employee_id, @date, @view_cancelled) %>
  </p> 
  
  <% if @checkings.empty? %> 
    <p>Aucun pointage pour cette p&eacute;riode</p>  
  <% else %> 
    <table>
      <tr>
        <th>Date</th>
        <th>Absence</th>
        <th>Heures suppl&eacute;mentaires</th>
        <th>Actions</th>
      </tr>
      <% for checking in @checkings %>  
         
        <%="<tr #{"class='disabled'" if checking.cancelled} >" %>
          <td><%= checking.date.strftime("%A %d %B %Y") %></td>
          <%= generate_absence_and_overtime_td(checking) %>
          <td>         
            <% unless checking.cancelled %>
              <%= edit_checking_link(checking, :link_text => "") unless checking.can_be_overrided? %>
              <%= link_to image_tag("/images/delete_16x16.png", :alt => "annuler",:title => "annuler"), cancel_checking_path(checking)%>
              <%= link_to image_tag("/images/edit_16x16.png", :alt => "corriger",:title => "corriger"), override_form_checking_path(checking) if checking.can_be_overrided?%>
            <% end %>
            <%= delete_checking_link(checking, :link_text => "")%>           
          </td>        
        </tr>  
             
      <% end %>     
    </table>  
  <% end %> 
<% end %>
</div>
