 <%=stylesheet_link_tag_with_theme_support "rh/checking"%>

<h1>Pointages</h1>
<div class="presentation-medium">  
  <%# J'appel à la méthode qui va afficher un message d'information si l'utilisateur va pointer a la place d'un autre employé''%>
  <%=display_as_checking_warning(@as_employee)%>   

  <div class="date_paginate">
        <span class="precedent"><%=link_to "Précédent", :action => "index", :date => @date.yesterday,:as_employee_id => @as_employee_id %></span>
        <span class="calendar"><%= calendar_date_field_tag("checkings",:date, :default => @date, :on_select => calendar_location(@as_employee_id) )%></span>
        <span class="next"><%=link_to "Suivant", :action => "index", :date => @date.next ,:as_employee_id => @as_employee_id%></span>
  </div>

  <table class="no_nth">
    <thead>
      <tr>
        <th class="civility" rowspan="3">Civilité</th>
        <th class="fullname" rowspan="3">Nom Complet</th>
        <th colspan="2">Matinée</th>
        <th colspan="2">Aprés Midi</th>
        <th class="cumul_hours" rowspan="3">Cumul</th>
        <th class="balance_hours" rowspan="3">+ / -</th>
      <tr>
      </tr>
        <th class="time_slot">Arrivé</th>
        <th class="time_slot">Départ</th>
        <th class="time_slot">Arrivé</th>
        <th class="time_slot">Départ</th>
      </tr>
    </thead>
        <tr class="group">                    <td colspan="8"> </td></tr>
    <tbody>

<%# 
  Pour chaque employé d'un service pour une date si l'employé possède un pointage je récupère ces information 
  pour l'afficher ou bien je simule un pointage avec les horaires de services effectuer par défault
%>
<% 
  @subordinates.each do |employee| 
    checking = employee.checkings.first(:conditions => ['date = ? ' , @date]) || employee.checkings.build(:date => @date)
%>
  <%# Pour afficher la ligne correspondant a cet employé je fait appel au partial qui va effectuer ce traitement %>
  <%= render :partial => "checkings/checking_in_one_line" , :object => checking , :locals => {:employee => employee}%>
<%end%>
      </tbody>
    </table>  

</div>
