<% content_for :header do %>
     <%= javascript_include_tag 'admin/menus' %>
<% end %>

<% title_context "Administration" %>
<%= title "Modifier les permissions du rôle #{@role.name}" %>

<div>
  <% form_tag( role_permission_path(params[:id]), :method => 'put' ) do |form| %>
    <% for permission_type, permissions in @permissions %>
      <h2>pour chaque <%= permission_type.titleize %></h2>
      <% if permission_type == 'Menu'%>
        <div class='hierarchic'><%= get_structured_menus_permissions(get_all_menus_structured, permissions)%></div>
      <% else %>
        <div class="autoscroll">
          <table>
            <% max_size = permissions.collect{|p|p.permission_methods.size}.max %>
            <thead>
              <tr>
                <th><%= permission_type.titleize %></th>
                <th colspan="<%= max_size %>">Permissions</th>
                <th>Tout cocher</th>
              </tr>
            </thead>
            <tbody>
              <% for permission in permissions %>
                <tr>
                  <th rowspan="2" style="width: 350px"><%= link_to permission.has_permissions.title, self.send("edit_#{permission_type.underscore}_permission_path", permission.has_permissions), :title => "Modifier les permissions de cet élément" %></th>
                  <% for method in permission.permission_methods %>
                    <%= "<th>#{method.name.titleize}</th>"%>
                  <% end %>
                  <% (max_size - permission.permission_methods.size).times do %>
                    <th>&nbsp;</th>
                  <% end %>
                  <th>&nbsp;</th>
                </tr>
                <tr>
                  <% fields_for "permissions[]", permission do |form| %>
                    <% for method in permission.permission_methods %>
                      <td><%= form.check_box method.p_name %></td>
                    <% end %>
                    <% (max_size - permission.permission_methods.size).times do %>
                      <td>&nbsp;</td>
                    <% end %>
                  <% end %>
				          <td style="width:100px"><input type="checkbox" class="checkbox_permission"></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>  
    <% end %>
    
    <%= form.form_buttons(:only => [:reset, :submit]) %>
  <%end%>
</div>
<%= javascript_include_tag 'permission' %>
