<% contextual_menu POSSIBLE_ACTIONS do %>
  <%= new_computer_link %>
  <%= edit_computer_link @computer %>
  <%= computers_link %>
  <%= new_computer_tool_event_link(@computer)%>
  <%= computer_tool_events_link(@computer) %>
<% end %>

<h1>Voir l&apos;ordinateur</h1>
<%= render :partial => "tools/tool", :locals => {:tool => @computer} %>
