<% third_type = third.type.downcase %>

<% fields_for third_type, third do |form| %>
  <h2>Informations g&eacute;n&eacute;rales</h2>
  <p>
    <%= form.label :name, "Nom: " %>
    <%= form.text_field :name  %>
  </p>
  <p>
    <%= form.label :legal_form_id, "Forme juridique: " %>
    <select name='<%="#{third_type}[legal_form_id]"%>'>
    <%= option_groups_from_collection_for_select(ThirdType.find(:all), :legal_forms, :name, :id, :name, third.legal_form_id) %>
    </select>
  </p>
  <p>
    <%= form.label :siret_number, "Num&eacute;ro SIRET :" %>
    <%= form.text_field(:siret_number, "maxlength" => 14) %> (14 chiffres)
  </p>
  <p>
    <%= form.label :activity_sector_id, "Secteur d'activit&eacute; :" %>
    <%= form.collection_select(:activity_sector_id, ActivitySector.find(:all), :id, :name) %>
  </p>
  <p>
    <%= form.label :activities, "Activit&eacute;s :" %>
    <%= form.text_field :activities  %>
  </p>
  <p>
    <%= form.label :note, "Note :" %>
    <%= form.select("note", Third::RATINGS) %>
  </p>
  
  <h2>Informations bancaires</h2>
    <% if third.class.equal?(Customer) %>
  <p>
      <%= form.label :payment_method_id, "Moyen de paiement pr&eacute;f&eacute;r&eacute; :" %>
      <%= form.collection_select(:payment_method_id, PaymentMethod.find(:all), :id, :name) %>
  </p>
  <p>
      <%= form.label :payment_time_limit_id, "D&eacute;lai de paiement pr&eacute;f&eacute;r&eacute; :" %>
      <%= form.collection_select(:payment_time_limit_id, PaymentTimeLimit.find(:all), :id, :name) %>
  </p>
    <% elsif third.class.equal?(Supplier) %>
      <%= render :partial => 'shared/iban_form', :object => third.iban || third.build_iban, :locals => { :iban_owner => third_type } %>
    <%  end %>
<% end %>