  <!-- third_ variable content third object, customer or supplier -->
  <% third_type = third_.type.downcase%>

  <h2> Informations g&eacute;n&eacute;rales </h2>
  <p>
    <%= third.label :name, "Nom: " %>
    <%= third.text_field :name  %>
  </p>

  <p>
    <%= third.label :legal_form, "Forme juridique: " %>
    <!-- legal_form_value variable store the previous option selected by user-->
    <% params["#{third_type}"].nil? ? legal_form_value = third_.legal_form_id.to_i : legal_form_value = params["#{third_type}"][:legal_form_id].to_i%>
    <select name='<%="#{third_type}[legal_form_id]"%>'>
    <%= option_groups_from_collection_for_select(ThirdType.find(:all), :legal_forms, :name, :id, :name, legal_form_value) %>
    </select>
  </p>

  <p>
    <%= third.label :siret_number, "Num&eacute;ro SIRET :" %>
    <%= third.text_field(:siret_number, "maxlength" => 14) %>
  </p>
  
  <p>
    <%= third.label :activity_sector, "Secteur d'activit&eacute; :" %>
    <% params["#{third_type}"].nil? ? activity_sector_value = activity_sector_name : activity_sector_value = params["#{third_type}"][:activity_sector][:name]%>
    <%= my_text_field_with_auto_complete(:activity_sector, :name, {:name => "#{third_type}", :controller => "activity_sectors", :method => "GET", :skip_style => false}, {:methods => "GET", :skip_style => false, :select => 'activity_sector_name',
       :with => "'value='+document.getElementById('#{third_type}_activity_sector_name').value"}) %>
   <%=  javascript_tag "document.getElementById('#{third_type}_activity_sector_name').value = '#{activity_sector_value}'" %>
  </p>

  <p>
    <%= third.label :activities, "Activit&eacute;s :" %>
    <%= third.text_field :activities  %>
  </p>

  <p>
    <%= third.label :note, "Note du tiers :" %>
    <%= third.select("note", {"0" => 0, "1" => 1, "2"=> 2, "3" => 3, "4" => 4, "5"=> 5}) %>
  </p>

  <h2> Informations bancaires </h2>
  <!-- Iban instance will be use into fields_for-->
  
  <% if third_type == "supplier" %>
    <% fields_for "#{third_type}[iban]", iban_ do |iban| %>

      <p>
        <%= iban.label :bank_name, "Nom de la banque :" %>
        <%= iban.text_field :bank_name %>
      </p>

      <p>
        <%= iban.label :bank_code, "Code bancaire :" %>
        <%= iban.text_field :bank_code %>
      </p>

      <p>
        <%= iban.label :branch_code, "Code guichet :" %>
        <%= iban.text_field :branch_code %>
      </p>

      <p>
        <%= iban.label :account_number, "N° de compte :" %>
        <%= iban.text_field :account_number %>
      </p>

      <p>
        <%= iban.label :key, "Cl&eacute; :" %>
        <%= iban.text_field :key %>
      </p>

    <p>
        <%= iban.label :account_name, "Nom du titulaire :" %>
        <%= iban.text_field :account_name %>
    </p>

    <% end %>    
  
  <% elsif third_type == "customer" %>

    <p>
      <%= third.label :payment_method_id, "Moyen de paiement pr&eacute;f&eacute;r&eacute; :" %>
      <%= third.select("payment_method_id", PaymentMethod.find(:all).collect {|a| [ a.name, a.id ] }) %>
    </p>

    <p>
      <%= third.label :payment_time_limit_id, "D&eacute;lai de paiement pr&eacute;f&eacute;r&eacute; :" %>
      <%= third.select("payment_time_limit_id", PaymentTimeLimit.find(:all).collect {|a| [ a.name, a.id ] }) %>
    </p>

  <% end %>