<%
require_locals form
third = third_main_info
%>
<div class="presentation_in_columns">
  <h3>Identifiants</h3>
  <div>
    <p>
      <%= form.label :name %>
      <%= form.form_or_view(form.text_field(:name), :name) %>
    </p>
    <p>
      <%= form.label :legal_form_id %>
      <%= form.form_or_view(form.collection_select_with_option_groups(:legal_form_id, ThirdType.find(:all), :legal_forms, :name, :id, :name, third.legal_form_id, :include_blank => "Veuillez choisir une forme juridique"), :legal_form, :name) %>
    </p>

    <% unless third.is_a?(Customer) %>
      <p>
        <%= form.label :siret_number %>
        <%= form.form_or_view(form.text_field(:siret_number) + " <span class='help_text'>(9 ou 14 chiffres)</span>", :siret_number) %>
      </p>

      <!-- TODO when implementing the ajax reference retrieval do not forget to do so for establihsments -->
      <p>
        <%= form.label :activity_sector_reference_id %>
        <%= form.form_or_view(form.collection_select(:activity_sector_reference_id, ActivitySectorReference.find(:all), :id, :code_and_short_name,
                                                     :include_blank => third.new_record? ? "Veuillez choisir un secteur d'activité" : false),
                                                     :activity_sector_reference, :code)%>
      </p>
    <% end %>
  </div>
  
  <div>
    <p>
      <%= form.label :website %>
      <% if form.form_view? %>
        <%= form.text_field(:website) + " <span class='help_text'>(www.siteweb.com)</span>" %>
      <% else %>
        <%= link_to(third.website, third.website_url, :popup => true) unless third.website.blank? %>
      <% end %>
    </p>
    
    <% if form.form_view? and third.is_a?(Customer) %>
      <p>
        <%= form.label :customer_grade %>
        <%= form.form_or_view(form.collection_select(:customer_grade_id, CustomerGrade.all(:order => 'name'), :id, :name, 
                                                     :include_blank => third.new_record? ? "Veuillez choisir une note" : false), :customer_grade, :name) %>
      </p>
      <p>
        <%= form.label :logo %>
        <%= form.file_field :logo %>
      </p>
    <% end %>
  </div>
  
  <% if third.is_a?(Customer) and third.logo_file_name %>
    <div id="customer_logo_container">
      <%= image_tag third.logo.url, :title => "Logo", :alt => "Logo" %>
    </div>
  <% end %>
</div>
