<%
require_locals supply
supplier_supply = supplier_supply_in_one_line
%>

<% fields_for "#{supply.class.name.downcase}[supplier_supply_attributes][]", supplier_supply, :index => nil do |form| %>
  <tr>
    <td class="supplier">
      <% if form.form_view? %>
        <%= form.hidden_field :id %>
        
        <% suppliers = supplier_supply.new_record? ? Supplier.all : [ Supplier.find(supplier_supply.supplier_id_was) ] %>
        <%= form.collection_select :supplier_id, suppliers, :id, :name, { :include_blank => "" }, :index => nil %>
      <% else %>
        <%= supplier_supply.supplier.name %>
      <% end %>
    </td>
    <td class="supplier_reference">
      <% if form.form_view? %>
        <%= form.text_field :supplier_reference %>
      <% else %>
        <%= supplier_supply.supplier_reference %>
      <% end %>
    </td>
    <td class="fob_unit_price amount">
      <% if form.form_view? %>
        <%= form.text_field :fob_unit_price, :value => number_with_precision(supplier_supply.fob_unit_price, 2), :size => 6 %>
      <% else %>
        <%= number_with_precision(supplier_supply.fob_unit_price, 2) %>
      <% end %>
    </td>
    <td class="taxes amount">
      <% if form.form_view? %>
        <%= form.text_field :taxes, :value => number_with_precision(supplier_supply.taxes, 2), :size => 4 %>
      <% else %>
        <%= number_with_precision(supplier_supply.taxes, 2) %>
      <% end %>
    </td>
    <td class="unit_price amount">
      <%= number_with_precision(supplier_supply.unit_price, 2) %>
    </td>
    <td class="lead_time">
      <% if form.form_view? %>
        <%= form.text_field :lead_time, :size => 3 %> jour(s)
      <% else %>
        <%= pluralize(supplier_supply.lead_time, "jour") %>
      <% end %>
    </td>
    <% if supply.errors.on(:supplier_supplies) %>
      <% if supplier_supply.errors.any? %>
        <td class="fieldErrorExplanation">
          <%= supplier_supply.errors.full_messages.join(", ") %>
        </td>
      <% else %>
        <td>&nbsp;</td>
      <% end %>
    <% end %>
  </tr>
<% end %>
