<tr>
  <td><%= supplier_supply.supplier.name %></td>
  <td><%= supplier_supply.reference %></td>
  <td><%= supplier_supply.name %></td>
  <td><%= number_with_precision(supplier_supply.fob_unit_price.round(2),2) %> &euro;</td>
  <td><%= number_with_precision(supplier_supply.tax_coefficient,2) %> &#37;</td>
  <td><%= number_with_precision((supplier_supply.fob_unit_price * (1+supplier_supply.tax_coefficient/100)).round(2),2) %> &euro;</td>  
  <td><%= number_with_precision(supplier_supply.stock_quantity,1) %></td>
  <td><%= number_with_precision(supplier_supply.stock_quantity*supplier_supply.supply.measure,1) + " " + @unit_measure.symbol %></td>
  <td><%= number_with_precision(supplier_supply.stock_quantity*supplier_supply.supply.unit_mass,1) + " kg" %></td>
  <td><%= number_with_precision(supplier_supply.stock_value,2) %> &euro;</td>
  <td><%= number_with_precision(supplier_supply.average_unit_price.round(2),2) %> &euro;</td>
  <td><%= pluralize(supplier_supply.lead_time,"jour") %></td>
  <%= "<td>" + new_stock_flow_link(true,supplier_supply) + new_stock_flow_link(false,supplier_supply) + "</td>" if supplier_supply.supply.enable %>
</tr>

