<% owner = supplier_supplies_owner.class.name.downcase %>

<% fields_for "#{owner}[supplier_supply_attributes][]", supplier_supply = supplier_supply_form, :index => nil do |form| %>
<div class="resource_form" id="supplier_supply_form_<%=supplier_supply.id%>" <%= "style=\"display:none\"" unless supplier_supply.new_record? or !supplier_supply.errors.empty? %> >
  <div style="border: 1px solid red; padding: 5px; margin: 5px">
    <%= form.error_messages %>
    <% if supplier_supply.new_record? %>
      <p>
        <%= form.label :supplier_id %>
        <%= form.collection_select( :supplier_id, Supplier.find(:all, :conditions => ["NOT id = ?", owner.id]), :id, :name) %>
      </p>
    <% end %>
    <p>
      <%= form.label :reference %>
      <%= form.text_field :reference %>
    </p>
    <p>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </p>
    <p>
      <%= form.label :fob_unit_price %>
      <%= form.text_field(:fob_unit_price, :value => supplier_supply.fob_unit_price) + " €"%>
    </p>
    <p>
      <%= form.label :tax_coefficient %>
      <%= form.text_field(:tax_coefficient, :size => 2, :value => supplier_supply.tax_coefficient) + " %"%>
    </p>
    <p>
      <%= form.label :lead_time %>
      <%= form.text_field(:lead_time, :size => 2) + " jours"%>
    </p>
    <p>
      <% if supplier_supply.new_record? %>
        <%= link_to_function "Annuler l'ajout du fournisseur", "this.up('.resource_form').remove()" %>
      <% elsif is_form_view? %>
        <%= link_to_function "Annuler les modifications", "mark_resource_for_dont_update(this.up('.supplier_supply_infos'))" %>
      <% else %>
        <%= link_to_function "Fermer", "this.up('.supplier_supply_infos').down('.resource_form').hide()" %>
      <% end %>

      <% if !supplier_supply.new_record? and is_form_view? %>
        <%= form.hidden_field :id %>
        <%= form.hidden_field :should_destroy, :class => 'should_destroy' %>
        <%= form.hidden_field :should_update, :class => 'should_update' %>
      <% end %>
    </p>
  </div>
</div>
<% end %>

