<% purchase_order_supply = purchase_delivery_item.purchase_order_supply %>
<% supply = purchase_order_supply.supply %>
<tr <%= "class=\"disabled\"" if purchase_delivery_item.was_cancelled? %>>
  <td><%= display_supply_reference(supply) %></td>
  <td><%= supply.designation %></td>
  <td><%= purchase_order_supply.supplier_reference %></td>
  <td><%= purchase_order_supply.supplier_designation %></td>
  <td><%= purchase_delivery_item.quantity %></td>
  <td class="amount"><%= display_purchase_order_supply_unit_price_including_tax(purchase_order_supply) %></td>
  <td class="amount"><%= display_purchase_delivery_item_total(purchase_delivery_item) %></td>
  <td><%= display_purchase_order_supply_associated_purchase_requests(purchase_order_supply) %></td>
  <td><%= display_purchase_delivery_item_issued_at(purchase_delivery_item) %></td>
  <td><%= display_purchase_delivery_item_issues_quantity(purchase_delivery_item)%></td>
  <td><%= display_purchase_delivery_item_send_back_to_supplier(purchase_delivery_item) %></td>
  <td><%= display_purchase_delivery_item_must_be_reshipped(purchase_delivery_item) %></td>
  <td><%= display_purchase_delivery_item_buttons(purchase_delivery_item) %></td>
</tr>

