<%
# this partial should not be called directly, you may call _invoice_item.html.erb with the appropriate instance of invoice_item
require_locals form, counter, collection_length

invoice_item = free_invoice_item

position = invoice_item.position || counter
move_up_image   = "arrow_up_#{'disable_' if position == 1}16x16.png"
move_down_image = "arrow_down_#{'disable_' if position == collection_length}16x16.png"

tr_style = invoice_item.should_destroy? ? 'display:none' : ''
%>

<tr class="invoice_item" style="<%= tr_style %>">
  <td class="reference">-</td>
  <td class="designation">
    <span class="name">
      <% if form.form_view? %>
        <%= form.text_field :name, :index => nil %>
      <% else %>
        <%= invoice_item.name %>
      <% end %>
    </span>
    <br/>
    <span class="description">
      <% if form.form_view? %>
        <%= form.text_area_autoresize :description, :index => nil %>
      <% else %>
        <%= invoice_item.description %>
      <% end %>
    </span>
  </td>
  <td class="unit_price amount">
    <% if form.form_view? %>
      <%= form.text_field :unit_price, :value => invoice_item.unit_price.to_f.round_to(2).to_s(2), :size => 7, :onkeyup => "calculate(this.up('.invoice_item'))", :class => :input_unit_price, :index => nil %>
    <% else %>
      <%= invoice_item.unit_price.to_f.round_to(2).to_s(2) %>
    <% end %>
  </td>
  <td class="from_quote" colspan="4">-</td>
  <td class="quantity">
    <% if form.form_view? %>
      <%= form.text_field :quantity, :size => 4, :onkeyup => "calculate(this.up('.invoice_item'))", :class => :input_quantity, :index => nil %>
    <% else %>
      <%= invoice_item.quantity.to_f.round_to(2).to_s(2) %>
    <% end %>
  </td>
  <td class="total amount"><%= invoice_item.total.to_f.round_to(2).to_s(2) %></td>
  <td class="vat">
    <% if form.form_view? %>
      <%= form.collection_select :vat, Vat.all, :rate, :name, { :include_blank => true }, :class => :input_vat, :onchange => "calculate(this.up('.invoice_item'))", :index => nil %>
    <% else %>
      <%= invoice_item.vat %>
    <% end %>
  </td>
  <td class="total_with_taxes amount"><%= invoice_item.total_with_taxes.to_f.round_to(2).to_s(2) %></td>

  <% if form.form_view? %>
    <td class="actions">
      <%= link_to( image_tag( move_up_image, :alt => text_up = "Monter la ligne", :title => text_up, :class => "arrow_up"), "#up", :onclick => "move_up(this);" ) %>
      <%= link_to( image_tag( move_down_image, :alt => text_down = "Descendre la ligne", :title => text_down, :class => "arrow_down"), "#down", :onclick => "move_down(this);" ) %>
      <%= link_to( image_tag( "cross_16x16.png", :alt => text_delete = "Supprimer la ligne", :title  => text_delete), "#remove", :onclick => "if (confirm(\"Êtes-vous sûr ? Les modifications seront appliquées à la soumission du formulaire.\")) remove_free_item(this)" ) %>
      
      <%= form.hidden_field :id, :class => :invoice_item_id, :index => nil %>
      <%= form.hidden_field :product_id, :index => nil %>
      <%= form.hidden_field :position, :class => :position, :value => position, :index => nil %>
      <%= form.hidden_field :should_destroy, :class => :should_destroy, :index => nil %>
    </td>
  <% end %>
</tr>
