<h1>Ajouter une nouvelle cat&eacute;gorie de mati&egrave;re premi&egrave;re</h1>
<div class="cadre">
<% form_for(@category) do |category| %>
  <p>
    <%= category.label :name, "Nom"%>
    <%= category.text_field :name %>
  </p>

  <p>
    <%= category.label :commodity_category_id, "Parent" %>
    <%= category.collection_select(:commodity_category_id, @categories, :id, :name , options = {:include_blank => '-- Racine --'}) %>
  </p>

<%= category.submit "Ajouter"%> &brvbar; <%= link_to( "Retour", :controller => 'commodities_manager', :action => 'index' ) %>
<% end %>
</div>
