  <h3>Uploader un document</h3>
  <% form_for(:document, document, :url => { :controller => "Documents", :action => "create" , :owner => {:owner_id => owner.id, :owner_model => owner.class.name}}, :html => { :multipart => true}) do |d| %>
    
    <p>
      <%= d.label :name, "Nom:"%>
      <%= d.text_field :name%>
    </p>
  
    <p>
      <%= d.label :description, "Description:"%>
      <%= d.text_field :description%>
    </p>
  
    <p>
      <%= d.label :file_type_id, "Type de fichier:"%>
      
      <select id='document_file_type_id' name='document[file_type_id]'> 
        <% FileType.find_all_by_model_owner(owner.class.name).each do |a| %>
          <%b = a%>
            <option value='<%= a.id%>' title='<%= (t = a.file_type_extensions.each{|f| a.file_type_extensions[a.file_type_extensions.index(f)] = f.name}.join(",");)%>' > 
          <%= a.name + "(" + (t.split(",").size > 2 ? t.split(",")[0..1].join(",").concat("...") : t) +")" %> </option>
        <% end %>
      </select>
  
    </p> 
    
    <p>
        <%= d.label :tag_list, "Tags:"%>
        <%= d.text_field :tag_list%>
    </p>
    
    <p>
      <%= label :file, "Fichier:"%>
      <%= file_upload%>
    </p>
  
        <%= d.submit "Uploader"%>

  <%end%>

  <%= observe_field :document_file_type_id,
      :url => { :controller => 'documents', :action => 'file_type_change' },
       :on => 'focus', 
      :with => "'file_type_id=' +value"%>