<div class="document" id="document_<%= document.id %>">
  <%= content_tag :div, nil, :class => :preview, :id => "document_preview_#{document.id}" %>
  <%= image_tag(document.attachment.url(:thumb), :class => "thumb") %>
  <div class="details">
    <%= content_tag(:h1, document.name) %>
    <%= content_tag(:span, document.tag_list.join(", ")) + content_tag(:br) unless document.tags.empty? %>
    <%= content_tag(:span, document.description) + content_tag(:br) %>
    <%= content_tag(:span, document.created_at.to_humanized_datetime) %>
    <br/>
    <%= link_to_function("Aperçu", :title => "Cliquer pour agrandir") do |page|
      #page.insert_html( :bottom, "document_preview_#{document.id}", image_tag(document.attachment.url(:medium), :class => "preview", :onclick => "this.remove()") )
    end %>
    <%= link_to "Télécharger", attachment_path(document.id, :download => "1") %>
  </div>
</div>
