<div id = "testpage">
<%unless document.nil?%>
  <% document_versions = DocumentVersion.paginate_all_by_document_id(document.id, :page => params[:page ], :per_page => 1, :order => 'id DESC')%>
<%end%>

<!-- Display image -->
<div>
<% unless document_versions.empty? %>
  <%= image_tag(url_for(:controller => "documents",:action => "preview_image", :model => document_versions.first.class, :id => document_versions.first.id)) %> <!-- :id => document_versions.first.id -->
  <%= link_to("download", :controller => "Downloads", :action => "show", 
        :document => ({:id => document_versions.first.id, :type => document_versions.first.class.name} ))%>
<%else%>
   <%=  image_tag(url_for(:controller => "documents",:action => "preview_image", :model => document.class, :id => document.id)) %>
   <%= link_to("download", :controller => "Downloads", :action => "show", 
      :document => ({:id => document.id, :type => document.class.name} ))%>
<% end %> 
</div>

<iframe id="upload_frame" name="upload_frame" style="display:none;"> 
</iframe>

<!-- form  -->
<% form_for(:document, @document,  :url => url, :html => { :multipart => true, :target => "upload_frame", :method => "PUT"}) do |d| %>
    <%= d.error_messages %>
    <p>
      <%= d.label :name%>
      <%= d.text_field :name%>
    </p>
    
    <p>
      <%= d.label :description%>
      <%= d.text_field :description%>
    </p>

    <p>
        <%= d.label :tag_list, "Tags"%>
        <%= d.text_field :tag_list%>
    </p>

    <p>
      <%= label :file, :data, "Fichier :"%>
      <%= file_upload%>
    </p>
    
    <%= d.submit("Uploader")%> 
    <%= will_paginate document_versions, :renderer => 'RemoteLinkRenderer', :remote => {:update => "testpage"}, :prev_label => " << pr&eacute;c&eacute;dent", :params => {:document_id => document.id}, :next_label => "suivant >>" %>
  <%end%>


<%= javascript ||= "" ; javascript %>
</div>