<div id='link_add_remove_document_<%= cpt%>'>
  <%= link_to_remote("supprimer", :url => {:controller => "documents", :action => "delete_new_document", :cpt => cpt, :owner_id => (owner_id unless owner_id.nil?), :owner_type => owner_type})%>
</div>

<div id='<%= "new_document#{cpt}"%>'>
    
  <%if error %>
    <!--  store contact in a instance variable to display his error_messages -->
    <% @document = @document_objects[cpt-1]%>
    <%= error_messages_for("document")%>
  <% end %>
  
  <% unless owner_id.nil? %>
    <% owner = get_owner(owner_type, owner_id) %>
    <% document_ = Document.new(:owner => owner)%>
   <%else%>
     <% document_ = Document.new(:owner => owner_type.constantize.new())%>
   <% end %>
    
  <% fields_for("#{owner_type.tableize.singularize}[documents]" , document_, :index => cpt,  :html => { :multipart => true}) do |d| %>
    
    <p>
      <%= d.label :name, "Nom:"%>
      <%= d.text_field :name%>
    </p>
  
    <p>
      <%= d.label :description, "Description:"%>
      <%= d.text_field :description%>
    </p>
  
    <p>
      <%= d.label :file_type_id, "Type de fichier:"%>      
      <select id='<%=owner_type.tableize.singularize%>_documents_<%=cpt%>_file_type_id' name='<%=owner_type.downcase%>[documents][<%=cpt%>][file_type_id]' > 
        <% FileType.find_all_by_model_owner(owner_type.capitalize).each do |a| %>
          <%b = a%>
            <option value='<%= a.id%>' title='<%= (t = a.file_type_extensions.each{|f| a.file_type_extensions[a.file_type_extensions.index(f)] = f.name}.join(",");)%>' > 
          <%= a.name + "(" + (t.split(",").size > 2 ? t.split(",")[0..1].join(",").concat("...") : t) +")" %> </option>
        <% end %>
      </select>
    </p> 
    
    <p>
        <%= d.label :tag_list, "Tags:"%>
        <%= d.text_field :tag_list%>
    </p>
    
    <p>
      <%= label :file, "Fichier:"%>
      <%= d.file_field 'datafile'%>
    </p>
    
    <p>
      <%= d.hidden_field(:valid, :value => 'true') %>
    </p>

  <%end%>

  <%= observe_field "#{owner_type.tableize.singularize}_documents_#{cpt}_file_type_id",
      :url => { :controller => 'documents', :action => 'file_type_change' },
       :on => 'focus', 
      :with => "'file_type_id='+value+
    '&select_name=#{owner_type.tableize.singularize}_documents_#{cpt}_file_type_id'"%>
</div>