<% content_for :header do %>
       <%= stylesheet_link_tag 'lightbox' %>
<% end %>

<div class="frame">
<h2>Informations du document</h2>
  <p>
    <%= label :document, :title, "Nom :" %>
    <%= @document.title %>
  </p>
  
  <p>
    <%= label :document, :description, "Description :" %>
    <%= @document.description %>
  </p>

  <%if @document.extension == "jpg"%>
    <p>
      <%= lightbox_link_to "preview", url_for(:action => "preview_image", :id => @document.id)%>
    </p>
  <%end%>
</div>

<div class="frame">
<h2>Upload&eacute; une nouvelle version</h2>
  <% form_for(:document_version, @document_version, :url => { :controller => "Documents", :action => "update" , :document_id => @document.id}, :html => { :multipart => true}) do |d| %>
    
    <p>
      <%= d.label :description%>
      <%= d.text_field :description%>
    </p>

    <p>
      <%= label :file, :data, "Fichier :"%>
      <%= file_upload%>
    </p>
    
    <%= d.submit "Uploader"%>
      
  <%end%>
</div>
<div class="frame">
  <h2>Liste des versions</h2>
<!-- Show document_version-->
<%unless @document_versions.empty?%>    

    <% for document_version in @document_versions%>
      
<div>
  Version  : <%= document_version.id %> | <%= document_version.description%>
</div>
        
    <%end%>
<%end%>
</div>