<% content_for :header do %>
       <%= stylesheet_link_tag 'lightbox' %>
<% end %>

<div class="frame">
<h2>Informations concernant le document</h2>

  <p>
    <%= label :document, :name, "Nom :" %>
    <%= @document.name %>
  </p>
  
  <p>
    <%= label :document, :description, "Description :" %>
    <%= @document.description%>
  </p>

  <p>
    <%if @document.extension == "jpg"%>

        <%if @document.document_versions.empty?%>
          <%= lightbox_image_tag(url_for(:controller => "documents",:action => "thumbnail", :id => @document.id), url_for(:controller => "documents",:action => "preview_image", :id => @document.id))%>
        <%else%>
          <%= lightbox_image_tag(url_for(:controller => "document_versions",:action => "thumbnail", :id => @document.id), url_for(:controller => "document_versions",:action => "preview_image", :id => @document.document_versions.last.id))%>
        <%end%>
        
    <%end%>

    <%= link_to("modifier", :action => "edit", :id => @document.id)%> 
    <%= link_download_last_version(@document) %>
    <%= get_return_link(@document)%>
  </p>  
</div>

<div class="frame">
  <h2>Liste des versions</h2>
<!-- Show document_version-->
<%unless @document_versions.empty?%>    

    <% for document_version in @document_versions%>
      
      <div>
        Version  : <%= @document_versions.index(document_version) + 1 %> | <%= document_version.name%> |<%= document_version.description%>

        <%if @document.extension == "jpg"%>
          
        <%if @document.document_versions.first == document_version%>
          <%= lightbox_image_tag(url_for(:controller => "documents",:action => "thumbnail", :id => @document.id), url_for(:controller => "documents",:action => "preview_image", :id => @document.id))%>
        <%else%>
          <%= lightbox_image_tag(url_for(:controller => "document_versions",:action => "thumbnail", :id => @document.id), url_for(:controller => "document_versions",:action => "preview_image", :id => @document.document_versions.last.id))%>
        <%end%>
          
        <%end%>   
          <%= link_to("download", :controller => "Downloads", :action => "show", 
        :document => (@document.document_versions.first == document_version ? {:id => @document.id, :type => "Document"} : {:id => @document.document_versions.index(document_version), :type => "DocumentVersion"} ))%>
             
        </div>
        
    <%end%>
<%end%>
</div>