<%
id      = end_product.new_record? ? generate_random_id : end_product.id
id_attr = "end_product_#{id}"
style   = "style=\"display:none\"" if end_product.should_destroy?

end_product_errors  = { :details    => end_product.errors.empty? ? '' : ' errors',
                        :checklist  => end_product.errors.on(:checklists) ? ' errors' : '' }
%>

<div id="<%= id_attr %>" class="end_product root_nav standard resource" <%= style %>>
  
  <% tab_navigator "#{id_attr}_nav", :parent => parent_navigator, :javascript_options => { :can_unfold_all => true } do |t| %>
    <% t.nav_buttons do %>
      <%= t.tab :details,   "Produit",  :class    => end_product_errors[:details],
                                        :selected => end_product.new_record? %>
      <%= t.tab :checklist, "Checklist Environnement (#{end_product.checklist_responses.count})",
                                        :class    => end_product_errors[:checklist],
                                        :disabled => end_product.new_record? %>
    <% end %>
    
    <p class="end_product_summary">
      <% unless end_product.new_record? %>
        <span class="end_product_position"><%= end_product_counter %></span>
        <span class="end_product_label">Nom :</span> <span class="end_product_name"><%= end_product.name_was %></span>
        <span class="end_product_label">Côtes :</span> <span class="end_product_dimensions"><%= end_product.dimensions_was %></span>
        <span class="end_product_label">Qté :</span> <span class="end_product_quantity"><%= end_product.quantity_was %></span>
        <span class="end_product_actions"><%= display_end_product_delete_button_in_survey_step(end_product) %></span>
      <% else %>
        <span class="end_product_new">Nouveau produit</span>
      <% end %>
    </p>
    
    <% t.content_for :details do %>
      <% fields_for 'survey_step[end_product_attributes][]', end_product, :index => nil do |form| %>
        <%= form.error_messages %>
        <p>
          <%= form.label :product_reference_id, :index => nil %>
          <%= form.hidden_field :product_reference_id, :index => nil %>
          <%= strong("#{end_product.product_reference.reference} - #{end_product.product_reference.designation}") %> <%= product_reference_link(end_product.product_reference, :link_text => "Voir la fiche de cette référence", :html_options => { :popup => true }) %>
        </p>
        <p>
          <%= form.label :name, :index => nil %>
          <%= form.text_field :name, :value => end_product.name, :size => 50, :index => nil %>
          
          <%= form.label :dimensions, :index => nil %>
          <%= form.text_field :dimensions, :value => end_product.dimensions, :index => nil %>
        </p>
        <p>
          <%= form.label :description, :index => nil %>
          <%= form.text_area_autoresize :description, :value => end_product.description, :index => nil %>
        </p>
        <p>
          <%= form.label :quantity, :index => nil %>
          <%= form.text_field :quantity, :size => 3, :index => nil %>
        </p>
        <p style="display:none">
          <%= form.hidden_field :id, :index => nil %>
          <%= form.hidden_field :should_destroy, :class => :should_destroy, :index => nil %>
        </p>
        
        <% if end_product.new_record? %>
          <p>
            <%= link_to_function "Annuler la création de ce produit", "this.up('.end_product').remove()" %>
          </p>
        <% end %>
      <% end %>
    <% end %>
    
    <% t.content_for :checklist do %>
      <%= display_environment_checklist_for(end_product) unless end_product.new_record? %>
    <% end %>
    
  <% end %>
</div>
