<%
id_attr = product.new_record? ? '' : "id=\"product_#{product.id}\""
style   = "style=\"display:none\"" if product.should_destroy?
selected_class = product.new_record? ? ' selected' : ' selected' #TODO remove the class "selected" when product is not a new record
disabled_class = product.new_record? ? ' disabled' : ''

product_headers = { :product_details    => "Produit",
                    :product_checklist  => "Checklist Environnement (#{product.checklist_responses.count})" }

product_errors  = { :product_details    => product.errors.empty? ? '' : ' errors',
                    :product_checklist  => product.errors.on(:checklists) ? ' errors' : '' }
%>

<div class="product root_nav resource" <%=id_attr%> <%= style %>>
  <ul class="product_nav tab_nav">
    <li class="product_details<%= selected_class + product_errors[:product_details] %>"><%= product_headers[:product_details] %></li>
    <li class="product_checklist<%= disabled_class + product_errors[:product_checklist] %>"><%= product_headers[:product_checklist] %></li>
  </ul>
  
  
  <p class="product_summary">
    <% unless product.new_record? %>
      <span class="product_position"><%= product_counter %></span>
      <span class="product_label">Nom :</span> <span class="product_name"><%= product.name_was %></span>
      <span class="product_label">Côtes :</span> <span class="product_dimensions"><%= product.dimensions_was %></span>
      <span class="product_label">Qté :</span> <span class="product_quantity"><%= product.quantity_was %></span>
      <span class="product_actions"><%= display_product_delete_button_in_survey_step(product) %></span>
    <% else %>
      <span class="product_new">Nouveau produit</span>
    <% end %>
  </p>
  
  <h2 class="product_details section_nav"><%= product_headers[:product_details] %></h3>
  <div class="product_details section_nav<%= selected_class %>">
    <% fields_for 'survey_step[product_attributes][]', product, :index => nil do |form| %>
      <%= form.error_messages %>
      <p>
        <%= form.label :product_reference_id %>
        <%= form.hidden_field :product_reference_id %>
        <%= strong("#{product.product_reference.reference} - #{product.product_reference.designation}") %> <%= product_reference_link(product.product_reference, :link_text => "Voir la fiche de cette référence", :html_options => { :popup => true }) %>
      </p>
      <p>
        <%= form.label :name %>
        <%= form.text_field :name, :value => product.name || product.product_reference.designation, :size => 50 %>
        
        <%= form.label :dimensions %>
        <%= form.text_field :dimensions %>
      </p>
      <p>
        <%= form.label :description %>
        <%= form.text_area_autoresize :description, :value => product.description || product.product_reference.description, :index => nil %>
      </p>
      <p>
        <%= form.label :quantity %>
        <%= form.text_field :quantity, :value => product.quantity || 1, :size => 3 %>
      </p>
      <p style="display:none">
        <%= form.hidden_field :id %>
        <%= form.hidden_field :should_destroy, :class => :should_destroy %>
      </p>
      
      <% if product.new_record? %>
        <p>
          <%= link_to_function "Annuler la création de ce produit", "this.up('.product').remove()" %>
        </p>
      <% end %>
    <% end %>
  </div>
  
  <h2 class="product_checklist section_nav"><%= product_headers[:product_checklist] %></h3>
  <div class="product_checklist section_nav<%= disabled_class %>">
    <%= display_environment_checklist_for(product) unless product.new_record? %>
  </div>  
</div>
