<div class="frame presentation_large">
  <h2>Client</h2>

  <h3>Informations</h3>
  <p>
    <label>Nom :</label>
    <strong><%= @customer.name %></strong>
  </p>
  <p>
    <label>Secteur d'activité :</label>
    <strong><%= @customer.activity_sector.name %></strong>
  </p>
  <p>
    <label>Activité :</label>
    <strong><%= @customer.activities %></strong>
  </p>
  <p>
    <label>Enseignes :</label>
    <strong><%= @customer.establishments.collect { |e| e.name }.uniq.join(", ") %></strong>
  </p>
  <p>
    <label>Nombre d'établissements :</label>
    <strong><%= @customer.establishments.size %></strong>
  </p>
  <p>
    <label>Forme juridique :</label>
    <strong><%= @customer.legal_form.name %></strong>
  </p>
  <p>
    <label>N° SIRET :</label>
    <strong><%= @customer.siret_number %></strong>
  </p>

  <h3>Statistiques</h3>
  <p>
    <label>Nombre de ventes au total :</label>
    <strong><%= "@customer.orders.size" %></strong>
  </p>
  <p>
    <label>Client depuis le :</label>
    <strong><%= @customer.created_at.strftime("%d %B %Y") %></strong>
  </p>
  <p>
    <label>Note :</label>
    <strong><%= @customer.note %></strong>
  </p>

  <h3>Historique des dernières ventes</h3>
  <table>
    <tr>
      <td>Date de facturation</td>
      <td>Etablissement</td>
      <td>Produits</td>
      <td>Prix total de vente</td>
      <td>Ratio de la marge réalisée</td>
    </tr>
    <tr>
      <td>?</td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
    </tr>
  </table>
</div>