<h2>Client</h2>

<h3>Informations</h3>
<p>Nom: <%= @customer.name %></p>
<p>Secteur d'activité: <%= @customer.activity_sector.name %></p>
<p>Activité: <%= @customer.activities %></p>
<p>Enseignes: <%= @customer.establishments.collect { |e| "#{e.name} "} %></p>
<p>Etablissements: <%= @customer.establishments.size %></p>
<p>Forme juridique: <%= @customer.legal_form.name %></p>
<p>N° SIRET: <%= @customer.siret_number %></p>

<h3>Statistiques</h3>
<p>Nombre de ventes réalisées au total: <%= "@customer.orders.size" %></p>
<p>Client depuis: <%= @customer.created_at %></p>
<p>Note: <%= @customer.note %></p>

<h3>Historique des dernières ventes</h3>
<table>
	<tr>
		<td>Date de facturation</td>
		<td>Etablissement</td>
		<td>Produits</td>
		<td>Prix total de vente</td>
		<td>Ratio de la marge réalisée</td>
	</tr>
	<tr>
		<td>?</td>
		<td>?</td>
		<td>?</td>
		<td>?</td>
		<td>?</td>
	</tr>
</table>

<h2>Dossier</h2>
<% form_for @order do |o| %>
<h3>Informations</h3>
<p>
	<%= o.label :title, 'Nom du projet' %>
	<%= o.text_field :title %>
</p>
<p>
	<%= o.label :order_type, 'Type de dossier' %>
	<%= o.select :order_type, order_type_for_select %>
</p>
<p>
	<%= label_tag 'employee_fullname', 'Commercial' %>
	<%= text_field_with_auto_complete :employee, :fullname, {}, { :after_update_element => "function(){ var emp_id = document.getElementById('employee_fullname_auto_complete').getElementsByClassName('selected')[0].getElementsByClassName('employee_id')[0]; document.getElementById('employee_id').value = emp_id.innerHTML; var textfield = document.getElementById('employee_fullname'); textfield.value = textfield.value.substr(emp_id.innerHTML.length, textfield.value.length);}" } %>
</p>

<h3>Client</h3>
<p>
	<%= label_tag 'Etablissement:' %>
	<%= select_tag @customer.establishments.collect { |e| e.name } %>
</p>
<p>
	<%= label_tag 'Contacts sur site:' %>
	<%= select_tag @customer.contacts.collect { |c| e.full_name } %>
</p>

<h3>Dates</h3>
<% if params[:action] == 'edit' %>
<p>
	<%= o.label :created_at, 'Date de cr&eacute;ation' %>
	<input id="created_at" type="text" disabled="disable" value="<%= @order.created_at %>">
</p>
<% end %>
<p>
	<%= o.label :previsional_start, 'Date pr&eacute;visionnelle de mise en production' %>
	<%= o.text_field :previsional_start %>
</p>
<p>
	<%= o.label :previsional_delivery, 'Date pr&eacute;visionnelle de livraison' %>
	<%= o.text_field :previsional_delivery %>
</p>
<%= hidden_field_tag 'employee_id' %>
<%= o.hidden_field :customer, :value  => @customer.id %>
<%= o.submit params[:action] == 'edit' ? 'Modifier' : 'Créer' %>
<% end %>