<%= display_customer_overview %>

<div class="frame presentation_large">
<h2>Dossier</h2>
<% form_for @order do |order| %>
  <%= order.error_messages %>
<h3>Informations</h3>
<p>
	<%= order.label :title, 'Nom du projet :' %>
	<%= order.text_field :title %>
</p>
<p>
	<%= order.label :order_type, 'Type de dossier :' %>
  <%= order.collection_select(:order_type, @order_types, :id, :title, :include_blank => true) %>
</p>
<p>
	<%= order.label :commercial_id, 'Commercial :' %>
  <%= order.collection_select(:commercial_id, @commercials, :id, :fullname, :include_blank => true) %>
</p>

<h3>Client</h3>
<p>
	<%= order.label :establishment_id, 'Etablissement :' %>
  <%= order.collection_select(:establishment_id, @customer.establishments, :id, :name_and_full_address, :include_blank => true) %>
  <%= link_to( "(+) Ajouter un établissement", new_customer_establishment_path(@customer) ) %>
</p>
<p>
	<%= order.label :contacts, 'Contacts :' %>
  <div class="scroll_checkboxes" >
      <% for contact in @contacts %>
      <p>
        <%# order.check_box( :contact_ids, {}, contact.id, @order.contacts.include?(contact) ) %>
        <%= "#{contact.fullname_number_and_job}" %>
      </p>
      <% end %>
  </div>
</p>

<h3>Dates</h3>
  <% if params[:action] == 'edit' %>
<p>
    <%= order.label :created_at, 'Date de cr&eacute;ation :' %>
    <input id="created_at" type="text" disabled="disable" value="<%= @order.created_at %>">
</p>
  <% end %>
<p>
	<%= order.label :previsional_start, 'Date pr&eacute;visionnelle de mise en production :' %>
	<%= order.text_field :previsional_start %>
</p>
<p>
	<%= order.label :previsional_delivery, 'Date pr&eacute;visionnelle de livraison :' %>
	<%= order.text_field :previsional_delivery %>
</p>
  <% #hidden_field_tag 'employee_id' %>
  <%= order.hidden_field :customer_id, :value  => @customer.id %>
  <%= order.submit params[:action] == 'edit' ? 'Modifier' : 'Créer' %>
<% end %>
</div>