<div class="presentation_medium">
  <% if @orders.empty? %>
  <p>Aucun dossier</p>
  <% else %>
  <table>
    <tr>
      <th>N°</th>
      <th>Nom</th>
      <th>Commercial</th>
      <th>Client</th>
      <th>Etablissement</th>
      <th>Etapes</th>
      <th>Date</th>
    </tr>
    <% for order in @orders %>
    <tr>
      <td><%= link_to order.id, order_path(order) %></td>
      <td><%= link_to order.title, order_path(order) %></td>
      <td><%= order.commercial.fullname %></td>
      <td><%= order.customer.name %></td>
      <td><%= order.establishment.full_address %></td>
      <td><object data="<%= formatted_order_path(order, 'svg', {:for => 'understep'}) %>" type="image/svg+xml" style="width: 32px; height: 32px;"></object></td>
      <td><%= order.created_at.to_date %></td>
    </tr>
    <% end %>

  </table>
  <% end %>
</div>
