<% content_for :header do %>
  <%= stylesheet_link_tag 'sales/sales' %>
<% end %>

<div>
  <% if @orders.empty? %>
  <p>Aucun dossier</p>
  <% else %>
  <table class="order_list" id="orders">
    <tr>
      <th>N°</th>
      <th>Projet</th>
      <th>Client / Établissement</th>
      <th>Ville</th>
      <th>Commercial</th>
      <th>Avancement</th>
      <th>Date prév. livraison</th>
      <th>Date butoire devis</th>
      <th>Date envoi devis</th>
      <th>Date signature devis</th>
      <th>Actions</th>
    </tr>
    <% for order in @orders %>
    <tr class="<%= order.critical_status %>">
      <td><%= order.id %></td>
      <td><%= order.title %></td>
      <td><%= "#{order.customer.name} / #{order.establishment.name} " + customer_link(order.customer, :link_text => "") %></td>
      <td><%= order.establishment.address.city_name %></td>
      <td><%= order.commercial.fullname + " " + employee_link(order.commercial, :link_text => "") %></td>
      <td><object data="<%= formatted_order_path(order, 'svg', {:for => 'understep'}) %>" type="image/svg+xml" style="width: 32px; height: 32px;"></object></td>
      <td><%= order.previsional_delivery.humanize %></td>
      <td>Non définie</td>
      <td>Non définie</td>
      <td>Non définie</td>
      <td><%= order_link(order, :link_text => "") %></td>
    </tr>
    <% end %>

  </table>
  <% end %>
</div>
