<% content_for :header do %>
  <%= stylesheet_link_tag 'sales/sales' %>
<% end %>

<div>
  <% if @orders.empty? %>
    <p>Aucun dossier</p>
  <% else %>
    <div class="autoscroll">
      <table class="order_list" id="orders">
        <thead>
          <tr>
            <th>N°</th>
            <th>Projet</th>
            <th>Client / Établissement(s)</th>
            <th>Ville(s)</th>
            <th>Commercial</th>
            <th>Avancement</th>
            <th>Date prév. livraison</th>
            <th>Date butoire devis</th>
            <th>Date envoi devis</th>
            <th>Date signature devis</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for order in @orders %>
            <tr class="<%= order.critical_status %>">
              <td><%= link_to(order.id, order, :title => "Voir ce dossier") %></td>
              <td><%= link_to(order.title, order, :title => "Voir ce dossier") %></td>
              <td><%= link_to("#{order.customer.name} / #{order.ship_to_addresses.collect(&:establishment_name).join(', ')}", order.customer, :title => "Voir fiche client") %></td>
              <td><%= order.ship_to_addresses.collect{|s|s.address.city_name}.join(', ') %></td>
              <td><%= link_to(order.commercial.fullname, order.commercial, :title => "Voir fiche employé") %></td>
              <td><object data="<%= formatted_order_path(order, 'svg', {:for => 'understep'}) %>" type="image/svg+xml" style="width: 32px; height: 32px;"></object></td>
              <td><%= order.previsional_delivery.humanize %></td>
              <td>Non définie</td>
              <td>Non définie</td>
              <td>Non définie</td>
              <td><%= order_link(order, :link_text => "") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
