<% content_for :header do -%>
  <%= stylesheet_link_tag_with_theme_support 'core/has_contacts/has_contacts' %>
  <%= stylesheet_link_tag_with_theme_support 'sales/sales' %>
  <%= javascript_include_tag 'sales/order' %>
<% end -%>

<% add_contextual_menu_item :order_progress do %>
  <!-- <div id="order_progress"><object data="<%# formatted_order_path(@order, 'svg') %>" type="image/svg+xml" style="width: 162px; height: 162px;"></object></div> -->
  <%= remaining_time_before_delivery(@order) %>
<% end %>

<div id="order_header">
  <div class="first_column">
    <p>
      <%= simple_label :order, :title %>
      <strong><%= @order.title %></strong>
    </p>
    
    <p>
      <%= simple_label :order, :customer %>
      <strong><%= link_to( "#{@order.customer.name}", @order.customer) %></strong>
    </p>
    
    <div class="order_header_extra">
      <% for ship_to_address in @order.ship_to_addresses %>
        <p>
          <%= simple_label :order, :ship_to_address %>
          <strong><%= ship_to_address.name_and_short_address %></strong>
        </p>
      <% end %>
      
      <p>
        <%= simple_label :order, :previsional_delivery %>
        <strong><%= l(@order.previsional_delivery, :format => :long) %></strong>
      </p>
    </div>
  </div>
  <div class="second_column">
    <p>
      <%= simple_label :order, :order_type %>
      <strong><%= @order.order_type.title %></strong>
    </p>

    <p>
      <%= simple_label :order, :commercial %>
      <strong><%= @order.commercial.fullname %></strong>
    </p>
    
    <div class="order_header_extra">
      <p>
        <%= simple_label :order, :contact %>
        <strong><%= @order.all_contacts.first.fullname + " " + link_to("(Voir plus)", order_informations_path(:anchor => 'contacts_section')) unless @order.all_contacts.empty? %></strong>
      </p>
    </div>
  </div>
  
  <p>
    <%= link_to 'Modifier', edit_order_path(@order) if Order.can_edit?(current_user) %>
    <span id="order_header_more">
      <%= link_to "Plus d'informations", '#order_more_infos' %>
    </span>
  </p>
</div>
