<div class="frame">
<p>
  <%= label :title, "Nom de projet :" %>
  <strong><%= @order.title %></strong>
</p>

<p>
  <%= label :client, "Client / &Eacute;tablissement :" %>
  <strong><%= @order.customer.name %> - <%= @order.establishment.nil? ? "Pas d'établissement" : @order.establishment.name %></strong>
</p>

<p>
  <%= label :establishment_address, "Lieu de livraison :" %>
  <strong><%= @order.establishment.nil? ? "Pas d'établissement" : @order.establishment.full_address %></strong>
</p>

<p>
  <label>Etapes finies / Etapes totales :</label>
  <strong><%= @order.advance[:terminated].to_s + "/" + @order.advance[:total].to_s %></strong>
</p>

<p>
  <%= label :commercial_full_name, "Suivi commercial :" %>
  <strong><%= @order.commercial.fullname %></strong>
</p>

<p>
  <%= label :order_type, "Type de dossier :" %>
  <strong><%= @order.order_type.title %></strong>
</p>

<p>
  <%= label :previsional_delivery, "Date pr&eacute;visionnelle de livraison :" %>
  <strong><%= @order.previsional_delivery %></strong>
</p>
<% if controller.can_edit?(current_user) %>
<%= link_to 'Modifier', edit_order_path(@order) %>
<% end %>
</div>