<% content_for :header do -%>
  <%= stylesheet_link_tag_with_theme_support 'sales/sales' %>
  <%= javascript_include_tag 'sales/ship_to_addresses_picker' %>
<% end -%>

<%= display_customer_overview %>

<div class="presentation_medium">
  <h2 id="order_anchor">Dossier</h2>
  <% form_for order, :html => { :multipart => true } do |form| %>
    <%= form.error_messages %>
  
    <h3>Informations générales</h3>
    <p>
      <%= form.label :title %>
      <%= form.form_or_view(form.text_field(:title), :title) %>
      
      <% unless order.new_record? %>
        <%= form.label :status %>
        <%= form.select :status, %w(pending standby discarded).collect{ |s| [t("view.order.statuses.#{s}", :default => s), s] } %>
      <% end %>
    </p>
    <p>
      <%= form.label :order_type_id %>
      <%= order.new_record? ? form.collection_select(:order_type_id, @order_types, :id, :title, :include_blank => true) : strong(order.order_type.title) %>
    </p>
    <p>
      <%= form.label :commercial_id %>
      <%= form.form_or_view(form.collection_select(:commercial_id, @commercials, :id, :fullname, :include_blank => order.new_record?), :commercial, :fullname) %>
    </p>
    
    <h3>Client</h3>
    <p>
      <%= form.label :order_contact %>
      <%= display_contact_picker(order, order.customer.contacts, :form => form, :contact_key => "order_contact",
                                                                 :contacts_owners => order.customer.head_office_and_establishments ) %>
    </p>
    
    <p>
      <%= form.label :approaching_id %>
      <%= form.form_or_view(form.collection_select(:approaching_id, Approaching.all, :id, :name, :include_blank => order.new_record?), :approaching, :name) %>
    </p>
    <p>
      <%= form.label :customer_needs %>
      <%= form.form_or_view(form.text_area_autoresize(:customer_needs, :cols => 80), :customer_needs) %>
    </p>
    
    <h3>Livraison</h3>
    <p>
      <%= form.label :ship_to_address_ids %>
      <%= display_ship_to_addresses_picker(order, order.customer.head_office_and_establishments) %>
      <%= display_new_establishments_list(order) %>
      <%= display_establishment_add_button_for_ship_to_address(order) %>
    </p>
    
    <h3>Facturation</h3>
    <%= render :partial => 'addresses/address_form', :object => order.bill_to_address || order.build_bill_to_address , :locals => { :address_owner => order } %>
    
    <h3>Dates</h3>
    <% if is_edit_view? %>
      <p>
        <%= form.label :created_at %>
        <%= strong l(order.created_at, :format => :long)  %>
      </p>
    <% end %>
    <p>
      <%= form.label :quotation_deadline %>
      <% if form.form_view? %>
        <%= form.calendar_date_select :quotation_deadline %>
      <% else %>
        <%= strong l(order.quotation_deadline, :format => :long) %>
      <% end %>
    </p>
    <p>
      <%= form.label :previsional_delivery %>
      <% if form.form_view? %>
        <%= form.calendar_date_select :previsional_delivery %>
      <% else %>
        <%= strong l(order.previsional_delivery, :format => :long) %>
      <% end %>
    </p>
    <p style="display:none">
      <%= form.hidden_field :customer_id, :value  => order.customer_id if is_form_view? %>
    </p>
    
    <%= form.form_buttons %>
  <% end %>
</div>

<%= javascript_tag "new Element.scrollTo('order_anchor')" unless order.errors.empty? %>
