<p>
  <%= label :order, :title, "Nom de projet :" %>
  <strong><%= order.title %></strong>
</p>

<p>
  <%= label :order, :client, "Client / &Eacute;tablissement  :" %>
  <strong><%= order.customer.name %><%= order.etablishment.name %></strong>
</p>

<p>
  <%= label :order, :establishment_address, "Lieu de livraison  :" %>
  <strong><%= order.etablishment.full_address %></strong>
</p>

<p>
  <%= label :order, :step, "Niveau d'avancement actuel  :" %>
  <strong><%= order.step.title %></strong>
</p>

<p>
  <%= label :order, :commercial_full_name, "Suivi commercial  :" %>
  <strong><%= order %></strong>
</p>

<p>
  <%= label :order, :order_type, "Type de dossier  :" %>
  <strong><%= order.order_type.title %></strong>
</p>

<p>
  <%= label :order, :previsional_delivery, "Date pr&eacute;visionnelle de livraison  :" %>
  <strong><%= order.previsional_delivery %></strong>
</p>