<%= display_customer_overview %>

<div class="presentation_medium">
  <h2>Dossier</h2>
  <% form_for @order do |form| %>
    <%= form.error_messages %>
  
  <h3>Informations</h3>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :order_type_id %>
    <%= @order.new_record? ? form.collection_select(:order_type_id, @order_types, :id, :title) : strong(@order.order_type.title) %>
  </p>
  <p>
    <%= form.label :commercial_id %>
    <%= form.collection_select(:commercial_id, @commercials, :id, :fullname, :include_blank => @order.new_record?) %>
  </p>

  <h3>Client</h3>
  <p>
    <%= form.label :establishment_id %>
    <% if is_new_view? %>
      <%= form.collection_select(:establishment_id, @order.customer.establishments, :id, :name_and_full_address, :include_blank => true) %>
      <%= link_to( "(+) Ajouter un établissement", new_customer_establishment_path(@order.customer) ) %>
    <% else %>
      <%= form.strong @order.establishment.name_and_full_address %>
    <% end %>
  </p>
  
  <div class="form_multiple_entries">
    <%= form.label :contacts_ids %>
    <div class="collection">
      <%= render :partial => 'contacts/contact_chooser', :collection => @contacts, :locals => { :contacts_owner => @order } %>
      <%= link_to( "(+) Ajouter un contact", new_customer_contact_path(@order.customer) ) %>
    </div>
  </div>
  
  <h3>Dates</h3>
  <% if is_edit_view? %>
    <p>
      <%= form.label :created_at %>
      <%= form.strong order.created_at.to_humanized_datetime  %>
    </p>
  <% end %>
  <p>
    <%= form.label :previsional_start %>
    <%= form.date_select :previsional_start, :start_year => Date.today.year, :order => [:day, :month, :year], :include_blank => true %>
  </p>
  <p>
    <%= form.label :previsional_delivery %>
    <%= form.date_select :previsional_delivery, :start_year => Date.today.year, :order => [:day, :month, :year], :include_blank => true %>
  </p>
  <p>
    <%= form.hidden_field :customer_id, :value  => @order.customer_id %>
    <%= form.reset 'Annuler' %>
    <%= form.submit submit_button_name %>
  </p>
  <% end %>
</div>
