<% content_for :header do -%>
  <%= stylesheet_link_tag_with_theme_support 'core/has_contacts/has_contacts' %>
  <%= stylesheet_link_tag_with_theme_support 'sales/sales' %>
<% end -%>

<% title_context "#{Order.human_name} n°#{@order.reference} : #{@order.title}" %>

<%# add_contextual_menu_item :order_progress do %>
  <!-- <div id="order_progress"><object data="<%# formatted_order_path(@order, 'svg') %>" type="image/svg+xml" style="width: 162px; height: 162px;"></object></div> -->
  <%# display_previsional_delivery_and_remaining_days(@order) %>
<%# end %>

<div class="order_header">
  <div class="first_column">
    <p>
      Dossier&nbsp;<span class="order_type" title="<%= t('activerecord.attributes.order.order_type') %>"><%= @order.order_type.title %></span>&nbsp;n°&nbsp;<span class="reference" title="<%= t('activerecord.attributes.order.reference') %>"><%= link_to(@order.reference, @order) %></span>&nbsp;:&nbsp;<span class="title" title="<%= t('activerecord.attributes.order.title') %>"><%= @order.title %>
    </p>
    <p><span class="customer_name" title="<%= t('activerecord.attributes.order.customer') %>"><%= link_to(@order.customer.name, @order.customer, :popup => true) %></span></p>
    <div class="ship_to_addresses" title="<%= t('activerecord.attributes.order.ship_to_addresses') %>">
      <% @order.ship_to_addresses.each do |ship_to_address| %>
        <p class="ship_to_address">
          <span class="establishment"><%= ship_to_address.establishment.establishment_type_and_name %></span> : <span class="address" title="<%= ship_to_address.address.formatted %>"><%= ship_to_address.address.zip_code_and_city_name %></span>
        </p>
      <% end %>
    </div>
  </div>
  
  <div class="second_column">
    <p>
      Créé le <span class="created_at" title="<%= t('activerecord.attributes.order.created_at') %>"><%= l(@order.created_at.to_date, :format => :long) %></span>
      <span class="status <%= @order.status %>" title="<%= @order.pending? ? '' : "depuis le #{l(@order.status_since.to_date, :format => :long)}" %>">
        <%= t("view.order.statuses.#{@order.status}", :default => @order.status) %>
      </span>
    </p>
    <p>
      Dossier appartenant à <span class="commercial" title="<%= t('activerecord.attributes.order.commercial') %>"><%= link_to(@order.commercial.fullname, @order.commercial) %></span>
    </p>
  </div>
  
  <div class="third_column">
    <%= render :partial => 'orders/order_header_quote_informations', :locals => { :order => @order } %>
  </div>
  
  <div class="fourth_column">
    <!--<div id="order_progress"><object data="<%# formatted_order_path(@order, 'svg') %>" type="image/svg+xml" style="width: 162px; height: 162px;"></object></div>-->
    <p><%= display_previsional_delivery_and_remaining_days(@order)%></p>
  </div>
  
  <div class="order_links">
    <% unless @order.completed? %>
      <%= link_to("Modifier dossier", edit_order_path(@order)) %> | 
    <% end %>
    <%= link_to("Avancement", order_informations_path(@order, :order_nav => :progress)) %> | <%= link_to("Suivi", order_informations_path(@order, :order_nav => :monitoring)) %> | <%= link_to("Documents", order_informations_path(@order, :order_nav => :documents)) %> | <%= link_to("Contacts clients", order_informations_path(@order, :order_nav => :customer_contacts)) %> | <%= link_to("Acteurs internes", order_informations_path(@order, :order_nav => :internal_actors)) %>
  </div>
</div>
