<% content_for :header do -%>
  <%= stylesheet_link_tag_with_theme_support 'sales/sales' %>
  <%= javascript_include_tag 'core/has_resources/has_resources' %>
<% end -%>

<h1>Nouveau dossier</h1>

<% unless @order.customer %>

<div>
  <p>
    Vous &ecirc;tes sur la page de cr&eacute;ation de dossier.<br/>
    Pour cr&eacute;er un nouveau dossier, vous devez choisir le client qui sera associ&eacute; &agrave; cette commande.
  </p>
  <p>Pour cette commande, avez-vous affaire à un client connu OU à un nouveau client ? Si vous ne savez pas, n'hésitez pas à faire une recherche.</p>

  <h2>1. Client existant</h2>
  <% form_for @order, :url => { :action => :new }, :html => { :method => :get } do |form| -%>
    <div id="order_search_customer">
      <%= hidden_field_tag :customer_id %>
      <%= custom_text_field_with_auto_complete( :customer, :name,
                                                { :value => "Chercher un client dans la base" },
                                                { :after_after_update_element => "$('customer_id').value = input.readAttribute('data-autocomplete-id')" } ) %>
      <%= form.submit 'Valider' %>
    </div>
  <% end -%>

  <h2>2. Nouveau client</h2>
  <% form_tag new_customer_path, :method => :get do %>
  <p>
    <%= hidden_field_tag :order_request, 1 %>
    <%= submit_tag "Créer un nouveau client" %>
  </p>
  <% end %>
</div>

<% else %>
  <%= render :partial => @order %>
<% end %>
