<% content_for :header do -%>
  <%= stylesheet_link_tag_with_theme_support 'sales/invoice' %>
<% end -%>

<%= order_header %>

<%= generate_invoicing_step_contextual_menu_partial %>

<h1>Factures</h1>

<div class="invoice_step">
  <div class="invoice_step_notice">
    <p>
      L'étape "Factures" permet d'établir des factures pour le dossier en cours.<br/>
    </p>
    <p>
      L'étape "Factures" est automatiquement clôturée lorsque tous les produits sont facturés et que chaque facture est payée.
    </p>
  </div>
  
  <%= render :partial => 'invoice_step/invoicing_state', :locals => { :order => @order } %>
  <hr/>
  
  <%= display_transition_table_for_deposit_invoice(@order) %>
  <%= display_transition_table_for_other_invoices(@order) %>
  
  <%= display_invoices(@order) %>
  <%= content_tag(:p, display_invoice_add_button(@order)) if is_form_view? %>
</div>
