<%= order_header %>



<h1>Liste des factures (tableau de gestion locale)</h1>

<div>
  <%= display_transition_table_for_deposit_invoice(@order) %>
  
  <%= display_transition_table_for_other_invoices(@order) %>
  
  <h2>Factures</h2>
  <%= display_invoices(@order) %>
</div>

<% add_contextual_menu_item :possible_actions do %>
	<%= new_order_invoicing_step_invoice_step_invoice_link_overrided(@order) %>
<% end %>
