<% parcel_item = parcel_item_in_one_line%>
<% fields_for "parcel[parcel_item_attributes][]", parcel_item do |f|%>

  <tr class='parcel_item resource'>
    <td style="display:none"> <%= f.hidden_field :purchase_order_supply_id , :class => "purchase_order_supply_id"%> </td>
    <td><%= parcel_item.purchase_order_supply.supply.reference %></td>   
    <td><%= parcel_item.purchase_order_supply.supply.designation %></td>
    <td><%= parcel_item.purchase_order_supply.supplier_reference %></td>   
    <td><%= parcel_item.purchase_order_supply.supplier_designation %></td>
    <td> 
    <% unless parcel_item.selected.to_i == 1%>
      <span id=<%= "span_quantity_" + parcel_item.purchase_order_supply_id.to_s %> >0</span>
      <span id=<%= "quantity_field_" + parcel_item.purchase_order_supply_id.to_s %> style="display:none"><%= f.text_field :quantity, :value => parcel_item.quantity, :size => 3%></span>
    <% else %> 
      <span id=<%= "span_quantity_" + parcel_item.purchase_order_supply_id.to_s %> style="display:none" >0</span>
      <span id=<%= "quantity_field_" + parcel_item.purchase_order_supply_id.to_s %> ><%= f.text_field :quantity, :value => parcel_item.quantity, :size => 3%></span>
    <% end %>
      <span>/</span> 
      <span class="remaining_quantity"><%= parcel_item.purchase_order_supply.remaining_quantity_for_parcel.to_s%> </span>
    </td>
    <% unless parcel_item.selected.to_i == 1%>
      <td><%= check_box_tag 'parcel[parcel_item_attributes][][selected]',1, false, :onchange => "disabled_or_enabled_quantity_text_field(this.up('.resource'));" %></td> 
    <% else %>
      <td><%= check_box_tag 'parcel[parcel_item_attributes][][selected]',1, true, :onchange => "disabled_or_enabled_quantity_text_field(this.up('.resource'));" %></td>
    <% end %> 
  </tr>
<% end  %>
