<% content_for :header do %>
  <%= stylesheet_link_tag_with_theme_support "purchases/purchases" %>
<% end %>

<% array_of_parcel_items_to_display_one = [@parcel_item] %>

<h1>Fourniture du colis</h1>
<div class="presentation_medium">
  <h2>Annuler le contenu.</h2>
  <% form_for @parcel_item, :url => { :action => "cancel" } do |f| %>
    <%= f.error_messages %>
    <%= render :partial => "parcels/array_head" %>
    <%= render :partial => "parcel_items/parcel_item", :collection => array_of_parcel_items_to_display_one %>
    <%= render :partial => "parcels/array_foot" %>
    <p>
      <%= f.label :cancelled_comment %>
      <%= f.text_area_autoresize :cancelled_comment %>
    </p>
    <p>
      <%= f.form_buttons %>
    </p>
  <% end %>
</div>
