<h1><%= h(@event.title) %></h1>
<% if @event.location %>
  <p><%= label_tag 'Emplacement' %><strong><%= @event.location %></strong></p>
<% end %>

<% if @event.description %>
  <p><%= label_tag 'Description'%><strong><%= @event.description %></strong></p>
<% end %>

<% if @event.full_day %>
  <p><%= label_tag'Jour entier' %><strong><input type="checkbox" checked disabled /></strong></p>
<% end %>

<p><%= label_tag 'du' %><strong><%= h(@event.start_at) %></strong></p>
<p><%= label_tag 'au' %><strong><%= h(@event.end_at) %></strong></p>

<p>
  <% if event_freq(@event) %>
    <%= label_tag 'répéter' %><strong><%= event_freq(@event) %></strong>
  <% end %>

  <% if @event.is_custom_daily_frequence? %>
    <strong>tous les <%= h(@event.interval) %> jours</strong><br />
  <% elsif @event.is_custom_weekly_frequence? %>
    <strong>toutes les <%= h(@event.interval) %> semaines
    <%= days_sentence(@event) %></strong><br />
  <% elsif @event.is_custom_monthly_frequence? %>
    <strong>tous les <%= h(@event.interval) %> mois<%= month_days_sentence(@event) %><%= day_sentence(@event) %></strong><br />
  <% elsif @event.is_custom_yearly_frequence? %>
    <strong>tous les <%= h(@event.interval) + ' ' if @event.interval > 1 %>ans<%= day_sentence(@event) %><%= month_sentence(@event) %></strong><br />
  <% end %>
</p>

<% if !@event.frequence.nil? %>
  <p><%= label_tag 'fin' %><strong><%= event_freq_end(@event) %></strong></p>
<% end %>

<% if !@event.alarms.first.action.nil? %>
  <p><%= label_tag 'alarme' %><strong><%= alarm_sentence(@event) %></strong></p>
<% end %>

<%= link_to_remote "<br />Edition", :url => {:controller => 'events', :action => 'edit', :id => params[:id]}, :method => 'get', :loading => "event_box_loading();", :failure => "event_box_failure();" if @calendar.can_edit?(current_user) %> <% if @calendar.can_delete?(current_user) %><a onclick="event_box_delete(this, <%= @event.id %>); return false;" href="#">Supprimer</a><% end %>
