<div class="frame">
  <% form_tag( {:controller =>"password_policies", :action => "update"}, :method => 'put' ) do %>
    
   <h2>Politique de mot de passe</h2>
   <strong>Choisir la politique de mot de passe pour les comptes utilisateurs de l'Intranet :</strong>
   <p>  
      <ul> 
         <li>
           <%= display_radio_for_level("l0") %>
           <%= label_tag "l0", "Aucune s&eacute;curit&eacute;",{:title => "Les utilisateurs pourront choisir un mot de passe sans aucune resctriction."}%>
         </li>
         <li>
           <%= display_radio_for_level("l1") %>
           <%= label_tag "l1", "Premier niveau",{:title => "Les utilisateurs devront utiliser un mot de passe comportant entre 6 et 40 caract&egrave;res et devant comporter des chiffres ou des lettres."} %>
         </li>

        <li>
          <%= display_radio_for_level("l2")%>
          <%= label_tag "l2", "Second niveau", {:title => "Les utilisateurs devront utiliser un mot de passe comportant entre 8 et 40 caract&egrave;res et devant comporter des chiffres et des lettres&#44; et poss&eacute;dant au moins un caract&eacute;re sp&eacute;cial comme: &#40;ex&#58; &#64;&#126;&#34;&#40;&#58;&#46;&#47;&#63; etc&hellip;&#41;."} %> 
        </li>

        <li>
          <%= display_radio_for_level("l3") %>
          <%= label_tag "l3", "Troisi&eacute;me niveau", {:title => "Les utilisateurs devront utiliser un mot de passe comportant entre 8 et 40 caract&egrave;res et devant comporter des chiffres et des lettres &#40;en majuscule et minuscule&#41;&#44; et poss&eacute;dant au moins un caract&egrave;re sp&eacute;cial comme: &#40;ex&#58; &#64;&#126;&#34;&#40;&#58;&#46;&#47;&#63; etc&hellip;&#41;."} %>
        </li>
      </ul>
    </p>
    
    <h2>D&eacute;lai d'expiration des mots de passe</h2>
    <strong>Choisir la p&eacute;riode de validit&eacute; pour les mots de passe (mettre 0 pour que le mot de passe n'expire jamais) :<br/></strong>
    <p>
      
      Les utilisateurs devront renouveler leur mot de passe tous les <%= display_text_field_for_validity_date %> jour(s).
    </p>
    
    <h2>Mod&egrave;le de cr&eacute;ation des comptes utilisateurs</h2>
    <strong>Les comptes utilisateurs sont cr&eacute;&eacute;s automatiquement à l'enregistrement d'un employ&eacute;. Choisir le mod&egrave;le de cr&eacute;ation des comptes utilisateurs pour tous les employ&eacute;s :</strong>
    <p>

      <p id="pattern_field"><%= display_text_field_for_pattern %><span id="pattern_help_link"> <%=link_to_remote "<img src=" + "/images/help_icns_16x16.png "  + " title=\"Aide\" alt=\"Bouton Aide\"/>",:url=>{:action=>"help_down"},:href=>(url_for :action=>"help_down")%></span></p>
      
      <p style="display: none;" id="pattern_help">Vous devez utiliser le modèle suivant ' [attribut,option] ' pour composer votre squellette: 
        <br/>-attribut : représente les attributs que possédent un utilisateur(first_name,last_name)
        <br/>-option : représente le nombre de caract&egrave;res à garder dans l&apos;attribut(aucune valeur correspond &agrave; l&apos;attribut en entier)
        <br/>-ex : soit l&apos;employ&eacute;e Jean DUPPON et le squellette [FIRST_NAME,1]_[last_name] => J_duppon
        <br/>&nbsp;&nbsp;Comme vous avez pu le constatez, il suffit de mettre l&apos;attribut en majuscule ou minuscule pour choisir la casse du contenu de l'attribut
        <br/>&nbsp;&nbsp;De plus il vous est possible d&apos;ins&eacute;rer autant de caract&egrave;res que vous voulez entre les modules sauf les carat&egrave;res interdits suivants &#40; &#35;&#123; et &#124; &#41;
        <br/>&nbsp;&nbsp;Exemple avec un modéle type mail: [first_name].[last_name]@emr-oi.fr 
      </p>
    </p>
    <p>
    <%= submit_tag "Valider" %>
    </p>
  <% end %>
</div>
