<%
require_locals form

# this partial should not be called directly, you may call _quote_item.html.erb with the appropriate instance of quote_item
quote_item = free_quote_item
collection_length ||= 1
counter ||= 1
%>

<tr class="quote_item free_item">
  <td class="reference">&nbsp;</td>
  <td class="designation">
    <span class="name">
      <% if is_form_view? %>
        <%= form.text_field :name, :size => 45, :class => :input_name, :autocomplete => :off, :title => "Entrer le nom du produit" %>
      <% else %>
        <%= quote_item.name %>
      <% end %>
    </span>
    
    <span class="description">
      <% if is_form_view? %>
        <br/>
        <%= form.text_area_autoresize :description, :cols => 55, :rows => 2, :class => :input_description, :title => "Entrer une description pour ce produit", :index => nil %>
      <% else %>
        <% unless quote_item.description.blank? %>
          <br/>
          <%= quote_item.description %>
        <% end %>
      <% end %>
    </span>
  </td>
  <td colspan="<%= is_form_view? ? 8 : 7 %>"></td>
  
  <% if is_form_view? %>
    <td class="actions">
      <%= link_to("<span>#{text_up = 'Monter'}</span>", '#up', :title => text_up, 'data-icon' => :move_up) %>
      <%= link_to("<span>#{text_down = 'Descendre'}</span>", '#down', :title => text_down, 'data-icon' => :move_down) %>
      <%= link_to("<span>#{text_delete = 'Supprimer'}</span>", '#delete', :title => text_delete, 'data-icon' => :delete_line, 'data-confirm' => "Êtes-vous sûr ? Attention, les modifications seront appliquées à la soumission du formulaire.") %>
      
      <%= form.hidden_field :id, :class => :quote_item_id %>
      <%= form.hidden_field :should_destroy, :class => :should_destroy %>
      <%= form.hidden_field :position, :class => :position, :value => counter %>
    </td>
  <% end %>
</tr>
