<%
# this partial should not be called directly, you may call _quote_item.html.erb with the appropriate instance of quote_item
quote_item = free_quote_item
collection_length ||= 1
counter ||= 1
position = quote_item.position.zero? ? counter : quote_item.position
%>

<% fields_for "quote[free_quote_item_attributes][]", quote_item do |form| %>
  <tr class="free_quote_item">
    <td></td>
    <td class="designation">
      <span class="name">
        <% if is_form_view? %>
          <%= form.text_field :name, :size => 45, :class => :input_name, :title => "Entrer le nom du produit", :index => nil %>
        <% else %>
          <%= quote_item.name %>
        <% end %>
      </span>
      <br/>
      <span class="description">
        <% if is_form_view? %>
          <%= form.text_area_autoresize :description, :cols => 55, :rows => 2, :class => :input_description, :title => "Entrer une description pour ce produit", :index => nil %>
        <% else %>
          <%= quote_item.description %>
        <% end %>
      </span>
    </td>
    <td colspan="<%= is_form_view? ? 8 : 7 %>"></td>
    
    <% if is_form_view? %>
      <td class="actions">
        <%= link_to( image_tag("arrow_up_16x16.png", :alt => text_up = "Monter la ligne", :title => text_up, :class => "arrow_up"), "#up", :onclick => "move_up(this);" ) %>
        <%= link_to( image_tag("arrow_down_16x16.png", :alt => text_down = "Descendre la ligne", :title => text_down, :class => "arrow_down"), "#down", :onclick => "move_down(this);" ) %>
        <%= link_to( image_tag("cross_16x16.png", :alt => "Supprimer la ligne", :title => "Supprimer la ligne"), "#remove", :onclick => "if (confirm('Êtes-vous sûr ?\\nAttention, les modifications seront appliquées à la soumission du formulaire.')) remove_free_quote_item(this)" ) %>
        <%= form.hidden_field :id, :class => :quote_item_id, :index => nil %>
        <%= form.hidden_field :should_destroy, :class => :should_destroy, :index => nil %>
        <%= form.hidden_field :position, :class => :position, :value => position, :index => nil %>
      </td>
    <% end %>
  </tr>
<% end %>
