<% fields_for "quote[quote_item_attributes][]", free_quote_item do |form| %>
  <tr class="free_quote_item">
    <td></td>
    <td class="designation">
      <span class="name">
        <% if is_form_view? %>
          <%= form.text_field :name, :size => 45, :class => :input_name, :title => "Entrer le titre de la description pour ce produit", :index => nil %>
        <% else %>
          <%= free_quote_item.name %>
        <% end %>
      </span>
      <br/>
      <span class="description">
        <% if is_form_view? %>
          <%= form.text_area_autoresize :description, :cols => 55, :rows => 2, :class => :input_description, :title => "Entrer le corps de la description pour ce produit", :index => nil %>
        <% else %>
          <%= free_quote_item.description %>
        <% end %>
      </span>
    </td>
    <td colspan="<%= is_form_view? ? 8 : 7 %>"></td>
    
    <% if is_form_view? %>
      <td class="actions">
        <%= link_to( image_tag("arrow_up_16x16.png", :alt => "Monter la ligne", :title => "Monter la ligne"), "#up", :onclick => "up_reference(this)" ) %>
        <%= link_to( image_tag("arrow_down_16x16.png", :alt => "Descendre la ligne", :title => "Descendre la ligne"), "#down", :onclick => "down_reference(this)" ) %>
        <%= link_to( image_tag("cross_16x16.png", :alt => "Supprimer la ligne", :title => "Supprimer la ligne"), "#remove", :onclick => "if (confirm('Êtes-vous sûr ?\\nAttention, les modifications seront appliquées à la soumission du formulaire.')) remove_free_quote_item(this)" ) %>
        <%= form.hidden_field :id, :class => :quote_item_id, :index => nil %>
        <%= form.hidden_field :should_destroy, :class => :should_destroy, :index => nil %>
      </td>
    <% end %>
  </tr>
<% end %>
