<% this_is_default_row_and_should_be_hidden ||= false %>

<% if quote_item.nil? %>
  
  <% require_locals quote %>
  <%= render :partial => 'quote_items/quote_item', :object => QuoteItem.new, :locals => { :this_is_default_row_and_should_be_hidden => true } %>
  <% if is_form_view? %>
    <tr class="new_quote_item">
      <td colspan="11">
        <%= hidden_field_tag 'add_this_product_reference_id' %>
        <%= custom_text_field_with_auto_complete( :product_reference, :reference,
                                                  { :value      => "Cherchez un produit référence dans la base",
                                                    :size       => 50,
                                                    :onkeydown  => "if (event.keyCode == 13) { return false; }" },
                                                  { :update_id  => 'add_this_product_reference_id' } ) %>
        <%= button_to_function "Ajouter", "add_product_reference_to_quote()" %>
      </td>
    </tr>
  <% end %>
  
<% else %>
  
  <% fields_for "quote[quote_item_attributes][]", quote_item do |form| %>
    <tr class="quote_item" <%= "style=\"display:none\"" if quote_item.should_destroy? or this_is_default_row_and_should_be_hidden %>>
      
      <td class="reference">
        <%= quote_item.product.product_reference.reference if quote_item.product %>
      </td>

      <td class="description">
        <% if is_form_view? %>
          <%= form.text_field :name, :size => 45, :class => :input_name, :title => "Entrer le titre de la description pour cette référence", :index => nil %>
          <%= hidden_field_tag :original_name, quote_item ? quote_item.original_name : nil, :class => :input_original_name %>
          <span>
            <%= link_to( image_tag("eraser_16x16.png", :alt => "Valeur par défaut", :title => "Valeur par défaut"), "#default",
                         :onclick => "restore_original_value(this.up('.quote_item'), 'name')" ) %>
          </span>
        <% else %>
          <%= h(quote_item.name) %>
        <% end %>
        
        <br/>
        
        <% if is_form_view? %>
          <%= form.text_area_autoresize :description, :cols => 55, :rows => 2, :class => :input_description, :title => "Entrer le corps de la description pour cette référence", :index => nil %>
          <%= hidden_field_tag :original_description, quote_item ? quote_item.original_description : nil, :class => :input_original_description %>
          <span>
            <%= link_to( image_tag("eraser_16x16.png", :alt => "Valeur par défaut", :title => "Valeur par défaut"), "#default",
                         :onclick => "restore_original_value(this.up('.quote_item'), 'description')" ) %>
          </span>
        <% else %>
          <%= textilize(h(quote_item.description)) %>
        <% end %>
      </td>
      <td class="dimensions">
        <% if is_form_view? %>
          <%= form.text_field :dimensions, :size => 15, :class => :input_dimensions, :title => "Choisir les dimensions pour cette référence", :index => nil %>
        <% else %>
          <%= quote_item.dimensions %>
        <% end %>
      </td>
      <td class="unit_price">
        <% if is_form_view? %>
          <%= form.text_field :unit_price, :value => ( quote_item.unit_price.round_to(2).to_s(2) if quote_item.unit_price ), :size => 7, :maxlength => 9, :onkeyup => "calculate(this.up('.quote_item'))", :class => :input_unit_price, :title => "Entrer le prix unitaire brut pour cette référence", :index => nil %>
        <% else %>
          <%= quote_item.unit_price.to_f.to_s(2) %>
        <% end %>
      </td>
      <td class="discount">
        <% if is_form_view? %>
          <%= form.text_field :discount, :value => ( quote_item.discount.round_to(2).to_s(2) if quote_item.discount ), :size => 3, :maxlength => 5, :onkeyup => "calculate(this.up('.quote_item'))", :class => :input_discount, :title => "Entrer une remise pour cette référence", :index => nil %>
        <% else %>
          <%= quote_item.discount.to_f.to_s(2) %>
        <% end %>
      </td>
      <td class="unit_price_with_discount">
        <%= quote_item.unit_price_with_discount.round_to(2).to_s(2) %>
      </td>
      <td class="quantity">
        <% if is_form_view? %>
          <%= form.text_field :quantity, :size => 3, :maxlength => 5, :onkeyup => "calculate(this.up('.quote_item'))", :class => :input_quantity, :title => "Entrer la quantité pour cette référence", :index => nil %>
        <% else %>
          <%= quote_item.quantity %>
        <% end %>
      </td>
      <td class="total">
        <%= quote_item.total.round_to(2).to_s(2) %>
      </td>
      <td class="vat">
        <% if is_form_view? %>
          <%= form.select(:vat, Vat.find(:all, :order => :position).collect{ |vat| [ vat.name, vat.rate ] }, {}, :onchange => "calculate(this.up('.quote_item'))", :class => :input_vat, :title => "Entrer le taux de TVA s'appliquant à cette référence", :index => nil) %>
          <%= hidden_field_tag :original_vat, quote_item ? quote_item.original_vat : nil, :class => :input_original_vat %>
          <span>
            <%= link_to( image_tag("eraser_16x16.png", :alt => "Valeur par défaut", :title => "Valeur par défaut"), "#default",
                         :onclick => "restore_original_value(this.up('.quote_item'), 'vat')" ) %>
          </span>
        <% else %>
          <%= quote_item.vat %>
        <% end%>
      </td>
      <td class="total_with_taxes">
        <%= quote_item.total_with_taxes.round_to(2).to_s(2) %>
      </td>
      
      <% if is_form_view? %>
        <td class="actions">
          <%= link_to( image_tag("/images/arrow_up_16x16.png", :alt => "Monter la ligne", :title => "Monter la ligne"), "#up", :onclick => "up_reference(this)" ) %>
          <%= link_to( image_tag("/images/arrow_down_16x16.png", :alt => "Descendre la ligne", :title => "Descendre la ligne"), "#down", :onclick => "down_reference(this)" ) %>
          <%= link_to( image_tag("/images/cross_16x16.png", :alt => "Supprimer la ligne", :title => "Supprimer la ligne"), "#remove", :onclick => "if (confirm(\"Êtes-vous sûr ? Cela aura pour conséquence de supprimer tout ce qui est en relation directe avec ce produit. Attention, les modifications seront appliquées à la soumission du forumulaire.\")) remove_reference(this)" ) %>
          <%= form.hidden_field :id, :class => :quote_item_id, :index => nil %>
          <%= form.hidden_field :order_id, :index => nil %>
          <%= form.hidden_field :product_id, :index => nil %>
          <%= hidden_field_tag  "quote[quote_item_attributes][][product_reference_id]", ( quote_item.product ? quote_item.product.product_reference_id : nil ), :id => :quote_quote_item_attributes__product_reference_id, :class => :product_reference_id, :index => nil %>
          <%= form.hidden_field :should_destroy, :class => :should_destroy, :index => nil %>
        </td>
      <% end %>
    </tr>
  <% end %>
  
<% end %>
