<% leave_request = check_form %>

<%= render :partial => leave_request %>

<div class="presentation_medium">
  <% form_for(leave_request, :url => check_leave_request_path(leave_request)) do |f| %>
    <h2>R&eacute;ponse du responsable</h2>
    <%= f.error_messages %>
    <p>  
      <%= f.label :agreement_true %>
      <%= f.radio_button(:responsible_agreement, "true") %>
      <%= f.label :agreement_false %>
      <%= f.radio_button(:responsible_agreement, "false") %>     
    </p>  
    <p>
      <%= f.label :responsible_remarks %>
      <%= f.text_area(:responsible_remarks, :rows => 5) %>
    </p>
    <p>
      <%= f.reset %>  
      <%= f.submit button_name %>
    </p>
  <% end %>
</div>
