<%  if !is_form_view? or leave_request.was_higher_than_step_unstarted?  %>
<%= render :partial => 'employees/employee_summary', :locals => {:employee => leave_request.employee}%>
<% end %>
<div class="presentation_medium">
  <% form_for(leave_request) do |f| %>
    
    <!--############## SHOW : Leave informations / FORM : Leave period ##############-->
  
    <% if !is_form_view? or leave_request.was_higher_than_step_unstarted? %>
      <h2>Informations</h2>
      <p>
        <%= f.label :status %>
        <%= f.strong view_status(leave_request) %>
      </p>
      <% if leave_request.was_cancelled? %>
        <p>
          <%= f.label :cancelled_at %>
          <%= f.strong leave_request.cancelled_at.to_datetime.strftime("%A %d %B %Y à %Hh%M") %>
        </p>
      <% end %>
      <p>
        <%= f.label :submitted_at %>
        <%= f.strong leave_request.submitted_at.to_datetime.strftime("%A %d %B %Y à %Hh%M") %>
      </p>
      <p>
        <%= f.label :period %>
        <%= f.strong leave_request.formatted %>
      </p>
      
      <p>
        <%= f.label :leave_type %>
        <%= f.strong leave_request.leave_type.name %>
      </p>
      <p>
        <%= f.label :comment %>
        <% if leave_request.comment.nil? or leave_request.comment == ""  %>
          <%= f.strong "aucun" %>
        <% else %>
          <%= f.strong leave_request.comment %>
        <% end %>
      </p>
    <% end %>
    
    <% if is_form_view? and leave_request.was_unstarted? %>
      <h2>P&eacute;riode du cong&eacute;</h2>
      <%= f.error_messages %> 
      <p>
        <%= f.label:start_date %>
        <%= f.date_select( :start_date,{ :default => Date.tomorrow, :order => [:day,:month,:year] }) %>
        <%= f.label :start_half %>
        <%= f.check_box(:start_half) %>
      </p>
      <p>
        <%= f.label :end_date %>
        <%= f.date_select( :end_date,{ :default => Date.tomorrow, :order => [:day,:month,:year] }) %>
        <%= f.label :end_half %>
        <%= f.check_box(:end_half) %>
      </p>
      
      <h2>Type du cong&eacute;</h2>
      <p>  
        <%= f.label :leave_type_id %>
        <%= collection_select(:leave_request, :leave_type_id, LeaveType.find(:all), :id, :name, { :prompt => "Sélectionnez le type du congé" }) %>
      </p>  
      <p>
        <%= f.label :comment %>
        <%= f.text_area(:comment, :rows => 5) %>
      <p>
        <%= f.reset %>
        <%= f.submit button_name %>
      </p>
    <% end %>
    
    <!--############## SHOW : Responsible check / FORM : Leave type ##############-->
    
    <% if leave_request.was_higher_than_step_submit? %>
      <h2>R&eacute;ponse du responsable</h2>
      <p>  
        <%= f.label :responsible_agreement %>
        <%= f.strong view_responsible_agreement(leave_request) %>   
        <%= f.label :responsible %>
        <%= link_to "#{leave_request.responsible.first_name} #{leave_request.responsible.last_name}", employee_path(leave_request.responsible) %>
      </p>
      <p> 
        <%= f.label :checked_at %>
        <%= f.strong leave_request.checked_at.to_datetime.strftime("%A %d %B %Y à %Hh%M") %>
      </p>
      <p>
        <%= f.label :responsible_remarks %>
        <%= f.strong(leave_request.responsible_remarks.blank? ? "aucun" : leave_request.responsible_remarks) %>
      </p>
    <% end %>
    
    <!--############## Observer notification ##############-->
    
    <% if leave_request.was_higher_than_step_check? %>
      <h2>Observation des ressources humaines</h2>
      <p>  
        <%= f.label :acquired_leaves_days %>
        <%= f.strong "#{leave_request.acquired_leaves_days} jours" %>   
        <%= f.label :observer %>
        <%= link_to "#{leave_request.observer.first_name} #{leave_request.observer.last_name}", employee_path(leave_request.observer) %>  
      </p> 
      <p>  
        <%= f.label :duration %>
        <%= f.strong "#{leave_request.duration} jours" %> 
      </p> 
      <p>
        <%= f.label :noticed_at %>
        <%= f.strong leave_request.noticed_at.to_datetime.strftime("%A %d %B %Y à %Hh%M") %>
      </p>  
      <p>
        <%= f.label :observer_remarks %>
        <%= f.strong leave_request.observer_remarks %> 
      </p>   
    <% end %>
    
    <!--############## Director close ##############-->
    
    <% if leave_request.was_higher_than_step_notice? %>
      <h2>R&eacute;ponse de la direction</h2>
      <p>  
        <%= f.label :director_agreement %>
        <%= f.strong view_director_agreement(leave_request) %>   
        <%= f.label :director %>
        <%= link_to "#{leave_request.director.first_name} #{leave_request.director.last_name}", employee_path(leave_request.director) %>
      </p>
      <p> 
        <%= f.label :ended_at %>
        <%= f.strong leave_request.ended_at.to_datetime.strftime("%A %d %B %Y à %Hh%M") %>
      </p>
      <p>
        <%= f.label :director_remarks%>
        <% if leave_request.director_remarks.nil? or leave_request.director_remarks == ""  %>
          <%= f.strong "aucun" %>
        <% else %>
          <%= f.strong leave_request.director_remarks %>
        <% end %>
      </p>
    <% end %>
    
  <% end %>
</div>
