<% for leave_request in leave_requests_to_check %>
  <tr>
    <td><%=h "#{leave_request.employee.first_name} #{leave_request.employee.last_name}" %></td>
    <td><%=h leave_request.start_date.strftime("%A %d %B %Y") %></td>
    <td><%=h leave_request.end_date.strftime("%A %d %B %Y") %></td>
    <td><%=h leave_request.created_at.to_datetime.strftime("%A %d %B %Y à %Hh%M") %></td>
    <td><%=h view_status(leave_request) %></td>
    <td>
      <%= edit_leave_request_link(leave_request,:link_text => "") %>
      <%= delete_leave_request_link(leave_request,:link_text => "") %>
    </td>
  </tr>
<% end %>
