<div class="presentation_medium">

  <% leave_request = notice_form %>
  
  <% form_for(leave_request, :url => notice_leave_request_path(leave_request)) do |f| %>
    
    <!--############## Leave informations ##############-->
    
    <%= "<h2>Informations</h2>" %>
    <p>
      <%= f.label :status %>
      <%= f.strong view_status(leave_request) %>
    </p>
    <% if leave_request.was_cancelled? %>
      <p>
        <%= f.label :cancelled_at %>
        <%= f.strong leave_request.cancelled_at.to_datetime.strftime("%A %d %B %Y à %Hh%M") %>
      </p>
    <% end %>
    <p>
      <%= f.label :employee %>
      <%= link_to leave_request.employee.fullname, employee_path(leave_request.employee) %>
      <%= f.label("Service")%>
      <%= link_to leave_request.employee.service.name, service_path(leave_request.employee.service.id) %>    
    </p>
    <p>
      <%= f.label :submitted_at %>
      <%= f.strong leave_request.submitted_at.to_datetime.strftime("%A %d %B %Y à %Hh%M") %>
    </p>
    <p>
      <%= f.label :period %>
      <%= f.strong view_dates(leave_request) %>
    </p>
    
    <p>
      <%= f.label :leave_type %>
      <%= f.strong leave_request.leave_type.name %>
    </p>
    <p>
      <%= f.label :comment%>
      <% if leave_request.comment.nil? or leave_request.comment == ""  %>
        <%= f.strong "aucun" %>
      <% else %>
        <%= f.strong leave_request.comment %>
      <% end %>
    </p>
    
    <!--############## Responsible check ##############-->
    
    <%= "<h2>R&eacute;ponse du responsable</h2>" %>
    <p>  
      <%= f.label :responsible_agreement %>
      <%= f.strong view_responsible_agreement(leave_request) %>   
      <%= f.label :responsible %>
      <%= link_to "#{leave_request.responsible.first_name} #{leave_request.responsible.last_name}", employee_path(leave_request.responsible) %>
    </p>
    <p> 
      <%= f.label :checked_at %>
      <%= f.strong leave_request.checked_at.to_datetime.strftime("%A %d %B %Y à %Hh%M") %>
    </p>
    <p>
      <%= f.label :responsible_remarks %>
      <%= f.strong(leave_request.responsible_remarks.blank? ? "aucun" : leave_request.responsible_remarks) %>
    </p>

    <!--############## Observer notification ##############-->
  
    <%= "<h2>Observation des ressources humaines</h2>"%>
    <%= f.error_messages %>
    <p>  
      <%= f.label :acquired_leaves_days %>
      <%= f.text_field(:acquired_leaves_days, :size => 1) %> jours  
    </p> 
    <p>
      <%= f.label :duration %>
      <%= f.text_field(:duration, :size => 1, :value => leave_request.total_estimate_duration(leave_request.start_date, leave_request.end_date)) %> jours 
    </p>    
    <p>
      <%= f.label :observer_remarks %>
      <%= f.text_area(:observer_remarks, :rows => 5) %>
      <!--## f.text_area_autoresize(:observer_remarks, :rows => 2) ##-->  
    </p>
    <p>
      <%= f.reset "Réinitialiser" %>
      <%= f.submit button_name %>
    </p>
    
  <% end %>

</div>
