<h2>Mes demandes refus&eacute;es</h2>

<% if refused_leave_requests.size > 0 %>

  <div>
    <table>
      <tr>
        <th>Date de d&eacute;but</th>
        <th>Date de fin</th>
        <th>Soumise le</th>
        <th>Statut</th>
        <th>Actions</th>
      </tr>
      
      <% for leave_request in refused_leave_requests %>
        <tr>
          <td><%=h leave_request.start_date.strftime("%A %d %B %Y") %></td>
          <td><%=h leave_request.end_date.strftime("%A %d %B %Y") %></td>
          <td><%=h leave_request.submitted_at.to_datetime.strftime("%A %d %B %Y à %Hh%M") %></td>
          <td><%=h view_status(leave_request) %></td>
          <td>
            <%= leave_request_link(leave_request, :link_text => "") %>
          </td>
        </tr>
      <% end %>
      
    </table>
    <%= will_paginate refused_leave_requests, :prev_label => " << pr&eacute;c&eacute;dent", :next_label => "suivant >>" if params[:action] != "index" %>
  </div>

<% else %>

  <div>
    <p>Aucune demande refus&eacute;e</p>
  </div>

<% end %>
