<% contextual_menu POSSIBLE_ACTIONS do%>
	<%= delete_leave_request_link %>
<% end %>
<% contextual_menu USEFUL_LINKS do%>
	<%= leave_requests_link %>
	<%= image_tag("view_16x16.png") %> <%= cancelled_leave_requests_link %>
<% end %>

<h1>Traitement d'une demande de congés</h1>
<%= render :partial => @leave_request, :locals => {:button_name=> "Envoyer"} %>
