<h1>Toutes les demandes de cong&eacute;s</h1>

<% if @employee %>

  <% contextual_menu POSSIBLE_ACTIONS do %>
    <%= new_leave_request_link %>
  <% end %>
  
  <% contextual_menu USEFUL_LINKS do %>
    <%= accepted_leave_requests_link %>
    <%= refused_leave_requests_link %>
    <%= cancelled_leave_requests_link %>
  <% end %>
  
  <% if @leave_requests_to_treat %>
  
    <h2 class="warning" >Demandes d'employés à traiter</h2>

      <div>
        <table>
          <tr>
            <th>Employé</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Créée le</th>
            <th>Statut</th>
            <th>Actions</th>
          </tr>
    
          <%= render :partial => "leave_requests_to_check" if @leave_requests_to_check.size > 0 %>
          <%= render :partial => "leave_requests_to_notice" if @leave_requests_to_notice.size > 0 %>
          <%= render :partial => "leave_requests_to_close" if @leave_requests_to_close.size > 0 %>
          <%= render :partial => "refused_by_me_leave_requests" if @refused_by_me_leave_requests.size > 0 %>          
            
        </table>
      </div>
  <% end %>
    
  <%= render :partial => "active_leave_requests" %>
  <%= render :partial => "accepted_leave_requests" %>
  <%= render :partial => "refused_leave_requests" %>
  
<% else %>

  <div>
    <p>Vous ne pouvez accéder à ce menu car vous n'êtes pas associé à un employé</p>
  </div>

<% end %>
