<% add_contextual_menu_item :possible_actions do %>
  <%= new_leave_request_link %>
	<%= cancel_leave_request_link(@leave_request, false) if @leave_request.can_be_cancelled? %> 
	<%= delete_leave_request_link %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
	<%= leave_requests_link %>
	<% if current_user.employee %>
	  <% text = ( current_user.employee == @leave_request.employee ? "Voir mes congés" : "Voir les congés de cet employé" ) %>
	  <%= employee_leaves_link(@leave_request.employee, :link_text => text) %>
  <% end %>
<% end %>

<h1>Informations d'une demande de cong&eacute;s</h1>
<%= render :partial => @leave_request %>
