<table width="100%">
	<tr>
		<td width="30%"><img src="<%= File.join(RAILS_ROOT, 'public/themes/emr/images/logo_emr.jpg') %>" width="100"/>
		</td>
		<td><h1><%= enc("Bon à tirer") %></h1></td>
	</tr>
</table>

<br />

<p>
	<%= enc("Nom de projet :") %>
	<strong><%= enc(@order.title) %></strong>
</p>
<p>
	<%= enc("Client / Établissement :") %>
	<strong><%= enc(@order.customer.name) %> - <%= @order.establishment.nil? ? enc("Pas d'établissement") : enc(@order.establishment.name) %></strong>
</p>
<p>
	<%= enc("Lieu de livraison :") %>
	<strong><%= @order.establishment.nil? ? enc("Pas d'établissement") : enc(@order.establishment.full_address) %></strong>
</p>
<p>
	<%= enc("Etapes finies / Etapes totales :") %>
	<strong><%= enc(@order.advance[:terminated].to_s + "/" + @order.advance[:total].to_s) %></strong>
</p>
<p>
	<%= enc("Suivi commercial :") %>
	<strong><%= enc(@order.commercial.fullname) %></strong>
</p>
<p>
	<%= enc("Type de dossier :") %>
	<strong><%= enc(@order.order_type.title) %></strong>
</p>

<br />

<table width="100%">
	<tr>
		<td width="20%"></td>
		<td width="40%"><%= enc("bon pour accord") %></td>
		<td width="40%"><%= enc("Date et signature") %></td>
	</tr>
</table>
