<div class='presentation_medium'>

<% if tools.empty? %>
  <p>Aucun &eacute;quipement r&eacute;f&eacute;renc&eacute;</p>
<% else %>
  <table>
    <tr>
      <th>Nom</th><th>Service</th>
      <th>Employé</th><th>Poste</th>
      <th>Fournisseur</th><th>Actions</th>
    <tr>
  <% for tool in tools %>
    <tr>
      <td><%= tool.name %></td>
      <td><%= link_to_service(tool.service)%></td>
      <td><%= link_to_employee(tool.employee)%></td>
      <td><%= link_to_job(tool.job)%></td> 
      <td><%= link_to_supplier(tool.supplier)%></td>
      <td><%= links_to_actions(tool) %></td>
    </tr>
  <% end %>
  </table>
<% end %>

</div>
