<div class="presentation_medium">
  <h2>Informations g&eacute;n&eacute;rales</h2>
  <% form_for @subcontractor do |form| %>
    <%= form.error_messages %>
    
    <%= render :partial => 'thirds/third', :object => @subcontractor, :locals => {:form => form} %>
    
    <h2>Contacts</h2>
    <%= display_contacts_list(@subcontractor) %>
    <%= display_contact_add_button(@subcontractor) if is_form_view? %>
    
    <%= form.form_buttons %>
  <% end %>
</div>
