<%# contextual_search_for_supplier %>

<% add_contextual_menu_item :possible_actions do %>
	<%= new_subcontractor_link %>
  <%= edit_subcontractor_link(@subcontractor) %>
	<%= delete_subcontractor_link(@subcontractor) %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
	<%= subcontractors_link %>
<% end %>

<h1>Informations concernant le fournisseur </h1>
<%= render :partial => @subcontractor %>
