<% require_locals establishments_owner %>
<% owner_type = establishments_owner.class.singularized_table_name %>

<% fields_for "#{owner_type}[establishment_attributes][]", establishment = establishment_form do |form| %>
<div class="resource_form<%= ' new_record' if establishment.new_record? %>" id="establishment_<%=establishment.id%>" <%= "style=\"display:none\"" unless establishment.new_record? or !establishment.errors.empty? or establishment.should_update? %> >
  <%= form.error_messages %>
  <%= render :partial => "establishments/establishment_fields", :object => establishment, :locals => {:form => form} %>

  <p>
    <% if establishment.new_record? %>
      <%= link_to_function "Annuler la création de l'établissement", "this.up('.resource').remove()" %>
    <% elsif is_form_view? %>
      <%= link_to_function "Annuler la modification de l'établissement", "mark_resource_for_dont_update(this)" %>
    <% else %>
      <%= link_to_function "Fermer", "this.up('.resource_form').hide()" %>
    <% end %>

    <% if !establishment.new_record? and is_form_view? %>
      <%= form.hidden_field :id, :index => nil %>
      <%= form.hidden_field :should_destroy, :index => nil, :class => 'should_destroy' %>
      <%= form.hidden_field :should_update, :index => nil, :class => 'should_update' %>
    <% end %>
  </p>
</div>

<% end %>
