<%
  require_locals owner_type
  establishment = establishment_in_one_line
  
  confim_text = "'Êtes-vous sûr? Attention, les modifications seront appliquées à la soumission du formulaire.'"
%>

<div class="establishment resource" <%= "style=\"display:none\"" if establishment_in_one_line.should_destroy? %> >
<% fields_for "#{owner_type}[establishment_attributes][]", establishment do %>
  <p id="establishment_<%= establishment.id %>_in_one_line">
    <% unless establishment.new_record? %>
      <%= image_tag 'warning_14x14.png' if !establishment.errors.empty? %>
      
      <%= "#{EstablishmentType.find(establishment.establishment_type_id_was).name} <strong>#{establishment.name_was}</strong> (#{establishment.address.city_name_was}, #{establishment.address.country_name_was})" %>
      
      <%= link_to_function "Fiche complète", "this.up('.resource').down('.resource_form').toggle()" if ( !is_form_view? and Establishment.can_view?(current_user) ) or ( is_form_view? and Establishment.can_view?(current_user) and !Establishment.can_edit?(current_user) ) %>
      
      <%= link_to_function "Modifier", "mark_resource_for_update(this)" if is_form_view? and Establishment.can_edit?(current_user) %>
      
      <% if is_form_view? and Establishment.can_hide?(current_user) %>
        <%= link_to_function "Supprimer",
          "$('establishment_#{ establishment.id }_new_contacts').innerHTML = '';
          hide_resource_and_sub_resources(this, $('establishment_#{ establishment.id }_contacts_list'), #{ confim_text })" %>
      <% end %>
      
      <% if is_form_view? and Establishment.can_delete?(current_user) %>
        <%= link_to_function "Supprimer définitivement",
          "$('establishment_#{ establishment.id }_new_contacts').innerHTML = '';
          destroy_resource_and_sub_resources(this, $('establishment_#{ establishment.id }_contacts_list'), #{ confim_text })" %>
      <% end %>
    <% end %>
    
    <%= render :partial => 'establishments/establishment_form', :object => establishment, :locals => { :owner_type => owner_type } if Establishment.can_view?(current_user) or Estabslishment.can_edit?(current_user) %>
  </p>
<% end  %>
</div>
