<% require_locals owner_type %>

<% fields_for "#{owner_type}[establishment_attributes][]", establishment = establishment_form, :index => nil do |form| %>
  <div class="presentation_in_columns resource_form<%= ' new_record' if establishment.new_record? %>" id="establishment_<%=establishment.id%>_form" <%= "style=\"display:none\"" unless establishment.new_record? or !establishment.errors.empty? or establishment.should_update? %> >
    <%= form.error_messages if establishment.errors_on_attributes_except_on_contacts? %>
    <%= render :partial => "establishments/establishment_fields", :object => establishment, :locals => {:form => form} %>

    <p>
      <% if establishment.new_record? %>
        <%= link_to_function "Annuler la création de l'établissement", "this.up('.resource').remove()" %>
      <% elsif is_form_view? %>
        <%= link_to_function "Annuler la modification de l'établissement", "mark_resource_for_dont_update(this)" %>
      <% else %>
        <%= link_to_function "Fermer", "this.up('.resource_form').hide()" %>
      <% end %>

      <% if !establishment.new_record? and is_form_view? %>
        <%= form.hidden_field :id %>
        <%= form.hidden_field :should_destroy, :class => :should_destroy %>
        <%= form.hidden_field :should_hide, :class => :should_hide %>
        <%= form.hidden_field :should_update, :class => :should_update %>
      <% end %>
    </p>
  </div>
<% end %>
