<%
  require_locals form
  establishment = establishment_fields
  phone = establishment.phone || establishment.build_phone
  fax   = establishment.fax || establishment.build_fax
%>

<div>
  <p>
    <%= form.label :name %>
    <%= form.form_or_view(form.text_field(:name, :index => nil), :name ) %>
  </p>
  <p>
    <%= form.label :siret_number %>
    <%= form.form_or_view(form.text_field(:siret_number, :index => nil, :maxlength => 14), :siret_number) %>
  </p>
  
  <%= render :partial => "addresses/address_form", :object => establishment.address || establishment.build_address , :locals => { :address_owner => establishment, :force_show_view => form.force_show_view } %>
</div>

<div>
  <p>
    <%= form.label :establishment_type_id, nil, :required => :required %>
    <%= form.form_or_view(form.collection_select(:establishment_type_id, EstablishmentType.find(:all), :id, :name, { :include_blank => "Veuillez choisir un type d'établissement" }, :index => nil), :establishment_type, :name) %>
  </p>
  <!-- TODO when implementing the ajax reference retrieval do not forget to do so for thirds -->
  <p>
    <%= form.label :activity_sector_reference_id %>
    <%= form.form_or_view(form.collection_select(:activity_sector_reference_id, ActivitySectorReference.find(:all), :id, :code_and_short_name,
                                                 { :include_blank => "Veuillez choisir un secteur d'activité" }, :index => nil),
                                                 :activity_sector_reference, :code_and_short_name)%>
  </p>
  
  <%= render :partial => "numbers/number_lite", :object => phone, :locals => { :number_owner => establishment, :form => form, :one_or_many => :many } %>
  <%= render :partial => "numbers/number_lite", :object => fax, :locals => { :number_owner => establishment, :form => form, :one_or_many => :many} %>
  
  <% if form.form_view? %>
  <p>
    <%= form.label :logo %>
    <%= form.file_field :logo , :index => nil%>
  </p>
  <% end %>
</div>

<% if establishment.logo_file_name %>
  <div id="thirds_logo_container">
    <%= image_tag establishment.logo.url, :title => "Logo", :alt => "Logo" %>
  </div>
<% end %>
