<% content_for :header do %>
  <%= stylesheet_link_tag_with_theme_support "admin/service" %>
  <%= javascript_include_tag 'admin/schedules' if is_form_view? %>
<% end %>

<% if is_form_view? %>

  <h2>Informations du service :</h2>
  <% form_for(service) do |form| %>
    <%= form.error_messages %>
    <p>
      <%= form.label :name%>
      <%= form.form_or_view(form.text_field(:name),:name) %>
    </p>

    <p>
      <%= form.label :service_parent_id %>
      <%= form.form_or_view(form.collection_select_with_indentation(:service_parent_id, @services, :id, :name, options = {:indentation => 15}.merge(@options)),:parent,:name) %>
    </p>
    
    <h2>Horaires du service :</h2>
    
    <%= render :partial => 'schedules/schedule', :object => @schedules %>
    
    <%= form.form_buttons %>
  <% end %>
  
<% else %>
  
  <h2>Fiche du service</h2>
  <p>
    <label>Nom :</label>
    <%= strong( service.name )%>
  </p>
  <% unless service.parent.nil? %>
    <p>
      <label>Service responsable :</label>
      <%= strong(service.parent.name)%>
    </p>
  <% end %>
  <p>
    <%= responsable_find(@responsables) %>
  </p>
  
  <p>
  <div class="form_multiple_entries">
    <%= members(@members) %>
    <div class="collection">
    <% for member in @members%>
      <div class="object">
      <%=link_to( member.fullname,employee_path(member.id))%>
      </div>
    <% end%>
    </div>
  </div>
  <p>
  
  <h2>Horaires du service : <%= @schedules_service %></h2>
  <% if schedules_empty?(@schedules) %>
    <p>Les horaires de ce service ne sont pas définis</p>
  <% else %>
    <% days = days_group(days_sort(@schedules)) %>
    <% days.each_with_index do |schedule,index| %>
      <% unless index==0 %>
        <p>
          <strong><%= period(schedule.day)%></strong>
          : Le Matin de
          <strong><%= to_hour(schedule.morning_start) unless schedule.morning_start.nil? %></strong>
           à 
          <strong><%= to_hour(schedule.morning_end) unless schedule.morning_end.nil?%></strong>
          et l&apos;Apr&egrave;s&#45;midi de
          <strong><%= to_hour(schedule.afternoon_start) unless schedule.afternoon_start.nil?%></strong>
           à 
          <strong><%= to_hour(schedule.afternoon_end) unless schedule.afternoon_end.nil?%></strong>
        </p>  
      <% end %>
    <% end %>
  <% end %>   
  
<% end %>
