<h1>Configuration des param&egrave;tres de base de l'entreprise</h1>
<%= display_tabulated_menu %>

<% form_for(@service) do |service| %>
  <%= service.error_messages %>
  
  <div class="frame tabulation">
    <h1>Modifier un service</h1>
    <h2>Service :</h2>
    <p>
      <%= service.label :name, "Nom :"  %><br />
      <%= service.text_field :name %>
    </p>

    <p>
      <%= service.label :service_parent_id, "Service parent :" %>
      <%= service.collection_select(:service_parent_id, @services, :id, :name, options = {:prompt => "-- Racine --"})%>
    </p>
  </div> 
   
  <div class="frame">
    <h2>Horaires du service :</h2>
      
      <fieldset >
      <legend>Configurer les horaires</legend>
      <span class="date_days">
      <%=  javascript_tag "document.getElementById('periode1')"%>
      Du <%= day_select(0) %> au <%= day_select(1) %>
    </span>  
      <span class="alignment">
      <b>Matinée :</b>
        <%=text_field_tag 'morning_start[hour]',nil,:size=> 1,:maxlength =>2,:class => "disable-stylesheet-width"%> h
        <%=text_field_tag 'morning_start[minute]',nil,:size=> 1,:maxlength =>2,:class => "disable-stylesheet-width"%>&nbsp;-&nbsp; 
        <%=text_field_tag 'morning_end[hour]',nil,:size=> 1,:maxlength =>2,:class => "disable-stylesheet-width"%> h
        <%=text_field_tag 'morning_end[minute]',nil,:size=> 1,:maxlength =>2,:class => "disable-stylesheet-width"%>
      </span>&nbsp;
      <span class="alignment">
      <b>Apr&egrave;s midi :</b>
        <%=text_field_tag 'afternoon_start[hour]',nil,:size=> 1,:maxlength =>2,:class => "disable-stylesheet-width"%> h
        <%=text_field_tag 'afternoon_start[minute]',nil,:size=> 1,:maxlength =>2,:class => "disable-stylesheet-width"%>&nbsp;-&nbsp; 
        <%=text_field_tag 'afternoon_end[hour]',nil,:size=> 1,:maxlength =>2,:class => "disable-stylesheet-width"%> h
        <%=text_field_tag 'afternoon_end[minute]',nil,:size=> 1,:maxlength =>2,:class => "disable-stylesheet-width"%>
      </span>
      </fieldset>
      

    
  <table>
  <tr>
    <th></th>
    <th colspan="2">Matin</th>
    <th colspan="2">Apr&egrave;s-midi</th>
  </tr>
  <% days =[["Lundi",1],["Mardi",2],["Mercredi",3],["Jeudi",4],["Vendredi",5],["Samedie",6],["Dimanche",7]]%>
  <% days.each do |day|%>
    <tr>
      <td><%= day[0] + " " + day[1].to_s %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
  
  </table>
</div>
  <p>
    <%= service.submit "Mettre à jour" %> &#124; <%= link_to 'Retour', services_path %>
  </p>

<% end %>
