<h1>Modifier un service</h1>
<div class="cadre">

<% form_for(@service) do |service| %>
      <%= service.error_messages %>

  <p>
    <%= service.label :name, "Nom"  %><br />
    <%= service.text_field :name %>
  </p>

  <p>
    <%= service.label :service_parent_id, "Parent" %>
    <%= service.collection_select(:service_parent_id, @services, :id, :name, options = {:prompt => "-- Racine --"})%>
  </p>

  <p>
    <%= service.submit "Mettre à jour" %> &#124; <%= link_to 'Retour', services_path %>
  </p>
<% end %>
</div>
