<% secondary_menu POSSIBLE_ACTIONS do %>
  <%= show_service_add_button %>
  <%= show_service_add_button(@service,"New sub service") %>
  <%= show_service_view_button(@service)%>
	<%= show_service_delete_button(@service)%>
<% end %>
<% secondary_menu USEFUL_LINKS do %>
  <%= show_service_list_button %>
<% end %>

<h1>Configuration des param&egrave;tres de base de l&apos;entreprise</h1>
<%= display_tabulated_menu %>

<% content_for :header do %>
     <%= javascript_include_tag 'shedules' %>
<% end %>

<div class="frame tabulation presentation_medium">

  <%= render :partial => @service , :object => @service, :locals => {:button_name => "Modifier"}%>

</div>

