<h1>Configuration des param&egrave;tres de base de l'entreprise</h1>
<%= display_tabulated_menu %>

<% content_for :javascript do %>
     <%= javascript_include_tag 'shedules' %>
<% end %>

<div class="frame tabulation">
  <h1>Nouveau service</h1>
<% form_for(@service) do |service| %>
    <%= service.error_messages %>

  <p>
    <%= service.label :name, "Nom" %><br />
    <%= service.text_field :name %>
  </p>

  <p>
    <%= service.label :service_parent_id, "Parent" %>
    <% if @services.size == 0%>
      <%= service.collection_select(:service_parent_id, @services, :id, :name, options = {:prompt => "-- Racine --"})%>
    <% else %>
      <%= service.collection_select(:service_parent_id, @services, :id, :name, {}) %>
    <% end %>
  </p>
  
   
    <h3>Horaires du service :</h3>
      
      <fieldset id="fieldset_config">
      <legend>Configurer les horaires</legend>
      <span class="date_days">
        <%=  javascript_tag "document.getElementById('periode1')"%>
        <%= day_select(0) %> au <%= day_select(1) %>
      </span>&nbsp; 
      <span id="shedule_text_field"class="alignment">
        <b>Matinée :</b>
        <%=display_shedule_text_field('morning',1)%>
        &nbsp;
        <b>Apr&egrave;s midi :</b>
        <%=display_shedule_text_field('afternoon',5)%>
      </span>
      <span>
        &nbsp;<!--<%= link_to_remote( '(+)',:url=>{:action=>'configure_schedule' },:href=>(url_for :action=>'configure_schedule'),:confirm => 'Ceci va appliquer les modification au tableau horaire continuer ?')%>-->
        <a onclick="modify_schedule();">(↓)</a>
      </span>
      
      </fieldset>

    
  <table id="shedules_array">
    <tr>
      <th></th>
      <th colspan="2">Matin</th>
      <th colspan="2">Apr&egrave;s-midi</th>
    </tr>
    <% default_days = Time::DEFAULT_DAYS_ARRAY %>
    <% params[:schedules].nil? ? days = default_days : days = format_param(params[:schedules])%>
    <% days.each_with_index do |elmnt,index|%>
      <% unless index==0%>
      <%="<tr id='t_" + elmnt['day'] + "'>" %>
        <%="<td name=" + elmnt['day'] + ">" %><%= elmnt['day']%></td>
        <%="<td name=" + elmnt['day'] + ">" %><%= to_hour(elmnt['morning_start'].to_f) unless elmnt['morning_start'].nil? %></td>
        <%="<td name=" + elmnt['day'] + ">" %><%= to_hour(elmnt['morning_end'].to_f) unless elmnt['morning_end'].nil?%></td>
        <%="<td name=" + elmnt['day'] + ">" %><%= to_hour(elmnt['afternoon_start'].to_f) unless elmnt['afternoon_start'].nil?%></td>
        <%="<td name=" + elmnt['day'] + ">" %><%= to_hour(elmnt['afternoon_end'].to_f) unless elmnt['afternoon_end'].nil?%></td>
      </tr>
      <%end%>
    <% end %>
  </table>
  <%= hidden_field_tag "schedules[1]", 'H | H | H | H |' %>
  <%= hidden_field_tag "schedules[2]", 'H | H | H | H |' %>
  <%= hidden_field_tag "schedules[3]", 'H | H | H | H |' %>
  <%= hidden_field_tag "schedules[4]", 'H | H | H | H |' %>
  <%= hidden_field_tag "schedules[5]", 'H | H | H | H |' %>
  <%= hidden_field_tag "schedules[6]", 'H | H | H | H |' %>
  <%= hidden_field_tag "schedules[7]", 'H | H | H | H |' %>
  
</div>  
  <p>
    <%= service.submit "Créer" %> &#124; <%= link_to 'Retour', services_path %>
  </p>
<% end %>

