<% add_contextual_menu_item :possible_actions do %>
  <%= new_service_link_with_parent(@service, "Nouveau service")%>
  <%= edit_service_link(@service) %>
  <%= delete_service_link(@service) if @service.can_be_destroyed?%>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= services_link %>
<% end %>

<h1>Fiche détaillée du service</h1>

<div class="presentation_medium">
  <%= render :partial => @service %>
</div>
