<% secondary_menu POSSIBLE_ACTIONS do %>
	<%= show_service_add_button %>
  <%= show_service_add_button_with_parent(@service,"New sub service")%>
  <%= show_service_edit_button(@service) %>
  <%= show_service_delete_button(@service) if @service.can_be_destroyed?%>
<% end %>
<% secondary_menu USEFUL_LINKS do %>
  <%= show_service_list_button %>
<% end %>

<h1>Configuration des param&egrave;tres de base de l&apos;entreprise</h1>
<%= display_tabulated_menu %>


<div  class="frame tabulation presentation_medium">
  <h2>Fiche du service</h2>
  <p>
    <label>Nom &#58;</label>
    <%= strong( @service.name )%>
  </p>
  <p>
    <%unless @service.parent.nil?%>
    <label>Service responsable &#58;</label>
    <%= strong(@service.parent.name)%>
    <%end%>
  </p>
  <p>
    <%= responsable_find(@responsables)%>
  </p>
  
  <p>
  <div class="form_multiple_entries">
    <%= members(@members) %>
    <div class="collection">
    <% for member in @members%>
      <div class="object">
      <%=link_to( member.fullname,employee_path(member.id))%>
      </div>
    <% end%>
    </div>
  </div>
  <p>
  
  <h2>Horaires du service : <%= @schedules_service%></h2>
  <%if schedules_empty?(@schedules) %>
    <p><strong>Aucun Horaires définis!</strong></p>
  <% else %>
      <% days = days_group(days_sort(@schedules)) %>
      <% days.each_with_index do |schedule,index|%>
        <%unless index==0%>
          <p>
            <strong><%= period(schedule.day)%></strong>
            : Le Matin de
            <strong><%= to_hour(schedule.morning_start) unless schedule.morning_start.nil? %></strong>
             à 
            <strong><%= to_hour(schedule.morning_end) unless schedule.morning_end.nil?%></strong>
            et l&apos;Apr&egrave;s&#45;midi de
            <strong><%= to_hour(schedule.afternoon_start) unless schedule.afternoon_start.nil?%></strong>
             à 
            <strong><%= to_hour(schedule.afternoon_end) unless schedule.afternoon_end.nil?%></strong>
          </p>  
        <% end %>
      <% end %>
    </table>
  <% end %>   
  
  
</div>
