<% owner_type = menu_owner.class.name.downcase %>

<% fields_for "#{owner_type}[menu_attributes]", menu = menu_form do |form| %>

<h2>Information concerant le menu</h2>
<%= form.error_messages %>

<p>
  <%= form.label :title %>
  <%= form.text_field :title %>
</p>
<p>
  <%= form.label :description %>
  <%= form.text_field :description  %>
</p>
<p>
  <%= form.label :parent_id %>
  <%= form.collection_select_with_indentation(:parent_id, @menus, :id, :title, {:include_blank => "-- Racine --", :indentation => 15}) %>
<p>
<% end %>
