<fieldset>
<p><%=menu.label :title, "Titre"%><br/>
<%= menu.text_field :title  %></p>

<p><%=menu.label :description, "Description"%><br/>
<%= menu.text_field :description  %></p>

<p><%=menu.label :parent_id%><br/>
<%= menu.collection_select(:parent_id, @menus, :id, :title,options = {:include_blank => '-- Racine --'})%>
</fieldset>

