<%
menu_owner ||= nil
if menu_owner
  owner_type = menu_owner.class.singularized_table_name
  field_name = "#{owner_type}[menu_attributes]"
else
  field_name = 'menu'
end
%>

<% fields_for field_name, menu do |form| %>
  <%= form.error_messages %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </p>
  <p>
    <%= form.label :parent_id %>
    <%= form.collection_select_with_indentation(:parent_id, Menu.get_structured_menus, :id, :title, {:indentation => 15, :include_blank => "-- Racine --"}) %>
  </p>
  <p>
    <%= form.label :separator %>
    <%= form.select(:separator, { "Avant" => "before", "Après" => "after" }, :include_blank => "Non") %>
  </p>
<% end %>
