<%= menu.error_messages %>
<p>
  <%= menu.label :title, "Titre :"%>
  <%= menu.text_field :title  %>
</p>
<p>
  <%= menu.label :description, "Description :"%>
  <%= menu.text_field :description %>
</p>
<p>
  <%= menu.label :parent_id, "Menu parent :" %>
  <%= menu.collection_select_with_indentation(:parent_id, @menus, :id, :title, {:indentation => 15, :include_blank => "-- Racine --"}) %>
</p>
<%= menu.submit submit_button_name %> <%= link_to 'Retour', menus_path %>