<div class="presentation_medium">
<% form_for(@menu) do |form| %>
  <%= form.error_messages %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </p>
  <p>
    <%= form.label :parent_id %>
    <%= form.collection_select_with_indentation(:parent_id, @menus, :id, :title, {:indentation => 15, :include_blank => "-- Racine --"}) %>
  </p>
  <p><%= form.submit submit_button_name %></p>
<% end %>
</div>                                                                  
