<% add_contextual_menu_item :possible_actions do %>
  <%= new_menu_link_with_parent(@menu) %>
	<%= delete_menu_link(@menu) unless @menu.base_item?%>
<% end %>

<% add_contextual_menu_item :useful_links do %>
	<%= menus_link %>
<% end %>

<h1>Modifier un menu</h1>
<div class="presentation_medium">
  <% form_for(@menu) do |form| %>
    <%= render :partial => @menu %>
    <%= form.form_buttons %>
  <% end %>
</div>
