<% contextual_menu POSSIBLE_ACTIONS do %>
  <%= new_menu_link_with_parent(@menu) %>
	<%= delete_menu_link(@menu) unless @menu.base_item?%>
<% end %>

<% contextual_menu USEFUL_LINKS do%>
	<%= menus_link %>
<% end %>

<h1>Modifier un menu</h1>
<div class="presentation_medium">
  <% form_for(@menu) do |form| %>
    <%= render :partial => @menu %>
    <p><%= form.submit "Mettre à jour" %></p>
  <% end %>
</div>
