<h1>Modifier un menu</h1>
<div class="frame">
<%=@menu.title%>
<% form_for(@menu) do |menu| %>
  <%= menu.error_messages %>
  <%= render :partial => 'menu', :locals => {:menu => menu} %>
  <%= menu.submit 'Mettre à jour' %> <%= link_to 'Retour', menus_path %>
<% end %> 
</div>