<% content_for :header do %>
  <%= stylesheet_link_tag '/javascripts/lert-1.0/lert.css' %>
  <%= stylesheet_link_tag 'mini-calendar-skins/calendar-blue' %>
  <%= stylesheet_link_tag 'calendar' %>
  
  <%= javascript_include_tag 'resize' %>
  <%= javascript_include_tag 'calendars/osirails_calendar' %>
  <%= javascript_include_tag 'lert-1.0/lert.js' %>
<% end %>

<% add_contextual_menu_item :calendar, :force_not_list => true do %>
<div id="mini_calendar"></div>
<script type="text/javascript">
Calendar.setup({
	flat : "mini_calendar",
	onSelect: function (cal) {
		var year = cal.date.print("%Y");
		var month = cal.date.print("%m");
		var day = cal.date.print("%d");
		ajax_link('/calendars/' + db_calendar_id + '?period=' + period + '&year=' + year + '&month=' + month + '&day=' + day);
	}
});
</script>
<% end %>

<%= title @calendar.title %>

<div id="calendar" class="presentation_calendar">
	<div id="top"></div>
	<div class="calendar-buttons">
		<span id="navig_today" class="cal-buttons" onclick="ajax_link('/calendars/' + db_calendar_id + '/' + period);">Aujourd'hui</span>
		<div id="navig">
			<div class="cal-prev" onclick="ajax_link(link_period_before);"></div>
			<span class="cal-buttons<%= ' selected' if params[:period] == 'day' %>" onclick="navig_selected(link_period_day, this);">jour</span>
			<span class="cal-buttons<%= ' selected' if params[:period] == 'week' %>" onclick="navig_selected(link_period_week, this);">semaine</span>
			<span class="cal-buttons<%= ' selected' if params[:period] == 'month' %>" onclick="navig_selected(link_period_month, this);">mois</span>
			<div class="cal-next" onclick="ajax_link(link_period_after);"></div>
		</div>
	</div>

	<div id="calendar_yield"></div>
	<div id="event_box">
		<%= image_tag("close_icon.png", :class => "close", :onclick => "hide_event_box()") %>
		<div id="event_box_content" onkeypress="if(event.keyCode == 13) return false;"></div>
	</div>
	<script type="text/javascript">
	ajax_link("<%= navigation(params[:period]) %>");
	new Draggable('event_box');
	</script>
</div>
