<% require_locals checklist, end_product %>

<div class="autoscroll">
  <table class="survey_checklist">
    <thead>
      <tr>
        <th>Points de contrôle</th>
        <th>Informations / Commentaires</th>
      </tr>
    </thead>
    
    <% for criterion in checklist.checklist_options.reject(&:parent) %>
      <tbody>
        <tr class="group criterion">
          <td colspan="2"><%= criterion.title %></td>
        </tr>
        <% for checklist_option in criterion.children %>
          <tr>
            <% response = ChecklistResponse.find_by_checklist_option_id_and_end_product_id(checklist_option.id, end_product.id) || ChecklistResponse.new(:checklist_option_id => checklist_option.id, :end_product_id => end_product.id) %>
            <td class="checkpoint"><%= checklist_option.title %></td>
            <td class="response">
              <% fields_for "end_product[#{end_product.id}][checklist_responses_attributes][]", response do |form| %>
                <%= form.text_area_autoresize :answer, :rows => 2, :cols => 80, :index => nil %>
                <%= form.hidden_field :checklist_option_id, :index => nil %>
                <%= form.hidden_field :id, :index => nil %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </table>
</div>
