<% content_for :header do %>
  <%= stylesheet_link_tag_with_theme_support 'sales/sales' %>
<% end %>

<%= generate_shared_contextual_menu_partial %>

<h1>Les dossiers en Étude Commerciale</h1>

<div>
  <% if @orders.empty? %>
    <p>Aucun dossier actuellement en Étude Commerciale</p>
  <% else %>
    <div class="autoscroll">
      <table class="order_list" id="orders">
        <thead>
          <tr>
            <th>N° Dossier</th>
            <th>Type dossier</th>
            <th>Date de cr&eacute;ation</th>
            <th>Commercial</th>
            <th>Nom projet</th>
            <th>Client</th>
            <th>Ville(s) d'intervention</th>
            <th>Date butoire du devis</th>
            <th>Devis sign&eacute; le</th>
            <th>Avancement</th>
            <th>Date prév. de livraison</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for order in @orders %>
            <tr class="<%= order.critical_status %>">
              <td><%= link_to(order.reference, order, :title => "Voir ce dossier") %></td>
              <td><%= order.order_type.title %></td>
              <td><%= l(order.created_at.to_date, :format => :short) %></td>
              <td><%= link_to(order.commercial.fullname, order.commercial, :title => "Voir fiche employé") %></td>
              <td><%= link_to(order.title, order, :title => "Voir ce dossier") %></td>
              <td><%= link_to("#{order.customer.name}", order.customer, :title => "Voir fiche client") %></td>
              <td><%= display_intervention_cities_for(order)%></td>
              <td><%= l(order.quotation_deadline, :format => :short) %></td>
              <td><%= order.signed_quote ? l(order.signed_quote.signed_on, :format => :short) : "&nbsp;"%></td>
              <td><object data="<%= formatted_order_path(order, 'svg', {:for => 'understep'}) %>" type="image/svg+xml" style="width: 32px; height: 32px;"></object></td>
              <td><%= l(order.previsional_delivery, :format => :short) %></td>
              <td><%= order_link(order, :link_text => "") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
