<div class="frame presentation_medium">

<% if is_edit_view? %>
  <% form_for @customer, :html => { :multipart => true } do |form| %>
    <%= form.error_messages %>
    <%= render :partial => 'thirds/third_form', :object => @customer %>

    <%= display_establishments_list(@customer.activated_establishments) %>
    <%= display_establishment_add_button %>

    <% #display_contacts_and_add_contact_button(@customer, @contacts, params, @new_contact_number, @error)
    %>
    <%= display_contacts_list(@customer) %>
    <%= display_contact_add_button(@customer) %>

    <%# display_documents_and_add_documents_button(@customer, @documents, params, @new_document_number, @error) %>

    <%= form.submit submit_button_name %>
  <% end %>

  <%= link_to 'Retour', customers_path %>
<% else %>
  <%= render :partial => 'thirds/third', :object => @customer %>
<% end %>

</div>