<div class="frame presentation_medium">

<h2>Informations g&eacute;n&eacute;rales</h2>
<% if is_form_view? %>
  <% form_for @customer, :html => { :multipart => true } do |form| %>
    <%= render :partial => 'thirds/third', :object => @customer %>

    <%= display_establishments_list(@customer) %>
    <%= display_establishment_add_button(@customer) %>

    <%= display_contacts_list(@customer) %>
    <%= display_contact_add_button(@customer) %>
    
    <h2>Documents</h2>
    <%= display_documents_list(@customer) %>
    <%= display_document_add_button(@customer) %>
    
  <p>
    <%= form.reset 'Annuler' %>
    <%= form.submit submit_button_name %>
  </p>
  <% end %>  
<% else %>
  <%= render :partial => 'thirds/third', :object => @customer %>
  <%= display_establishments_list(@customer) %>
  <%= display_contacts_list(@customer) %>
  
  <h2>Documents</h2>
  <%= display_documents_list(@customer) %>
<% end %>

</div>
