<% content_for :header do %>
  <%= javascript_include_tag "thirds/thirds" %>
<% end %>

<% contextual_search_for_customer %>

<% add_contextual_menu_item :possible_actions do %>
  <%= new_customer_link %>
  <%= customer_link(@customer)%>
  <%= delete_customer_link(@customer)%>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= customers_link%>
<% end %>

<h1>Modifier un client</h1>
<%= render :partial => @customer, :locals => { :submit_button_name => "Mettre à jour"} %>

<!-- Osibox initialisation -->
<%#osibox_initialisation(@customer, "/customers/#{@customer.id}/documents/")
%>
