<h1>Modifier un client </h1>
<div class="frame presentation_medium">

<% form_for(@customer,  :html => { :multipart => true}) do |customer| %>
    
  <%= customer.error_messages %>
  <!-- Display customer infos -->
  <%= render :partial => 'thirds/third', :locals => {:third => customer, :third_ => @customer, :activity_sector_name => @activity_sector} %>

  <!-- Display Establishments div -->
  <%= display_establishment_and_add_establishment_button(@customer, @establishments, params, @new_establisment_number, @error)%>
 
  <!-- Display Contacts div -->
  <%= display_contacts_and_add_contact_button(@customer, @contacts, params, @new_contact_number, @error)%>
   
  <!-- Display Documents div -->
  <%= display_documents_and_add_documents_button(@customer, @documents, params, @new_document_number, @error) %>
  
  <%= customer.submit  'Modifier' %>
  </div>

<% end %>
<%= link_to 'Retour', :action => 'index' %>
  
<!-- Osibox initialisation -->
<%= osibox_initialisation(@customer, "/customers/#{@customer.id}/documents/")%>