<% content_for :secondary_menu do %>
  <%= display_customer_add_button %>
<% end %>

<h1> Liste des clients </h1>

<div class="frame">
  <% unless @customers.empty?%>
    <table>
      <tr>
        <th>Nom</th> 
        <th>Secteurs d'activités</th>
        <th>Note</th>
        <th>Actions</th>
      </tr>

      <%for customer in @customers%>
        <tr>
          <td><%= customer.name %></td>
          <td><%= customer.activity_sector.name unless  customer.activity_sector.nil?%></td>
          <td><%= customer.note %></td>
          <td>
            <%= display_customer_view_button(customer) %> 
            <%= display_customer_edit_button(customer) %>
            <%= display_customer_delete_button(customer) %>
          </td>
        </tr>
    <%end%>
  <%end%>
  </table>
</div>