<% contextual_menu POSSIBLE_ACTIONS do %>
  <%= new_customer_link %>
<% end %>

<h1> Liste des clients </h1>

<div>
  <% unless @customers.empty?%>
    <table>
      <tr>
        <th>Nom</th> 
        <th>Secteurs d&apos;activités</th>
        <th>Note</th>
        <th>Actions</th>
      </tr>

      <%for customer in @customers%>
        <tr>
          <td><%= customer.name %></td>
          <td><%= customer.activity_sector.name unless  customer.activity_sector.nil?%></td>
          <td><%= customer.note %></td>
          <td>
            <%= customer_link(customer, :link_text => "") %> 
            <%= edit_customer_link(customer, :link_text => "") %>
            <%= delete_customer_link(customer, :link_text => "") %>
          </td>
        </tr>
    <%end%>
  <%end%>
  </table>
</div>
