<% contextual_search_for_customer %>

<% add_contextual_menu_item :possible_actions do %>
  <%= new_customer_link %>
  <%= edit_customer_link(@customer)%>
  <%= delete_customer_link(@customer)%>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= customers_link %>
<% end %>

<h1>Informations concernant le client</h1>
<%= render :partial => @customer %>
