<% contextual_search_for_customer %>

<% add_contextual_menu_item :possible_actions do %>
  <%= new_customer_link(:link_text => "Nouveau client") %>
  <%= edit_customer_link(@customer, :link_text => "Modifier le client" )%>
  <%= delete_customer_link(@customer, :link_text => "Supprimer le client" )%>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= customers_link(:link_text => "Voir tous les clients") %>
<% end %>

<h1>Fiche d&eacute;taill&eacute;e du client</h1>
<%= render :partial => @customer %>
