<% content_for :secondary_menu do %>
  <%= show_action_menu(@customer)%>
<% end %>

<h1>Informations concernant le client </h1>

<div class="frame presentation_medium">

  <h2> Informations g&eacute;n&eacute;rales</h2>

  <p>
    <%= label :customer, :name, "Nom :" %>
    <strong><%= @customer.name %></strong>
  </p>
  <p>
    <%= label :customer, :legal_form, "Forme juridique :" %>
    <strong><%= LegalForm.find(@customer.legal_form_id).name %></strong>
  </p>
  <p>
    <%= label :customer, :siret_number, "Num&eacute;ro Siret :" %>
    <strong><%= @customer.siret_number %></strong>
  </p>
  <p>
    <%= label :customer, :activity_sector, "Secteur d'activit&eacute; :" %>
    <strong><%= @customer.activity_sector.name %></strong>
  </p>
  <p>
    <%= label :customer, :activities, "Activit&eacute;s :" %>
    <strong><%= @customer.activities %></strong>
  </p>
  <p>
    <%= label :customer, :note, "Note :" %>
    <strong><%= @customer.note %></strong>
  </p>

  <h2> Informations bancaires</h2>
  <p>
    <%= label :customer, :payment_method, "Moyen de paiement pr&eacute;f&eacute;r&eacute; :" %>
    <strong><%= @customer.payment_method.name%></strong>
  </p>
  <p>
    <%= label :customer, :payment_timit_limit, "D&eacute;lai de paiement pr&eacute;f&eacute;r&eacute; :" %>
    <strong><%= @customer.payment_time_limit.name%></strong>
  </p>

  <!-- Show Customer establishments -->
  <%= display_establishments(@customer, @establishments)%>

  <!-- Show Customer Contacts -->
  <%= display_contacts(@customer, @contacts)%>
    
  <!-- Show Customer Documents -->
  <%= display_documents(@customer, @documents)%>
  
</div>

<%= link_to 'Retour', :action => 'index' %>