<% secondary_menu POSSIBLE_ACTIONS do %>
  <%= show_customer_add_button %>
  <%= show_customer_edit_button(@customer)%>
  <%= show_customer_delete_button(@customer)%>
<% end %>

<% secondary_menu USEFUL_LINKS do %>
  <%= show_customer_list_button %>
<% end %>

<h1>Informations concernant le client</h1>
<%= render :partial => @customer %>
