<% secondary_menu POSSIBLE_ACTIONS do %>
  <%= new_customer_link %>
  <%= edit_customer_link(@customer)%>
  <%= delete_customer_link(@customer)%>
<% end %>

<% secondary_menu USEFUL_LINKS do %>
  <%= customers_link %>
<% end %>

<h1>Informations concernant le client</h1>
<%= render :partial => @customer %>
