<% content_for :secondary_menu do %>
  <%= display_customer_action_menu(@customer)%>
<% end %>

<h1>Informations concernant le client </h1>
<%= render :partial => @customer %>

<div class="frame presentation_medium">

  <h2> Informations g&eacute;n&eacute;rales</h2>

  <p>
    <%= label :customer, :name, "Nom :" %>
    <strong><%= @customer.name %></strong>
  </p>
  <p>
    <%= label :customer, :legal_form, "Forme juridique :" %>
    <strong><%= @customer.legal_form.name %></strong>
  </p>
  <p>
    <%= label :customer, :siret_number, "Num&eacute;ro Siret :" %>
    <strong><%= @customer.siret_number %></strong>
  </p>
  <p>
    <%= label :customer, :activity_sector, "Secteur d'activit&eacute; :" %>
    <strong><%= @customer.activity_sector.name %></strong>
  </p>
  <p>
    <%= label :customer, :activities, "Activit&eacute;s :" %>
    <strong><%= @customer.activities %></strong>
  </p>
  <p>
    <%= label :customer, :note, "Note :" %>
    <strong><%= @customer.note %></strong>
  </p>

  <h2> Informations bancaires</h2>
  <p>
    <%= label :customer, :payment_method, "Moyen de paiement pr&eacute;f&eacute;r&eacute; :" %>
    <strong><%= @customer.payment_method.name unless @customer.payment_method.nil? %></strong>
  </p>
  <p>
    <%= label :customer, :payment_timit_limit, "D&eacute;lai de paiement pr&eacute;f&eacute;r&eacute; :" %>
    <strong><%= @customer.payment_time_limit.name unless @customer.payment_time_limit.nil? %></strong>
  </p>

  <!-- Display Customer establishments -->
  <%#  display_establishments(@customer, @establishments)%>
  <%= display_establishments_list(@customer.activated_establishments) %>

  <!-- Display Customer Contacts -->
  <%# display_contacts(@customer, @contacts)%>
    
  <!-- Display Customer Documents -->
  <%# display_documents(@customer, @documents)%>
  
</div>

<%= link_to 'Retour', customers_path %>