<% secondary_menu POSSIBLE_ACTIONS do %>
  <%= show_customer_add_button %>
  <%= show_third_edit_button(@customer, "Edit current %")%>
  <%= show_third_delete_button(@customer,"Delete current %")%>
<% end %>

<% secondary_menu USEFUL_LINKS do %>
  <%= link_to "Liste des clients", customers_path%>
<% end %>

<h1>Informations concernant le client</h1>
<%= render :partial => @customer %>
