<% purchase_request_supply = grouped_by_purchase_request_supply %>
<% supply = purchase_request_supply.supply if purchase_request_supply.supply_id %>
<tr>
  <td><%= supply.reference if supply %></td>
  <td><%= supply.designation if supply %></td>
  <td><%= "#{supply.measure.to_f.to_s(2)}&#160;m²" if supply and supply.measure %></td>
  <td><%= "#{supply.unit_mass.to_f.to_s(2)}&#160;kg" if supply and supply.unit_mass %></td>
  <td <%= 'class="warning"' if supply and (supply.stock_quantity < supply.threshold) %>><%= (supply.stock_quantity.to_s + "/" + supply.threshold.to_i.to_s) if supply %></td>
  <td><%= purchase_request_supply.expected_quantity %></td>
  <td><%= display_active_purchase_requests_having_this_supply(supply) if supply %></td>
  <td><%= display_purchase_request_supply_expected_date(purchase_request_supply) %></td>
  <td></td>
  <td><%= check_box_tag purchase_request_supply.id %></td>
  <%= " <td rowspan=\"#{purchase_request_supplies_size}\"></td>" if grouped_by_purchase_request_supply_counter == 1 %>
</td>
