<% merged_kept_purchase_request_supplies = PurchaseRequestSupply.merge_kept_purchase_request_supplies_by_supplier(supplier) %>

<h3>Fournisseur : <%= supplier.name%></h3>
<table>
  <thead>
    <tr>
      <th>Référence</th>
      <th>Désignation</th>
      <th>En stock/Seuil</th>
      <th>PU TTC</th>
      <th>Total des quantités demandées</th>
      <th>Prix total TTC</th>
      <th>Grandeur /U</th>
      <th>Masse /U</th>
      <th>Délai de livraison</th>
    </tr>
  </thead>
  <tbody>
    <!--render :partial => "purchase_request_supplies/array_body_for_purchase_request_supplies_listed_by_supplier", :collection => merged_kept_purchase_request_supplies %> -->
    <% merged_kept_purchase_request_supplies.each { |key , value| %>
      <tr>
        <td><%= value[:reference] %></td>
        <td><%= value[:designation] %></td>
        <td><%= value[:stock_quantity] %>/<%= value[:threshold] %></td>
        <td><%= value[:fob_unit_price]*((100 + value[:taxes]) /100) %></td>
        <td><%= value[:total_expected_quantity] %></td>
        <td><%= value[:total_expected_quantity]* ( value[:fob_unit_price]*((100 + value[:taxes]) /100)) %></td>
        <td><%= value[:measure] %></td>
        <td><%= value[:unit_mass] %></td>
        <td><%= value[:lead_time] %></td>
      </tr>
    <% } %>
  </tbody>
</table>
<% total_sum = 0 %>
<% merged_kept_purchase_request_supplies.each { |key , value| %>
      <% total_sum += value[:total_expected_quantity]* ( value[:fob_unit_price]*((100 + value[:taxes]) /100)) %>
<% } %>
<p>Somme des totaux : <%= total_sum %> €</p>
