<% fields_for "purchase_request[purchase_request_supply_attributes][]", purchase_request_supply = purchase_request_supply_in_one_line do |f|%>
  <tr <% if f.form_view? %>
        <%="class='purchase_request_supply resource'"  %> 
      <% elsif purchase_request_supply.cancelled? %>
        <%="class=disabled" %>
      <% end %> >
    <td style="display:none;">
      <%= f.hidden_field(:supply_id)%>
    </td>
    
    <td>
       <%= purchase_request_supply.supply.designation %>
    </td>
    <td>
      <% if f.form_view? %>
        <%= f.text_field(:expected_delivery_date, :size => 8) %>
      <% else %>
        <%= purchase_request_supply.expected_delivery_date.humanize %>
      <% end %>
    </td>
    <td>
      <% if f.form_view? %>
        <%= f.text_field(:expected_quantity, :size => 5) %>
      <% else %>
        <%= purchase_request_supply.expected_quantity %>
      <% end %>
    </td>
    <td>
      <% if f.form_view? %>
         <%= link_to_function(image_tag("cross_16x16.png"), "if (confirm('Êtes-vous sûr ?')) this.up('.resource').remove()") %>
      <% else %>
        <%= check_request_supply_status(purchase_request_supply) %>
      <% end %>
    </td>
    <% unless f.form_view? %>
      <td><%= display_associated_purchase_order(purchase_request_supply) %></td>
      <td>
      <% if purchase_request_supply.can_be_cancelled? %>
        
        <%= link_to( image_tag( "cancel_16x16.png",
                        :alt => text = "Annuler cette fourniture",
                        :title => text ),
              purchase_request_cancel_supply_path(purchase_request_supply.purchase_request_id, purchase_request_supply.id),
             :confirm => "Êtes-vous sûr ?" )%>
        
      <%else%>
         &nbsp;
      <% end %>
      </td>
    <% end %>
  </tr>
<% end  %>
