<% add_contextual_menu_item :possible_actions do %>
  <%= new_factor_link(:link_text => "Nouveau factor") %>
<% end %>

<h1>Les factors (sociétés d'affacturage)</h1>

<div>
  <% unless @factors.empty? %>
    <table>
      <thead>
        <tr>
          <th>Nom</th> 
          <th>Nom complet</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% for factor in @factors %>
          <tr>
            <td><%= factor.name %></td>
            <td><%= factor.fullname %></td>
            <td>
              <%= factor_link(factor, :link_text => "") %> 
              <%= edit_factor_link(factor, :link_text => "") %>
              <%= delete_factor_link(factor, :link_text => "") %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @factors %>
  <% else %>
    <p>Aucune société d'affacturage n'a été trouvée</p>
  <% end %>
</div>
