<% add_contextual_menu_item :possible_actions do %>
  <%= new_factor_link(:link_text => "Nouveau factor") %>
<% end %>

<% title_context "Tiers" %>
<%= title "Les factors (sociétés d'affacturage)" %>

<div>
  <% unless @factors.empty? %>
    <table>
      <thead>
        <tr>
          <th>Nom</th> 
          <th>Nom complet</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% for factor in @factors %>
          <tr>
            <td class="name text"><%= factor.name %></td>
            <td class="fullname text"><%= factor.fullname %></td>
            <td class="actions">
              <%= factor_link(factor, :link_text => "") %> 
              <%= edit_factor_link(factor, :link_text => "") %>
              <%= delete_factor_link(factor, :link_text => "") %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @factors %>
  <% else %>
    <p>Aucune société d'affacturage n'a été trouvée</p>
  <% end %>
</div>
