<%= link_to_remote("supprimer", :url => {:action => "delete_new_contact", :id => i+1}) %>
<p><%= label :new_contact, "Nom" %><br/>
<%= text_field("new_contact#{i+1}","first_name") %></p>
 <p><%= label :new_contact, "Prénom" %><br/>
 <%= text_field("new_contact#{i+1}","last_name")%></p>
<p><%=label :new_contact, "Type de contact"%><br/>
<%= select("new_contact#{i+1}", "has_contact_type",["Client","Etablissement"].collect {|a| [ a, a]})%></p>
<%= select("new_contact#{i+1}", "type", ContactType.find(:all, :conditions => ["owner = ?", "Customer"]).collect {|a| [ a.name, a.name]})%></p>
<%= hidden_field("valid_contact_#{i+1}", "value", "value" => 'true')%>

<%= observe_field "new_contact#{i+1}_has_contact_type",
        :frequency => 1,
        :url=>{:action=>'new_contact_type_change', :cpt => i+1},
        :with => "'values='+escape(value)"
%>