<%= link_to_remote("supprimer", :url => {:action => "delete_new_contact", :id => i+1}) %>
<p><%= label :new_establishment, "Nomtest1 du nouvel établissement" %><br/>
<%= text_field("new_establishment#{i+1}","name")%></p>
 <p><%= label :new_establishment, "Type de client" %><br/>
<%= select("new_establishment#{i+1}", "establishment_type_id",EstablishmentType.find(:all).collect {|a| [ a.wording, a.id ] },{"include_blank" => 'None'})%></p>
<p><%= label :new_address, "Address1" %><br/>
<%= text_field("new_establishment_address#{i+1}","address1")%></p>
<p><%= label :new_address, "Address2" %><br/>
<%= text_field("new_establishment_address#{i+1}","address2")%></p>
<p><%= label :new_address, "country_name" %><br/>
<%= select("new_establishment_address#{i+1}", "country_name",Country.find(:all).collect {|a| [ a.name, a.name ] })%></p>
<p><%= label :new_address, "city_name" %><br/>
<%= select("new_establishment_address#{i+1}", "city_name",City.find(:all).collect {|a| [ a.name, a.name ] })%></p>
<p><%= label :new_address, "zip_code" %><br/>

<%= hidden_field("valid_establishment_#{i+1}", "value", "value" => 'true')%>