<p><%= label :establishment, "Nom de l'etablissement" %><br/>
<%= text_field("establishment#{establishment.id}","name","value" => establishment.name) %>
<p><%= label :establishment, "Type de client" %><br/>
<%= select("establishment#{establishment.id}", "establishment_type_id",EstablishmentType.find(:all).collect {|a| [ a.wording, a.id ] },:selected => establishment.establishment_type_id)%></p>
<p><%= label :address, "Address1" %><br/>
<%= text_field("establishment#{establishment.id}_address","address1", "value" => establishment.address.address1)%></p>
<p><%= label :address, "Address2" %><br/>
<%= text_field("establishment#{establishment.id}_address","address2", "value" => establishment.address.address2)%></p>
<div id="address">
<p><%= label :address, "Country_name" %><br/>
<%= my_text_field_with_auto_complete(:country, :name, {:index => establishment.id, :size => 15, :value => "#{establishment.address.country_name}"}) -%>
<%= hidden_field(:country, :name, "value" => 2)%>

<p><%= label :address, "City_name" %><br/>
<div <%="id=auto_city_#{establishment.id}"%>>
  <%= my_text_field_with_auto_complete(:city, :name, {:index => establishment.id, :country_id => 1, :size => 15, :value => "#{establishment.address.city_name}"}) -%>
</div>

<p><%= label :address, "City_zip_code" %><br/>
<div <%="id=auto_zip_code_#{establishment.id}"%>>
<%= my_text_field_with_auto_complete(:city, :zip_code, {:index => establishment.id, :country_id => 1, :size => 15, :value => "#{City.find_by_name(establishment.address.city_name).zip_code}"}) -%>
</div>

<br/>
</p>
<%= observe_field "country_#{establishment.id}_name",
        :update => "city_7_name",
        :frequency => 2,
        :url=>{:action=>'country_change', :establishment_id => establishment.id},
         :with => "'values='+escape(value)"
%>
<div id='test_city'>
<%= observe_field "city_#{establishment.id}_name",
        :update => "city_#{establishment.id}_zip_code",
        :frequency => 1,
        :url=>{:action=>'city_change', :establishment_id => establishment.id},
        :with => "'values='+ $('country_name').value"
%>
</div>
      <%= observe_field "city_#{establishment.id}_zip_code",
        :update => "city_#{establishment.id}_name",
        :frequency => 1,
        :url=>{:action=>'zip_code_change', :establishment_id => establishment.id},
        :with => "'values='+escape(value)"
%>
<script type="test/javascript">
  
</script>


</div>
<%= link_to_remote("supp_form", :url => {:action => "supp_form", :id => establishment.id}) %>
