<%= link_to_remote("supprimer", :url => {:action => "delete_new_form", :id => i+1}) %>
<p><%= label :new_establishment, "Nom du nouvel établissement" %><br/>
<%= text_field("new_establishment#{i+1}","name") %></p>
<p><%= label :new_establishment, "Type de client" %><br/>
<%= select("new_establishment#{i+1}", "establishment_type_id",EstablishmentType.find(:all).collect {|a| [ a.wording, a.id ] },{"include_blank" => 'None'})%></p>
<p><%= label :new_address, "Address1" %><br/>
<%= text_field("new_establishment_address#{i+1}","address1") %></p>
<p><%= label :new_address, "Address2" %><br/>
<%= text_field("new_establishment_address#{i+1}","address2") %></p>
<p><%= label :new_address, "city_id" %><br/>
<%= select("new_establishment_address#{i+1}", "city_id",City.find(:all).collect {|a| [ a.name, a.id ] }) %></p>
<%= hidden_field("valid#{i+1}", "value", "value" => 'true') %>
