<fieldset>
<p><%= customer.label :customer_name, "Nom" %><br/>
<%= customer.text_field :name  %></p>

<p><%= customer.label :customer_legal_form, "Forme juridique" %><br/>
<%= customer.text_field :legal_form %></p>

<p><%= customer.label :customer_siret_number, "Numéro Siret"%><br/>
<%= customer.text_field :siret_number %></p>

<p><%= customer.label :customer_activity_sector, "Secteur d'activité"%> 
<%= customer.select("activity_sector_id", ActivitySector.find(:all).collect {|a| [ a.wording, a.id ] })%>

<p><%= customer.label :customer_activities, "Activités" %><br/>
<%= customer.text_field :activities  %></p>

<p><%= customer.label :customer_banking_informations, "Informations bancaires" %><br/>
<%= customer.text_field :banking_informations %></p>

<p><%= customer.label :third_type_id, "Type de client" %>
<%= customer.select("third_type_id", ThirdType.find(:all).collect {|a| [ a.wording, a.id ] })%>

<p><%= customer.label :customer_note, "Note du client" %>
<%= customer.select("note", {"0" => 0, "1" => 1, "2"=> 2, "3" => 3, "4" => 4, "5"=> 5})%>
</fieldset>