<div <%= "id =new_contact#{params[:cpt]}" %>>
  <p><%= label :new_contact, "Nom" %><br/>
  <%= text_field("new_contact#{params[:cpt]}","first_name")%></p>
   <p><%= label :new_contact, "Prénom" %><br/>
   <%= text_field("new_contact#{params[:cpt]}","last_name")%></p>
  <p><%=label :new_contact, "Type de contact"%><br/>
  <%= select("new_contact#{params[:cpt]}", "has_contact_type",["Etablissement","Client"].collect {|a| [ a, a]})%></p>
  <%= select("new_contact#{params[:cpt]}", "type", ContactType.find(:all, :conditions => ["owner = ?", "Customer"]).collect {|a| [ a.name, a.name]})%></p>
  <%= hidden_field("valid_contact_#{params[:cpt]}", "value", "value" => 'true')%>
  
<%= observe_field "new_contact#{params[:cpt]}_has_contact_type",
        :frequency => 1,
        :url=>{:action=>'new_contact_type_change', :cpt => params[:cpt]},
        :with => "'values='+escape(value)"
%>
</div>
<div id=<%= "link_add_remove_contact_#{params[:cpt].to_i + 1}"%>>
<%=link_to_remote("Ajouter", :url => {:action => "add_contact", :cpt => params[:cpt].to_i + 1})%>
</div>