<div id='<%= "new_establishment#{params[:cpt]}"%>'>
<p><%= label :new_establishment, "Nom du nouvel établissement" %><br/>
<%= text_field("new_establishment#{params[:cpt]}","name")%></p>
 <p><%= label :new_establishment, "Type de client" %><br/>
<%= select("new_establishment#{params[:cpt]}", "establishment_type_id",EstablishmentType.find(:all).collect {|a| [ a.wording, a.id ] },{"include_blank" => 'None'})%></p>
<p><%= label :new_address, "Address1" %><br/>
<%= text_field("new_establishment_address#{params[:cpt]}","address1")%></p>
<p><%= label :new_address, "Address2" %><br/>
<%= text_field("new_establishment_address#{params[:cpt]}","address2")%></p>
<p><%= label :new_address, "country_name" %><br/>
<%= select("new_establishment_address#{params[:cpt]}", "country_name",Country.find(:all).collect {|a| [ a.name, a.name ] })%></p>
<p><%= label :new_address, "city_name" %><br/>
<%= select("new_establishment_address#{params[:cpt]}", "city_name",City.find(:all).collect {|a| [ a.name, a.name ] })%></p>
<p><%= label :new_address, "zip_code" %><br/>

<%= hidden_field("valid_establishment_#{params[:cpt]}", "value", "value" => 'true')%>
</div>
<div <%= "id=link_add_remove_establishment_#{params[:cpt].to_i + 1}"%>>
    <%=link_to_remote("Ajouter", :url => {:action => "add_establishment", :cpt => params[:cpt].to_i + 1})%>
</div>