<h1> Liste des clients </h1>

<div class="frame">
  <% unless @customers.empty?%>
    <table>
      <tr>
        <th>Nom</th> 
        <th>Secteurs d'activités</th>
        <th>Note</th>
        <th>Actions</th>
      </tr>

      <%for customer in @customers%>
        <tr>
          <td><%= customer.name %></td>
          <td><%= customer.activity_sector.name unless  customer.activity_sector.nil?%></td>
          <td><%= customer.note %></td>
          <td>
            <% if controller.can_view?(current_user) and Customer.can_view?(current_user) %>
                <%= link_to( "<img src=\"/images/view_16x16.png\" title=\"Détails\" alt=\"Détails\" />", customer) %>
            <% end %>
            <% if controller.can_edit?(current_user) and Customer.can_edit?(current_user) %>
                <%= link_to("<img src=\"/images/edit_16x16.png\" title=\"Modifier\" alt=\"Modifier\" />", edit_customer_path(customer)) %>
            <% end %>
            <% if controller.can_delete?(current_user) and Customer.can_delete?(current_user) %>
                <%= link_to("<img src=\"/images/delete_16x16.png\" title=\"Modifier\" alt=\"Supprimer\" />", customer, {:method => :delete, :confirm => 'Etes vous sûr ?'}) %>
            <% end %>
          </td>
        </tr>
    <%end%>
  <%end%>
  </table>
  <% if controller.can_add?(current_user) and Customer.can_add?(current_user) %>
    <%= link_to "<img src=\"/images/add_24x24.png\" title=\"Ajouter\" alt=\"Ajouter\" />", new_customer_path %>
  <% end %>
</div>