<h1> Liste des clients </h1>

<div class="cadre">
  <% unless @customers.empty?%>
    <table>
      <tr>
        <th>Nom</th> 
        <th>Secteurs d'activités</th>
        <th>Note</th>
        <th>Actions</th>
      </tr>

      <%for customer in @customers%>
        <tr>
          <td><%= customer.name %></td>
          <td><%= customer.activity_sector.name unless  customer.activity_sector.nil?%></td>
          <td><%= customer.note %></td>
          <td><%= link_to("Voir", :action => :show, :id => customer.id, :establishments => customer.establishments) %> <%= link_to("Modifier", edit_customer_path(customer)) %> <%= link_to("Supprimer", customer, {:method => :delete}) %></td>
        </tr>
    <%end%>
  <%end%>
  </table><br/>

  <%= link_to 'Ajouter', :action => 'new' %>
</div>