<h1>Informations concernant le client </h1>
<div class="cadre">

  <p>
    <%= label :customer_name, "Nom" %>
    <%= @customer.name %>
  </p>

  <p>
    <%= label :customer_first_name, "Forme juridique" %>
    <%= @customer.legal_form %>
  </p>

  <p>
    <%= label :customer_siret_number, "Num&eacute;ro Siret" %>
    <%= @customer.siret_number %>
  </p>

  <p>
    <%= label :customer_activity_sector, "Secteur d'activit&eacute;" %>
    <%= @customer.activity_sector.name %>
  </p>

  <p>
    <%= label :customer_activities, "Activit&eacute;s" %>
    <%= @customer.activities %>
  </p>

  <p>
    <%= label :customer_note, "Note" %>
    <%= @customer.note %>
  </p>

  <p>
    <%= label :customer_banking_informations, "Informations bancaires" %>
    <%= @customer.banking_informations %>
  </p>

  <p>
    <%= label :customer_note, "Type de Tiers" %>
    <%= @customer.third_type.wording %>
  </p>

<%if @establishments.length > 0%>
<fieldset>
  <legend><%= "Liste des &eacute;tablissements du client"%></legend>
  
          <%for establishment in @establishments%>
        <p>
          <%= establishment.name + '(' +establishment.address.city_name + ')'%>
          <%= link_to "Plus d'infos", edit_customer_establishment_path(@customer, establishment, :owner_type => "Customer") %>
        </p>
    <%end%>

</fieldset>
<%end%>
<%= link_to 'Retour', :action => 'index' %>
</div>

