<p>
  <b>Nom du client:</b>
  <%= @customer.name %>
</p>
<p>
  <b>Forme l&eacute;gale:</b>
  <%= @customer.legal_form %>
</p>
<p>
  <b>Numéro Siret:</b>
  <%= @customer.siret_number %>
</p>
<p>
  <b>Secteur d'activité:</b>
  <%= @customer.activity_sector.name %>
</p>
<p>
  <b>Activités:</b>
  <%= @customer.activities %>
</p>
<p>
  <b>Note:</b>
<%= @customer.note %>
</p>
<p>
  <b>Type de client:</b>
  <%= @customer.third_type.wording %>
</p>

<%= link_to 'Retour', :action => 'index' %>


