<h1>Informations concernant le client </h1>

<div class="cadre">
  <h2> Informations g&eacute;n&eacute;rales</h2>
  <p>
    <%= label :customer, :name, "Nom :" %>
    <%= @customer.name %>
  </p>

  <p>
    <%= label :customer, :legal_form, "Forme juridique :" %>
    <%= LegalForm.find(@customer.legal_form_id).name %>
  </p>

  <p>
    <%= label :customer, :siret_number, "Num&eacute;ro Siret :" %>
    <%= @customer.siret_number %>
  </p>

  <p>
    <%= label :customer, :activity_sector, "Secteur d'activit&eacute; :" %>
    <%= @customer.activity_sector.name %>
  </p>

  <p>
    <%= label :customer, :activities, "Activit&eacute;s :" %>
    <%= @customer.activities %>
  </p>

  <p>
    <%= label :customer, :note, "Type de Clients :" %>
    <%= @customer.third_type.wording %>
  </p>

  <p>
    <%= label :customer, :note, "Note :" %>
    <%= @customer.note %>
  </p>

  <p>
    <%= label :customer, :payment_method, "Mode de payment :" %>
    <%= @customer.payment_method.name%>
  </p>

  <p>
    <%= label :customer, :payment_timi_limit, "Date limite de payment :" %>
    <%= @customer.payment_time_limit.name%>
  </p>
 </div>

<%if @establishments.length > 0%>
<div class="cadre">
  <h2><%= "Liste des &eacute;tablissements du client"%></h2>
  
          <%for establishment in @establishments%>
        <p>
          <%= establishment.name + '(' +establishment.address.city_name + ')'%>
          <%= link_to "Plus d'infos", edit_customer_establishment_path(@customer, establishment, :owner_type => "Customer") %>
        </p>
    <%end%>

  </div>
<%end%>
<%= link_to 'Retour', :action => 'index' %>


