<fieldset>
<legend>Information G&eacute;n&eacute;rale</legend>
<p>
  <%= label_tag "admin_society_identity_configuration_name", "Entreprise : " %>
  <%= display_markup("admin_society_identity_configuration_name", @parameters["admin_society_identity_configuration_name"]) %>
</p>

<p>
  <%= label_tag "admin_society_identity_configuration_siret", "Numéro SIRET : " %>
  <%= display_markup("admin_society_identity_configuration_siret", @parameters["admin_society_identity_configuration_siret"]) %>
</p>

<p>
  <%= label_tag "admin_society_identity_configuration_phone", "Numéro de téléphone : " %>
  <%= display_markup("admin_society_identity_configuration_phone", @parameters["admin_society_identity_configuration_phone"]) %>
</p>

<p>
  <%= label_tag "admin_society_identity_configuration_fax", "Numéro de fax : " %>
  <%= display_markup("admin_society_identity_configuration_fax", @parameters["admin_society_identity_configuration_fax"]) %>
</p>
</fieldset>
