<% hash = {} %>
<% for parameter in @parameters do %>
          <% hash[parameter] = ConfigurationManager.send(parameter) %>
    <% end %>

  <p>
    <%= label_tag "admin_society_identity_configuration_name", "Entreprise : " %>
    <%= display_markup("admin_society_identity_configuration_name", hash["admin_society_identity_configuration_name"]) %>
  </p>

  <p>
    <%= label_tag "admin_society_identity_configuration_siret", "Numéro SIRET : " %>
    <%= display_markup("admin_society_identity_configuration_siret", hash["admin_society_identity_configuration_siret"]) %>
  </p>

  <p>
    <%= label_tag "admin_society_identity_configuration_phone", "Numéro de téléphone : " %>
    <%= display_markup("admin_society_identity_configuration_phone", hash["admin_society_identity_configuration_phone"]) %>
  </p>

  <p>
    <%= label_tag "admin_society_identity_configuration_fax", "Numéro de fax : " %>
    <%= display_markup("admin_society_identity_configuration_fax", hash["admin_society_identity_configuration_fax"]) %>
  </p>

  <p>
    <table>
        <tr>
          <td><%= label_tag "admin_society_identity_configuration_address_first_line", "Adresse : " %></td>
          <td><%= display_markup("admin_society_identity_configuration_address_first_line", hash["admin_society_identity_configuration_address_first_line"]) %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= display_markup("admin_society_identity_configuration_address_second_line", hash["admin_society_identity_configuration_address_second_line"]) %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= display_markup("admin_society_identity_configuration_address_town", hash["admin_society_identity_configuration_address_town"]) %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= display_markup("admin_society_identity_configuration_address_zip", hash["admin_society_identity_configuration_address_zip"]) %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= display_markup("admin_society_identity_configuration_address_country", hash["admin_society_identity_configuration_address_country"]) %></td>
        </tr>
      </table>
  </p>