<h1>Rechercher</h1>

<% content_for :header do %>
     <%= javascript_include_tag 'search' %>
     <%= javascript_include_tag :defaults %> 
<% end %>
<%form_remote_tag :url =>  "searches/update", :update => "search_result"  do%>
<div class="frame presentation_medium">
  <h2>Section</h2>
  <p>
    <input type="hidden" id="choosen_model" value=""/>
    <select id="model_select" name="model[name]" onchange="has_criteria(this);">
      <option selected="true"></option>  
      <% @searches.each_pair do |feature,models| %>
        <%="<optgroup label='#{ feature }'"%>
        <% models.each do |model|%>
          <%="<option value='#{ feature },#{ model }'> #{ model }"%></option>
        <% end %>
      <% end %>
    </select>
    
    <%=observe_field("model_select",:on=>"onselect",:with => "'model=' + value" ,:url=>{:action=>"model_choose",:line=>0},:href=>(url_for :action=>"model_choose")) %>
  </p>

  <%="<h2>Crit&egrave;res</h2>" %>
  <p id="search_type" style="display:none;">
    respecter 
    <select name="search_type">
      <option value="or">l&apos;un des crit&egrave;res</option>
      <option value="and">tous les crit&egrave;res</option>
      <option value="not">aucun des crit&egrave;res</option>
    </select>
  </p>
  <div id="criteria">
    <div id="criteria_list">
    </div>
  </div>
  <p id="submit_button" style="display:none;">
    <%=submit_tag("rechercher")%>
  <p>
<% end %>
<div id="search_result">
</div>
</div>
