<% content_for :header do %>
  <script type="text/javascript" src="/javascripts/logistics/supplies.js"></script>
<% end %>

<% contextual_menu POSSIBLE_ACTIONS do %>
  <%= self.send("new_#{@supply.class.name.tableize.singularize}_category_link") %>
  <%= new_supply_link(@supply.class.new) %>
<% end %>

<% contextual_menu USEFUL_LINKS do %>
  <%= supply_categories_link(@category.class.new) %>
<% end %>

<div class="presentation_medium">
  <% form_for(@category) do |form| %>

  <p>
    <%= form.error_messages %>
  </p>

  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :unit_measure_id %>
    <%= form.collection_select(:unit_measure_id, format_unit_measure, :id, :name, {}, (@type == "child" or @root_supply_category != nil) ? {} : {:disabled => "true"}) %>
  </p>

  <p>
    <%= form.label (@category.class.name.tableize.singularize+"_id").to_sym %>
    <%= form.collection_select((@category.class.name.tableize.singularize+"_id").to_sym, @categories, :id, :name , options = {:include_blank => '-- Racine --'}, {:onchange => "disableUnitMeasure('#{@supply.class.name.tableize.singularize}');"}) %>
  </p>

  <p>
    <%= form.submit "Ajouter" %>
  </p>

  <% end %>

</div>
