<% content_for :header do %>
  <%= stylesheet_link_tag_with_theme_support "rh/employee_summary" %>
  <%= stylesheet_link_tag_with_theme_support "core/has_resources/has_resources" %>
  <%= javascript_include_tag 'core/has_resources/has_resources' %>
<% end %>

<div class="presentation_medium root_nav standard">
  
  <% tab_navigator :employee_nav do |t| %>
    <% t.nav_buttons do %>
      <%= t.tab :informations,  "Informations générales", :class    => employee.errors.any? ? 'errors' : '',
                                                          :selected => true %>
      <%= t.tab_for_history(employee) %>
    <% end %>
  
    <% form_for(employee, :html => {:multipart => true}) do |form| %>
      
      <% t.content_for :informations do %>
        <%= form.error_messages %>
        <%= render :partial => 'employee_informations', :object => employee, :locals => { :form => form } %>
      <% end %>
      
      <% t.content_for_history(employee) %>
      
      <%= form.form_buttons %>
    <% end %>
  <% end %>
</div>

<% if is_form_view? %>
  <%= osibox_init :partial => 'job_form', :locals => { :job => Job.new }, :border_size => '32'%>
<% end %>
