<% form_for(@employee) do |f| %>
  <%= f.error_messages %> 
  <h2>Fiche d'identité</h2>
  <p>
    <%= f.label :civility, "Civilit&eacute; :"%>
    <%= collection_select(:employee, :civility_id, Civility.find(:all), :id, :name)%>  
  </p>
  <p>
    <%= f.label :last_name, "Nom :"%>
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :first_name, "Pr&eacute;nom :"%>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :birth_date, "Date de naissance :"%>
    <%= f.date_select :birth_date, :start_year => 1900, :order => [:day,:month,:year]%>
  </p>
  <p>
    <%= f.label :family_situation, "Situation familiale :"%>
    <%= collection_select(:employee, :family_situation_id, FamilySituation.find(:all), :id, :name)%>
  </p>
  <p>
    <%= f.label :social_security ,"N&deg; s&eacute;curit&eacute; sociale :"%>
    <%= f.text_field :social_security , { :size => 14, :maxlength => 16, :class => "disable-stylesheet-width"} %>
  </p>
  <!--#####################################-->

  <h2>Coordonn&eacute;es</h2>
  <h3>Adresse postale</h3>
  <p>
    <%= label_tag 'address[address1]', "Adresse :"%> 
    <%= display_address1(@address.nil? ? nil :@address[:address1] )%> - <%= display_address2(@address.nil? ? nil :@address[:address2] )%>
  </p>
  <%= render :partial => 'addresses/address', :locals => {:cpt=> 1, :owner_address => @employee.address} %>
  <h3>Adresses &eacute;lectroniques</h3>
  <p>
    <%= f.label :email, "Email personnel :"%>
    <%= f.text_field :email%>
  </p>
  <p>
    <%= f.label :society_email, "Email professionnel :"%>
    <%= f.text_field :society_email%>
  </p>
  <h3>Num&eacute;ros de t&eacute;l&eacute;phone</h3>
  <%= render :partial => 'numbers', :locals => {:attribute=> 'employee'}%>
  <!--#####################################-->
  
  <h2>Coordonn&eacute;es bancaires</h2>
  <p>
    <%= label_tag 'iban[bank_name]' ,"Nom de la banque :"%> 
    <%= display_bank_name(@iban.nil? ? nil :@iban[:bank_name])%>
  </p>
  <p>
    <%= label_tag 'iban[bank_code]' ,"Code bancaire :"%> 
    <%= display_bank_code(@iban.nil? ? nil :@iban[:bank_code])%>
  </p>
  <p>
    <%= label_tag 'iban[branch_code]' ,"Code guichet :"%> 
    <%= display_branch_code(@iban.nil? ? nil :@iban[:branch_code])%>
  </p>
   <p>
    <%= label_tag 'iban[account_number]' ,"N&deg; de compte :"%> 
    <%= display_account_number(@iban.nil? ? nil :@iban[:account_number])%>
  </p>
   <p>
    <%= label_tag 'iban[key]' ,"Cl&eacute; :"%> 
    <%= display_key(@iban.nil? ? nil :@iban[:key])%>
  </p>
   <p>
    <%= label_tag 'iban[account_name]' ,"Nom du titulaire :"%> 
    <%= display_account_name(@iban.nil? ? nil :@iban[:account_name] ) %>
  </p>

  <h2>Fiche de poste</h2>
  <p>
    <div>
      <table>
        <tr>
          <th colspan="2">Services</th>
          <th>Responsable?</th>
        </tr>      
      <% for associated_service in @services %>
        <tr>
          <td>
            <%= check_box_tag "employee[service_ids][]", associated_service.id, is_in?( associated_service, 'services','service_ids',@numbers.nil? ? nil : @employee )%> <!-- @numbers is define only in 'edit' and 'update' methods then if it is null we are using 'new' or 'create' method -->
          </td>
          <td>
            <%= associated_service.name %>
          </td>
          <td>
            <%= check_box_tag "responsable[" + associated_service.id.to_s + "]", associated_service.id, is_resonsable_of_this_service?(associated_service.id,@numbers.nil? ? nil : @employee)%>
          </td>
        </tr>
      <% end %>
      </table>
    </div>
  </p>
  <div id="jobs_choice">
    <a id="job_list_anchor"></a>
    <div id='jobs_list'>
      <table>
        <tr>
          <th colspan="2">Fonctions</th>
        </tr>
      <% for associated_job in @jobs %>
        <tr>
          <td>
            <%= check_box_tag "employee[job_ids][]", associated_job.id, is_in?(associated_job, 'jobs','job_ids',@numbers.nil? ? nil : @employee)%>
          </td>
          <td>
            <%= associated_job.name %>
          </td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
  <%=link_to_remote "Ajouter une fonction",:url=>{:action=>"job_form"},:href=>(url_for :action=>"job_form"), :html => {:id=>'job_add_link', :onclick=>"document.getElementById('job_add_anchor').scrollTo();"}%>
  <a href="#anchor">t</a>
  <a onclick="osibox_open();">Ajouter une fonction avec osibox</a>
  <span id="main_submit">
    <%= f.submit button_name %>
    <%= link_to 'Retour', employees_path %>
  </span>
<% end %>

<!-- enlever pour demo avec osibox-->
<a id="job_add_anchor"></a>
<div id="job_add" style="display:none;" class="cadre">
  <h2>Ajout de fonction</h2>
  <%form_remote_for(@job,:html=>{:id=>'job_add_form'}) do |j|%>
    <%=j.error_messages%>
  <p style="display:none">
    <%= hidden_field_tag 'employee_id',params[:id].nil? ? nil : params[:id]%>
  </p>  
  <p class="text_form">
    <%= j.label :name, "Nom :"%>
    <%= j.text_field :name%>
  </p>
  <p class="text_form">
    <%= j.label :mission, "Mission :"%>
    <%= j.text_area :mission %>
  </p>
  <p class="text_form">
    <%= j.label :activity, "Activités :"%>
    <%= j.text_area :activity%>
  </p>
  <p class="text_form">
    <%= j.label :goal, "Objectifs :"%>
    <%= j.text_area :goal%>
  </p>

  <%= j.submit 'Ajouter une fonction',{ :onclick=>"document.getElementById('job_list_anchor').scrollTo();"}%>
  <%=link_to_remote "Annuler",:url=>{:action=>"job_form_cancel"},:href=>(url_for :action=>"job_form_cancel"),:html=>{ :onclick=>"document.getElementById('job_list_anchor').scrollTo();"}%>
  <% end %>
</div>
    
<%= osibox_init :partial => 'job_form'%>