<div class="presentation_small">
  <h2>Ajout de fonction</h2>
  <% form_remote_for(job,:html=>{:id=>'job_add_form'}) do |j| %>
    <%= j.error_messages %>
    <p style="display:none">
      <%= hidden_field_tag 'employee_id',params[:id].nil? ? nil : params[:id]%>
    </p>  
    <p>
      <%= j.label :name, "Nom :"%>
      <%= j.text_field :name%>
    </p>
    <p>
      <%= j.label :mission, "Mission :"%>
      <%= j.text_area :mission, {:rows => 5} %>
    </p>
    <p>
      <%= j.label :activity, "Activités :"%>
      <%= j.text_area :activity, {:rows => 5}%>
    </p>
    <p>
      <%= j.label :goal, "Objectifs :"%>
      <%= j.text_area :goal, {:rows => 5}%>
    </p>
    <p><%= j.submit 'Ajouter une fonction',:onclick => 'osibox_close()'%></p>
  <%end%>
</div>
