<div class="presentation_small">
  <h2>Nouvelle fonction</h2>
  <% form_remote_for(job,:html=>{:id=>'job_add_form'}) do |j| %>
    <%= j.error_messages %>
    <p style="display:none">
      <%= hidden_field_tag 'employee_id',params[:id].nil? ? nil : params[:id]%>
    </p>
    <p>
      <%= j.label :service %>
      <%= j.collection_select(:service_id, Service.all, :id, :name, {:prompt => "Veuillez choisir un service"})%>
    </p>
    <p>
      <%= j.label :responsible %>
      <%= j.check_box :responsible , {}, '1', '0'%>
    </p> 
    <p>
      <%= j.label :name %>
      <%= j.text_field :name%>
    </p>
    <p>
      <%= j.label :mission %>
      <%= j.text_area :mission, {:rows => 5} %>
    </p>
    <p>
      <%= j.label :activity %>
      <%= j.text_area :activity, {:rows => 5} %>
    </p>
    <p>
      <%= j.label :goal %>
      <%= j.text_area :goal, {:rows => 5} %>
    </p>
    <%= j.form_buttons(:onclick => 'osibox_close();')%>
  <%end%>
</div>
