<h3>Num&eacute;ros</h3>
  <% unless @numbers.nil?%>
    <%number_id=0%>
    <% for number in @numbers %>
        <%unless number[:number]==""%>
        <!-- le <p> est ouvers à la ligne ci-dessous avec un id >
        <%= display_p_balise(number_id) %>
        
        <%= select(attribute + '[numbers][' + number_id.to_s + ']',:indicative_id,  Indicative.find(:all).collect {|p| [ p.indicative, p.id ] }, :selected => number[:indicative_id])%>
        <%= text_field_tag( attribute + '[numbers][' + number_id.to_s + '][number]', number[:number],:size => 7, :maxlength => 9, :class=>"disable-stylesheet-width" )%>
        <%= select(attribute + '[numbers][' + number_id.to_s + ']',:number_type_id,  NumberType.find(:all).collect {|p| [ p.name, p.id ] }, :selected => number[:number_type_id])%>
        <%= link_to_remote( 'Enlever le numéro',:url=>{:action=>'remove_line', :rem => number_id, :deleted_id => number[:id] },:href=>(url_for :action=>'remove_line'),:confirm => 'Etes vous sur?')%>
      </p>
      <%else%>
        <%= hidden_field 'deleted_numbers[' + number_id.to_s + ']',number[:id].to_s%>
      <%end%>
      <%number_id+=1%>
    <%end%>  
    <p>
      <span id='add_link'><%= link_to_remote "Ajouter un numéro...",:url=>{:action=>"add_line", :opt => params[attribute].nil? ? @numbers.size : params[attribute]['numbers'].size, :attribute => attribute   },:href=>(url_for :action=>"add_line")%></span>
    </p>
  <%else%>
    <p>
      <%= %>
      <%= select(attribute + '[numbers][0]',:indicative_id,  Indicative.find(:all).collect {|p| [ p.indicative, p.id ] }, :selected => params[attribute].nil? ? 8 : params[attribute]['numbers']['0']['indicative_id'].to_i)%>
      <%= display_number0(attribute) %>
      <%= select(attribute + '[numbers][0]',:number_type_id,  NumberType.find(:all).collect {|p| [ p.name, p.id ] }, :selected => params[attribute].nil? ? 1 : params[attribute]['numbers']['0']['number_type_id'].to_i)%>
      <%= save_lines(attribute)%>
    </p>
    <p>
      <span id='add_link'><%= link_to_remote( "Ajouter un numéro...",:url=>{:action=>"add_line", :opt => params[attribute].nil? ? 1 : params[attribute]['numbers'].size , :attribute => attribute },:href=>(url_for :action=>"add_line") )%></span>
    </p>  
  <%end%> 

