<h1>Modifier un employ&eacute;e</h1>


<% form_for(@employee) do |f| %>
  <%= f.error_messages %> 
  <div class="cadre">
  <h2>Informations personnelles</h2>
    <p>
      <%= f.label :civility, "Civilité :"%>
      <%= collection_select(:employee, :civility_id, Civility.find(:all), :id, :name)%>  
    </p>
    <p>
      <%= f.label :last_name, "Nom :"%>
      <%= f.text_field :last_name %>
    </p>
    <p>
      <%= f.label :first_name, "Prénom :"%>
      <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label :birth_date, "Date de naissance :"%>
      <%= f.date_select :birth_date, :start_year => 1900, :order => [:day,:month,:year]%>
    </p>
    <p>
      <%= f.label :family_situation, "Situation familiale :"%>
      <%= collection_select(:employee, :family_situation_id, FamilySituation.find(:all), :id, :name)%>
    </p>
    <p>
      <%= f.label :social_security ,"N° sécurité sociale :"%>
      <%= f.text_field :social_security , { :size => 14, :maxlength => 16, :class => "disable-stylesheet-width"} %>
    </p>
  </div>
  <!--#####################################-->
  <div class="cadre">
  <h2>Emails</h2>
  <p>
    <%= f.label :email, "Email personnel :"%>
    <%= f.text_field :email%>
  </p>
  <p>
    <%= f.label :society_email, "Email professionnel :"%>
    <%= f.text_field :society_email%>
  </p>
  </div>
  <!--#####################################-->
  <div class="cadre">
  <legend>Coordonn&eacute;es</legend>
    <p>
      <%= label_tag 'address[address1]', "Adresse :"%> 
      <%= text_field_tag( 'address[address1]',@address[:address1])%>
    </p>
    <p>
      <%= label_tag 'address[address2]', "Adresse :"%> 
      <%= text_field_tag( 'address[address2]',@address[:address2])%>    
    </p>
    <p>
      <%= label_tag 'address[country_name]', "Pays :"%> 
      <%= text_field_tag( 'address[country_name]',@address[:country_name])%>    
    </p>
    <p>
      <%= label_tag 'address[city_name]', "Ville :"%> 
      <%= text_field_tag( 'address[city_name]',@address[:city_name])%>    
    </p>
    <p>
      <%= label_tag 'address[zip_code]', "Code postal :"%> 
      <%= text_field_tag( 'address[zip_code]',@address[:zip_code])%>    
    </p>
  </div> 
  <!--#####################################-->

  <div class="cadre" id='add_lines'>
  <h2>Num&eacute;ros</h2>
  <%number_id=0%>
  <% for number in @numbers %>
     <%= display_p_balise(number_id) %>
     
     <%= select('numbers[' + number_id.to_s + ']',:indicative_id,  Indicative.find(:all).collect {|p| [ p.indicative, p.id ] }, :selected => number[:indicative_id])%>
      <%= text_field_tag 'numbers[' + number_id.to_s + '][number]', number[:number],:size => 7, :maxlength => 9, :class=>"disable-stylesheet-width" %>
      <%= select('numbers[' + number_id.to_s + ']',:number_type_id,  NumberType.find(:all).collect {|p| [ p.name, p.id ] }, :selected => number[:number_type_id])%>
      <%= link_to_remote( 'Enlever le numéro',:url=>{:action=>'remove_line', :rem => number_id  },:href=>(url_for :action=>'remove_line'))%>

    </p>
    <%number_id+=1%>
  <%end%>  
    <p>
      <span id='add_link'><%= link_to_remote "Ajouter un numéro...",:url=>{:action=>"add_line", :opt => params[:numbers].nil? ? @numbers.size : params[:numbers].size  },:href=>(url_for :action=>"add_line")%></span>
    </p>
  </div>
  <!--#####################################-->
  <div class="cadre">
  <h2>Informations Bancaires</h2>
  <p>
    <%= label_tag 'iban[bank_code]' ,"Code bancaire :"%> 
    <%= text_field_tag 'iban[bank_code]',@iban[:bank_code], :size => 3, :maxlength => 5, :class=>"disable-stylesheet-width"%>
  </p>
  <p>
    <%= label_tag 'iban[teller_code]' ,"Code guichet :"%> 
    <%= text_field_tag 'iban[teller_code]',@iban[:teller_code], :size => 3, :maxlength => 5, :class=>"disable-stylesheet-width"  %>
  </p>
   <p>
    <%= label_tag 'iban[account_number]' ,"N° de compte :"%> 
    <%= text_field_tag 'iban[account_number]',@iban[:account_number], :size => 8, :maxlength => 10, :class=>"disable-stylesheet-width" %>
  </p>
   <p>
    <%= label_tag 'iban[key]' ,"Clée :"%> 
    <%= text_field_tag 'iban[key]',@iban[:key], :size => 1, :maxlength => 2, :class=>"disable-stylesheet-width"  %>
  </p>
   <p>
    <%= label_tag 'iban[holder_name]' ,"Nom du titulaire :"%> 
    <%= text_field_tag 'iban[holder_name]',@iban[:holder_name]  %>
  </p>
  </div>
  <!--#####################################-->
  <div class="cadre">
    <h2>Fiche de poste</h2>
    <p>
      <%= label_tag 'employee[services]', "Services :"%><br/>
      <div>
      <table>
        <% for associated_service in @services %>
          <tr>
            <td>
              <%= check_box_tag "employee[service_ids][]", associated_service.id, @employee.services.include?(associated_service) %>
            </td>
            <td>
              <%= associated_service.name %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    </p>
    <p id="jobs_choice">
        <%= label_tag 'employee[jobs]', "Fonctions :"%><br/>
        <div id="jobs_array">
        <table>
          <% for associated_job in @jobs %>
            <tr>
              <td>
                <%= check_box_tag "employee[job_ids][]", associated_job.id, @employee.jobs.include?(associated_job) %>
              </td>
              <td>
                <%= associated_job.name %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </p>
  <p>
    <%= f.submit "Modifier" %>
  </p>
<% end %>

<%= link_to 'Voir', @employee %> |
<%= link_to 'Retour', employees_path %>
</div>
