<% add_contextual_menu_item :possible_actions do %>
  <%= new_employee_link %>
	<%= employee_link(@employee) %>
	<%= edit_employee_job_contract_link(@employee) %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
	<%= employees_link %>
<% end %>

<h1>Modifier un employ&eacute;e</h1>

<%= render :partial => @employee, :locals => {:button_name=> "Modifier"}%>

