<% contextual_menu POSSIBLE_ACTIONS do %>
  <%= new_employee_link %>
	<%= employee_link(@employee) %>
	<%= edit_employee_job_contract_link(@employee) %>
<% end %>

<% contextual_menu USEFUL_LINKS do%>
	<%= employees_link %>
<% end %>

<h1>Modifier un employ&eacute;e</h1>

<%= render :partial => @employee, :locals => {:button_name=> "Modifier"}%>

