<h1>Tous les employ&eacute;es</h1>

<% content_for :secondary_menu do %>
  <%= show_content_secondary_menu(params[:all_employees]) %>
<% end %>

<div class="frame">
<table>
  <tr>
    <th>Pr&eacute;nom</th>
    <th>Nom</th>
    <th>Service&#40;s&#41;</th>
    <th>T&eacute;l&eacute;phone</th>
    <th>Fonction</th>
    <%= index_actions%>
  </tr>

<% for employee in @employees %>
  <tr>
    <td><%=h employee.first_name %></td>
    <td><%=h employee.last_name %></td>
    <td>
      <%for service in employee.services%>
          <%=link_to service.name, service_path(service.id)%><br/>
      <% end %>
    </td>
    <%= number_td(employee.numbers)%>
      <%=h visibles_numbers( employee.numbers )==[] ? "Aucun" : visibles_numbers( employee.numbers ).first.formatted %>&nbsp;
    </td>
    <td><%=h employee.intranet_email %></td>
    <td>
      <%= show_view_button(employee) %>
      <%= show_edit_button(employee)%>
    </td>
  </tr>
<% end %>
</table>
</div>
