<h1>Tous les employ&eacute;es</h1>



<% content_for :secondary_menu do %>
  <%if controller.can_view?(current_user) and Employee.can_view?(current_user)%> 
    <p>
      <%= link_to 'Voir tous les employées', employees_path %>
    </p>
  <% end %>
<% end %>



<div class="frame">
<table>
  <tr>
    <th>Pr&eacute;nom</th>
    <th>Nom</th>
    <th>Service&#40;s&#41;</th>
    <th>T&eacute;l&eacute;phone</th>
    <th>Fonction</th>
    <%= index_actions%>
  </tr>

<% for employee in @employees %>
  <tr>
    <td><%=h employee.first_name %></td>
    <td><%=h employee.last_name %></td>
    <td>
      <%for service in employee.services%>
          <%=link_to service.name, service_path(service.id)%><br/>
      <% end %>
    </td>
    <%="<td  title='" + visibles_numbers( employee.numbers ).first.indicative.indicative + " " + visibles_numbers( employee.numbers ).first.formated + " (" + visibles_numbers( employee.numbers ).first.indicative.country.name + ")'>" %>
      <%=h visibles_numbers( employee.numbers ).first.formated %>&nbsp;
    </td>
    <td><%=h employee.intranet_email %></td>
    <% if controller.can_list?(current_user) and Employee.can_list?(current_user)%>
      <td><%= link_to( "<img src=\"/images/view_16x16.png\" title=\"Détails\" alt=\"Détails\" />", employee) %></td>
    <% end %>
    <% if controller.can_edit?(current_user) and Employee.can_edit?(current_user)%>
      <td><%= link_to( "<img src=\"/images/edit_16x16.png\" title=\"Modifier\" alt=\"Modifier\" />", edit_employee_path(employee)) %></td>
    <% end %>
  </tr>
<% end %>
</table>

<p>
  <%= link_to "<img src=\"/images/add_24x24.png\" title=\"Ajouter\" alt=\"Ajouter\" />", new_employee_path %>
</p>
</div>
