<% contextual_search_for_employee %>

<% add_contextual_menu_item :possible_actions do %>
  <%= new_employee_link(:link_text => "Nouvel employé") %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= actives_employees_link(params[:all_employees]) %>
<% end %>

<h1>Tous les employ&eacute;s</h1>

<div class="presentation_medium">
<% if @employees.empty?%>
  <p>Aucun employé</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Pr&eacute;nom</th>
        <th>Nom</th>
        <th>Service</th>
        <th>T&eacute;l&eacute;phone</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% for employee in @employees %>
        <tr class="employee <%= (Employee.actives.include?(employee) ? '' : 'disabled') %>">
          <td class="first_name">
            <%= context_menu(employee, "employee", :allow_multiple_selection => false, :display_checkbox => false) %>
            <%=h employee.first_name %>
          </td>
          <td class="last_name"><%=h employee.last_name %></td>
          <td class="service"><%= link_to(employee.service.name, service_path(employee.service)) %></td>
          <td class="phone"><%= display_full_phone_number(employee.numbers.visibles.first) if employee.numbers.visibles.first %></td>
          <td class="intranet_email"><%=h employee.intranet_email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @employees %>
<% end %>
</div>
