<% content_for :javascript do %>
     <%= stylesheet_link_tag 'lightbox' %> 
     <%= stylesheet_link_tag 'redbox' %>
     <%= javascript_include_tag 'redbox' %>
<% end %>

<h1 id="test">Ajouter un employ&eacute;e</h1>


<div class="cadre">
<% form_for(@employee) do |f| %>
  <%= f.error_messages %> 
  <%= error_messages_for(@emloyee)%>
  <p>
    <%= f.label :civility, "Civilité :"%>
    <%= collection_select(:employee, :civility_id, Civility.find(:all), :id, :name)%>  
  </p>
  <p>
    <%= f.label :last_name, "Nom :"%>
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :first_name, "Prénom :"%>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :birth_date, "Date de naissance :"%>
    <%= f.date_select :birth_date, :start_year => 1900, :order => [:day,:month,:year], :use_month_numbers => true%>
  </p>
  <p>
    <%= f.label :family_situation, "Situation familiale :"%>
    <%= collection_select(:employee, :family_situation_id, FamilySituation.find(:all), :id, :name)%>
  </p>
   <p>
    <%= f.label :social_security ,"N° sécurité sociale :"%>
    <%= f.text_field :social_security ,{ :size => 14, :maxlength => 16} %>
  </p>
  <fieldset>
  <legend>Emails</legend>
  <p>
    <%= f.label :email, "Email Personnel :"%>
    <%= f.text_field :email%>
  </p>
  <p>
    <%= f.label :society_email, "Email professionnel :"%>
    <%= f.text_field :society_email%>
  </p>
  </fieldset>
  <fieldset>
  <legend>Coordonn&eacute;es</legend>
    <p>
      <%= label_tag 'address[address1]', "Adresse :"%> 
      <%= display_address1%>
    </p>
    <p>
      <%= label_tag 'address[address2]', "Adresse :"%> 
      <%= display_address2%>    
    </p>
    <p>
      <%= label_tag 'address[country_name]', "Pays :"%> 
      <%= display_country%>    
    </p>
    <p>
      <%= label_tag 'address[city_name]', "Ville :"%> 
      <%= display_city%>    
    </p>
    <p>
      <%= label_tag 'address[zip_code]', "Code postal :"%> 
      <%= display_zip_code%>    
    </p>
  </fieldset>
   <fieldset id='add_lines'>
  <legend>Num&eacute;ros</legend>
    <p>
      <% val = params[:numbers].nil? ? "1" : params[:numbers]['0']['indicative_id']%>
      <% val2 = params[:numbers].nil? ? "1" : params[:numbers]['0']['number_type_id']%>
      <%= select('numbers[0]',:indicative_id,  Indicative.find(:all).collect {|p| [ p.indicative, p.id ] }, :selected => val)%>
      <%= display_number0 %>
      <%= select('numbers[0]',:number_type_id,  NumberType.find(:all).collect {|p| [ p.name, p.id ] }, :selected => @number_val2)%>
      <%= save_lines%>
    </p>
    <p>
      <span id='add_link'><%= link_to_remote "Ajouter un numéro...",:url=>{:action=>"add_line", :opt => params[:numbers].nil? ? 1 : params[:numbers].size  },:href=>(url_for :action=>"add_line")%></span>
    </p>
  </fieldset>
   <fieldset>
  <legend>Informations Bancaires</legend>
  <p>
    <%= label_tag 'iban[bank_code]' ,"Code bancaire :"%> 
    <%= display_bank_code %>
  </p>
  <p>
    <%= label_tag 'iban[teller_code]' ,"Code guichet :"%> 
    <%= display_teller_code %>
  </p>
   <p>
    <%= label_tag 'iban[account_number]' ,"N° de compte :"%> 
    <%= display_account_number %>
  </p>
   <p>
    <%= label_tag 'iban[key]' ,"Clée :"%> 
    <%= display_key %>
  </p>
   <p>
    <%= label_tag 'iban[holder_name]' ,"Nom du titulaire :"%> 
    <%= display_holder_name %>
  </p>
  </fieldset>
  <fieldset>
    <legend>Fiche de poste :</legend>
   
    <div>
      <%= label_tag 'employee[services]', "Services :"%><br/>
      <div id="services">
      <table>
        <% for associated_service in @services %>
          <tr>
            <td>
              <%= check_box_tag "employee[service_ids][]",  associated_service.id, verify_param_employee('service_ids',associated_service) %>
            </td>
            <td>
              <%= associated_service.name %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    </div>
    
    <div id="jobs_choice">
      <%= label_tag 'employee[jobs]', "Fonctions :"%><br/>
      <div id="jobs_list">
        <table>
          <% for associated_job in @jobs %>
            <tr>
              <td>
                <%= check_box_tag "employee[job_ids][]", associated_job.id, verify_param_employee('job_ids',associated_job) %>
              </td>
              <td>
                <%= associated_job.name %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    
    <%=link_to_remote "Ajouter une fonction",:url=>{:action=>"job_form"},:href=>(url_for :action=>"job_form"), :html => {:id=>'job_add_link'}%>
  </fieldset>
    <span id="main_submit">
      <%= f.submit "Ajouter" %>
      (<%= lightbox_link_to "Lightbox", "/images/star.png" %>|
      <%= link_to 'Ajouter', new_job_path%>|
      <%= link_to_remote_redbox("redbox",:url => {:controller=>'Jobs', :action=>'new'}) %>)
    </span>
<% end %>
 

 
    <div style="display: none;" id='job_add'>
    <fieldset>
      <legend>Ajout de fonction</legend>
      <%form_remote_for(@job,:html=>{:id=>'job_add_form'}) do |j|%>
      <p>
        <%= j.label :name, "Nom :"%>
        <%= j.text_field :name%>
      </p>
      <p>
        <%= j.label :mission, "Mission :"%>
        <%= j.text_area :mission %>
      </p>
      <p>
        <%= j.label :activity, "Activités :"%>
        <%= j.text_area :activity%>
      </p>
      <p>
        <%= j.label :goal, "Objectifs :"%>
        <%= j.text_area :goal%>
      </p>
      <%= j.submit 'Ajouter une fonction'%>
      <%=link_to_remote "Annuler",:url=>{:action=>"job_form_cancel"},:href=>(url_for :action=>"job_form_cancel")%>
      <%end%>
      </fieldset>
    </div>



<%= link_to 'Retour', employees_path %>
</div>

