<h1>Fiche de <%=h @employee.civility.name unless @employee.civility.nil?%> <%=h @employee.last_name%> <%=h @employee.first_name%></h1>


<%if @list==true%>
  <div class="frame">
  <h2>Fiche d'identité</h2>
    <p>
      <b>Civilité :</b>
      <%=h @employee.civility.name unless @employee.civility.nil?%>
    </p>
    <p>
      <b>Nom :</b>
      <%=h @employee.last_name %>
    </p>
    <p>
      <b>Prénom :</b>
      <%=h @employee.first_name %>
    </p>
    <p>
      <b>Date de naissance :</b>
      <%=h @employee.birth_date.strftime("%d %B %Y") %>
    </p>

    <p>
      <b>Situation familiale :</b>
      <%=h @employee.family_situation.name unless @employee.family_situation.nil?%>
    </p>
  </div>

  <div class="frame">
  <h2>Fiche de poste</h2>  
    <%= @employee.services.size<=1 ? "<h3>Membre du service</h3>":"<h3>Membre des services</h3>"%>
      <%for service in @employee.services%>
        <p>
          <%=link_to service.name, service_path(service.id)%>
          <%= "(Responsable(s) : " + responsable(service.id)%>
        </p>
      <% end %>
      
    <h3>Fonction(s) dans l'entreprise</h3>
      <%for job in @employee.jobs%>
      <p>
        <b><%=job.name + " :"%></b>
        <table class="presentation">
          <tr class="left_cell">
            <td class="left_cell">- les missions :</td>
            <td class="right_cell"> <%=job.mission%></td>
          </tr>
          <tr>
            <td class="left_cell">- les activitées :</td>
            <td class="right_cell"><%=job.activity %></td>
          </tr>
          <tr>
            <td class="left_cell">- les objectifs :</td> 
            <td class="right_cell"> <%=job.goal %></td>
          </tr>
        </table>
      </p>  
      <% end %>

  </div> 
<%end%>



<%if @view==true%>

  <div class="frame">
  <h2>Coordonn&eacute;es</h2>
  <h3>Adresse postale</h3>
    <p>
      <b>Adresse :</b>
      <%=h @address.address1 + " - " + @address.address2 %>
    </p>
    <p>
      <b>Code postal :</b>
      <%=h @address.zip_code %>
    </p>
    <p>
      <b>Ville :</b>
      <%=h @address.city_name %>
    </p>
    <p>
      <b>Pays :</b>
      <%=h @address.country_name %>
    </p>
    
    <%=emails_h3(@employee) %>
    <p>
      <b>Personnel :</b>
      <%=h @employee.email %>
    </p>
    <p>
      <b>Professionnel :</b>
      <%=h @employee.society_email %>
    </p>
    <p>
    <%=numbers_h3(@employee)%>
      <%for number in @numbers%>
        <p>
          <%="<img src=" + number_type_path(number.number_type.name) + ">"%>&nbsp;
          <%=h number.indicative.indicative + " " + number.number%>&nbsp;
          <%="<img style=\"border:solid 1px #BBB; \" src=" + flag_path(number.indicative.country.id.to_s) + "  alt=" + number.indicative.country.name + " />"%>
        </p>
      <%end%>
    </p>
  </div> 
    
  <div class="frame">
  <h2>Identité Bancaire</h2>
    <p>
      <b>banque :</b>
      <%=h @iban.bank_name %>
    </p>
    <p>
      <b>Code bancaire :</b>
      <%=h @iban.bank_code %>
    </p>
    <p>
      <b>Code guichet :</b>
      <%=h @iban.branch_code %>
    </p>
    <p>
      <b>N° de compte :</b>
      <%=h @iban.account_number %>
    </p>
    <p>
      <b>Clée :</b>
      <%=h @iban.key %>
    </p>
    <p>
      <b>Nom du compte :</b>
      <%=h @iban.account_name %>
    </p>
  </div>
<div class="frame">
<h2>Contrat de travail</h2>
  <p>
    <b>Type de contrat :</b>
    <%=h @job_contract.job_contract_type.nil? ? "Aucun": @job_contract.job_contract_type.name %>
  </p>
  <p>
    <b>D&eacute;but du contrat :</b>
    <%=h @job_contract.start_date.nil? ? "Non spécifié" : @job_contract.start_date.strftime("%d %B %Y") %>
  </p>
  <p>  
    <b>Fin du contrat :</b>
    <%=h @job_contract.end_date.nil? ? "Non spécifiée" : @job_contract.end_date.strftime("%d %B %Y") %>
  </p>
  <p>
    <b>Status employ&eacute;e :</b>
    <%=h @job_contract.employee_state.nil? ? "Aucun": @job_contract.employee_state.name   %>
  </p>
  <p>
    <b>Salaire brut actuel :</b>
    <%=h @job_contract.salaries == [] ? "Aucun" :  @job_contract.salaries.last['salary'].to_s + " €"  %>
    &#40;net &#58; <%=h   @job_contract.salaries == [] ? "Aucun" : net(@job_contract.salaries.last['salary']).to_s + " €"  %>&#41;&nbsp; 
    <%= link_to 'Voir historique des salaires',employee_salaries_path(@employee)%>
  </p>
  
  <%if @edit==true %>
    <p>
      <%= link_to 'Modifier le contract de travail', edit_job_contract_path(@job_contract) %> 
    </p>
  <%end%>    

</div>
<div class="frame">
<h2>Primes</h2>    
    <%@employee.premia.size > 5 ? min = -5 : min = @employee.premia.size*-1%> 
    <%@employee.premia[min..@employee.premia.size].each do |premium|%>
        <p>
        <b><%=h( premium['premium'].to_s + " €")%></b>
        <%= premium['date'].strftime("le %d %B %Y ") unless premium['date'].nil? %>
        <%=h( "(Remarque: '" + premium['remark'] + "')" )%> 
        </p>
    <%end%>
    <% if @employee.premia.size>0 %>
    <p>
      <%= link_to 'Afficher toutes les primes',employee_premia_path(@employee)%>
    </p>
    <% end %>
    <p>  
      <%= link_to 'Ajouter une prime',new_employee_premium_path(@employee)%>   
    </p>
  
</div>
  
<%end%>  
<%if @edit==true %>
  <%= link_to 'Modifier', edit_employee_path(@employee) %> |
<%end%>
<%= link_to 'Retour', employees_path %>
