<h1>Informations d'un employ&eacute;</h1>

<% content_for :secondary_menu do %>
  <h1><span class="gray_color">Actions</span> <span class="blue_color">possibles</span></h1>
  <ul>
    <li><%= link_to 'Modifier le contract de travail', edit_employee_job_contract_path(@employee) %></li>
  </ul>
<% end %>

<div class="frame presentation_medium">
  <h2>Fiche d'identité</h2>
  <p>
    <%= label_tag "Civilité :"%>
    <strong><%=h @employee.civility.name unless @employee.civility.nil?%></strong>
  </p>
  <p>
    <%= label_tag "Nom :"%>
    <strong><%=h @employee.last_name %></strong>
  </p>
  <p>
    <%= label_tag "Prénom :"%>
    <strong><%=h @employee.first_name %></strong>
  </p>
  <p>
    <%= label_tag "Date de naissance :"%>
    <strong><%=h @employee.birth_date.strftime("%d %B %Y") %></strong>
  </p>
  <p>
    <%= label_tag "Situation familiale :"%>
    <strong><%=h @employee.family_situation.name unless @employee.family_situation.nil?%></strong>
  </p>
  <p>
    <%= label_tag "N&deg; s&eacute;curit&eacute; sociale :" %>
    <strong><%=h @employee.social_security_number%></strong>
  </p>
  <h2>Fiche de poste</h2>  
  <%= @employee.services.size<=1 ? "<h3>Membre du service</h3>":"<h3>Membre des services</h3>"%>
    <%for service in @employee.services%>
      <p>
        <%=link_to service.name, service_path(service.id)%>
        <%= responsable(service.id)=="" ? "" : "(Responsable(s) : #{responsable(service.id)} )"%>
      </p>
    <% end %>
    
  <h3>Fonction(s) dans l'entreprise</h3>
  <%for job in @employee.jobs%>
  <p>
    <strong><%=job.name + " :"%></strong>
    <table class="presentation">
      <tr class="left_cell">
        <td class="left_cell">- les missions :</td>
        <td class="right_cell"> <%=job.mission%></td>
      </tr>
      <tr>
        <td class="left_cell">- les activitées :</td>
        <td class="right_cell"><%=job.activity %></td>
      </tr>
      <tr>
        <td class="left_cell">- les objectifs :</td> 
        <td class="right_cell"> <%=job.goal %></td>
      </tr>
    </table>
  </p>  
  <% end %>

  <h2>Coordonn&eacute;es</h2>

  <%if (controller.can_view?(current_user) and Employee.can_view?(current_user)) or @employee.user.id == current_user.id%>
    <h3>Adresse postale</h3>
      <p>
        <%= label_tag "Adresse :"%>
        <strong><%=h @address.address1 %>
        <%= " - " + h(@address.address2) unless @address.address2.empty? %></strong>
      </p>
      <p>
        <%= label_tag "Code postal :"%>
        <strong><%=h @address.zip_code %></strong>
      </p>
      <p>
        <%= label_tag "Ville :"%>
        <strong><%=h @address.city_name %></strong>
      </p>
      <p>
        <%= label_tag "Pays :"%>
        <strong><%=h @address.country_name %></strong>
      </p>
  <% end %>

  <%if (controller.can_view?(current_user) and Employee.can_view?(current_user)) or @employee.user.id == current_user.id%>    
      <%= emails_h3(@employee) %>
      <p>
        <%= label_tag "Personnel :"%>
        <strong><%=h @employee.email %></strong>
      </p>
      <p>
        <%= label_tag "Professionnel :"%>
        <strong><%=h @employee.society_email %></strong>
      </p>
  <% end %>
      <%= "<h3>Adresse électronique</h3>" unless (controller.can_view?(current_user) and Employee.can_view?(current_user)) or @employee.user.id == current_user.id %>
      <p>
        <%= label_tag "Entreprise :"%>
        <strong><%=h  @employee.intranet_email %></strong>
      </p>
            
      <p>
      <%=numbers_h3(@employee.numbers)%>
        <%for number in @numbers%>
          <% if ( number.visible? or (controller.can_view?(current_user) and Employee.can_view?(current_user))) or @employee.user.id == current_user.id %>
            <p>
              <%="<img src=" + number_type_path(number.number_type.name) + " alt=" + number.number_type.name + " title=" + number.number_type.name + "/>"%>&nbsp;
              <%=h number.indicative.indicative + " " + number.number%>&nbsp;
              <% if number.indicative.country.code == "us" or number.indicative.country.code == "ca"%> 
                <%="<img style=\"border:solid 1px #BBB; \" src=" + flag_path("us") + " title=\"Etats-Unis\"  alt=\"Us\" />"%>
                <%="<img style=\"border:solid 1px #BBB; \" src=" + flag_path("ca") + " title=\"Canada\"  alt=\"Ca\" />"%>
              <% else %>  
                <%="<img style=\"border:solid 1px #BBB; \" src=" + flag_path(number.indicative.country.code.to_s) + " title=" + number.indicative.country.name + "  alt=" + number.indicative.country.code + " />"%>
              <% end %>
            </p>
          <% end %>  
        <%end%>
      </p>
  <%if (controller.can_view?(current_user) and Employee.can_view?(current_user)) or @employee.user.id == current_user.id%>
    <h2>Identité Bancaire</h2>
      <p>
        <%= label_tag "Nom de la banque :"%>
        <strong><%=h @iban.bank_name %></strong>
      </p>
      <p>
        <%= label_tag "Code bancaire :"%>
        <strong><%=h @iban.bank_code %></strong>
      </p>
      <p>
        <%= label_tag "Code guichet :"%>
        <strong><%=h @iban.branch_code %></strong>
      </p>
      <p>
        <%= label_tag "N° de compte :"%>
        <strong><%=h @iban.account_number %></strong>
      </p>
      <p>
        <%= label_tag "Clée :"%>
        <strong><%=h @iban.key %></strong>
      </p>
      <p>
        <%= label_tag "Nom du compte :"%>
        <strong><%=h @iban.account_name %></strong>
      </p>
  <% end %>    
  <% if JobContract.can_view?(current_user) or @employee.user.id == current_user.id%>
    <h2>Contrat de travail</h2>
    <% if !@job_contract.employee_state.nil? and @job_contract.employee_state.active %>
      <p>
        <%= label_tag "Type de contrat :"%>
        <strong><%=h @job_contract.job_contract_type.nil? ? "Aucun": @job_contract.job_contract_type.name %></strong>
      </p>
      <p>
        <%= label_tag "D&eacute;but du contrat :"%>
        <strong><%=h @job_contract.start_date.nil? ? "Non spécifié" : @job_contract.start_date.strftime("%d %B %Y") %></strong>
      </p>
      <p>  
        <%= label_tag "Fin du contrat :"%>
        <strong><%=h @job_contract.end_date.nil? ? "Non spécifiée" : @job_contract.end_date.strftime("%d %B %Y") %></strong>
      </p>
    <% end %>  
      <p>
        <%= label_tag "Status employ&eacute;e :"%>
        <strong><%=h @job_contract.employee_state.nil? ? "Aucun": @job_contract.employee_state.name   %></strong>
      </p>
    <% if !@job_contract.employee_state.nil? and @job_contract.employee_state.active %>
      <p>
        <%= label_tag "Salaire brut actuel :"%>
        <strong><%=h @job_contract.salary.nil? ? "Aucun" :  @job_contract.salary['salary'].to_s + " €"  %>
        &#40;net &#58; <%=h   @job_contract.salary.nil? ? "Aucun" : net(@job_contract.salary['salary']).to_s + " €"  %>&#41;&nbsp; </strong>
        <% if @employee.job_contract.salaries.size>0 %>
          <%= link_to 'Voir historique des salaires',employee_salaries_path(@employee)%>
        <% end %>
      </p>
    <% end %>  
      <%= display_job_contract_edit_link(@job_contract_controller, @employee)%> 
    
  <% end %>    
  <% if Premium.can_view?(current_user)or @employee.user.id == current_user.id%>
    <h2>Primes</h2>    
      <% @employee.premia[0...5].each do |p|%>
          <p>
            <strong><%= p.premium %> &euro;</strong>
            <%= p.date.strftime("le %d %B %Y") unless p.date.nil? %>
            <%=h( "(#{p.remark})")%> 
          </p>
      <% end %>
      
      <%= display_premia_view_link( @employee, @premia_controller) %>
      <%= display_premia_add_link( @employee, @premia_controller) %>
  <%end%>
   
  <!-- Display Documents div -->
  <%= display_documents(@employee, @documents) %>  
</div>

<%=display_employee_back_link(@employee)%>

<%= link_to 'Retour', employees_path %>