<% secondary_menu POSSIBLE_ACTIONS do %>
  <%= show_job_contract_edit_button(@employee) %>
  <%= show_employee_edit_button(@employee) %>
  <%= show_premia_add_button(@employee) %>
<% end %>

<% secondary_menu USEFUL_LINKS do %>
  <%= show_employee_list_button %>
  <%= show_premia_view_button(@employee) %>
  <%= link_to("Salaries hystory", employee_salaries_path(@employee))%>
<% end %>

<h1>Informations d&apos;un employ&eacute;</h1>
<%= render :partial => @employee %>

<!-- Display Documents div -->
<%# display_documents(@employee, @documents) %>
