<% secondary_menu POSSIBLE_ACTIONS do %>
  <%= edit_employee_job_contract_link(@employee) %>
  <%= edit_employee_link(@employee) %>
  <%= new_employee_premium_link(@employee) %>
<% end %>

<% secondary_menu USEFUL_LINKS do %>
  <%= employees_link %>
  <%= employee_premia_link(@employee) %>
  <%= employee_salaries_link(@employee) %>
<% end %>

<h1>Informations d&apos;un employ&eacute;</h1>
<%= render :partial => @employee %>

<!-- Display Documents div -->
<%# display_documents(@employee, @documents) %>
