<% secondary_menu POSSIBLE_ACTIONS do %>
  <%= link_to( "#{image_tag("/images/edit_16x16.png", :alt => "Modifier", :title => "Modifier")} Modifier le contract de travail", edit_employee_job_contract_path(@employee)) %>
  <%= show_edit_button(@employee,"Modifier cet employée") %>
  <%= show_premia_add_link(@employee, "Ajouter une prime") %>
<% end %>

<% secondary_menu USEFUL_LINKS do %>
  <%= link_to "Liste des employés", employees_path %>
  <%= show_premia_view_link(@employee) %>
  <%= link_to("historique des salaires", employee_salaries_path(@employee))%>
<% end %>

<h1>Informations d&apos;un employ&eacute;</h1>
<%= render :partial => @employee %>

<!-- Display Documents div -->
<%= display_documents(@employee, @documents) %>
