<h4>Information consernant le <%= @product.name %></h4>

<p>
  <%= label_tag "name", @product.name %>
</p>

<p>
  <%= label_tag "description", @product.description %>
</p>

<p>
  <%= label_tag "production_cost_manpower ", @product.production_cost_manpower %>
</p>

<p>
  <%= label_tag "production_time ", @product.production_time %>
</p>

<p>
  <%= label_tag "delivery_cost_manpower  ", @product.delivery_cost_manpower  %>
</p>

<p>
  <%= label_tag "production_time ", @product.delivery_time  %>
</p>

<p>
  <%= label_tag "information" , @product.information %>
</p>