<% unless @reference_id == -1 %>
  <% reference = ProductReference.find(@reference_id)%>
<h4>Information consernant la référence <%= reference.name %></h4>

  <p>
    <%= label_tag "name", reference.name %>
  </p>

  <p>
    <%= label_tag "description", reference.description %>
  </p>

<p>
    <%= label_tag "production_cost_manpower ", reference.production_cost_manpower %>
</p>

<p>
    <%= label_tag "production_time ", reference.production_time %>
</p>

<p>
    <%= label_tag "delivery_cost_manpower  ", reference.delivery_cost_manpower  %>
</p>

<p>
    <%= label_tag "production_time ", reference.delivery_time  %>
</p>
<% end %>