<h1>Visualiser le catalogue des produits</h1>

<div class="frame">
  <h2>Catalogue des produits</h2>
  <div id='catalog'>
    <span id='show_categories'>
      <% (find_max_level + 1).times do |value|%>
        <%= show_category_column(@categories,value) %>
      <% end %>
    </span>
    <span id='show_references'>
      <%= render :partial => "show_references" %>
    </span>

    <div id="products_list"></div>
    <div id="product_reference_informations"></div>
    <div id="product_informations"></div>

  </div>
  <% find_max_level.times do |value|%>
    <%= observe_field("select_#{value}", :update => "show_references", :url => {:action => :show_references}, :with => 'parameter' ) %>
    <%= observe_field("select_#{value}", :url => {:action => :refresh_categories} ,:with => 'parameter' ) %>
  <% end %>

  <%= observe_field("select_#{find_max_level}", :update => "show_references", :url => {:action => :show_references}, :on => "click", :with => 'parameter' ) %>
</div>