<p>
  <%= label :contact, "Nom du contact" %>
  <%= contact.text_field :first_name %>
</p>

<p>
  <%= label :contact, "Pr&eacute;nom du contact" %>
  <%= contact.text_field :last_name %>
</p>

<p>
  <%= label :contact, "E-mail" %>
  <%= contact.text_field :email %>
</p>

<p>
  <%= label :contact, "Job" %>
  <%= contact.text_field :jobs %>
</p>

<p>
  <%=label :contact, "Type de contact"%>
  <%= contact.select("contact_type_id", ContactType.find(:all, :conditions => ["owner = ?", contact_type]).collect {|a| [ a.name, a.id]})%>
</p>