<!-- Div that content new contacts-->
<div id="new_contact">
  <% params[:new_contact_number].nil? ? new_contact_number_value = 0 : new_contact_number_value = params[:new_contact_number][:value].to_i %>
  <%= hidden_field("new_contact_number", "value",  "value" => new_contact_number_value) %>  
  
  <% unless new_contact_number_value > 0 %>
    <div id="link_add_remove_contact_1">
      <%= link_to_remote("(ajouter)", :url => {:controller => "contacts",:action => "add_contact", :cpt => 1, 
              :owner_id => owner_id, :owner_type => owner_type}) %>
    </div> 
  <% end %>
  
  <% # cpt store the number of form %>
  <% cpt = 1 %>
  <!-- If there was some form, they are re-create -->

  <% if new_contact_number_value > 0 %>
    <% new_contact_number_value.times do |i| %>
      <%unless params["#{owner_type.downcase}"][:contacts]["#{i+1}"].nil?%>
      <% unless params["#{owner_type.downcase}"][:contacts]["#{i+1}"][:valid] == 'false' %>
        
        <% params["owner_id"]= owner_id %>
        <% params["owner_type"] = owner_type %>
        
        
        <%= get_new_contact_form(params, cpt, true)%>            

      <%end #unless%>
      <%end%>
    <% cpt += 1 %>
  <% end %>

  <div id='link_add_remove_contact_<%=cpt%>'>
    <%= link_to_remote("(ajouter)", :url => {:controller => "contacts",:action => "add_contact", :cpt => cpt, 
          :owner_id => owner_id, :owner_type => owner_type}) %>
  </div>
<% end %>
</div>
