<div id='link_add_remove_contact_<%= cpt%>'>
  <%= error_messages_for("new_contact#{cpt}") %>

  <%= link_to_remote("supprimer", :url => {:controller => "contacts", :action => "delete_new_contact", :cpt => cpt, :owner_type => owner_type.downcase})%>
</div>

<div id='<%= "new_contact#{cpt}"%>'>

  <div id='contact_<%=cpt%>_form' style='display: block;'>
    <p>
      <%= label "#{owner_type.downcase}_contacts_#{cpt}", "first_name", "Nom" %>
      <%= my_text_field_with_auto_complete(:contact, :first_name, {:name => owner_type.downcase, :index => cpt, :controller => 'contacts'},{
          :select => 'contact_first_name',
          :after_update_element => "function(){document.getElementById('#{owner_type.downcase}_contacts_#{cpt}_selected').value = 'true';}",
          :with => "'value='+document.getElementById('#{owner_type.downcase}_contacts_#{cpt}_first_name').value+
          '&owner_id=#{owner_id}'+
          '&owner_type=#{owner_type}'"})%>
    </p>

    <p>
      <%= label "#{owner_type.downcase}_contacts_#{cpt}", "last_name",  "Prénom" %>
      <%= my_text_field_with_auto_complete(:contact, :last_name, {:name => owner_type.downcase, :index => cpt, :controller => 'contacts'},{
          :select => 'contact_last_name',
          :after_update_element => "function(){document.getElementById('#{owner_type.downcase}_contacts_#{cpt}_selected').value = 'true';}",
          :with => "'value='+document.getElementById('#{owner_type.downcase}_contacts_#{cpt}_last_name').value+
          '&owner_id=#{owner_id}'+
          '&owner_type=#{owner_type}'"})%>
    </p>

    <p>
      <%= label "#{owner_type.downcase}_contacts_#{cpt}", "email", "Email" %>
      <%= my_text_field_with_auto_complete(:contact, :email, {:name => owner_type.downcase, :index => cpt, :controller => 'contacts'},{
          :select => 'contact_email ',
          :after_update_element => "function(){document.getElementById('#{owner_type.downcase}_contacts_#{cpt}_selected').value = 'true';}",
          :with => "'value='+document.getElementById('#{owner_type.downcase}_contacts_#{cpt}_email').value+
          '&owner_id=#{owner_id}'+
          '&owner_type=#{owner_type}'"})%>
    </p>
    
    <% contact_ = Contact.new%>
    <% fields_for "#{owner_type.downcase}[contacts]", contact_ , :index => cpt do |contact|%>
      <p>
      <%= contact.label :job, "Job" %>
      <%= contact.text_field :job%>
    </p>

    <p>
      <%=contact.label :contact_type_id, "Type de contact"%>
      <%= contact.select("contact_type_id", ContactType.find(:all, :conditions => ["owner = ?", owner_type]).collect {|a| [ a.name, a.name]})%>
    </p>

    <p>
        <%= contact.hidden_field(:id, :value => "")%>
    </p>

    <p>
        <%= contact.hidden_field(:valid, :value => 'true') %>
    </p>

    <p>
        <!-- Use to know if user selected a value proposed by auto-complete-->
        <%= contact.hidden_field(:selected, 'value' => '')%>
    </p>
  <%end%>

    <% # Affectation of variables when an error occur%>
    <%if error%>
      <%=  javascript_tag "document.getElementById('#{owner_type.downcase}_contacts_#{cpt}_first_name').value = '#{params["#{owner_type.downcase}"]["contacts"]["#{cpt}"]["first_name"]}'"%>
      <%=  javascript_tag "document.getElementById('#{owner_type.downcase}_contacts_#{cpt}_last_name').value = '#{params["#{owner_type.downcase}"]["contacts"]["#{cpt}"]["last_name"]}'"%>
      <%=  javascript_tag "document.getElementById('#{owner_type.downcase}_contacts_#{cpt}_email').value = '#{params["#{owner_type.downcase}"]["contacts"]["#{cpt}"]["email"]}'"%>
      <%=  javascript_tag "document.getElementById('#{owner_type.downcase}_contacts_#{cpt}_job').value = '#{params["#{owner_type.downcase}"]["contacts"]["#{cpt}"]["job"]}'"%>
    <%end%>
  </div>

  <div id='contact_<%=cpt%>_show_info' style='display: block;'>
    <%if error%>
      <% # unless a form content was in show position %>
      <%unless params["#{owner_type.downcase}"]["contacts"]["#{cpt}"]["id"].blank?%>

        <%= get_new_contact_info(params["#{owner_type.downcase}"]["contacts"]["#{cpt}"]["id"].to_i, cpt)%>

        <% # The contact_form input is hide%>
        <%=javascript_tag "document.getElementById('contact_#{cpt}_form').style.display = 'none'"%>
      <%end%>  
    <%end%>
  </div> 
</div>

<%= hidden_field("new_contact#{cpt}","id", "value" => '')%>
<%= hidden_field("create_contact", "#{cpt}", "value" => "true")%>

<%= observe_field("#{owner_type.downcase}_contacts_#{cpt}_first_name",
        :url =>{:controller => "contacts", :action=>'text_field_change', :owner_id => owner_id, :owner_type => owner_type},
        :frequency => 1, 
        :with => "'contact_input_info_visibility='+encodeURIComponent(document.getElementById('contact_#{cpt}_form').style.display)+ 
        '&value='+encodeURIComponent(value)+
        '&contact_id='+encodeURIComponent(document.getElementById('#{owner_type.downcase}_contacts_#{cpt}_first_name_auto_complete').getElementsByClassName('contacts')[0].getElementsByClassName('selected')[0].getElementsByClassName('contact_id')[0].innerHTML)+
        '&contact_selected='+encodeURIComponent(document.getElementById('#{owner_type.downcase}_contacts_#{cpt}_selected').value)+
        '&cpt='+encodeURIComponent(#{cpt})")
%>

<%= observe_field("#{owner_type.downcase}_contacts_#{cpt}_last_name",
        :url =>{:controller => "contacts", :action=>'text_field_change', :owner_id => owner_id, :owner_type => owner_type},
        :frequency => 1, 
        :with => "'contact_input_info_visibility='+encodeURIComponent(document.getElementById('contact_#{cpt}_form').style.display)+ 
        '&value='+encodeURIComponent(value)+
        '&contact_id='+encodeURIComponent(document.getElementById('#{owner_type.downcase}_contacts_#{cpt}_last_name_auto_complete').getElementsByClassName('contacts')[0].getElementsByClassName('selected')[0].getElementsByClassName('contact_id')[0].innerHTML)+
        '&contact_selected='+encodeURIComponent(document.getElementById('#{owner_type.downcase}_contacts_#{cpt}_selected').value)+
        '&cpt='+encodeURIComponent(#{cpt})")
%>

<%= observe_field("#{owner_type.downcase}_contacts_#{cpt}_email",
        :url =>{:controller => "contacts", :action=>'text_field_change', :owner_id => owner_id, :owner_type => owner_type},
        :frequency => 1, 
        :with => "'contact_input_info_visibility='+encodeURIComponent(document.getElementById('contact_#{cpt}_form').style.display)+ 
        '&value='+encodeURIComponent(value)+
        '&contact_id='+encodeURIComponent(document.getElementById('#{owner_type.downcase}_contacts_#{cpt}_email_auto_complete').getElementsByClassName('contacts')[0].getElementsByClassName('selected')[0].getElementsByClassName('contact_id')[0].innerHTML)+
        '&contact_selected='+encodeURIComponent(document.getElementById('#{owner_type.downcase}_contacts_#{cpt}_selected').value)+
        '&cpt='+encodeURIComponent(#{cpt})")
%>  