<h1>Informations concernant le contact </h1>
<div class="presentation_medium">  
  <p>
    <%= label_tag "Nom :"%>
    <strong><%= @contact.first_name %></strong>
  </p>
  
  <p>
    <%= label_tag "Pr&eacute;nom :"%>
    <strong><%= @contact.last_name %></strong>
  </p>
  
  <p>
    <%= label_tag "Email :"%>
    <strong><%= @contact.email %></strong>
  </p>
  
  <p>
    <%= label_tag "Job :"%>
    <strong><%= @contact.job %></strong>
  </p>

  <p>
    <%= hidden_field_tag("contact_type", :value => @owner_type)%>
  </p>

  <% if controller.can_edit?(current_user) and Contact.can_edit?(current_user)%>
    <%= get_edit_link(@owner_type) %>
  <% end %>
  <%= get_owner_link(@owner_type) %>
</div>
