<% owner_type = contacts_owner.class.name.downcase %>

<div class="contact_general_infos" <%= "style=\"display:none\"" if contact_in_one_line.should_destroy? %> >
<% fields_for "#{owner_type}[contact_attributes][]", contact = contact_in_one_line do %>
  <p id="contact_<%= contact.id  %>">
    <%= image_tag 'warning_14x14.png' if contact.new_record? or !contact.errors.empty? %>

    <%= "#{contact.fullname_number_job_and_contact_type}" %>

    <%= link_to_function "Fiche complète", "this.up('.contact_general_infos').down('.resource_form').show()" if ( !is_form_view? and Contact.can_view?(current_user) ) or ( is_form_view? and Contact.can_view?(current_user) and !Contact.can_edit?(current_user) ) %>

    <%= link_to_function "Modifier", "mark_resource_for_update(this.up('.contact_general_infos'))" if is_form_view? and Contact.can_edit?(current_user) %>

    <% if is_form_view? and Contact.can_delete?(current_user) %>
      <% if contact.new_record? %>
        <%= link_to_function "Supprimer", "this.up('.contact_general_infos').remove()" %>
      <% else %>
        <%= link_to_function "Supprimer", "if (confirm('Êtes-vous sûr? La suppression prendra effet uniquement après validation du formulaire.')) mark_resource_for_destroy(this.up('.contact_general_infos'))" %>
      <% end %>
    <% end %>

    <%= render :partial => 'contacts/contact_form', :object => (contact || Contact.new), :locals => { :contacts_owner => contacts_owner } if Contact.can_view?(current_user) or Contact.can_edit?(current_user) %>
  </p>
<% end  %>
</div>
