<% contact_type = contacts_owner.class.name.downcase  %>
<% contact = contact_with_infos %>
<div class="object">
  <%= check_box_tag("#{contact_type}[contact_ids][]", contact.id, contacts_owner.contacts.include?(contact)) %>
  <label><%= link_to_function(contact.fullname, "this.up('.object').down('.details').toggle()") %></label>
  <div class="details" style="display:none">
    <p>
      <label>Fonction : </label>
      <strong><%= contact.job %></strong>
    </p>
    <p>
      <label>E-mail : </label>
      <strong><%= contact.email %></strong>
    </p>
    <% for number in contact.numbers %>
      <p>
        <label><%= "#{number.number_type.name} : " %></label>
        <strong><%= "#{number.formatted}" %> </strong>
      </p>
    <% end %>
  </div>
</div>