<%= stylesheet_link_tag_with_theme_support "logistics/restockable_supplies.css" %>

<% if @commodities_to_restock.any? or @consumables_to_restock.any? %>
  <% add_contextual_menu_item :statistics do %>
    <span class='contextual_menu_statistic'>A renouveler :</span>
    <%= "<span class='contextual_menu_statistic'>- #{pluralize(@commodities_to_restock.size, "matière première", "matières premières")}</span><br/>" if @commodities_to_restock.any? %>
    <%= "<span class='contextual_menu_statistic'>- #{pluralize(@consumables_to_restock.size, "consommable", "consommables")}</span>" if @consumables_to_restock.any? %>
  <% end %>
<% end %>
  
<h1>Les articles &agrave; r&eacute;approvisionner</h1>
<div>
  <% if @commodities_to_restock.any? or @consumables_to_restock.any? %>  
    <%= render(:partial => "supplies_to_restock", :object => @commodities_to_restock) if @commodities_to_restock.any? %>
    <%= render(:partial => "supplies_to_restock", :object => @consumables_to_restock) if @consumables_to_restock.any? %>
  <% else %>
    <p>Les matières premières et les consommables sont normalement approvisionn&eacute;s.</p>
  <% end %>
</div>
