<% content_for :header do %>
  <%= javascript_include_tag 'sales/product_catalog' %>
<% end %>

<h1>Catalogue des produits</h1>

<div class="presentation_large">

  <div id="catalog">
    <span id="show_categories">
      <%= select_for_product_reference_categories(@product_reference_categories) %>
      <%= select_for_product_reference_sub_categories(@product_reference_sub_categories) %>
    </span>
    <span id='show_references'>
      <%= select_for_product_references(@product_references) %>
    </span>    
    
    <div id="end_products_list"> 
      <%= render :partial => 'end_products/end_products', :object => @end_products %>
    </div>     
    <!--<div id="product_reference_informations"></div>
    <div id="product_informations"></div>-->
  </div>
  
  <%= @type == "popup" ? link_to("Mode normal", :controller => 'products_catalog') : link_to("Mode Popup", {:controller => 'products_catalog', :type => 'popup'}, :popup => true) %>
</div>
