<% dunning = cancelled_dunning_in_one_line %>
<tr>
  <td><%= cancelled_dunning_in_one_line_counter+1 %></td>
  <td><%= dunning.date.humanize %></td>
  <td><%= dunning.dunning_sending_method.name %></td>
  <td><%= dunning.creator.employee_name %></td>
  <td><%= dunning.comment %></td>
  <td><%= dunning.cancelled_by.employee_name %></td>
  <td><%= dunning.cancelled_at.humanize %></td>
</tr>
