<% content_for :header do -%>
  <%= javascript_include_tag 'sales/dunning' %>
<% end %>

<% without_action ||= !Dunning.can_cancel?(current_user) %>

<% if dunnings.reject(&:cancelled).empty? %>
  <p>Aucune relance n'a été effectuée</p>
<% else %>
  <table>
    <tr>
      <th>N&deg;</th>
      <th>Effectu&eacute;e le</th>
      <th>Par</th>
      <th>Auteur</th>
      <th>Commentaires</th>
      <%= "<th>Action</th>" unless without_action %>
    </tr>
    
    <%= render :partial => "dunnings/dunning_in_one_line", :collection => dunnings.reject(&:cancelled), :locals => { :without_action => without_action } %>
  </table>
<% end %>

<% unless dunnings.select(&:cancelled).empty? %>
  
  <p>
    <%= link_to_function('Voir les relances annulées', "toggle_blind(this, 'cancelled_dunnings');") %> 
  </p>
  
  <div id='cancelled_dunnings' style='display:none;'>
    <table class="cancelled_dunnings_table disabled" >
      <tr>
        <th>N&deg;</th>
        <th>Effectu&eacute;e le</th>
        <th>Par</th>
        <th>Auteur</th>
        <th>Commentaires</th>
        <th>Annul&eacute; par</th>
        <th>Annul&eacute; le</th>
      </tr>
      
      <%= render :partial => "dunnings/cancelled_dunning_in_one_line", :collection => dunnings.select(&:cancelled) %>
    </table>
  </div>
<% end %>

