<div class='presentation_medium'>
  <h2>Bon &agrave; tirer</h2>
  <%= render :partial => "press_proofs/press_proofs_list", :object => [ @owner_class.find(@owner.id) ], :locals => { :press_proofs => [ @owner_class.find(@owner.id) ]} %>
</div>

<h1>Signaler qu&apos;une relance a &eacute;t&eacute; effectu&eacute;e</h1>
<div class='presentation_medium'>

<% unless dunnings.empty? %>
  <h3>Historique des relances</h3>
  <%= render :partial => "dunnings", :object => dunnings, :locals => {:without_action => true } %>
  <hr/>
<% end %>

<% form_for(dunning,:url => {:action => :create}) do |form| %>  
  <%= form.error_messages %>
  <p>
    <%= form.label :date, nil, :required => :required %>
    <%= form.calendar_date_select :date %>
  </p>
  
  <p>
    <%= form.label :dunning_sending_method, nil, :required => :required %>
    <%= collection_select :dunning, :dunning_sending_method_id, DunningSendingMethod.all, :id, :name, :include_blank => true %>
  </p>
  
  <p>
    <%= form.label :comment %>
    <%= form.text_area_autoresize :comment, :cols => 50 %>
  </p>
  
  <%= form.form_buttons(:only => [:reset, :submit]) %>
<% end %>
</div>
