<% content_for :header do -%>
  <%= stylesheet_link_tag_with_theme_support 'core/has_resources/has_resources' %>
  <%= stylesheet_link_tag_with_theme_support 'core/has_contacts/has_contacts' %>
  <%= javascript_include_tag 'core/has_contacts/contacts_picker' %>
<% end -%>

<%
require_locals form

quote = quote_header
order = quote.step_estimate.order
default_bill_to_address = order.customer.address
default_ship_to_address = order.establishment ? order.establishment.address : order.customer.address
%>
<div id="quote_header">
  <div>
    <% #FIXME see that page for english translation of 'adresse de facturation et livraison' : http://forum.wordreference.com/showthread.php?t=905254 -%>
    <h3>Adresse de facturation</h3>
    <%= render :partial => 'addresses/address_form', :object => quote.bill_to_address || quote.build_bill_to_address(default_bill_to_address.attributes), :locals => { :address_owner => quote } %>
  </div>

  <div>
    <h3>Adresse de livraison</h3>
    <%= render :partial => 'addresses/address_form', :object => quote.ship_to_address || quote.build_ship_to_address(default_ship_to_address.attributes), :locals => { :address_owner => quote } %>
  </div>
  
  <div id="contact_container">
    <h3>Contact</h3>
    <p>
      <%= label :select_contacts, "À l'attention de " %>
      <%= display_contacts_picker(quote, order.contacts) %>
    </p>
  </div>
</div>
