<% quotes_product_reference = quotes_product_reference_in_one_line %>
<% this_is_default_row_and_should_be_hidden ||= false %>

<% if quotes_product_reference.nil? %>
  <% require_locals quote %>
  
  <%= render :partial => 'quotes_product_reference_in_one_line', :object => QuotesProductReference.new, :locals => { :this_is_default_row_and_should_be_hidden => true } %>
  <% if is_form_view? %>
    <tr class="new_quotes_product_reference">
      <td colspan="10">
        <%= hidden_field_tag 'add_this_product_reference_id' %>
        <%= custom_text_field_with_auto_complete( :product_reference, :reference,
                                                  { :value => "Référence produit dans la base",
                                                    :onkeydown => "if (event.keyCode == 13) { return false; }" },
                                                  { :update_id => 'add_this_product_reference_id' } ) %>
        <%= button_to_function "Ajouter", "add_product_reference_to_quote()" %>
      </td>
    </tr>
  <% end %>
<% else %>
  <% fields_for "quote[quotes_product_reference_attributes][]", quotes_product_reference do |form| %>
    <%= form.error_messages %>
    <tr class="quotes_product_reference" <%= "style=\"display:none\"" if this_is_default_row_and_should_be_hidden %>>
      <td class="reference">
        <%= quotes_product_reference.product_reference.reference unless quotes_product_reference.new_record? %>
      </td>
      <td class="description">
        <% if is_form_view? %>
          <%= form.text_field :name, :size => 45, :class => :input_name, :title => "Fixer le titre de la description pour cette référence", :index => nil %>
          <%= form.hidden_field :original_name, :class => :input_original_name, :index => nil %>
          <span>
            <%= link_to( image_tag("eraser_16x16.png", :alt => "Valeur par défaut", :title => "Valeur par défaut"), "#default",
                         :onclick => "restore_original_value(this.up('.quotes_product_reference'), 'name')" ) %>
          </span>
        <% else %>
          <%= h(quotes_product_reference.name) %>
        <% end %>
        
        <br/>
        
        <% if is_form_view? %>
          <%= form.text_area :description, :cols => 55, :rows => 2, :class => :input_description, :title => "Fixer le corps de la description pour cette référence", :index => nil %>
          <%= form.hidden_field :original_description, :class => :input_original_description, :index => nil %>
          <span>
            <%= link_to( image_tag("eraser_16x16.png", :alt => "Valeur par défaut", :title => "Valeur par défaut"), "#default",
                         :onclick => "restore_original_value(this.up('.quotes_product_reference'), 'description')" ) %>
          </span>
        <% else %>
          <%= textilize(h(quotes_product_reference.description)) %>
        <% end %>
      </td>
      <td class="unit_price">
        <% if is_form_view? %>
          <%= form.text_field :unit_price, :value => quotes_product_reference.unit_price.to_f.to_s(2), :size => 7, :maxlength => 9, :onkeyup => "calculate(this.up('.quotes_product_reference'))", :class => :input_unit_price, :title => "Fixer le prix unitaire brut pour cette référence", :index => nil %>
          <%= form.hidden_field :original_unit_price, :class => :input_original_unit_price, :index => nil %>
          <span>
            <%= link_to( image_tag("eraser_16x16.png", :alt => "Valeur par défaut", :title => "Valeur par défaut"), "#default",
                         :onclick => "restore_original_value(this.up('.quotes_product_reference'), 'unit_price'); calculate(this.up('.quotes_product_reference'))" ) %>
          </span>
        <% else %>
          <%= quotes_product_reference.unit_price.to_f.to_s(2) %>
        <% end %>
      </td>
      <td class="discount">
        <% if is_form_view? %>
          <%= form.text_field :discount, :value => quotes_product_reference.discount.to_f.to_s(2), :size => 3, :maxlength => 5, :onkeyup => "calculate(this.up('.quotes_product_reference'))", :class => :input_discount, :title => "Fixer une remise pour cette référence", :index => nil %>
        <% else %>
          <%= quotes_product_reference.discount.to_f.to_s(2) %>
        <% end %>
      </td>
      <td class="unit_price_with_discount">
        <%= quotes_product_reference.unit_price_with_discount.round_to(2).to_s(2) %>
      </td>
      <td class="quantity">
        <% if is_form_view? %>
          <%= form.text_field :quantity, :size => 3, :maxlength => 5, :onkeyup => "calculate(this.up('.quotes_product_reference'))", :class => :input_quantity, :title => "Fixer la quantité pour cette référence", :index => nil %>
        <% else %>
          <%= quotes_product_reference.quantity %>
        <% end %>
      </td>
      <td class="total">
        <%= quotes_product_reference.total.round_to(2).to_s(2) %>
      </td>
      <td class="vat">
        <% if is_form_view? %>
          <%= form.select :vat, Vat.find(:all, :order => :position).collect{ |vat| [ vat.name, vat.rate ] }, {}, :onchange => "calculate(this.up('.quotes_product_reference'))", :class => :input_vat, :title => "Fixer le taux de TVA s'appliquant à cette référence", :index => nil %>
        <% else %>
          <%= quotes_product_reference.vat %>
        <% end %>
      </td>
      <td class="total_with_taxes">
        <%= quotes_product_reference.total_with_taxes.round_to(2).to_s(2) %>
      </td>
      <% if is_form_view? %>
      <td class="actions">
        <%= link_to( image_tag("/images/arrow_up_16x16.png", :alt => "Monter la ligne", :title => "Monter la ligne"), "#up", :onclick => "up_reference(this)" ) %>
        <%= link_to( image_tag("/images/arrow_down_16x16.png", :alt => "Descendre la ligne", :title => "Descendre la ligne"), "#down", :onclick => "down_reference(this)" ) %>
        <%= link_to( image_tag("/images/cross_16x16.png", :alt => "Supprimer la ligne", :title => "Supprimer la ligne"), "#remove", :onclick => "remove_reference(this)" ) %>
        <%= form.hidden_field :product_reference_id, :class => :product_reference_id, :index => nil %>
        <%= form.hidden_field :id, :index => nil %>
        <%= form.hidden_field :should_destroy, :class => :should_destroy, :index => nil %>
      </td>
      <% end %>
    </tr>
  <% end %>
<% end %>
