<% content_for :header do %>
  <%= javascript_include_tag 'sales/round_number' %>
  <%= javascript_include_tag 'sales/quotes' %>
  <%= javascript_include_tag 'sales/tab_navigation' %>
<% end %>

<%= generate_quote_contextual_menu_partial %>

<%
quote_headers = { :quote_header => "Entête",
                  :quote_body   => "Corps",
                  :quote_footer => "Conditions commerciales" }

quote_errors  = { :quote_header => quote.errors.on(:bill_to_address) || quote.errors.on(:ship_to_address) || quote.errors.on(:contacts) ? ' errors' : '',
                  :quote_body   => quote.errors.on(:quote_items) || quote.errors.on(:quote_item_ids) || quote.errors.on(:prizegiving) || quote.errors.on(:carriage_costs) || quote.errors.on(:discount) ? ' errors' : '',
                  :quote_footer => quote.errors.on(:sales_terms) || quote.errors.on(:validity_delay) || quote.errors.on(:validity_delay_unit) || quote.errors.on(:deposit) ? ' errors' : '' }

missing_products    = quote.order.products - quote.products
excess_quote_items  = quote.product_quote_items.select{ |q| q.product.nil? }
%>

<div class="presentation_medium root_nav">
  
  <% unless quote.new_record? or quote.was_signed? or quote.was_cancelled? %>
    <% unless missing_products.empty? %>
      <div class="notification">
        <p>Attention, certains produits ne sont pas présents sur ce devis, et seront supprimés si vous l'enregistrez tel quel. Vous devriez <strong>annuler ce devis et en créer un nouveau</strong> pour prendre en compte les nouveaux produits suivants :</p>
        <ul>
          <li><strong><%= missing_products.collect(&:name).join("</strong></li><li><strong>")%></strong></li>
        </ul>
      </div>
    <% end %>
    <% unless excess_quote_items.empty? %>
      <div class="notification">
        <p>Attention, certains produits présents dans ce devis ont déjà été supprimé (via l'étape de visite commerciale par exemple), et seront "re-créés" si vous enregistrez le devis tel quel. Vous devriez <strong>annuler ce devis et en créer un nouveau</strong> OU <strong>supprimer immédiatement les lignes</strong> de produits suivants :</p>
        <ul>
          <li><strong><%= excess_quote_items.collect(&:name).join("</strong></li><li><strong>")%></strong></li>
        </ul>
      </div>
    <% end %>
  <% end %>
  
  <ul class="quote_nav tab_nav">
    <li class="quote_header<%= quote_errors[:quote_header] %> selected"><%= quote_headers[:quote_header] %></li>
    <li class="quote_body<%= quote_errors[:quote_body] %>"><%= quote_headers[:quote_body] %></li>
    <li class="quote_footer<%= quote_errors[:quote_footer] %>"><%= quote_headers[:quote_footer] %></li>
  </ul>
  
  <% action = quote.new_record? ? :create : :update %>
  <% method = quote.new_record? ? :put : :post %>
  <% form_for quote, :url => { :controller => 'quotes', :action => action, :order_id => @order.id }, :method => method do |form| %>
    
    <h2 class="quote_header"><%= quote_headers[:quote_header] %></h2>
    <div class="quote_header section_nav selected">
      <%= form.error_messages unless quote_errors[:quote_header].blank? %>
      <%= render :partial => 'quote_header', :object => quote %>
    </div>
    
    <h2 class="quote_body"><%= quote_headers[:quote_body] %></h2>
    <div class="quote_body section_nav">
      <%= form.error_messages unless quote_errors[:quote_body].blank? %>
      <%= render :partial => 'quote_body', :object => quote, :locals => { :form => form } %>
    </div>
    
    <h2 class="quote_footer"><%= quote_headers[:quote_footer] %></h2>
    <div class="quote_footer section_nav">
      <%= form.error_messages unless quote_errors[:quote_footer].blank? %>
      <%= render :partial => 'quote_footer', :object => quote, :locals => { :form => form } %>
    </div>
    
    <%= form.form_buttons %>
  <% end %>
</div>
