<% quote = quote_in_one_line %>

<tr class="quote">
  <td><%= quote.created_at.to_humanized_date %></td>
  <td><%= quote.number_of_pieces %></td>
  <td><%= quote.total_with_taxes.round_to(2).to_s(2) %></td>
  <td><%= quote.creator.employee_name %></td>
  <td><%= quote.contact.fullname %></td>
  <td>
    <%= order_estimate_step_quote_link_overrided(@order, quote, :link_text => "", :options => { :format => :pdf }) %>
    <%= order_estimate_step_quote_link_overrided(@order, quote, :link_text => "") %>
    <%= edit_order_estimate_step_quote_link_overrided(@order, quote, :link_text => "") %>
    <%= delete_order_estimate_step_quote_link_overrided(@order, quote, :link_text => "") %>
  </td>
</tr>
