<% content_for :header do %>
  <%= javascript_include_tag 'sales/quotes' %>
<% end %>

<% quote = quote_form %>

<%# osibox_init :url => {:controller => 'products_catalog', :params => {:type => 'popup'}}, :width => '1280px', :scroll => 'auto', :css => 'max-height: 500px;' %>

<script type="text/javascript">
  taxes_vat = <%= ConfigurationManager.sales_taxes_vat %>;
  //add_buttons_in_catalog();
</script>

<%= form.error_messages %>

<h2>Entête</h2>
  <%= render :partial => 'quote_header', :object => @quote %>

<h2>Corps</h2>
<table id="quotes_product_references">
  <tr>
	  <th>Référence</th>
	  <th>Désignation</th>
	  <th>Quantité</th>
	  <th>P.U. Brut HT</th>
	  <th>Remise (%)</th>
	  <th>P.U. Net HT</th>
	  <th>Total HT</th>
	  <th>TVA</th>
	  <th>Total TTC</th>
	  <th>Action</th>
  </tr>
  <%= render :partial => 'quotes_product_reference_in_one_line', :collection => @quote.quotes_product_references %>
  <%= render :partial => 'quotes_product_reference_in_one_line', :locals => { :quote => @quote } %>
</table>

<h2>Pied</h2>
<p>
  <%= form.label :validity_date, 'Date de fin de validité :' %>
  <%= form.date_select :validity_date, :start_year => Date.today.year, :order => [:day, :month, :year], :default => Date.today + ConfigurationManager.sales_quote_validity_in_days.days %>
</p>
<p>
  <%= form.label :carriage_costs, 'Frais de port :' %>
  <%= form.text_field :carriage_costs, :size => 5 %>
</p>
<p>
  <%= form.label :reduction, 'Remise (%) :' %>
  <%= form.text_field :reduction, :size => 5 %>
</p>
<p>
  <%= form.label :account, 'Acompte :' %>
  <%= form.text_field :account, :size => 5 %>
</p>

<% if params[:action] == 'new' %>
  <p>
    <%= form.submit 'Créer' %>
  </p>
<% else %>
  <p>
    <%= form.submit 'Enregistrer' %>
  </p>
<% end %>
