<%
require_locals form
quote = quote_additional_infos %>

<p>
  <%= form.label :reference %>
  <%= strong quote.reference %>
</p>

<p>
  <%= form.label :creator %>
  <%= link_to quote.creator.employee_name,
              (quote.creator.employee.nil? ? user_path(quote.creator) : employee_path(quote.creator.employee) )%>
</p>

<p>
  <%= form.label :created_at %>
  <%= strong(quote.created_at.humanize) if quote.created_at %>
</p>
<p>
  <%= form.label :status %>
  <%= strong "\"#{status_text(quote)}\"" %>
</p>
