<% content_for :header do %>
  <%= javascript_include_tag 'sales/quotes' %>
<% end %>

<% quote = quote_form %>

<%# osibox_init :url => {:controller => 'products_catalog', :params => {:type => 'popup'}}, :width => '1280px', :scroll => 'auto', :css => 'max-height: 500px;' %>

<script type="text/javascript">
  //taxes_vat = <%# ConfigurationManager.sales_taxes_vat %>;
  //add_buttons_in_catalog();
</script>

<%= form.error_messages %>

<h2>Entête</h2>
  <%= render :partial => 'quote_header', :object => quote, :locals => { :form => form } %>

<h2>Corps</h2>
<table id="quotes_product_references">
  <tr>
	  <th>Réf.</th>
	  <th>Désignation</th>
	  <th>P.U.<br/>Brut HT</th>
	  <th>Rem.<br/>(%)</th>
	  <th>P.U.<br/>Net HT</th>
	  <th>Qté</th>
	  <th>Total<br/>HT</th>
	  <th>TVA</th>
	  <th>Total<br/>TTC</th>
	  <% if is_form_view? %>
	    <th>Actions</th>
    <% end %>
  </tr>
  <%= render :partial => 'quotes_product_reference_in_one_line', :collection => quote.quotes_product_references %>
  <%= render :partial => 'quotes_product_reference_in_one_line', :locals => { :quote => quote } %>
  
  <tr class="aggregates">
    <td colspan="6" rowspan="7"></td>
    <td colspan="2" class="aggregate_label">Total brut HT :</td>
    <td class="aggregate_amount aggregate_without_taxes"><%= quote.total.round_to(2).to_s(2) %></td>
    <% if is_form_view? %>
      <td rowspan="3"></td>
    <% end %>
  </tr>
  <tr class="aggregates">
    <td colspan="2"class="aggregate_label">Remise (%) :</td>
    <td class="aggregate_amount aggregate_reduction"><%= form.form_or_view(form.text_field(:reduction, :value => quote.reduction.round_to(2).to_s(2), :onkeyup => "update_aggregates()", :size => 5), quote.reduction.round_to(2).to_s(2)) %></td>
  </tr>
  <tr class="aggregates">
    <td colspan="2"class="aggregate_label">Net HT :</td>
    <td class="aggregate_amount aggregate_net"><%= quote.net.round_to(2).to_s(2) %></td>
  </tr>
  <tr class="aggregates">
    <td colspan="2"class="aggregate_label">Frais de port :</td>
    <td class="aggregate_amount aggregate_carriage_costs"><%= form.form_or_view(form.text_field(:carriage_costs, :value => quote.carriage_costs.round_to(2).to_s(2), :onkeyup => "update_aggregates()", :size => 5), quote.carriage_costs.round_to(2).to_s(2)) %></td>
  </tr>
  <tr class="aggregates">
    <td colspan="2"class="aggregate_label">Escompte :</td>
    <td class="aggregate_amount aggregate_discount"><%= form.form_or_view(form.text_field(:discount, :value => quote.discount.round_to(2).to_s(2), :onkeyup => "update_aggregates()", :size => 5), quote.discount.round_to(2).to_s(2)) %></td>
  </tr>
  <tr class="aggregates">
    <td colspan="2"class="aggregate_label">Total taxes :</td>
    <td class="aggregate_amount aggregate_all_taxes"><%= quote.summon_of_taxes.round_to(2).to_s(2) %></td>
  </tr>
  <tr class="aggregates global">
    <td colspan="2" class="aggregate_label">NET À PAYER</td>
    <td class="aggregate_amount aggregate_net_to_paid"><%= quote.net_to_paid.round_to(2).to_s(2) %>&#160;&euro;</td>
  </tr>
</table>

<h2>Pied</h2>
<p>
  <%= form.label :sales_terms %>
  <%= form.form_or_view(form.text_field(:sales_terms, :size => 100), :sales_terms) %>
</p>

<p>
  <%= form.label :validity_delay %>
  <%= form.form_or_view(form.text_field(:validity_delay, :size => 2), :validity_delay) %> <%= form.form_or_view(form.select(:validity_delay_unit, Quote::VALIDITY_DELAY_UNITS), :validity_delay_unit) %>
</p>

<p>
  <%= form.label :account, 'Acompte HT :' %>
  <%= form.form_or_view(form.text_field(:account, :value => quote.account.round_to(2).to_s(2), :size => 5, :onkeyup => "update_account(#{ConfigurationManager.sales_account_tax_coefficient})"), strong(quote.account.round_to(2).to_s(2))) %>
  
  <%= form.label :account_with_taxes, 'Acompte TTC :' %>
  <span id="quote_account_with_taxes">
    <%= form.form_or_view(quote.account_with_taxes.round_to(2).to_s(2),strong(quote.account_with_taxes.round_to(2).to_s(2)))%>
  </span>
</p>

<% if params[:action] == 'new' %>
  <p>
    <%= form.submit 'Créer' %>
  </p>
<% elsif is_form_view? %>
  <p>
    <%= form.submit 'Enregistrer' %>
  </p>
<% end %>
