<% content_for :header do -%>
  <%= stylesheet_link_tag_with_theme_support 'core/has_contacts/has_contacts' %>
<% end -%>

<%
quote = quote_header
order = quote.order
contacts_owners = order.customer.head_office_and_establishments
default_bill_to_address = order.customer.bill_to_address
default_ship_to_address = order.ship_to_addresses.first && order.ship_to_addresses.first.address # TODO replace that by a ship_to_addresses_picker

bill_to_address = quote.bill_to_address || quote.build_bill_to_address(default_bill_to_address ? default_bill_to_address.attributes : {})
ship_to_address = quote.ship_to_address || quote.build_ship_to_address(default_ship_to_address ? default_ship_to_address.attributes : {})
%>

<div id="quote_header">
  <h3>Informations générales</h3>
  <p>
    <%= form.label :commercial_actor_id, nil, :required => :required %>
    <%= form.form_or_view(form.collection_select(:commercial_actor_id, Employee.all, :id, :fullname, :prompt => quote.new_record? ? "Veuillez sélectionner un employé" : false), :commercial_actor, :fullname) %>
  </p>
  <p>
    <%= form.label :published_on %>
    <% if form.form_view? %>
      <%= form.calendar_date_select :published_on %> <% if quote.was_uncomplete? and quote.published_on.blank? %><span class="help_text">Laisser vide pour mettre automatiquement la date de validation</span><% end %>
    <% else %>
      <%= strong l(quote.published_on, :format => :long) %>
    <% end %>
  </p>
  
  
  <div class="presentation_in_columns small">
    <div>
      <h3>Adresse de facturation</h3>
      <%= render :partial => 'addresses/address_form', :object => bill_to_address, :locals => { :address_owner => quote } %>
    </div>
    
    <br/><br/>
    
    <div>
      <h3>Adresse de livraison</h3>
      <%= render :partial => 'addresses/address_form', :object => ship_to_address, :locals => { :address_owner => quote } %>
    </div>
  </div>
  
  <div class="presentation_in_columns">
    <div id="contact_container">
      <h3>Contact</h3>
      <p>
        <%= label :select_contacts, "À l'attention de", nil, :required => :required %>
        <%= display_contact_picker(quote, order.all_contacts_and_customer_contacts, :form => form, :contact_key => 'quote_contact', :contacts_owners => contacts_owners) %>
      </p>
    </div>
  </div>
</div>
