<% content_for :header do %>
  <%= javascript_include_tag 'sales/quotes' %>
  <%= javascript_include_tag 'sales/sales' %>
  <%= stylesheet_link_tag_with_theme_support 'sales/quote' %>
<% end %>

<%= generate_quote_contextual_menu_partial %>

<%
quote_errors  = { :header => quote.errors.on(:bill_to_address) || quote.errors.on(:ship_to_address) || quote.errors.on(:quote_contact) || quote.errors.on(:quote_contact_id) || quote.errors.on(:commercial_actor) || quote.errors.on(:commercial_actor_id) ? ' errors' : '',
                  :body   => quote.errors.on(:quote_items) || quote.errors.on(:quote_item_ids) || quote.errors.on(:prizegiving) || quote.errors.on(:carriage_costs) ? ' errors' : '',
                  :footer => quote.errors.on(:sales_terms) || quote.errors.on(:validity_delay) || quote.errors.on(:validity_delay_unit) || quote.errors.on(:deposit) ? ' errors' : '' }
%>

<div class="presentation_medium root_nav standard">
  
  <%= render :partial => 'missing_and_excess_quote_items', :locals => { :quote => quote } %>
  
  <% tab_navigator :quote_nav do |t| %>
    <% t.nav_buttons do %>
      <%= t.tab :header,                  "Entête",                   :class    => quote_errors[:header],
                                                                      :selected => true %>
      <%= t.tab :body,                    "Corps",                    :class    => quote_errors[:body] %>
      <%= t.tab :footer,                  "Conditions commerciales",  :class    => quote_errors[:footer] %>
      <%= t.tab_for_history(quote) %>
    <% end %>
    
    <% action = quote.new_record? ? :create : :update %>
    <% method = quote.new_record? ? :put : :post %>
    <% form_for quote, :url => { :controller => 'quotes', :action => action, :order_id => @order.id }, :method => method, :html => { :multipart => true, :id => :quote_form } do |form| %>
      
      <% t.content_for :header do %>
        <%= form.error_messages unless quote_errors[:header].blank? %>
        <%= render :partial => 'quote_header', :object => quote, :locals => { :form => form } %>
      <% end %>
      
      <% t.content_for :body do %>
        <%= form.error_messages unless quote_errors[:body].blank? %>
        <%= render :partial => 'quote_body', :object => quote, :locals => { :form => form } %>
      <% end %>
      
      <% t.content_for :footer do %>
        <%= form.error_messages unless quote_errors[:footer].blank? %>
        <%= render :partial => 'quote_footer', :object => quote, :locals => { :form => form } %>
      <% end %>
      
      <% t.content_for_history(quote) %>
      
      <%= form.form_buttons %>
    <% end %>
    
    <% if is_form_view? %>
      <%= javascript_tag "var quote = new Quote('quote_form')" %>
    <% end %>
  <% end %>
</div>
