<% quote = quote_aggregates %>

<tr class="aggregates">
  <td colspan="<%= is_form_view? ? 7 : 6 %>" rowspan="7"></td>
  <td colspan="2" class="aggregate_label">Total brut HT :</td>
  <td class="aggregate_amount aggregate_without_taxes"><%= quote.total.round_to(2).to_s(2) %></td>
  <% if is_form_view? %>
    <td rowspan="7"></td>
  <% end %>
</tr>
<tr class="aggregates">
  <td colspan="2"class="aggregate_label">Remise (%) :</td>
  <td class="aggregate_amount aggregate_prizegiving"><%= form.form_or_view(form.text_field(:prizegiving, :value => quote.prizegiving_before_type_cast, :onkeyup => "update_aggregates()", :size => 5), quote.prizegiving.to_f.round_to(2).to_s(2)) %></td>
</tr>
<tr class="aggregates">
  <td colspan="2"class="aggregate_label">Net HT :</td>
  <td class="aggregate_amount aggregate_net"><%= quote.net.round_to(2).to_s(2) %></td>
</tr>
<tr class="aggregates">
  <td colspan="2"class="aggregate_label">Frais de port :</td>
  <td class="aggregate_amount aggregate_carriage_costs"><%= form.form_or_view(form.text_field(:carriage_costs, :value => quote.carriage_costs_before_type_cast, :onkeyup => "update_aggregates()", :size => 5), quote.carriage_costs.to_f.round_to(2).to_s(2)) %></td>
</tr>
<tr class="aggregates">
  <td colspan="2"class="aggregate_label">Escompte :</td>
  <td class="aggregate_amount aggregate_discount"><%= form.form_or_view(form.text_field(:discount, :value => quote.discount_before_type_cast, :onkeyup => "update_aggregates()", :size => 5, :disabled => true), quote.discount.to_f.round_to(2).to_s(2)) %></td>
</tr>
<tr class="aggregates">
  <td colspan="2"class="aggregate_label">Total taxes :</td>
  <td class="aggregate_amount aggregate_all_taxes"><%= quote.summon_of_taxes.round_to(2).to_s(2) %></td>
</tr>
<tr class="aggregates global">
  <td colspan="2" class="aggregate_label">NET À PAYER</td>
  <td class="aggregate_amount aggregate_net_to_paid"><%= quote.net_to_paid.round_to(2).to_s(2) %>&#160;&euro;</td>
</tr>
