<%= render_contextual_menu %>
<%= order_header %>

<div>
	<%= order_steps %>
	<h1>Devis signé et validé</h1>
	
	<h1>Autres devis</h1>
	<ul>
	<% @quotes.each do |e| %>
		<li><a href="<%= controller.can_edit?(current_user) ? edit_order_step_estimate_quote_path(@order, @step, e) : order_step_estimate_quote_path(@order, @step, e)%>">Devis (crée le <%= e.created_at %>)</a></li>
	<% end %>
	</ul>
</div>
