<table width="100%">
	<tr>
		<td>
			<h1><%= enc("DEVIS N° #{@quote.id}") %></h1>
      <h5><%= enc("Date : #{@quote.created_at.to_date.humanize}") %></h5>
      <h5><%= enc("Votre conseiller commercial:") %></h5>
      <p><%= "#{@order.commercial.fullname}" %><br/>
      <% for number in @order.commercial.numbers %>
        <%= enc("#{number.number_type.name}: #{number.formatted}") %><br/>
      <% end %>
      <%= enc("Email: #{@order.commercial.email}") unless @order.commercial.email.nil? or @order.commercial.email.empty? %>
      </p>
		</td>
		<td width="25%"></td>
		<td>
			<strong><%= enc(@order.customer.name) %></strong><br />
			<%= enc(@quote.bill_to_address.street_name) %><br/>
			<%= enc(@quote.bill_to_address.zip_code) + " " + enc(@quote.bill_to_address.city_name) %><br/>
			<%= enc(@quote.bill_to_address.country_name) %><br/><br/>
			
			<% @contact = @quote.contact %>
			<strong><%= enc("À l´attention de #{@contact.fullname}") %></strong><br/>
			<% for number in @contact.numbers %>
  			<%= enc("#{number.number_type.name}: #{number.formatted}") %><br/>
			<% end %>
			<%= enc("Email: #{@contact.email}") unless @contact.email.nil? or @contact.email.empty? %>
		</td>
	</tr>
</table>

<br/>

<h4><%= enc("#{@order.title.upcase}") %></h4>

<table border="1" width="100%" style="text-align: center;">
	<tr bgcolor="#CCCCCC">
		<th width="10%"><%= enc("Réf.") %></th>
		<th width="60%"><%= enc("Désignation") %></th>
		<th><%= enc("Qté") %></th>
		<th><%= enc("P.U HT") %></th>
		<th><%= enc("Rem.") %></th>
		<th><%= enc("Total HT") %></th>
		<th><%= enc("TVA") %></th>
	</tr>
	<% @quote.quotes_product_references.each do |qpr| %>
	<tr>
		<td><%= enc(qpr.product_reference.reference) %></td>
		<td style="text-align: left;"><pre><%= textilize(enc(qpr.description)) %></pre></td>
		<td><%= qpr.quantity %></td>
		<td><%= qpr.unit_price.round_to(2).to_s(2) %></td>
		<td><%= qpr.discount.round_to(2).to_s(2) %></td>
		<td><%= qpr.total.round_to(2).to_s(2) %></td>
		<td><%= qpr.vat %></td>
	</tr>
	<% end %>
	<tr>
		<td colspan="2" style="text-align: left;">
			Informations:
		</td>
		<td colspan="5">
			<table>
				<tr>
					<td>Total HT</td>
					<td><%= @quote.total %></td>
				</tr>
				<tr>
					<td>Remise (%)</td>
					<td><%= @quote.reduction %></td>
				</tr>
				<tr>
					<td><strong>Net HT</strong></td>
					<td><strong><%= @quote.net.round_to(2).to_s(2) %></strong></td>
				</tr>
				<tr>
					<td>Frais de port</td>
					<td><%= @quote.carriage_costs %></td>
				</tr>
				<tr>
					<td>TVA</td>
					<td><%= ConfigurationManager.sales_taxes_vat %> %</td>
				</tr>
				<tr>
					<td>Total taxes</td>
					<td><%= @quote.summon_of_taxes.round_to(2).to_s(2) %></td>
				</tr>
				<tr>
					<td>Acompte</td>
					<td><%= @quote.account.round_to(2).to_s(2) %></td>
				</tr>
				<tr>
					<td>Total TTC</td>
					<td><%= @quote.total_with_taxes.round_to(2).to_s(2) %></td>
				</tr>
				<tr bgcolor="#CCCCCC">
					<td width="80%"><strong><%= enc("NET À PAYER") %></strong></td>
					<td><strong><%= @quote.net_to_paid.round_to(2).to_s(2) %>&#160;&euro;</strong></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<br />

<div>
	Bon pour accord, dater et signer,
</div>
