<table width="100%">
	<tr>
		<td>
			<img src="<%= File.join(RAILS_ROOT, 'public/themes/emr/images/logo_emr.jpg') %>"/><br />
			PAE La Mare - ilot 7 - n°48<br />
			97438 Sainte-Marie - La Réunion<br />
			Tél. +262 (0)2 62 53 12 89<br />
			Fax +262 (0)2 62 53 16 42
		</td>
		<td width="25%"></td>
		<td>
			<strong><%= @customer.name %></strong><br />
			<%= @order.establishment.full_address %>
		</td>
	</tr>
</table>

<table border="1" width="100%" style="text-align: center">
	<tr>
		<td width="50%" rowspan="2"></td>
		<th>Etablissement</th>
		<th>Tél.</th>
		<th>Fax</th>
	</tr>
	<tr>
		<td><%= @order.establishment.name %></td>
		<td>0262 ?</td>
		<td>0262 ?</td>
	</tr>
</table>

<br />

<table border="1" width="100%" style="text-align: center">
	<tr>
		<th colspan="6" style="font-size: 26px">DEVIS</th>
	</tr>
	<tr height="16px"><td></td></tr>
	<tr>
		<th>N° Devis</th>
		<th>N° Client</th>
		<th>Date</th>
		<th>Validité</th>
		<th>Commercial</th>
		<th>Référence de Commande</th>
	</tr>
	<tr>
		<td><%= @quote.id %></td>
		<td><%= @customer.id %></td>
		<td><%= @quote.created_at.to_date %></td>
		<td><%= @quote.validity_date %></td>
		<td><%= @order.commercial.fullname %></td>
		<td><%= @order.title %></td>
	</tr>
</table>

<br />

<table border="1" width="100%" style="text-align: center;">
	<tr>
		<th width="10%">Référence</th>
		<th width="70%">Désignation</th>
		<th>Qté</th>
		<th width="12%">P.U HT</th>
		<th width="15%">Montant HT</th>
	</tr>
	<% @quote.product_references.each do |epr| %>
	<tr>
		<td><%= epr.product_reference.reference %></td>
		<td style="text-align: left;"><%= epr.description %></td>
		<td><%= epr.quantity %></td>
		<td><%= epr.amount %></td>
		<td><%= epr.amount_with_taxes %></td>
	</tr>
	<% end %>
	<tr>
		<td colspan="2" style="text-align: left;">
			Informations:
		</td>
		<td colspan="3">
			<table>
				<tr>
					<th width="50%">Total HT</th>
					<td width="50%"><%= @quote.total %></td>
				</tr>
				<tr>
					<td>Remise</td>
					<td><%= @quote.reduction %></td>
				</tr>
				<tr>
					<td>Frais de port</td>
					<td><%= @quote.carriage_costs %></td>
				</tr>
				<tr>
					<td>Net HT</td>
					<td><%= @quote.net %></td>
				</tr>
				<tr>
					<td>TVA</td>
					<td><%= ConfigurationManager.sales_taxes_vat %> %</td>
				</tr>
				<tr>
					<td>Total taxes</td>
					<td><%= @quote.summon_of_taxes %></td>
				</tr>
				<tr>
					<td>Acompte</td>
					<td><%= @quote.account %></td>
				</tr>
				<tr>
					<td>Total TTC</td>
					<td><%= @quote.total_with_taxes %></td>
				</tr>
				<tr>
					<th>Net a payer</th>
					<td><%= @quote.net_to_paid %></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<br />

<div>
	Bon pour accord, dater et signer,
</div>
