<div class="presentation_medium">

<h2>Informations g&eacute;n&eacute;rales</h2>
<% if is_form_view? %>
  <% form_for @supplier do |form| %>
    <%= render :partial => 'thirds/third', :object => @supplier %>

    <%= display_contacts_list(@supplier) %>
    <%= display_contact_add_button(@supplier) %>

  <p>
    <%= form.reset 'Annuler' %>
    <%= form.submit submit_button_name %>
  </p>
  <% end %>
<% else %>
  <%= render :partial => 'thirds/third', :object => @supplier %>
  <%= display_contacts_list(@supplier) %>
<% end %>

</div>
