<% secondary_menu POSSIBLE_ACTIONS do %>
  <%= show_supplier_add_button %>
	<%= show_supplier_view_button(@supplier)%>
	<%= show_supplier_delete_button(@supplier)%>
<% end %>

<% secondary_menu USEFUL_LINKS do %>
	<%= show_supplier_list_button %>
<% end %>

<h1>Modifier un fournisseur </h1>
<%= render :partial => @supplier, :locals => { :submit_button_name => "Mettre &agrave; jour"} %>
