<% secondary_menu POSSIBLE_ACTIONS do %>
  <%= new_supplier_list %>
	<%= supplier_list(@supplier)%>
	<%= delete_supplier_link(@supplier)%>
<% end %>

<% secondary_menu USEFUL_LINKS do %>
	<%= suppliers_link %>
<% end %>

<h1>Modifier un fournisseur </h1>
<%= render :partial => @supplier, :locals => { :submit_button_name => "Mettre &agrave; jour"} %>
