<% contextual_menu POSSIBLE_ACTIONS do %>
  <%= new_supplier_link %>
	<%= supplier_link(@supplier)%>
	<%= delete_supplier_link(@supplier)%>
<% end %>

<% contextual_menu USEFUL_LINKS do %>
	<%= suppliers_link %>
<% end %>

<h1>Modifier un fournisseur </h1>
<%= render :partial => @supplier, :locals => { :submit_button_name => "Mettre &agrave; jour"} %>
