<% contextual_search_for_supplier %>

<% add_contextual_menu_item :possible_actions do %>
  <%= new_supplier_link %>
	<%= supplier_link(@supplier)%>
	<%= delete_supplier_link(@supplier)%>
<% end %>

<% add_contextual_menu_item :useful_links do %>
	<%= suppliers_link %>
<% end %>

<h1>Modifier un fournisseur </h1>
<%= render :partial => @supplier, :locals => { :submit_button_name => "Mettre &agrave; jour"} %>
