<% content_for :secondary_menu do %>
  <%= display_add_button %>
<% end %>

<h1> Liste des fournisseurs </h1>

<div class="frame">
  <% unless @suppliers.empty?%>
    <table>
      <tr>
        <th>Nom</th> 
        <th>Secteurs d'activités</th>
        <th>Note</th>
        <th>Actions</th>
      </tr>
    
      <%for supplier in @suppliers%>
        <tr>
          <td><%= supplier.name %></td>
          <td><%= supplier.activity_sector.name unless  supplier.activity_sector.nil?%></td>
          <td><%= supplier.note %></td>
          <td>
            <%= display_view_button(supplier) %> 
            <%= display_edit_button(supplier) %>
            <%= display_delete_button(supplier) %>
            </td>
        </tr>
    <%end%>
  <%end%>
  </table>
</div>