<% contextual_search_for_supplier %>

<% add_contextual_menu_item :possible_actions do %>
  <%= new_supplier_link %>
<% end %>

<h1> Liste des fournisseurs </h1>

<div>
  <% unless @suppliers.empty?%>
    <table>
      <tr>
        <th>Nom</th> 
        <th>Secteurs d'activités</th>
        <th>Note</th>
        <th>Actions</th>
      </tr>
    
      <%for supplier in @suppliers%>
        <tr>
          <td><%= supplier.name %></td>
          <td><%= supplier.activity_sector.name unless  supplier.activity_sector.nil?%></td>
          <td><%= supplier.note %></td>
          <td>
            <%= supplier_link(supplier, :link_text => "") %> 
            <%= edit_supplier_link(supplier, :link_text => "") %>
            <%= delete_supplier_link(supplier, :link_text => "") %>
            </td>
        </tr>
    <%end%>
  <%end%>
  </table>
  <%= will_paginate @suppliers, :prev_label => "<<", :next_label => ">>" %>
</div>
