<h1>Informations concernant le fournisseur </h1>

<div class="frame presentation_medium">
  <h2> Informations g&eacute;n&eacute;rales</h2>

  <p>
    <%= label :supplier, :name, "Nom :" %>
    <strong><%= @supplier.name %></strong>
  </p>
  <p>
    <%= label :supplier, :legal_form, "Forme juridique :" %>
    <strong><%= @supplier.legal_form.name %></strong>
  </p>
  <p>
    <%= label :supplier, :siret_number, "Num&eacute;ro Siret :" %>
    <strong><%= @supplier.siret_number %></strong>
  </p>
  <p>
    <%= label :supplier, :activity_sector, "Secteur d'activit&eacute; :" %>
    <strong><%= @supplier.activity_sector.name %></strong>
  </p>
  <p>
    <%= label :supplier, :activities, "Activit&eacute;s :" %>
    <strong><%= @supplier.activities %></strong>
  </p>
  <p>
    <%= label :supplier, :note, "Note :" %>
    <strong><%= @supplier.note %></strong>
  </p>

  <h2> Informations bancaires</h2>
  <p>
    <%= label :supplier, :iban_bank_name, "Nom de la banque :" %>
    <%= @supplier.iban.bank_name %>
  </p>
  <p>
    <%= label :supplier, :iban_bank_code, "Code bancaire :" %>
    <%= @supplier.iban.bank_code %>
  </p>
  <p>
    <%= label :supplier, :iban_branch_code, "Code guichet :" %>
    <%= @supplier.iban.branch_code %>
  </p>
  <p>
    <%= label :supplier, :iban_account_number, "N° de compte bancaire :" %>
    <%= @supplier.iban.account_number %>
  </p>
  <p>
    <%= label :supplier, :iban_key, "Cl&eacute;e :" %>
    <%= @supplier.iban.key %>
  </p>
  <p>
    <%= label :supplier, :iban_account_number, "Nom du titulaire :" %>
    <%= @supplier.iban.account_number %>
  </p>

  <!-- Show Supplier Contacts -->
  <%= display_contacts(@supplier, @contacts)%>

</div>

<!-- Display edit button -->
<%= display_edit_button(@supplier)%>

<%= link_to 'Retour', :action => 'index' %>