<% secondary_menu POSSIBLE_ACTIONS do %>
	<%= new_supplier_link %>
  <%= edit_supplier_link(@supplier) %>
	<%= delete_supplier_link(@supplier) %>
<% end %>

<% secondary_menu USEFUL_LINKS do%>
	<%= suppliers_link %>
<% end %>

<h1>Informations concernant le fournisseur </h1>
<%= render :partial => @supplier %>
