<% secondary_menu POSSIBLE_ACTIONS do %>
	<%= show_supplier_add_button %>
  <%= show_third_edit_button(@supplier, "Edit current %") %>
	<%= show_third_delete_button(@supplier,"Delete current %") %>
<% end %>

<% secondary_menu USEFUL_LINKS do%>
	<%= link_to "Liste des fournisseurs", suppliers_path %>
<% end %>

<h1>Informations concernant le fournisseur </h1>
<%= render :partial => @supplier %>
