<h1>Informations concernant le fournisseur </h1>

<div class="frame presentation_medium">
  <h2> Informations g&eacute;n&eacute;rales</h2>
  <p>
    <%= label :supplier, :name, "Nom :" %>
    <%= @supplier.name %>
  </p>
  <p>
    <%= label :supplier, :legal_form, "Forme juridique :" %>
    <%= LegalForm.find(@supplier.legal_form_id).name %>
  </p>
  <p>
    <%= label :supplier, :siret_number, "Num&eacute;ro Siret :" %>
    <%= @supplier.siret_number %>
  </p>
  <p>
    <%= label :supplier, :activity_sector, "Secteur d'activit&eacute; :" %>
    <%= @supplier.activity_sector.name %>
  </p>
  <p>
    <%= label :supplier, :activities, "Activit&eacute;s :" %>
    <%= @supplier.activities %>
  </p>
  <p>
    <%= label :supplier, :note, "Note :" %>
    <%= @supplier.note %>
  </p>

  <h2> Informations bancaires</h2>
  <p>
    <%= label :supplier, :iban_bank_name, "Nom de la banque :" %>
    <%= @supplier.iban.bank_name %>
  </p>
  <p>
    <%= label :supplier, :iban_bank_code, "Code bancaire :" %>
    <%= @supplier.iban.bank_code %>
  </p>
  <p>
    <%= label :supplier, :iban_branch_code, "Code guichet :" %>
    <%= @supplier.iban.branch_code %>
  </p>
  <p>
    <%= label :supplier, :iban_account_number, "N° de compte bancaire :" %>
    <%= @supplier.iban.account_number %>
  </p>
  <p>
    <%= label :supplier, :iban_key, "Cl&eacute;e :" %>
    <%= @supplier.iban.key %>
  </p>
  <p>
    <%= label :supplier, :iban_account_number, "Nom du titulaire :" %>
    <%= @supplier.iban.account_number %>
  </p>

<% if @contact_controller.can_list?(current_user) and Contact.can_list?(current_user) %>
  <% unless @contacts.empty? %>
    <h2><%= "Contacts" %></h2>
    <% for contact in @contacts %>
      <p>
        <%= contact.first_name + " " + contact.last_name%>
        <% if @contact_controller.can_view?(current_user) and Contact.can_view?(current_user) %>
          <%= link_to "Plus d'infos", edit_supplier_contact_path(@supplier, contact, :owner_type => "Supplier") %>
        <% end %>
        <% if @contact_controller.can_delete?(current_user) and Contact.can_delete?(current_user) %>
          <%= link_to("Supprimer", [@supplier,  contact], :method => :delete, :confirm => 'Etes vous sûr ?') %>
        <% end %>
      </p>
    <% end %>
  <% end %>
<% end %>

<% if controller.can_edit?(current_user) and Supplier.can_edit?(current_user)%>
  <%= link_to 'Modifier', :action => 'edit' %> 
<% end %>
<%= link_to 'Retour', :action => 'index' %>
</div>