<% add_contextual_menu_item :possible_actions do %>
	<%= new_supplier_link %>
  <%= edit_supplier_link(@supplier) %>
	<%= delete_supplier_link(@supplier) %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
	<%= suppliers_link %>
<% end %>

<h1>Informations concernant le fournisseur </h1>
<%= render :partial => @supplier %>
