<% secondary_menu POSSIBLE_ACTIONS do %>
	<%= show_supplier_add_button %>
  <%= show_supplier_edit_button(@supplier) %>
	<%= show_supplier_delete_button(@supplier) %>
<% end %>

<% secondary_menu USEFUL_LINKS do%>
	<%= show_supplier_list_button %>
<% end %>

<h1>Informations concernant le fournisseur </h1>
<%= render :partial => @supplier %>
