<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
      <body>
      <p>
        This is a notification email sent by Osirails. <br />
      <p>
        There are modifications on <%= @object.class.name %> :  <br /> 
        <ul>
        <% @object.changes.each do |key, value| %>
            <% if !value.first.blank? && !value.last.blank? %>
              <%= "<li> #{key} is changed from #{value.first} to #{value.last} </li>"%>
            <% elsif value.first.blank? && !value.last.blank? %>
              <%= "<li> #{key} was created, value => '#{value.last}' </li>"%>
            <% elsif !value.first.blank? && value.last.blank? %>
              <%= "<li> #{key} was removed, old value => '#{value.first}'</li>"%>
            <% end %>
        <% end %>
        </ul>
      </p>
    </p>
    <%= @footer%>
   </p>
  </body> 
</html> 
