<!-- Div that content new establishments -->
<div id="new_establishment">
  <% params[:new_establishment_number].nil? ? new_establishment_number_value = 0 : new_establishment_number_value = params[:new_establishment_number][:value].to_i -%>
  <% # new_establishment_number_value store establishment number is there was an error -%>
  <%= hidden_field("new_establishment_number", "value", "value" => new_establishment_number_value) %>

  <%unless new_establishment_number_value > 0 %>
    <div id="link_add_remove_establishment_1">
      <%= link_to_remote("(ajouter)", :url => {:controller => "establishments", :action => "add_establishment", :cpt => 1})%>
    </div>
  <%end%>

  <% # cpt store the number of form %>
  <% cpt = 1 %>
  <!-- If there was some establishment form, they are re-create -->
  <% if new_establishment_number_value > 0 %>
    <% new_establishment_number_value.times do |i| %>     
      <% unless params[:customer][:establishments]["#{i+1}"]["valid"] == 'false' %>
        
        <%= render :partial => 'establishments/new_establishment_form', :locals => {:cpt=> i+1, :error => true, :params => params} %>
        
      <%end #unless%>
      <% cpt += 1 %>     
    <% end %>
    
    <div id="link_add_remove_establishment_<%=cpt%>">
      <%= link_to_remote("(ajouter)", :url => {:controller => "establishments", :action => "add_establishment", :cpt => cpt}) %>
    </div>
  <% end %>          
</div>
