<h1>Modifier un Etablissement</h1>
<div class="frame">
  <% form_for([@customer, @establishment])  do |establishment| %>
    <%= establishment.error_messages %>
    
    <%= render :partial => 'establishment', :locals => {:establishment => establishment, :establishment_ => @establishment} %>
    
    <!-- Display Contacts div -->
    <% if @contact_controller.can_list?(current_user) and Contact.can_list?(current_user) %>
      <h2>Contacts</h2>
      <% unless @contacts.empty? %>    
        <% for contact in @contacts %>
            <p>
              <%= contact.first_name + " " + contact.last_name%>
              <% if @contact_controller.can_view?(current_user) and Contact.can_view?(current_user) %>
                  <%= link_to "Plus d'infos", customer_establishment_contact_path(@customer, @establishment, contact, :owner_type => "Customer_Establishment") %>
              <% end %>
              <% if @contact_controller.can_delete?(current_user) and Contact.can_delete?(current_user) %>
                  <%= link_to("Supprimer", [@customer, @establishment,  contact], :method => :delete, :confirm => 'Etes vous sûr ?') %>
              <% end %>
            </p>
        <% end %>
      <% end %>
    <% end %>
    <%= render :partial => 'contacts/new_contact', :locals => {:owner_type => "Establishment",
                  :owner_id => @establishment.id, :params => params, :new_contact_number => @new_contact_number,
                  :error => @error} %>
    
  </div>
  <%= submit_tag 'Modifier' %>
<%end%>
<%= link_to "Retour", customer_establishment_path(@customer, @establishment)%>