<%
require_locals supply_class, supply_sub_category_class, supply_type_class, supplies_supply_sizes
supply_categories ||= []
%>

<% content_for :header do %>
  <%= stylesheet_link_tag_with_theme_support 'logistics/supply' %>
<% end %>

<% unless supply.new_record? %>
  <% add_contextual_menu_item supply.class.human_name do %>
    <% supply_action_buttons(supply).each do |button| %>
      <%= button %>
    <% end %>
  <% end %>
<% end %>

<% unless supply.new_record? %>
  <% add_contextual_menu_item supply.supply_sub_category.class.human_name do %>
    <% supply_sub_category_action_buttons(supply.supply_sub_category).each do |button| %>
      <%= button %>
    <% end %>
  <% end %>
<% end %>

<% unless supply.new_record? %>
  <% add_contextual_menu_item supply.supply_category.class.human_name do %>
    <% supply_category_action_buttons(supply.supply_category).each do |button| %>
      <%= button %>
    <% end %>
  <% end %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= display_supply_list_button(supply_class) %>
<% end %>

<%
supply_errors  = {:informations => (supply.errors.on(:reference) || supply.errors.on(:supply_type_id) || supply.errors.on(:supply_type) || supply.errors.on(:supplies_supply_sizes) || 
                                    supply.errors.on(:unit_mass) || supply.errors.on(:measure) || supply.errors.on(:packaging) || supply.errors.on(:threshold)) ? ' errors' : '',
                  :suppliers    => supply.errors.on(:supplier_supplies) ? ' errors' : ''}
%>

<div class="presentation_medium root_nav standard">

  <% tab_navigator :supply_nav do |t| %>
    <% t.nav_buttons do %>
      <%= t.tab :informations, "Caractéristiques",
                               :class    => supply_errors[:informations],
                               :selected => true %>
      <%= t.tab :suppliers,    "Fournisseurs (#{supply.suppliers.count})",
                               :class => supply_errors[:suppliers] %>
      <%= t.tab :prices,       "Prix",
                               :disabled => supply.new_record? %>
      <%= t.tab :stock,        "Stock (#{supply.stock_quantity})",
                               :disabled => supply.new_record? %>
      <%= t.tab :stock_flows,  "Entrées/sorties",
                               :disabled => supply.new_record? %>
      <%= t.tab_for_history(supply) %>
    <% end %>
    
    <div class="tab_nav_header">
      <p><strong class="reference"><%= supply.reference %></strong> - <span class="designation"><%= supply.designation %></span></p>
    </div>
  
    <% form_for supply, :html => { :multipart => true } do |form| %>
      
      <% t.content_for :informations do %>
        <%= form.error_messages unless supply_errors[:informations].blank? %>
        <%= render :partial => 'supplies/supply_infos', :object => supply, :locals => { :form => form, :supply_class => supply_class,
                                                                                                       :supply_sub_category_class => supply_sub_category_class,
                                                                                                       :supply_type_class => supply_type_class,
                                                                                                       :supply_categories => supply_categories,
                                                                                                       :supplies_supply_sizes => supplies_supply_sizes } %>
      <% end %>
      
      <% t.content_for :suppliers do %>
        <%= form.error_messages unless supply_errors[:suppliers].blank? %>
        <%= render :partial => 'supplies/supply_suppliers', :object => supply, :locals => { :form => form } %>
      <% end %>
      
      <% t.content_for :prices do %>
        <%= form.error_messages unless supply_errors[:prices].blank? %>
        <%= render :partial => 'supplies/supply_prices', :object => supply, :locals => { :form => form } %>
      <% end %>
      
      <% t.content_for :stock do %>
        <%= render :partial => 'supplies/supply_stock', :object => supply, :locals => { :form => form } %>
      <% end %>
      
      <% t.content_for :stock_flows do %>
        <%= render :partial => 'supplies/supply_stock_flows', :object => supply, :locals => { :form => form } %>
      <% end %>
      
      <% t.content_for_history(supply) %>
      
      <%= form.form_buttons %>
    <% end %>
  <% end %>
</div>
