<% contextual_menu POSSIBLE_ACTIONS do %>
  <%= new_vehicule_link %>
  <%= edit_vehicule_link(@vehicule) %>
  <%= vehicules_link %>
  <%= new_vehicule_tool_event_link(@vehicule)%>
  <%= vehicule_tool_events_link(@vehicule) %>
<% end %>

<h1>Voir le v&eacute;hicule</h1>
<%= render :partial => "tools/tool", :locals => {:tool => @vehicule} %>
