<% add_contextual_menu_item :possible_actions do %>
  <%= new_vehicle_link(:link_text => "Nouveau véhicule") %>
  <%= edit_vehicle_link(@vehicle, :link_text => "Modifier le véhicule") %>
  <%= delete_vehicle_link(@vehicle, :link_text => "Supprimer le véhicule") %>
  <%= new_vehicle_tool_event_link(@vehicle, :link_text => "Nouvel évènement") if @vehicle.can_be_edited? %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= vehicles_link(:link_text => "Voir tous les véhicules") %>
  <%= vehicle_tool_events_link(@vehicle, :link_text => "Voir tous les évènements du véhicule") %>
<% end %>

<h1>Fiche d&eacute;taill&eacute;e du v&eacute;hicule</h1>
<%= render :partial => "tools/tool", :locals => {:tool => @vehicle} %>
