<% if Menu.find_by_name('admin').can_access?(current_user) %>
  <h2><%= image_tag("menus/admin.png") %><%= link_to "Administration", admin_path %></h2>
  <table>
    <tbody>
      <tr>
        <td class="counter"><span><%= User.count %></span></td>
        <td class="link"><%= link_to "utilisateurs", users_path %></td>
        <td class="actions"><%= link_to "", new_user_path, 'data-icon' => :new %></td>
      </tr>
      <tr>
        <td class="counter"><span><%= Role.count %></span></td>
        <td class="link"><%= link_to "rôles", roles_path %></td>
        <td class="actions"><%= link_to "", new_role_path, 'data-icon' => :new %></td>
      </tr>
      <tr class="spacer">
        <td colspan="3"></td>
      </tr>
      <tr>
        <td class="counter">&nbsp;</td>
        <td class="link"><%= link_to "Gestion des permissions", permissions_path %></td>
        <td class="actions">&nbsp;</td>
      </tr>
      <tr>
        <td class="counter">&nbsp;</td>
        <td class="link"><%= link_to "Configuration de l'entreprise", society_configurations_path %></td>
        <td class="actions">&nbsp;</td>
      </tr>
      <tr>
        <td class="counter">&nbsp;</td>
        <td class="link"><%= link_to "Gestion des modules", features_path %></td>
        <td class="actions">&nbsp;</td>
      </tr>
    </tbody>
  </table>
<% end %>
