<h1>Liste des pages</h1>
  <table>
    <tr>
        <th colspan ="2">Pages</th>
        <th>Actions</th>
    </tr> 
    
    <% for page in @pages%>
     <%unless page.nil?%>
      <tr>
        <td style="text-align:left;border-right:none;"><%= page.title_link %></td>
        <td style="text-align:right; width:30px;border-left:none;"><%= show_move_buttons(page)%></td>
        <td><%= show_delete_button(page)%><%= link_to "Edit", edit_page_path(page) %></td>
      </tr>
      <%end%>
    <% end %>  
</table>
<%= link_to 'Add a page', :action => 'new' %>
