<% add_contextual_menu_item :possible_actions do %>
  <%= new_stock_flow_link(StockInput, Commodity.new) %>
  <%= new_stock_flow_link(StockInput, Consumable.new) %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= stock_inputs_link(:link_text => "Voir toutes les entrées de stocks") if params[:supply_class] %>
  <%= stock_flows_link(StockInput, Commodity.new) unless params[:supply_class] == "Commodity" %>
  <%= stock_flows_link(StockInput, Consumable.new) unless params[:supply_class] == "Consumable" %>
  <%= commodity_categories_link(:link_text => "Voir toutes les catégories de matières premières") %>
  <%= consumable_categories_link(:link_text => "Voir toutes les catégories de consommables") %>
<% end %>

<h1>Toutes les entrées de stock</h1>
<div>
  <% if @stock_flows.any? %>
    <%= render :partial => 'stock_flows/stock_flows', :object => @stock_flows %>
  <% else %>
    <p>Aucune entr&eacute;e de stock n'a &eacute;t&eacute; trouv&eacute;e</p>
  <% end %>
</div>
