<% add_contextual_menu_item :possible_actions do %>
  <%= new_stock_flow_link(true,Commodity.new) %>
  <%= new_stock_flow_link(true,Consumable.new) %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= stock_inputs_link unless params[:type].nil? %>
  <%= stock_flows_link(true,Commodity.new) if [nil,"Consumable"].include?(params[:type]) %>
  <%= stock_flows_link(true,Consumable.new) if [nil,"Commodity"].include?(params[:type]) %>
  <%= commodity_categories_link %>
  <%= consumable_categories_link %>
<% end %>

<h1>Liste des entrées de stock</h1>
<div>
  <% commodities = (@commodities_stock_flows.size > 0 and [nil,"Commodity"].include?(params[:type]))%>
  <% consumables = (@consumables_stock_flows.size > 0 and [nil,"Consumable"].include?(params[:type]))%>
  <% if commodities or consumables %>
    <%= render(:partial => "stock_flows/stock_flows", :locals => {:supplies => @commodities_stock_flows, :input => true}) if commodities %>
    <%= render(:partial => "stock_flows/stock_flows", :locals => {:supplies => @consumables_stock_flows, :input => true}) if consumables %>
  <% else %>
    <p>Aucune entrée de stock n'a été trouvée</p>
  <% end %>
</div>

