<% if new_event %>
	<% action = 'create' %>
	<% else %>
	<% action = 'update' %>
	<% end %>
	<% remote_form_for :event, @event, :url => {:controller => 'events', :action => action, :id => params[:id]} do |e| %>
	<span>Titre</span>
	<%= e.text_field :title, :class => 'disable-stylesheet-width' %><br />
	<span>Emplacement</span>
	<%= e.text_field :location, :class => 'disable-stylesheet-width' %><br />
	<span>Du</span>
	<%= e.text_field :start_at, :class => 'disable-stylesheet-width' %><br />
	<span>Au</span>
	<%= e.text_field :end_at, :class => 'disable-stylesheet-width' %><br />
	<script type="text/javascript">
	Calendar.setup({ 
			inputField : "event_start_at",
			ifFormat : "%Y-%m-%d %H:%M:%S",
			showsTime : true,
			timeFormat : "24"
	});
	Calendar.setup({ 
			inputField : "event_end_at",
			ifFormat : "%Y-%m-%d %H:%M:%S",
			showsTime : true,
			timeFormat : "24"
	});
	</script>
	<span>Description</span>
	<%= e.text_field :description, :class => 'disable-stylesheet-width' %><br />
	<span>R&eacute;p&eacute;ter</span>
	<select onChange="event_frequence_change('event_frequence_type');" id="event_frequence_type">
		<option>Jamais</option>
		<option<%= ' selected' if @event.frequence == "DAILY" %>>Chaque jour</option>
		<option<%= ' selected' if @event.frequence == "WEEKLY" %>>Chaque semaine</option>
		<option<%= ' selected' if @event.frequence == "MONTHLY" %>>Tous les mois</option>
		<option<%= ' selected' if @event.frequence == "YEARLY" %>>Tous les ans</option>
		<option>Personnaliser</option>
	</select>
	<div id="event_frequence_more"></div>
	<% unless @event.frequence.nil? %>
	<script>
	event_frequence_change('event_frequence_type');
	var type_elm = document.getElementById('event_frequence_more').childNodes[1];
	<%= "type_elm.options[1].selected = true;" unless @event.count.nil? %>
	<%= "type_elm.options[2].selected = true;" unless @event.until_date.nil? %>
	event_frequence_change('event_frequence_more');
	<%= "document.getElementById('event_count').value =" + @event.count.to_s unless @event.count.nil? %>
	<%= "document.getElementById('event_until_date').value =" + @event.until_date unless @event.until_date.nil? %>
	</script>
	<% end %>
	<br />
	<span>URL</span>
	<%= e.text_field :link %>
	<div style="text-align: right;"><%= e.submit "Terminer" %></div>
	<% end %>