<% remote_form_for :event, @event, :url => {:controller => 'events', :action => action, :id => params[:id]} do |e| %>
<span>Titre</span>
<%= e.text_field :title, :class => 'disable-stylesheet-width' %><br />
<span>Emplacement</span>
<%= e.text_field :location, :class => 'disable-stylesheet-width' %><br />
<span>Du</span>
<%= e.text_field :start_at, :class => 'disable-stylesheet-width' %><br />
<span>Au</span>
<%= e.text_field :end_at, :class => 'disable-stylesheet-width' %><br />
<span>Description</span>
<%= e.text_field :description, :class => 'disable-stylesheet-width' %><br />
<span>R&eacute;p&eacute;ter</span>
<%= e.hidden_field :frequence %>
<select id="event_frequence_choice" onChange="event_change('frequence', this);">
	<option>Jamais</option>
	<option value="DAILY"<%= ' selected' if @event.frequence == "DAILY" && @event.interval == 1 %>>Chaque jour</option>
	<option value="WEEKLY"<%= ' selected' if @event.frequence == "WEEKLY" && @event.by_day.nil? %>>Chaque semaine</option>
	<option value="MONTHLY"<%= ' selected' if @event.frequence == "MONTHLY" && @event.by_month_day.nil? && @event.by_day.nil? %>>Tous les mois</option>
	<option value="YEARLY"<%= ' selected' if @event.frequence == "YEARLY" && @event.by_month.nil? && @event.by_day.nil? %>>Tous les ans</option>
	<option<%= ' selected' if !@event.frequence.nil? && (@event.interval > 1 || !@event.by_month.nil? || !@event.by_day.nil? || !@event.by_month_day.nil?) %>>Personnaliser</option>
</select>
<!--
<% e.select :frequence, {"Jamais" => nil, "Chaque jour" => "DAILY", "Chaque semaine" => "WEEKLY", "Tous les mois" => "MONTHLY", "Tous les ans" => "YEARLY", "Personnaliser" => nil}, {}, {:onChange => "event_change('frequence');"} %> -->
<div id="event_frequence_custom" style="display: none;">
	<fieldset>
	<select onChange="event_change('custom', this);">
	<option>quotidienne</option>
	<option>hebdomadaire</option>
	<option>mensuelle</option>
	<option>annuelle</option>
	</select>
	<div id="event_daily" style="display: none;">
	Tous les <%= e.text_field :interval, {:class => 'disable-stylesheet-width', :size => 3} %> jour(s)
	</div>
	<div id="event_weekly" style="display: none;">
		Tous les <%= e.text_field :interval, {:class => 'disable-stylesheet-width', :size => 3} %> semaine(s) le :<br />
		<%= check_box_tag "event[by_day][]", 'MO', (@event.by_day.include?('MO') unless @event.by_day.nil?) %>
		<%= check_box_tag "event[by_day][]", 'TU', (@event.by_day.include?('TU') unless @event.by_day.nil?) %>
		<%= check_box_tag "event[by_day][]", 'WE', (@event.by_day.include?('WE') unless @event.by_day.nil?) %>
		<%= check_box_tag "event[by_day][]", 'TH', (@event.by_day.include?('TH') unless @event.by_day.nil?) %>
		<%= check_box_tag "event[by_day][]", 'FR', (@event.by_day.include?('FR') unless @event.by_day.nil?) %>
		<%= check_box_tag "event[by_day][]", 'SA', (@event.by_day.include?('SA') unless @event.by_day.nil?) %>
		<%= check_box_tag "event[by_day][]", 'SU', (@event.by_day.include?('SU') unless @event.by_day.nil?) %>
	</div>
	<div id="event_monthly" style="display: none;">
		Tous les <%= e.text_field :interval, {:class => 'disable-stylesheet-width', :size => 3} %> mois
		<br />
		<input name="monthly_choice" type="radio" checked
		onclick="document.getElementById('event_by_month_day').disabled=false; 
		document.getElementById('event_by_month_day_num').disabled=true; 
		document.getElementById('event_by_month_day_wday').disabled=true;" />
		Tous les <%= e.text_field :by_month_day,{:class => 'disable-stylesheet-width', :size => 8, :value => "TODO"} %><br />
		<input name="monthly_choice" type="radio"
		onclick=" document.getElementById('event_by_month_day').disabled=true; 
		document.getElementById('event_by_month_day_num').disabled=false; 
		document.getElementById('event_by_month_day_wday').disabled=false;" />
		<% if !@event.by_day.nil? %>
		<script type="text/javascript">
			document.getElementById('event_monthly').childNodes[10].click();
		</script>
		<% end %>
		Le <select id="event_by_month_day_num"
		name="event[by_day_num]" disabled>
		<option<%= ' selected' if (@event.by_day.first[0...-2].to_i == 1 unless @event.by_day.nil?) %> value='1'>premier</option>
		<option<%= ' selected' if (@event.by_day.first[0...-2].to_i == 2 unless @event.by_day.nil?) %> value='2'>deuxieme</option>
		<option<%= ' selected' if (@event.by_day.first[0...-2].to_i == 3 unless @event.by_day.nil?) %> value='3'>troixieme</option>
		<option<%= ' selected' if (@event.by_day.first[0...-2].to_i == 4 unless @event.by_day.nil?) %> value='4'>quatrieme</option>
		<option<%= ' selected' if (@event.by_day.first[0...-2].to_i == -1 unless @event.by_day.nil?) %> value='-1'>dernier</option>
		</select><select id="event_by_month_day_wday"
		name="event[by_day_wday]" disabled>
		<option<%= ' selected' if (@event.by_day.first[-2...@event.by_day.first.size] == 'MO' unless @event.by_day.nil?) %> value="MO">lundi</option>
		<option<%= ' selected' if (@event.by_day.first[-2...@event.by_day.first.size] == 'TU' unless @event.by_day.nil?) %> value="TU">mardi</option>
		<option<%= ' selected' if (@event.by_day.first[-2...@event.by_day.first.size] == 'WE' unless @event.by_day.nil?) %> value="WE">mercredi</option>
		<option<%= ' selected' if (@event.by_day.first[-2...@event.by_day.first.size] == 'TH' unless @event.by_day.nil?) %> value="TH">jeudi</option>
		<option<%= ' selected' if (@event.by_day.first[-2...@event.by_day.first.size] == 'FR' unless @event.by_day.nil?) %> value="FR">vendredi</option>
		<option<%= ' selected' if (@event.by_day.first[-2...@event.by_day.first.size] == 'SA' unless @event.by_day.nil?) %> value="SA">samedi</option>
		<option<%= ' selected' if (@event.by_day.first[-2...@event.by_day.first.size] == 'SU' unless @event.by_day.nil?) %> value="SU">dimanche</option>
		</select>
	</div>
	<div id="event_yearly" style="display: none;">
		Tous les <%= e.text_field :interval, {:class => 'disable-stylesheet-width', :size => 3} %> ans en:<br>
		Janvier<%= check_box_tag "event[by_month][]", '1', (@event.by_month.include?('1') unless @event.by_month.nil?) %>
		F&eacute;vrier<%= check_box_tag "event[by_month][]", '2', (@event.by_month.include?('2') unless @event.by_month.nil?) %>
		Mars<%= check_box_tag "event[by_month][]", '3', (@event.by_month.include?('3') unless @event.by_month.nil?) %>
		Avril<%= check_box_tag "event[by_month][]", '4', (@event.by_month.include?('4') unless @event.by_month.nil?) %>
		Mai<%= check_box_tag "event[by_month][]", '5', (@event.by_month.include?('5') unless @event.by_month.nil?) %>
		Juin<%= check_box_tag "event[by_month][]", '6', (@event.by_month.include?('6') unless @event.by_month.nil?) %>
		Juillet<%= check_box_tag "event[by_month][]", '7', (@event.by_month.include?('7') unless @event.by_month.nil?) %>
		Aout<%= check_box_tag "event[by_month][]", '8', (@event.by_month.include?('8') unless @event.by_month.nil?) %>
		Septembre<%= check_box_tag "event[by_month][]", '9', (@event.by_month.include?('9') unless @event.by_month.nil?) %>
		Octobre<%= check_box_tag "event[by_month][]", '10', (@event.by_month.include?('10') unless @event.by_month.nil?) %>
		Novembre<%= check_box_tag "event[by_month][]", '11', (@event.by_month.include?('11') unless @event.by_month.nil?) %>
		D&eacute;cembre<%= check_box_tag "event[by_month][]", '12', (@event.by_month.include?('12') unless @event.by_month.nil?) %><br>
		<br><input id="event_monthly_choice" type="checkbox" onclick="if (this.checked == true) {
		document.getElementById('event_by_year_day_num').disabled=false; 
		document.getElementById('event_by_year_day_wday').disabled=false; 
		} else {
		document.getElementById('event_by_year_day_num').disabled=true; 
		document.getElementById('event_by_year_day_wday').disabled=true; 				
		};" />
		<% if !@event.by_day.nil? %>
		<script type="text/javascript">
			document.getElementById('event_monthly_choice').click();
		</script>
		<% end %>
		Le <select id="event_by_year_day_num"
		name="event[by_day_num]" disabled>
		<option<%= ' selected' if (@event.by_day.first[0...-2].to_i == 1 unless @event.by_day.nil?) %> value='1'>premier</option>
		<option<%= ' selected' if (@event.by_day.first[0...-2].to_i == 2 unless @event.by_day.nil?) %> value='2'>deuxieme</option>
		<option<%= ' selected' if (@event.by_day.first[0...-2].to_i == 3 unless @event.by_day.nil?) %> value='3'>troixieme</option>
		<option<%= ' selected' if (@event.by_day.first[0...-2].to_i == 4 unless @event.by_day.nil?) %> value='4'>quatrieme</option>
		<option<%= ' selected' if (@event.by_day.first[0...-2].to_i == -1 unless @event.by_day.nil?) %> value='-1'>dernier</option>
		</select><select id="event_by_year_day_wday"
		name="event[by_day_wday]" disabled>
		<option<%= ' selected' if (@event.by_day.first[-2...@event.by_day.first.size] == 'MO' unless @event.by_day.nil?) %> value="MO">lundi</option>
		<option<%= ' selected' if (@event.by_day.first[-2...@event.by_day.first.size] == 'TU' unless @event.by_day.nil?) %> value="TU">mardi</option>
		<option<%= ' selected' if (@event.by_day.first[-2...@event.by_day.first.size] == 'WE' unless @event.by_day.nil?) %> value="WE">mercredi</option>
		<option<%= ' selected' if (@event.by_day.first[-2...@event.by_day.first.size] == 'TH' unless @event.by_day.nil?) %> value="TH">jeudi</option>
		<option<%= ' selected' if (@event.by_day.first[-2...@event.by_day.first.size] == 'FR' unless @event.by_day.nil?) %> value="FR">vendredi</option>
		<option<%= ' selected' if (@event.by_day.first[-2...@event.by_day.first.size] == 'SA' unless @event.by_day.nil?) %> value="SA">samedi</option>
		<option<%= ' selected' if (@event.by_day.first[-2...@event.by_day.first.size] == 'SU' unless @event.by_day.nil?) %> value="SU">dimanche</option>
		</select>
	</div>
	</fieldset>
</div>
<div id="event_frequence_limit" style="display: none;">
	<span>Fin</span>
	<select onChange="event_change('limit', this);">
	<option>Jamais</option>
	<option>Apr&egrave;s</option>
	<option>le</option>
	</select>
	<div style="display: none;"><%= e.text_field :count %> fois</div>
	<div style="display: none;"><%= e.text_field :until_date %></div>
</div>
<br />
<span>URL</span>
<%= e.text_field :link %><br />
<span>Status</span>
<%= e.select :status, {"tentative" => "TENTATIVE", "confirmé" => "CONFIRMED", "annulé" =>"CANCELLED"}, :include_blank => true %>
<div style="text-align: right;"><%= e.submit "Terminer" %></div>
<% end %>
<script type="text/javascript">
Calendar.setup({ 
	inputField : "event_start_at",
	ifFormat : "%Y-%m-%d %H:%M:%S",
	showsTime : true,
	timeFormat : "24"
});
Calendar.setup({ 
	inputField : "event_end_at",
	ifFormat : "%Y-%m-%d %H:%M:%S",
	showsTime : true,
	timeFormat : "24"
});
Calendar.setup({ 
	inputField : "event_until_date",
	ifFormat : "%Y-%m-%d %H:%M:%S",
	showsTime : true,
	timeFormat : "24"
});
<% unless @event.frequence.nil? %>
event_change('frequence', document.getElementById('event_frequence_choice'));
var type_elm = document.getElementById('event_frequence_limit').childNodes[3];
<%= "type_elm.options[1].selected = true;" unless @event.count.nil? %>
<%= "type_elm.options[2].selected = true;" unless @event.until_date.nil? %>
event_change('limit', type_elm);
var custom_elm = document.getElementById('event_frequence_custom');
var custom_select_elm = custom_elm.childNodes[1].childNodes[1];
<%= "custom_select_elm.options[0].selected = true;" if @event.is_custom_daily_frequence? %>
<%= "custom_select_elm.options[1].selected = true;" if @event.is_custom_weekly_frequence? %>
<%= "custom_select_elm.options[2].selected = true;" if @event.is_custom_monthly_frequence? %>
<%= "custom_select_elm.options[3].selected = true;" if @event.is_custom_yearly_frequence? %>
event_change('custom', custom_select_elm);
<% end %>
</script>