<%= h(@event.title) %>
<%= "<br />Jour entier" if @event.full_day %>
<br />du: <%= h(@event.start_at) %>
<br />au: <%= h(@event.end_at) %>
<% if event_freq(@event) %><br />répéter: <%= event_freq(@event) %><br /><% end %>
<% if @event.is_custom_daily_frequence? %>
tous les <%= h(@event.interval) %> jours<br />
<% elsif @event.is_custom_weekly_frequence? %>
toutes les <%= h(@event.interval) %> semaines
<%= days_sentence(@event) %><br />
<% elsif @event.is_custom_monthly_frequence? %>
tous les <%= h(@event.interval) %> mois<%= month_days_sentence(@event) %><%= day_sentence(@event) %><br />
<% elsif @event.is_custom_yearly_frequence? %>
tous les <%= h(@event.interval) + ' ' if @event.interval > 1 %>ans<%= day_sentence(@event) %><%= month_sentence(@event) %><br />
<% end %>
fin: <%= event_freq_end(@event) %>
<br /><%= link_to_remote "Edition", :url => {:controller => 'events', :action => 'edit', :id => params[:id]}, :method => 'get', :loading => "event_box_loading();", :failure => "event_box_failure();" %> <a onclick="event_box_delete(this, <%= @event.id %>); return false;" href="#">Supprimer</a> 