<h1><%= h(@event.title) %></h1>
<%= "Emplacement " + @event.location + '<br />' if @event.location %>
<%= "<br />Description: " + @event.description + '<br />' if @event.description %>
<%= "<br />Jour entier" + '<br />' if @event.full_day %>
du: <%= h(@event.start_at) %><br />
au: <%= h(@event.end_at) %><br />
<% if event_freq(@event) %>répéter: <%= event_freq(@event) %><br /><% end %>
<% if @event.is_custom_daily_frequence? %>
tous les <%= h(@event.interval) %> jours<br />
<% elsif @event.is_custom_weekly_frequence? %>
toutes les <%= h(@event.interval) %> semaines
<%= days_sentence(@event) %><br />
<% elsif @event.is_custom_monthly_frequence? %>
tous les <%= h(@event.interval) %> mois<%= month_days_sentence(@event) %><%= day_sentence(@event) %><br />
<% elsif @event.is_custom_yearly_frequence? %>
tous les <%= h(@event.interval) + ' ' if @event.interval > 1 %>ans<%= day_sentence(@event) %><%= month_sentence(@event) %><br />
<% end %>
<% if !@event.frequence.nil? %>
fin: <%= event_freq_end(@event) %><br/>
<% end %>
<% if !@event.alarms.first.action.nil? %>
alarme: <%= alarm_sentence(@event) %><br />
<% end %>
<%= link_to_remote "<br />Edition", :url => {:controller => 'events', :action => 'edit', :id => params[:id]}, :method => 'get', :loading => "event_box_loading();", :failure => "event_box_failure();" if @calendar.can_edit?(current_user) %> <% if @calendar.can_delete?(current_user) %><a onclick="event_box_delete(this, <%= @event.id %>); return false;" href="#">Supprimer</a><% end %>