<%= @event.title %>
<br />du: <%= @event.start_at %>
<br />au: <%= @event.end_at %>
<% if event_freq(@event) %><br />répéter: <%= event_freq(@event) %><% end %>
<% if event_freq_end(@event) %><br />fin: <%= event_freq_end(@event) %><% end %>
<br /><div onClick="event_box_loading();"><%= link_to_remote "Edition", :url => {:action => 'edit', :id => params[:id]} %></div>