<% unless @products.size == 0 %>
    <table>
    <caption>Liste de produits</caption>
      <thead>
        <th>Nom</th>
        <th>Categories</th>
        <th>R&eacute;f&eacute;rence</th>
        <th>Client</th>
        <th>Dossier</th>
      </thead>
      <tbody>
      <% for product in @products %>
        <% reference = ProductReference.find(product.product_reference_id) %>
        <% category = ProductReferenceCategory.find(reference.product_reference_category_id)%>
        <%= "<tr id=\"product_#{product.id}\" onclick=\"refreshProduct(this)\">" %>
          <td><%= product.name %></td>
          <td><%= category.name %></td>
          <td><%= reference.name %></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <%= will_paginate @products, :renderer => 'RemoteLinkRenderer' , :remote => {:update => 'products_list'}, :prev_label => " << pr&eacute;c&eacute;dent", :next_label => "suivant >>" %>
<% end %>
