<h2>Fiche d&eacute;taill&eacute;e du Produit</h2>

<p>
  <%= label_tag "Nom du produit :" %>
  <strong><%= @product.name %></strong>
</p>
<p>
  <%= label_tag "Description du produit :" %>
  <strong><%= @product.description %></strong>
</p>
<p>
  <%= label_tag "Coût de main d'œuvre de production :" %>
  <strong><%= @product.production_cost_manpower %></strong>
</p>
<p>
  <%= label_tag "Temps de production :" %>
  <strong><%= @product.production_time %></strong>
</p>
<p>
  <%= label_tag "Cout de main d'œuvre de livraison :" %>
  <strong><%= @product.delivery_cost_manpower %></strong>
</p>
<p>
  <%= label_tag "Temps de livraison :" %>
  <strong><%= @product.delivery_time %></strong>
</p>
<p>
  <%= label_tag "Informations complémentaires :" %>
  <strong><%= @product.information %></strong>
</p>
