<h2>Produit</h2>

<p>
  <%= label_tag "Nom du produit :" %>
  <span><%= @product.name %></span>
</p>
<p>
  <%= label_tag "Description du produit :" %>
  <span><%= @product.description %></span>
</p>
<p>
  <%= label_tag "Coût de main d'&#339;uvre de production :" %>
  <span><%= @product.production_cost_manpower %></span>
</p>
<p>
  <%= label_tag "Temps de production :" %>
  <span><%= @product.production_time %></span>
</p>
<p>
  <%= label_tag "Cout de main d'&#339;uvre de livraison :" %>
  <span><%= @product.delivery_cost_manpower %></span>
</p>
<p>
  <%= label_tag "Temps de livraison :" %>
  <span><%= @product.delivery_time %></span>
</p>
<p>
  <%= label_tag "Informations compl&eacute;mentaires :" %>
  <span><%= @product.information %></span>
</p>
