<%= order_header %>

<h1>Historique des actions sur le dossier</h1>

<div>
	<table>
	  <thead>
		  <tr>
			  <th>Date</th>
			  <th>Utilisateur</th>
			  <th>Menu</th>
			  <th>Action</th>
			  <th>Détails</th>
		  </tr>
	  </thead>
	  <tbody>
      <% @logs.each do |log| %>
		    <tr>
			    <td><%= log.created_at.strftime("%A %d %B %Y à %H:%M:%S") %></td>
			    <td><%= log.user.employee_name %></td>
			    <td><%= log.controller.humanize %></td>
			    <td><%= log.action.humanize %></td>
			    <td><%= (log.action == 'create' or log.action == 'update') ? (link_to 'disponible', order_log_path(@order, log)) : 'non disponible' %></td>
		    </tr>
      <% end %>
    </tbody>
	</table>
	<%= will_paginate @logs %>
</div>
