<%= order_header %>

<div>
	<h2>Historiques</h2>
	<table>
		<tr>
			<th>Date</th>
			<th>Utilisateur</th>
			<th>Menu</th>
			<th>Action</th>
			<th>Détails</th>
		</tr>
<% @logs.each do |log| %>
		<tr>
			<td><%= log.created_at.strftime("%A %d %B %Y à %H:%M:%S") %></td>
			<td><%= log.user.employee_name %></td>
			<td><%= log.controller.humanize %></td>
			<td><%= log.action.humanize %></td>
			<td><%= (log.action == 'create' or log.action == 'update') ? (link_to 'disponible', order_log_path(@order, log)) : 'non disponible' %></td>
		</tr>
<% end %>
	</table>
	<%= will_paginate @logs %>
</div>
