<% if @leaves.empty? %>
  <p>Aucun cong&eacute; pay&eacute; pris pour l'ann&eacute;e <%= @year %></p>
<% else %>
  <table>
    <tr>
      <th>P&eacute;riode</th>
      <th>Nb. jours<br/>calendaires</th>
      <th>Nb. jours pris<br/>au total</th>
      <th>Type</th>
      <th>Action</th>
    </tr>
    <% @leaves.each do |leave| %>
      <%="<tr #{"class='disabled'" if leave.cancelled} >" %>
        <td><%= get_effective_leave_periode(leave) %></td>
        <td><%= leave.calendar_duration %></td>
        <td><%= leave.duration %></td>
        <td><%= leave.leave_type.name %></td>
        <td>
        <% unless leave.cancelled %>
          <%= edit_employee_leave_link(@employee, leave, :link_text => nil) %>
          <%= cancel_employee_leave_link(@employee, leave) %>
          <%= delete_employee_leave_link(@employee, leave, :link_text => nil)%>
        <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
