<% if @leaves.empty? %>
  <p>Aucun cong&eacute; pay&eacute; pris pour l'ann&eacute;e <%= @year %></p>
<% else %>
  <table>
    <tr>
      <th>P&eacute;riode du congé</th>
      <th>Nb. jours<br/>calendaires</th>
      <th>Nb. jours pris</th>
      <th>Type de congé</th>
      <th>Validé le</th>
      <th>Action</th>
    </tr>
    <% @leaves.each do |leave| %>
      <%="<tr #{"class='disabled'" if leave.cancelled} >" %>
        <td><%= leave.formatted %></td>
        <td><%= leave.calendar_duration %></td>
        <td><%= leave.duration %></td>
        <td><%= leave.leave_type.name %></td>
        <td><%= leave.created_at.humanize %></td>
        <td>
          <%= edit_employee_leave_link(@employee, leave, :link_text => nil) if leave.can_be_edited? %>
          <%= cancel_employee_leave_link(@employee, leave) if leave.can_be_cancelled? and Leave.can_cancel?(current_user) %>
          <%= delete_employee_leave_link(@employee, leave, :link_text => nil) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
