<% current_year = get_current_leave_year(@shift) %>
<% if @leaves.empty? %>
  <p>
    <strong>Aucun congé payé pris pour l'année <%= current_year %></strong>
  </p>
<% else %>
<table>
  <tr>
    <th>P&eacute;riode</th>
    <th>Nb. jours<br/>calendaires</th>
    <th>Nb. jours pris<br/>au total</th>
    <th>Nb. jours comptant<br/>pour cette année</th>
    <th>Type</th>
    <th>Action</th>
  </tr>
  <% (@leaves + @retrieval_leave).each do |leave| %>
    <tr>
      <td><%= get_effective_leave_periode(leave, Employee.get_leave_year_start_date + @shift.year) %></td>
      <td><%= leave.calendar_duration %></td>
      <td><%= leave.duration %></td>
      <td><%= @retrieval_leave.include?(leave)? leave.retrieval || 0 : leave.duration - (leave.retrieval || 0) %></td>
      <td><%= leave.leave_type.name %></td>
      <td><%= delete_employee_leave_link(@employee, leave, :link_text => nil) %></td>
    </tr>
  <% end %>
</table>
<% end %>
