<% add_contextual_menu_item :possible_actions do %>
  <%= new_employee_leave_link @employee %>
  <%= employee_link @employee %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= employee_leaves_link @employee, :link_text => "Historique des congés" %>
  <%= employees_link %>
<% end %>

<h1>Mofidifer un cong&eactue;</h1>

<%= render :partial => 'employees/employee_summary', :locals => {:employee => @employee}%>
<%= render :partial => "leave" ,:locals => {:button_name => "Modifier"} %>
