<% contextual_menu POSSIBLE_ACTIONS do %>
  <%= new_employee_leave_link @employee %>
  <%= employee_link @employee %>
<% end %>

<% contextual_menu USEFUL_LINKS do %>
  <%= employee_leaves_link @employee, :link_text => "Historique des congés" %>
  <%= employees_link %>
<% end %>

<h1>Mofidifer un cong&eacute;</h1>
<%= render :partial => "leave", :locals => { :button_name => "Modifier" } %>
