<% add_contextual_menu_item :possible_actions do %>
  <%= new_employee_leave_link(@employee, :link_text => "Nouveau congé") %>
  <%= new_leave_request_link(:link_text => "Nouvelle demande de congé") %>
  <%= employee_link(@employee, :link_text => "Voir l'employé") %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= leave_requests_link(:link_text => "Voir mes demandes de congés") if @employee == current_user.employee %>
  <%= leaves_link(@employee, !@view_cancelled)%>
  <%= employees_link(:link_text => "Voir tous les employés") %>
<% end %>

<h1>Historique des cong&eacute;s</h1>

<%= render :partial => 'employees/employee_summary', :locals => {:employee => @employee}%>

<div class='presentation_medium'>

<% if @employee.job_contract.start_date.nil?%>
  <p>Le contrat de travail de l&apos;employ&eacute; n&apos;est pas d&eacute;fini.</p>
<% else %>
  <% form_tag({:url => employee_leaves_path(@view_cancelled)}, { :method => :get ,:id => "leave_year_change" }) do %>
    <p>Liste des cong&eacute;s pay&eacute;s pour l&apos;ann&eacute;e <%= get_leave_years_select(@employee, @year) %></p>
  </form> 
  <% end %>   
  <div id='leaves_list'><%= render :partial => "leaves"%></div>
<% end %>

</div>
