<% add_contextual_menu_item :possible_actions do %>
  <%= employee_link(@employee, :link_text => "Voir l'employé") %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= employee_leaves_link @employee, :link_text => "Historique des congés" %>
  <%= employees_link(:link_text => "Voir tous les employés") %>
<% end %>

<h1>Nouveau cong&eacute;</h1>

<%= render :partial => 'employees/employee_summary', :locals => {:employee => @employee}%>
<%= render :partial => "leave"%>
