<% require_locals forwarder %>

<% fields_for "forwarder[departure_attributes][]", departure = departure_form do |form| %>
  <div class="presentation_in_columns resource_form<%= ' new_record' if departure.new_record? %>" id="departure_<%=departure.id%>_form" <%= "style=\"display:none\"" unless departure.new_record? or !departure.errors.empty? or departure.should_update? %>
    <%= form.error_messages %>
    <%= render :partial => "departures/departure_fields", :object => departure, :locals => {:form => form} %>
    
    <p>
      <% if departure.new_record? %>
        <%= link_to_function "Annuler la création du point de départ", "this.up('.resource').remove()" %>
      <% elsif is_form_view? %>
        <%= link_to_function "Annuler la modification du point de départ", "mark_resource_for_dont_update(this)" %>
      <% else %>
        <%= link_to_function "Fermer", "this.up('.resource_form').hide()" %>
      <% end %>

      <% if !departure.new_record? and is_form_view? %>
        <%= form.hidden_field :id, :index => nil %>
        <%= form.hidden_field :should_destroy, :index => nil, :class => :should_destroy %>
        <%= form.hidden_field :should_hide, :index => nil, :class => :should_hide %>
        <%= form.hidden_field :should_update, :index => nil, :class => :should_update %>
      <% end %>
    </p>
  </div>
<% end %>
