<%
  require_locals forwarder
  departure = departure_in_one_line
  
  confim_text = "'&Ecirc;tes-vous s&ucirc;r? Attention, les modifications seront appliqu&eacute;es &agrave; la soumission du formulaire.'"
%>

<div class="departure resource" <%= "style=\"display:none\"" if departure_in_one_line.should_destroy? %> >
<% fields_for "forwarder[departure_attributes][]", departure do %>
  <p id="departure_<%= departure.id %>_in_one_line">
    <% unless departure.new_record? %>
      <%= image_tag 'warning_14x14.png' if !departure.errors.empty? %>
      
      <%= link_to_function departure.formatted, "this.up('.resource').down('.resource_form').toggle()" if ( !is_form_view? and Departure.can_view?(current_user) ) or ( is_form_view? and Departure.can_view?(current_user) and !Departure.can_edit?(current_user) ) %>
      
      <%= departure.formatted if is_form_view? %>
      <%= link_to_function "Modifier", "mark_resource_for_update(this)" if is_form_view? and Departure.can_edit?(current_user) %>
      
      <% if is_form_view? and Departure.can_hide?(current_user) %>
        <%= link_to_function "Supprimer",
          "if (confirm(#{confim_text})){ mark_resource_for_hide($(this)); $(this).innerHTML = '';}" %>
      <% end %>
      
      <% if is_form_view? and Departure.can_delete?(current_user) %>
        <%= link_to_function "Supprimer définitivement",
          "if (confirm(#{confim_text})){ mark_resource_for_destroy($(this)); $(this).innerHTML = '';}" %>
      <% end %>
    <% end %>
    
    <%= render :partial => 'departures/departure_form', :object => departure, :locals => { :forwarder => forwarder } if Departure.can_view?(current_user) or Departure.can_edit?(current_user) %>
  </p>
<% end %>
</div>
<%= "<br />" if is_form_view? %>
