<% supplier = quotation_request.supplier %>
<table id="quotation_request_supplies_table">
  <thead>
    <tr>
      <th colspan='2'>Interne</th>
      <th colspan='2'>Fournisseur</th>
      <th rowspan='2'>Masse/U</th>
      <th rowspan='2'>En stock/Seuil</th>
      <th rowspan='2'>Quantit&eacute;</th>
      <th colspan='3'>Demandes d'achats &agrave; satisfaire</th>
      <th rowspan='2'>Actions</th>
    </tr>
    <tr>
      <th>R&eacute;f&eacute;rence</th>
      <th>D&eacute;signation</th>
      <th>R&eacute;f&eacute;rence</th>
      <th>D&eacute;signation</th>
      <th>R&eacute;f&eacute;rence</th>
      <th>Quantit&eacute;</th>
      <th>S&eacute;lectionner</th>
    </tr>
  </thead>
  <tbody id="quotation_request_supplies_body">
  <% action = quotation_request.new_record? ? :create : :update %>
  <% method = quotation_request.new_record? ? :put : :post %>
    <%= render :partial => 'quotation_request_supplies/quotation_request_supply', :collection => quotation_request.quotation_request_supplies, :locals => { :supplier => quotation_request.supplier, :collection_length => quotation_request.quotation_request_supplies.size } %>
  </tbody>
  <tfoot>
    <tr class='footer'>
      <td colspan='11'>
        <%= hidden_field_tag 'add_this_supply_id' %>
        <%= custom_text_field_with_auto_complete( :supply, :reference,
                                                  { :value      => "Cherchez une fourniture dans la base",
                                                    :size       => 50,
                                                    :onkeydown  => "if (event.keyCode == 13) { return false; }"}, 
                                                  { :update_id  => 'add_this_supply_id',
                                                    :condition  => "can_add_supply()",
                                                    :url => auto_complete_for_supply_path(:supplier_id => supplier.id)}) %>
        
        <%= button_to_function "Ajouter", "add_existing_supply_to_quotation_request('#{quotation_request_supply_path}', '#{form_authenticity_token}')" %>
        <%= display_add_free_quotation_request_supply_for(quotation_request) %>
        <%= display_add_comment_line_for(quotation_request) %>
        
      </td>
    </tr>
  </tfoot>
</table>
