<% for content_version in @content_versions.reverse %>

  <% add_contextual_menu_item :useful_links do %>
    <%= link_to("Document r&eacute;f&eacute;rent", :controller => :contents, :action => :show, :id => @content.id) %>
  <% end %>

  <h1><%= content_version.title %> (<%= content_version.versioned_at.strftime('0%w/%m/%Y %H:%M') %>)</h1>
  <div>
    <div class='formated_content'>
      <fieldset>
        <p><%= content_version.description %></p>
        <hr/>
        <p><%= content_version.text%></p>
        <hr/>
        <p><strong>Auteur :</strong> <%=@author.employee.nil? ? @author.username : @author.employee.fullname unless @author.nil?%></p>
        <p><strong>Contributeur :</strong> <%= contributor_full_name(content_version) unless content_version.contributor.nil? or content_version.contributor == "" %></p>
      </fieldset>
      <%= will_paginate @content_versions, :param_name => :version, :prev_label => " << pr&eacute;c&eacute;dent", :next_label => "suivant >>" %>
    </div>
  </div>
<%end%>
