<p>Document référent : <%= link_to(@content.title, :controller => :contents, :action => :show, :id => @content.id) %></p>
<h1><%= @content_version.title %></h1>
<h2> <%= @content_version.description %></h2>
            <p><%= @content_version.text%></p>
<p>Auteur : <%=@author.employee.fullname unless @author.nil? %></p>
<% unless @contributor.nil?%>
  <p> Contributeurs : <%= @contributor.fullname%>
   </p>
 <%end%>
 <% %> 