<% form_for(:user, current_user) do |f| %>
<p>
	<%= f.error_messages %>
  <%= f.label :password, "Mot de passe :" %>
  <%= f.password_field :password, :value => "" %>
</p>
<p>
  <%= f.label :password_confirmation, "Confirmation du mot de passe :" %>
  <%= f.password_field :password_confirmation, :value => "" %> 
</p>
<div>
  <button type="submit" class="input-button"><span>Valider</span></button>
  <button class="input-button"><span>Retour</span></button> <!-- doit rediriger vers account/logout -->
</div>
<% end %>