<%= display_flash %>

<p> Votre mot de passe est expir&eacute; vous devez en choisir un autre</p>
<% form_tag({:action => "expire_password"}, :method => 'put' ) do%>
<p>
  <%= label :password, "Mot de passe" %><br />
  <%= password_field :password, :value => "" %>
</p>
<p>
  <%= label :password_confirmation, "Confirmation du mot de passe" %><br />
  <%= password_field :password_confirmation, :value => "" %> 
</p>
<%= submit_tag "Valider"%>
<% end%>
