<%= display_flash %>

<p> Votre mot de passe est expiré vous devez en choisir un autre</p>
<% form_for(:user, current_user) do |f| %>
<p>
	<%= f.error_messages %>
  <%= f.label :password, "Mot de passe" %><br />
  <%= f.password_field :password, :value => "" %>
</p>
<p>
  <%= f.label :password_confirmation, "Confirmation du mot de passe" %><br />
  <%= f.password_field :password_confirmation %> 
</p>
<%= f.submit "Valider"%>
<% end %>
