<% tool_class = @tool.class.name.underscore %>

<% add_contextual_menu_item :possible_actions do %>
  <%= send("new_#{tool_class}_tool_event_link", @tool, :link_text => "Nouvel évènement") if @tool.can_be_edited? %>
  <%= send("#{tool_class}_link", @tool, :link_text => "Voir l'équipement") %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= send("#{tool_class}s_link", :link_text => "Voir tous les équipements") %>
<% end %>

<%= render :partial => 'tools/header', :locals => {:tool => @tool} %>

<h1>Les &eacute;v&egrave;nements</h1>

<div class="presentation_small events">
  <% if @paginate_tool_events.empty? %>
    <p>Aucun &eacute;v&egrave;nement</p>
  <% else %>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>D&eacute;signation</th>
          <th>Status</th>
          <th>Type</th>
          <th>Date</th>
          <th>Acteur interne</th>
          <th>Actions</th>
        </tr>
      </thead>
      
      <tbody>
        <% for tool_event in @paginate_tool_events %>
        <tr>
          <td><%= effectives_image(tool_event, @currents_tool_events, @effectives_tool_events) %></td>
          <td><%= tool_event.name %></td>
          <td><%= get_status_image(tool_event.status) %></td>
          <td><%= get_event_type_text(tool_event.event_type)%></td>
          <td>
            <%= l(tool_event.start_date, :format => :long_ordinal) %>
            <%= " - #{l(tool_event.end_date, :format => :long_ordinal)}" unless tool_event.event_type_name == 'incident' %>
          </td>
          <td><%= get_internal_actor(tool_event) %></td>
          <td><%= links_for_tool_event(@tool, tool_event) %></td>
        </tr> 
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @paginate_tool_events %>
  <% end %>
</div>
