<% iban_type = iban_owner.class.name.downcase %>

<% fields_for "#{iban_type}[iban_attributes]", iban do |form| %>
  <%= form.error_messages %>
<p>
  <%= form.label :bank_name %>
  <%= form.form_or_view(form.text_field(:bank_name), :bank_name) %>
</p>
<p>
  <%= form.label :account_name %>
  <%= form.form_or_view(form.text_field(:account_name), :account_name)%>
</p>
<p>
  <%= form.label :bank_code %>
  <%= form.form_or_view(form.text_field(:bank_code, :maxlength => 5, :size => 5), :bank_code) %>
</p>
<p>
  <%= form.label :branch_code %>
  <%= form.form_or_view(form.text_field(:branch_code, :maxlength => 5, :size => 5), :branch_code)%>
</p>
<p>
  <%= form.label :account_number %>
  <%= form.form_or_view(form.text_field(:account_number, :maxlength => 11, :size => 11), :account_number)%>
</p>
<p>
  <%= form.label :key %>
  <%= form.form_or_view(form.text_field(:key, :maxlength => 2, :size => 2), :key)%>
</p>
  <%= form.form_or_view(form.hidden_field(:id)) %>
<% end %>