<%= order_header %>

<div class="frame tabulation presentation_medium">
	<% order_steps %>
  <% form_for(@step_survey, :url => { :controller =>"survey", :action => "update" },  :html => { :multipart => true}) do |order_step| %>

    <!-- Display Checklists div -->
    <%= display_checklist(@checklist_responses, @step_survey)%>

    <!-- Display Documents div -->
    <%= display_documents_and_add_documents_button(@step_survey, @documents, params, @new_document_number, @error) %>

    <!-- Display Remarks div -->
    <%= display_remarks_and_add_remark_text_area(@remarks, @step_survey) %>

    <%= order_step.submit  'Modifier' %>
    <%= order_step.submit  'Cloturer' %>
    
  <% end %>
</div>

<!-- Osibox initialisation -->
<%= osibox_initialisation(@step_survey, "/orders/#{@order.id}/survey/documents/")%>