<%= order_header %>

<div class="presentation_medium">
	<%= order_steps %>
  <% form_for(@step, :url => { :controller =>"survey", :action => "update" },  :html => { :multipart => true}) do |form| %>
    <%= form.error_messages %>
    
    <!-- Display Checklists div -->
    <%= display_checklists_list(@step)%>

    <!-- Display Documents div -->
    <h2>Documents</h2>
    <%= display_documents_list(@step) %>
    <%= display_document_add_button(@step) %>

    <!-- Display Remarks div -->
    <%= display_remarks_list(@step) %>
    <%= display_remark_add_button(@step) %>
    
    <p>
      <%= form.submit 'Modifier' %>
      <%= form.submit 'Cloturer', :name => :close_step %>
    </p>
  <% end %>
</div>

<!-- Osibox initialisation -->
<% #osibox_initialisation(@step, "/orders/#{@order.id}/survey/documents/") %>
