<%= order_header %>

<div class="frame tabulation presentation_medium">
	<% order_steps %>
  <% form_for(@step_survey, :url => { :controller =>"survey", :action => "update" },  :html => { :multipart => true}) do |order_step| %>
    
  <h2> Checklist </h2>  

    <% for checklist_response in @checklist_responses %>
      <% fields_for "step_survey[checklists]", checklist_response, :index => checklist_response.id do |checklist_| %>
        <p>
          <%= display_checklist(checklist_, checklist_response, @step_survey) %>
        </p>
      <% end %>
    <% end %>
   
  <!-- Display Documents div -->
  <% if @document_controller.can_list?(current_user) and Document.can_list?(current_user, @step_survey.class) %>
    <h2> Documents </h2>
    <% unless @documents.empty? %>
      <% @step_survey.class_documents.each_pair do |type, documents|%>
        <div class="document_view">
          <h1> <%= type%> </h1>
          <% documents.each do |document|%>
            <div class="document_view_content">
              <%= image_tag("/images/file_extensions/#{document.extension}_75x75.png") %>           
              <a onclick="osibox_open(<%= document.id %>);">Modifier</a>
              <p>
                <strong><%=document.name%></strong><br />
                <%= "Enregistre le "+ document.updated_at.to_s%><br/>
                <%=get_description(document)%>

                <% if @document_controller.can_view?(current_user) and Document.can_view?(current_user) %>            
                  <%= link_download_last_version(document) %>
                <% end %>
              </p>
            </div>
          <%end%>
        </div>
      <% end %>
    <% end %>    
    
    <!-- Display document_form-->
    <%= render :partial => 'documents/new_document', :locals => {:params => params, :owner_type => @step_survey.class.to_s, :owner_id => @step_survey.id, 
    :new_contact_number => @new_contact_number, :error => @error} %>
  <% end %><br/>
    
  <h2> Commentaires </h2>
    
  <% for remark in @remarks.reverse %>
    <%= display_remark(remark)%>
  <% end %>
  <br/>
  <%remark_ = Remark.new%>
  <% fields_for "step_survey[remark]", remark_ do |remark| %>
    <p>
      <%= remark.label :text, "Ajouter un commentaire :"%>
      <%= remark.text_area :text , :size => "60x2"%>
    </p>
  <% end %>
</div>

  <%= order_step.submit  'Modifier' %>
  <%= order_step.submit  'Cloturer' %>
<% end %>

<% @step_survey.class_documents.each_pair do |type, documents|%>
  <% documents.each do |document|%>
    <%= osibox_init :partial => "documents/edit_partial", :id => document.id,  :locals => {:document => document, :url => "/orders/#{@order.id}/survey/documents/#{document.id}/"}, :width => "1000px", :height => "1000px" %>
  <% end %>
<% end %>