<%= order_header %>

<div class="presentation_medium">
	<%= order_steps %>
  <% form_for(@step, :url => { :controller =>"survey", :action => "update" },  :html => { :multipart => true}) do |order_step| %>

    <!-- Display Checklists div -->
    <%= display_checklist(@checklist_responses, @step)%>

    <!-- Display Documents div -->
    <h2>Documents</h2>
    <%= display_documents_list(@step) %>
    <%= display_document_add_button(@step) %>

    <!-- Display Remarks div -->
    <%= display_remarks_and_add_remark_text_area(@remarks, @step) %>

    <%= order_step.submit  'Modifier' %>
    <%= order_step.submit  'Cloturer' %>
    
  <% end %>
</div>

<!-- Osibox initialisation -->
<% #osibox_initialisation(@step, "/orders/#{@order.id}/survey/documents/") %>
