<%= order_header %>
<div class="frame tabulation presentation_medium">
  <%= order_steps %>

  <!-- Display Checklists div -->
  <%= display_checklist(@checklist_responses, @step)%>

  <!-- Display Documents div -->
  <%= display_documents(@step, @documents)%>

  <!-- Display Remarks div -->
  <%= display_remarks(@remarks) %>

</div>