<% content_for :header do %>
  <%= stylesheet_link_tag_with_theme_support 'sales/sales' %>
<% end %>

<% add_contextual_menu_item :possible_actions do %>
  <%= display_product_reference_category_add_button %>
  <%= display_product_reference_sub_category_add_button %>
  <%= display_product_reference_add_button %>
<% end %>

<% title_context "Produits" %>
<%= title title_for_search %>

<div>
  <%= table_for_search %>
</div>
