<% content_for :header do %>
  <%= stylesheet_link_tag_with_theme_support 'sales/sales' %>
<% end %>

<% add_contextual_menu_item :possible_actions do %>
  <%= new_product_reference_category_link_overrided %>
  <%= new_product_reference_sub_category_link_overrided %>
  <%= new_product_reference_link_overrided %>
  <%= display_show_link %>
<% end %>

<h1>Les cat&eacute;gories et r&eacute;f&eacute;rences</h1>

<div>
  <%= @display == "all" ? get_structured_categories(nil) : get_structured_categories %>
</div>
