  <%
purchase_request_headers = { :header => "Informations générales",
                  :body   => "Articles",
                  :footer => "Informations supplémentaires"}

purchase_request_errors  = { :header => (purchase_request.errors.on(:service) || purchase_request.errors.on(:global_date)) ? " errors" : "" ,
                  :body   => (purchase_request.errors.on(:purchase_request_supplies)) ? " errors" : ""}
%>

<div class="presentation_medium root_nav">
  
  <ul class="purchase_request_nav tab_nav">
    <li class="purchase_request_header<%= purchase_request_errors[:header]%> selected"><%= purchase_request_headers[:header] %></li>
    <li class="purchase_request_body<%= purchase_request_errors[:body]%>"><%= purchase_request_headers[:body] %></li>
    <li class="purchase_request_footer"><%= purchase_request_headers[:footer] %></li>
  </ul>
  
  <% action = purchase_request.new_record? ? :create : :update %>
  <% method = purchase_request.new_record? ? :put : :post %>
  <% form_for purchase_request, :url => { :controller => 'purchase_requests', :action => action }, :method => method, :html => { :multipart => true } do |form| %> 
    
    <h2 class="purchase_request_header section_nav"><%= purchase_request_headers[:header] %></h2>
    <div class="purchase_request_header section_nav selected">
      <%= form.error_messages unless purchase_request_errors[:header].blank? %>
      <%= render :partial => 'purchase_requests/purchase_request_header', :object => purchase_request, :locals => { :f => form } %>
    </div>
    
    <h2 class="purchase_request_body section_nav"><%= purchase_request_headers[:body] %></h2>
    <div class="purchase_request_body section_nav">
      <%= form.error_messages unless purchase_request_errors[:body].blank? %>
      <%= render :partial => 'purchase_requests/purchase_request_body', :object => purchase_request, :locals => { :f => form } %>
    </div>
    
    <h2 class="purchase_request_footer section_nav"><%= purchase_request_headers[:footer] %></h2>
    <div class="purchase_request_footer section_nav">
      <%= form.error_messages unless purchase_request_errors[:footer].blank? %>
      <%= render :partial => 'purchase_requests/purchase_request_footer', :object => purchase_request, :locals => { :f => form } %>
    </div>
    
    <%= form.form_buttons %>
  <% end %>
</div>
