<% content_for :header do %>
  <%= stylesheet_link_tag_with_theme_support "purchases/purchases" %>
<% end %>

<%= generate_contextual_menu_partial %>
<h1>Annulation de la demande d'achat</h1>
<div>
  <% form_for @purchase_request, :url => { :action => "cancel" } do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :cancelled_comment %>
      <%= f.text_area_autoresize :cancelled_comment %>
    </p>
    
    <%= f.form_buttons %>
  <% end %>
</div>
