<% generate_contextual_menu_partial %>

<h1>Les demandes d'achat en cours</h1>
<div>
  <table>
    <thead>
      <tr>
        <th>R&eacute;f&eacute;rence</th>
        <th>Cr&eacute;&eacute;e le</th>
        <th>Demandeur</th>
        <th>Service</th>
        <th>Date de livraison souhait&eacute;e</th>
        <th>Etat de la demande d'achat</th>
        <th>Etat article<br />trait&eacute;/total</th>
        <th>Demande de devis</th>
        <th>Ordre d'achat</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for request in @requests %>
        <tr <%= "class='disabled'" if request.canceller %>>
          <td><%=h request.reference %></td>
          <td><%=h l(request.created_at, :format => :short) %></td>
          <td><%=h request.employee.fullname %></td>
          <td><%=h request.service.name %></td>
          <td><%=h l(request.expected_delivery_date, :format => :short) %></td>
          <td><%=h display_status_for(request) %></td>
          <td><%=h "#{request.treated_purchase_request_supplies.size}/#{request.purchase_request_supplies.size}" %></td>
          <td>#</td>
          <td><%=h  request.purchase_orders_associated.size%></td>
          <td><%= generate_list_action(request) %> </td>
        </tr>
        <% end %>
    </tbody>
  </table>
  <%= will_paginate @requests %>
</div>

