<% generate_contextual_menu_partial %>

<h1>Liste des demandes d'achats</h1>
<div>
  <table>
    <thead>
      <tr>
          <th rowspan='2'>R&eacute;f&eacute;rence</th>
          <th rowspan='2'>Demandeur</th>
          <th rowspan='2'>Service</th>
          <th rowspan='2'>Date de cr&eacute;ation</th>
          <th colspan='4'>Status</th>
          <th rowspan='2'>Actions</th>
      </tr>
      <tr>
          <th>Non trait&eacute;e(s)</th>
          <th>En cours de traitement(s)</th>
          <th>Trait&eacute;e(s)</th>
          <th>Totaux</th>
      </tr>
    </thead>
    <tbody>
      <% for request in @requests %>
        <tr <%= "class='disabled'" if request.cancelled_by%>>
          <td><%=h request.reference %></td>
          <td><%=h request.employee.fullname %></td>
          <td><%=h request.service.name %></td>
          <td><%=h request.created_at.humanize %></td>
          <td><%=h request.untreated_purchase_request_supplies.size %></td>
          <td><%=h request.during_treatment_purchase_request_supplies.size %></td>
          <td><%=h request.treated_purchase_request_supplies.size %></td>
          <td><%=h request.purchase_request_supplies.size %></td>
          <td><%= generate_list_action(request) %> </td>
        </tr>
        <% end %>
    </tbody>
  </table>
  <%= will_paginate @requests %>
</div>
