<% content_for :header do -%>
  <%= stylesheet_link_tag_with_theme_support 'sales/delivery_note' %>
<% end -%>

<%= order_header %>

<%= generate_pre_invoicing_step_contextual_menu_partial %>

<h1>Livraison</h1>

<div>
  <p>
    L'étape "Livraison" permet d'établir des bons de livraison pour le dossier en cours.<br/>
    La signature du devis est nécessaire pour établir un bon de livraison.
  </p>
  <p>
    L'étape "Livraison" est automatiquement clôturée lorsque tous les produits du dossier sont livrés et que tous les bons de livraison sont <strong>signés</strong>.
  </p>
  <hr/>
  
  <%= display_delivery_notes(@step.order) %>
  <%= content_tag(:p, display_delivery_note_add_button(@order)) if is_form_view? %>
</div>
