<% require_locals conveyances_owner %>
<% owner_type = conveyances_owner.class.singularized_table_name %>
<% conveyances = Conveyance.actives %>

<% fields_for "#{owner_type}[conveyance_attributes][]", conveyance = conveyance_form do |form| %>
  <div class="presentation_in_columns resource_form<%= ' new_record' if conveyance.new_record? %>" id="conveyance_<%=conveyance.id%>_form" <%= "style=\"display:none\"" unless conveyance.new_record? or !conveyance.errors.empty?%> >
    <%= form.error_messages %>
    
    <%= form.form_or_view(form.collection_select( :forwarders, conveyances, :id, :formatted,
                                                  { :prompt   => "Nouveau" },
                                                  { :selected => conveyance.id, :class => "nested_resource_select", :onchange => "new_forwarder_nested_resource(this, counter = #{conveyance_form_counter})" }),
                                                  :id, :formatted) %>
    <span class="new_resource">
      <p>
        <%= form.label :name, {}, :index => nil %>
        <%= form.form_or_view(form.text_field(:name, :index => nil), :name ) %>
      </p>
    

      <p>
        <% if !conveyance.new_record? and is_form_view? %>
          <%= form.hidden_field :id, :index => nil %>
          <%= form.hidden_field :should_destroy, :index => nil, :class => :should_destroy %>
        <% end %>
      </p>
    </span>
<% end %>
