<% conveyance = conveyance_in_one_line %>
<% form ||= nil %>

<tr class="conveyance resource">
  
  <td>
    <% if is_form_view? and form %>
      <%= form.text_field :name %>
    <% else %>
      <%= conveyance.name %>
    <% end %>
  </td>
  
  <td>
    <% if conveyance.activated %>
      <% if is_form_view? and form %>
        <%= form.check_box :activated, :checked => true %>
      <% else %>
        <%= "<span class=\"activated\">Activé</span>" %>
      <% end %>
    <% else %>
      <% if is_form_view? and form %>
        <%= form.check_box :activated %>
      <% else %>
        <%= "<span class=\"deactivated\">Désactivé</span>"%>
      <% end %>
    <% end %>
  </td>
  
  <%= "<td>#{display_conveyance_buttons(conveyance) unless is_form_view?}</td>" unless is_new_view? or is_edit_view? %>
</tr>
