<% content_for :header do %>
  <%= stylesheet_link_tag_with_theme_support 'core/has_resources/has_resources' %>
  <%= stylesheet_link_tag_with_theme_support "thirds/thirds" %>
  <%= javascript_include_tag 'core/has_resources/has_resources' %>
<% end %>

<%= generate_conveyance_contextual_menu_partial(@conveyance) %>

<h1>Nouveau moyen de transport</h1>
<div class="presentation_in_columns">
  <h2>Informations</h2>
  <% form_for @conveyance do |form| %>
    <%= form.error_messages %>
    <table>
      <%= render :partial => "array_head" %>
      <tbody>
        <%= render :partial => "conveyance_in_one_line", :object => @conveyance, :locals => { :form => form} %>
      </tbody>
    </table>
    <%= form.form_buttons %>
  <% end %>
</div>
