<%purchase_order = purchase_order_payment_body%>
<% fields_for "purchase_order[purchase_order_payment_attributes][]", purchase_order.purchase_order_payment, :index => nil do |f| %>
 <div class="presentation_in_columns">
  <div>
    <% if is_form_view? %>
      <%= f.hidden_field :purchase_order_id, :value => purchase_order.new_record? ? purchase_order.object_id : purchase_order.id%>
    <% end %>
    <p>
      <%= f.label         :deposit_amount%>
      <% if is_form_view? %>
        <%= f.text_field    (:deposit, :class => "deposit", :size => 3, :value => purchase_order.calc_deposit.to_f.to_s(2), :onchange => "update_deposit_amount(this.up('.root_nav'));") %>&nbsp;
        <%= f.text_field    (:deposit_amount, :class => "deposit_amount", :size => 5, :onchange => "update_deposit(this.up('.root_nav'));")  %> &euro;&nbsp; 
      <% else %>
        <%= "<strong>" + purchase_order.purchase_order_payment.deposit_amount.to_f.to_s(2) + "&euro;&nbsp;</strong>"%>
      <% end %>      
      
    </p>
    <p>
      <label>Balance :</label>
      <strong><span class="balance"><%= purchase_order.calc_balance.to_f.to_s(2)%></span><span>&euro;</span></strong>
    </p>
    <p>
      <%= f.label :payment_before_shipment%>
      <%if is_form_view?%>
        <%= f.radio_button  :payment, "before_shipment", :checked => purchase_order.purchase_order_payment.payment_before_shipment ? true : false%>
      <% else %>
        <%= "<strong>" + (purchase_order.purchase_order_payment.payment_before_shipment ? "oui" : "non") + "</strong>"%>
      <% end %>
    </p>
    <p>
      <%= f.label :payment_on_delivery%>
      <%if is_form_view?%>
        <%= f.radio_button  :payment, "on_delivery", :checked => purchase_order.purchase_order_payment.payment_on_delivery ? true : false%>
      <% else %>
        <%= "<strong>" + (purchase_order.purchase_order_payment.payment_on_delivery ? "oui" : "non") + "</strong>"%>
      <% end %>
    </p>
  </div>
  <div>
    <p>
      <%= f.label :deposit_payment_method_id%>
      <%= f.form_or_view(f.collection_select (:deposit_payment_method_id, PaymentMethod.all, :id, :name), :deposit_payment_method, :name) %>
    </p>
    <p>
      <%= f.label :balance_payment_method_id %>
      <%= f.form_or_view(f.collection_select (:balance_payment_method_id, PaymentMethod.all, :id, :name), :balance_payment_method, :name) %>
    </p>
  </div>
      <p>
      <%= f.label :comment %>
      <%= f.form_or_view(f.text_area_autoresize (:comment, :index => nil), :comment) %>
    </p>
    <p>
      <%= f.label :number_of_due_dates %>
      <%= f.form_or_view(f.text_field (:number_of_due_dates, :size => 5), :number_of_due_dates) %>
    </p>
    <p>
      <%= f.label :paid%>
      <% if is_form_view? %>
        <%= f.check_box :paid %>
      <% else %>
        <strong><%= (purchase_order.purchase_order_payment.paid ? "oui" : "non") %></strong>
      <% end %>
    </p>
 </div>
<% end %>
