<% content_for :header do %>
  <%= stylesheet_link_tag_with_theme_support "purchases/purchases" %>
<% end %>

<%= generate_purchase_order_contextual_menu_partial(@purchase_order) %>

<h1>Colis</h1>
<div class="presentation_medium">
  <h2>Valider l'ordre d'achats.</h2>
  <% form_for @purchase_order, :url => { :action => "confirm" }, :html => { :multipart => true } do |f| %>
    <%= f.error_messages %>
    <div class="presentation_in_columns">
      <p>
        <% fields_for "purchase_order[quotation_document_attributes][]", PurchaseDocument.new do |f| %>
          <%= f.label :purchase_document %>
          <%= f.file_field :purchase_document %>
        <% end %>
      </p>
    </div>
    <br>
    <%= f.form_buttons %>
  <% end %>
</div>
