<h1>Ordre d'achats</h1>
<div>
  <h2>Informations</h2>
  
  <p><b>- R&eacute;f&eacute;rence : </b><strong><%= display_purchase_order_reference(@purchase_order) %></strong></p>
  <p><b>- Cr&eacute;&eacute; par : </b><strong><%= display_purchase_order_creator(@purchase_order) %></strong></p>
  <p><b>- Fournisseur : </b><strong><%= @purchase_order.supplier.name %></strong></p>
  <p><b>- Créé le : </b><strong><%= @purchase_order.created_at.humanize %></strong></p>
  <%= "<p><b>- Validé le : </b><strong>#{@purchase_order.confirmed_at.humanize}</strong></p>" if (@purchase_order.confirmed_at and (@purchase_order.status != PurchaseOrder::STATUS_CONFIRMED)) %>
  <%= "<p><b>- En traitement depuis le : </b><strong>#{@purchase_order.processing_since.humanize}</strong></p>" if (@purchase_order.processing_since and (@purchase_order.status != PurchaseOrder::STATUS_PROCESSING)) %>
  <%= "<p><b>- Terminé le : </b><strong>#{@purchase_order.completed_at.humanize}</strong></p>" if (@purchase_order.completed_at and (@purchase_order.status != PurchaseOrder::STATUS_COMPLETED)) %>
  <%= "<p><b>- Annulé le : </b><strong>#{@purchase_order.cancelled_at.humanize}</strong></p>" if (@purchase_order.cancelled_at and (@purchase_order.status != PurchaseOrder::STATUS_CANCELLED)) %>
  <p><b>- Statut en cours : </b><strong><%= display_purchase_order_current_status(@purchase_order) %></strong><b> depuis le </b><strong><%= display_purchase_order_current_status_date(@purchase_order) %></strong></p>
  <p><b>- Achat : </b><strong><%= @purchase_order.direct ? "Direct" : "Indirect" %></strong></p>
  <p><b>- </b><strong><%= display_purchase_order_paid(@purchase_order) %></strong></p>
  
  <h2>Liste des fournitures commandées</h2>
  
  <table>
    <thead>
      <tr>
        <th>R&eacute;f&eacute;rence</th>
        <th>D&eacute;signation</th>
        <th>Colis associ&eacute;</th>
        <th>Statut</th>
        <th>Depuis le</th>
        <th>Quantit&eacute;</th>
        <th>PU TTC</th>
        <th>Prix total TTC</th>
        <th>Demandes associées</th>
        <th>Désignation fournisseur</th>
        <th>R&eacute;f&eacute;rence fournisseur</th>
        <th>D&eacute;lai de livraison</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "purchase_order_supplies/purchase_order_supply_in_one_line_for_view", :collection => @purchase_order.purchase_order_supplies %>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  
  <h2>Liste des colis</h2>
  
  <table>
    <thead>
      <tr>
        <th>R&eacute;f&eacute;rence</th>
        <th>Transport</th>
        <th>Statut</th>
        <th>Depuis le</th>
        <th>Date de livraison prévue</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>
