<% content_for :header do %>
  <%= stylesheet_link_tag_with_theme_support "purchases/purchases" %>
<% end %>

<%= generate_purchase_order_contextual_menu_partial(@purchase_order) %>

<h1>Ordre d'achats</h1>
<div class="presentation_medium">
  <h2>Informations</h2>
  <div class="presentation_in_columns">
    <div>
      <p>
        <label>R&eacute;f&eacute;rence :</label> 
        <strong><%= display_purchase_order_reference(@purchase_order) %></strong>
      </p>
      <p>
        <label>Fournisseur :</label> 
        <strong><%= @purchase_order.supplier.name.to_s %></strong>
      </p>
      <%= "<p><label>Validé le :</label> <strong>#{@purchase_order.confirmed_at.humanize}</strong></p>" if (@purchase_order.confirmed_at and (@purchase_order.status != PurchaseOrder::STATUS_CONFIRMED)) %>
      <%= "<p><label>En traitement depuis le :</label> <strong>#{@purchase_order.processing_since.humanize}</strong></p>" if (@purchase_order.processing_since and (@purchase_order.status != PurchaseOrder::STATUS_PROCESSING)) %>
      <%= "<p><label>Terminé le :</label> <strong>#{@purchase_order.completed_at.humanize}</strong></p>" if (@purchase_order.completed_at and (@purchase_order.status != PurchaseOrder::STATUS_COMPLETED)) %>
      <%= ("<p><label>Annulé le :</label> <strong>" + display_purchase_order_current_status_date(@purchase_order) + "</strong></p>") if (@purchase_order.was_cancelled?) %>
      <p>
        <label>Statut en cours :</label> 
        <strong><%= display_purchase_order_current_status(@purchase_order) %></strong> depuis le <strong><%= display_purchase_order_current_status_date(@purchase_order) %></strong>
      </p> 
    </div>
    <div >
        <p>
          <label>Cr&eacute;&eacute; par :</label> 
          <strong><%= display_purchase_order_creator(@purchase_order) %></strong> depuis le <strong><%= @purchase_order.created_at.humanize %></strong>
        </p>
        <p>
          <label>Origine :</label>
          <strong><%= @purchase_order.supplier.address.country_name.to_s %></strong>
        </p>
    </div>
  </div> 
  <% unless @purchase_order.status == PurchaseOrder::STATUS_DRAFT %>
  
    <h2>Liste des colis</h2>
    
    <% if @purchase_order.can_add_parcel? %>
      <p><%= link_to "Ajouter un colis", new_purchase_order_parcel_path(@purchase_order) %></p>
    <% end%>
    
    <% if @purchase_order.get_parcels.count > 0 %>
        <%= render :partial => "parcels/array_head" %>
        <%= render :partial => "parcels/parcel", :collection => @purchase_order.get_parcels, :locals => { :purchase_order => @purchase_order } %>
        <%= render :partial => "parcels/array_foot" %>
    <% end %>
  <% end %>
  
  <h2>Liste des fournitures commandées</h2>
  
  <table class="no_nth">
    <thead>
      <tr>
        <th>R&eacute;f&eacute;rence</th>
        <th>D&eacute;signation</th>
        <th>Colis associ&eacute;s</th>
        <th>Statut</th>
        <th>Depuis le</th>
        <th>Quantit&eacute;</th>
        <th>PU TTC</th>
        <th>Prix total TTC</th>
        <th>Demandes associées</th>
        <th>R&eacute;f&eacute;rence fournisseur</th>
        <th>Désignation fournisseur</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "purchase_order_supplies/purchase_order_supply_in_one_line_for_view", :collection => @purchase_order.purchase_order_supplies %>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>
