<% secondary_menu POSSIBLE_ACTIONS do %>
  <%= show_society_activity_sector_add_button %>
	<%= show_society_activity_sector_delete_button(@society_activity_sector)%>
<% end %>
<% secondary_menu USEFUL_LINKS do %>
	<%= show_society_activity_sector_list_button %>
<% end %>

<h1>Configuration des param&egrave;tres de base de l'entreprise</h1>
<%= display_tabulated_menu %>

<div class="frame tabulation">
<h1>Modifier un secteur d'activit&eacute;</h1>
<%= render :partial => @society_activity_sector, :locals => {:submit_button_name => "Mettre &agrave; jour"} %>
</div>
