<h1>Modifier un secteur d'activit&eacute;</h1>
<% form_tag @society_activity_sector %>

<% form_for(@society_activity_sector) do |society_activity_sector| %>
  <%= society_activity_sector.error_messages %>

  <p>
    <%= society_activity_sector.label :name, "Nom"  %><br />
    <%= society_activity_sector.text_field :name %>
  </p>

  <p>
    <%= society_activity_sector.submit "Mettre à jour" %> - <%= link_to 'Retour', society_activity_sectors_path %>
  </p>
<% end %>


