<h1>Configuration des param&egrave;tres de base de l'entreprise</h1>
<%= display_tabulated_menu %>

<div class="cadre tabulation">
<h1>Modifier un secteur d'activit&eacute;</h1>
<% form_for(@society_activity_sector) do |society_activity_sector| %>
  <%= society_activity_sector.error_messages %>

  <p>
    <%= society_activity_sector.label :name, "Nom" %><br />
    <%= society_activity_sector.text_field :name %>
  </p>

  <p>
    <%= society_activity_sector.submit "Mettre à jour" %>
  </p>
<% end %>

<%= link_to 'Retour', society_activity_sectors_path %>
</div>