<h1>Configuration des param&egrave;tres de base de l'entreprise</h1>
<%= display_tabulated_menu %>

<div class="frame tabulation">
<h1>Les secteurs d'activit&eacute;s de l'entreprise</h1>
<table>
  <tr>
    <th>Nom</th>
<% if @edit == true and @delete == true %>
    <%= "<th colspan='2'>Action</th>" %>
    <% elsif (@edit == true and @delete == false) or (@edit == false and @delete == true) %>
    <%= "<th>Action</th>" %>
    <% end %>
  </tr>

<% for society_activity_sector in @society_activity_sectors %>
  <tr>
    <td><%=h society_activity_sector.name %></td>
    <%= "<td>"+link_to('Modifier', edit_society_activity_sector_path(society_activity_sector))+"</td>" if @edit == true %>
    <%= "<td>"+link_to('Supprimer', society_activity_sector, :action => 'destroy', :confirm => 'Etes vous sûr ?', :method => :delete)+"</td>" if @delete == true %>
  </tr>
<% end %>
</table>

<%= link_to("Nouveau secteur d'activit&eacute;", new_society_activity_sector_path) if @add == true %> <%= link_to "Retour", :controller => 'society_configurations', :action => 'index' %>
</div>