<% add_contextual_menu_item :possible_actions do %>
  <%= new_society_activity_sector_link %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
	<%= society_activity_sectors_link %>
<% end %>

<h1>Les secteurs d&apos;activit&eacute;s de l&apos;entreprise</h1>

<div>
<table>
  <tr>
    <th>Nom</th>
    <th colspan='2'>Action</th>
  </tr>

<% for society_activity_sector in @society_activity_sectors %>
  <tr>
    <td><%= society_activity_sector.name %></td>
    <td style='width: 30px;'><%= edit_society_activity_sector_link(society_activity_sector, :link_text => "") %><%= delete_society_activity_sector_link(society_activity_sector, :link_text => "") %></td>
  </tr>
<% end %>
</table>
</div>
