<% if (params[:inactives]=="true" ? 1 : category_child.was_enabled_at) %>
  <%= "<tr id='#{category_child.class.name.tableize.singularize}_#{category_child.id}' class='#{category_child.class.name.tableize.singularize}_#{category_child.parent.id} #{category_child.enable ? "enable" : "disable"}'>" %>
    <td></td>
    <td>
      <%= image_tag("add_10x10.png",  :id       => "#{category_child.class.name.tableize.singularize}_#{category_child.id}_develop",
                                        :alt      => "Dérouler",
                                        :title    => "Dérouler",
                                        :onclick  => "develop(this.ancestors()[1])",
                                        :style    => "display:none") unless show_counter_category(category_child) == 0 %>
        
      <%= image_tag("reduce_button_10x10.png",  :id       => "#{category_child.class.name.tableize.singularize}_#{category_child.id}_reduce",
                                                :alt      => "Enrouler",
                                                :title    => "Enrouler",
                                                :onclick  => "reduce(this.ancestors()[1])") %>
      <%= in_place_editor(category_child,'name')+"(#{show_counter_category(category_child)})" %>
    </td>
    <td colspan='9'></td>
    <td><%= display_category_stock_value(category_child) %></td>
    <td><%= "#{add_category_or_supply(category_child)}#{reactivate_category_link(category_child)}#{disable_category_link(category_child)}#{delete_category_link(category_child)}" %></td>
  </tr>
  
  <% unless category_child.supplies.nil? %>
    <%= render(:partial => "/supplies_manager/supply", :collection => category_child.supplies) %>  
  <% end %>
<% end %>
