<% content_for :header do %>
  <%= javascript_include_tag 'logistics/supplies' %>
  <%= stylesheet_link_tag_with_theme_support 'logistics/supply' %>
<% end %>

<% add_contextual_menu_item :statistics do %>
  <span>Valeur estimative du stock actuel&nbsp;: <%= number_with_precision(@supply_class.stock_value, :precision => 2) %>&nbsp;&euro;</span>
<% end %>

<% add_contextual_menu_item :possible_actions do %>
  <%= new_supply_category_link(@supply_category_class) %>
  <%= new_supply_link(@supply_class) %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= params[:inactives] ? display_supply_list_button(@supply_class) : display_supply_list_all_button(@supply_class) %>
<% end %>

<% title_context "Stocks" %>
<%= title title_for_search %>

<div>
  <%= table_for_search %>
</div>
