<% content_for :header do %>
  <%= javascript_include_tag 'logistics/supplies' %>
  <%= stylesheet_link_tag_with_theme_support 'logistics/supply' %>
<% end %>

<% add_contextual_menu_item :commodities_stats do %>
  <span>Valeur estimative du stock actuel&nbsp;: <%= number_with_precision(@supply_type.stock_value,2) %>&nbsp;&euro;</span>
<% end %>

<% add_contextual_menu_item :possible_actions do %>
  <%= display_supply_category_add_button(@supply_category_type.new) %>
  <%= display_supply_add_button(@supply_type.new) %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= params[:inactives] ? display_supply_list_button(@supply_type) : display_supply_list_all_button(@supply_type) %>
<% end %>

<h1><%= title_for_search %></h1><!--Tous les employ&eacute;s--> 

<div>
  <%= table_for_search %>
</div>
