<% content_for :header do %>
  <%= javascript_include_tag 'logistics/supplies' %>
<% end %>

<% add_contextual_menu_item :statistics do %>
  <span style='color: red;'>VALEUR TOTALE DU STOCK : <%= number_with_precision(@supply_type.stock_value,2) + " €" %></span>
<% end %>

<% add_contextual_menu_item :possible_actions do %>
  <%= self.send("new_#{@supply_type.name.tableize.singularize}_category_link") %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= params[:inactives]=="true" ? supply_categories_link(@supply_type) : supply_categories_link_with_inactives(@supply_type) %>
<% end %>

<div>
  <% unless @supply_categories_root.empty? %>
    <%= "<table class='#{@supply_type.name.underscore}'>" %>
      <tr>
        <th rowspan='2'>Cat&eacute;gorie</th>
        <th rowspan='2'>Sous cat&eacute;gorie</th>
        <th rowspan='2'>Fournisseurs</th>
        <th rowspan='2'>R&eacute;f.</th>
        <th rowspan='2'>D&eacute;signation</th>
        <th rowspan='2'>Grandeur/U</th>
        <th rowspan='2'>Masse/U</th>
        <th rowspan='2'>Prix/Grandeur/U</th>
        <th colspan='4'>Stock</th>
        <th rowspan='2'>Actions</th>
        <tr>          <th>Quantit&eacute;</th>
          <th>Grandeur</th>
          <th>Masse</th>
          <th>Valeur</th>
        </tr>
      </tr>      
      <%= render(:partial => "supplies_manager/supply_category", :collection => @supply_categories_root) %>
    </table>
  <% else %>
    <p>Aucune cat&eacute;gorie existante</p>
  <% end %>
</div>
