<%
supply = supply_in_one_line
unit_measure_symbol = supply.unit_measure.symbol if supply.unit_measure

supply_status = supply.enabled? ? "enabled" : "disabled"
tr_id = "#{supply.class.name.downcase}_#{supply.id}"
tr_class = supply.ancestors.collect{ |c| "#{c.class.singularized_table_name}_#{c.id}" }.join(" ") + " #{supply_status}"
%>

<tr id="<%= tr_id %>" class="<%= tr_class %>">
  <td class="reference"><%= supply.reference %></td>
  <td></td>
  <td></td>
  <td class="type text"><%= supply.name %></td>
  <td class="specificity text"><%= humanized_supply_sizes_and_packaging(supply) %></td>
  <td class="unit_measure"><%= supply.measure ? "#{supply.measure} #{unit_measure_symbol}" : "-" %></td>
  <td class="unit_mass"><%= supply.unit_mass ? "#{supply.unit_mass} kg" : "-" %></td>
  <td class="average_unit_price amount"><%= supply.average_unit_price ? "#{number_with_precision(supply.average_unit_price, 2)} &euro;" : "-" %></td>
  <td class="average_measure_price amount"><%= supply.average_measure_price ? "#{number_with_precision(supply.average_measure_price, 2)} &euro;/#{display_supply_unit_measure(supply)}" : "-" %></td>
  <td class="actions"><%= display_supply_action_buttons(supply) %></td>
</tr>
