<% supply_category_enable = supply_category.enable ? "enable" : "disable" %>

<%= "<tr id='#{supply_category.class.name.tableize.singularize}_#{supply_category.id}' class='#{supply_category_enable}'>" %>
  <td>
    <%= image_tag("add_10x10.png",  :id       => "#{supply_category.class.name.tableize.singularize}_#{supply_category.id}_develop",
                                    :alt      => "Dérouler",
                                    :title    => "Dérouler",
                                    :onclick  => "develop(this.ancestors()[1])",
                                    :style    => "display: none") %>
    <%= image_tag("reduce_button_10x10.png",  :id       => "#{supply_category.class.name.tableize.singularize}_#{supply_category.id}_reduce",
                                              :alt      => "Enrouler",
                                              :title    => "Enrouler",
                                              :onclick  => "reduce(this.ancestors()[1])") unless supply_category.children.empty? %>
    <%= in_place_editor(supply_category,'name') + " (#{show_counter_category(supply_category)})" %>
  </td>
  <td colspan='10'></td>
  <td><%= display_category_stock_value(supply_category) %></td>
  <%= "<td>#{add_category_or_supply(supply_category)}#{reactivate_category_link(supply_category)}#{disable_category_link(supply_category)}#{delete_category_link(supply_category)}</td>"%>
</tr>

<% unless supply_category.children.empty? %>
  <%= render(:partial => "supplies_manager/category_child", :collection => supply_category.children) %>
<% end %>
