<p>
    <%= label :address, "Pays"%>
    <%= text_field_with_auto_complete(:country, :name, 
        {:size => 15, :value => "#{owner_address.country_name}"}, {:select => 'country_name'}) -%>
    </p>

    <p>
    <%= label :address, "Ville"%>
    <%= text_field_with_auto_complete(:city, :name, 
        {:country_id => 1, :size => 15, :value => "#{owner_address.city_name}"}, {:select => 'city_name',
        :with => "'city_name='+document.getElementById('city_name').value   +
        '&country_name='+document.getElementById('country_name').value"
        }) -%>
    </p>
      
    <p>
    <%= label :address, "Zip_code"%>
    <%= text_field_with_auto_complete(:city, :zip_code,
        {:country_id => 1, :size => 15, :value =>  "#{owner_address.zip_code}"}, {:select => 'city_zip_code',
        :with => "'city_zip_code='+document.getElementById('city_zip_code').value   +
        '&country_name='+document.getElementById('country_name').value"
        }) -%>
    </p>
