
<p>
    <%= label :address, "Pays"%>
    <%= my_text_field_with_auto_complete(:country, :name, 
        {:controller => "addresses", :name => address_name}, 
        {:select => 'country_name',
          #:after_update_element => "function(){document.getElementById('country_#{cpt}_selected').value = 'true';}",
          :with => "'value='+document.getElementById('#{address_name}_country_name').value" }) -%>
    </p>

    <p>
    <%= label :address, "Ville"%>
    <%= my_text_field_with_auto_complete(:city, :name, 
        {:controller => "addresses", :name => address_name}, 
        {:select => 'city_name',
        :with => "'value='+document.getElementById('#{address_name}_city_name').value+
        '&country_name='+document.getElementById('#{address_name}_country_name').value" }) -%>
    </p>
      
    <p>
    <%= label :address, "Code Postal"%>
    <%= my_text_field_with_auto_complete(:city, :zip_code,
        {:controller => "addresses", :name => address_name}, 
        {:select => 'city_zip_code',
        :with => "'value='+document.getElementById('#{address_name}_city_zip_code').value+
        '&country_name='+document.getElementById('#{address_name}_country_name').value"}) -%>
    </p>

    <%=  javascript_tag "document.getElementById('#{address_name}_country_name').value = '#{owner_address.country_name}'"%>
    <%=  javascript_tag "document.getElementById('#{address_name}_city_name').value = '#{owner_address.city_name}'"%>
    <%=  javascript_tag "document.getElementById('#{address_name}_country_name').value = '#{owner_address.zip_code}'"%>

    <%= hidden_field("#{address_name.split}[country][name]", "id", "value" => '')%>
    
    <%= observe_field "#{address_name}_country_name",
            :frequency => 0.1,
            :url=>{:controller => "addresses", :action=>'country_change'},
            :with => "'country_name='+encodeURIComponent(document.getElementById('#{address_name}_country_name').value)+
            '&city_name='+encodeURIComponent(document.getElementById('#{address_name}_city_name').value)+
            '&city_zip_code='+encodeURIComponent(document.getElementById('#{address_name}_city_zip_code').value)+
            '&address_name=#{address_name}'"
 %>

      <%= observe_field "new_city#{cpt}_name",
            :frequency => 0.1,
            :url=>{:controller => "addresses", :action=>'city_name_change'},
            :with => "'country_name='+encodeURIComponent(document.getElementById('#{address_name}_country_name').value)+
            '&city_name='+encodeURIComponent(document.getElementById('#{address_name}_city_name').value)+
            '&city_id='+encodeURIComponent(document.getElementById('#{address_name}_city_name_auto_complete'))+
            '&address_name=#{address_name}'"
    %>
    
    <%# &contact_id='+encodeURIComponent(document.getElementById('#{owner_type.downcase}_contacts_#{cpt}_first_name_auto_complete').getElementsByClassName('contacts')[0].getElementsByClassName('selected')[0].getElementsByClassName('contact_id')[0].innerHTML)+ %>
    
  <%= observe_field "new_city#{cpt}_zip_code",
            :frequency => 0.1,
            :url=>{:controller => "addresses", :action=>'city_zip_code_change'},
            :with => "'country_name='+encodeURIComponent(document.getElementById('#{address_name}_country_name').value)+
            '&city_zip_code='+encodeURIComponent(document.getElementById('#{address_name}_city_zip_code').value)+
            '&address_name=#{address_name}"
    %>