<% owner_type = contacts_owner.class.name.downcase %>

<% fields_for "#{owner_type}[contact_attributes][]", contact = contact_form do |form| %>
<div class="resource_form" id="contact_form_<%=contact.id%>" <%= "style=\"display:none\"" unless contact.new_record? or !contact.errors.empty? %> >
  <div style="border: 1px solid red; padding: 5px; margin: 5px">
    <%= form.error_messages %>
    <p>
      <%= form.label :first_name, :index => nil %>
      <%= form.form_or_view(form.text_field(:first_name, :index => nil), :first_name) %>
    </p>
    <p>
      <%= form.label :last_name, :index => nil %>
      <%= form.form_or_view(form.text_field(:last_name, :index => nil), :last_name) %>
    </p>
    <p>
      <%= form.label :email, :index => nil %>
      <%= form.form_or_view(form.text_field(:email, :index => nil), :email) %>
    </p>
    <p>
      <%= form.label :job, :index => nil %>
      <%= form.form_or_view(form.text_field(:job, :index => nil), :job) %>
    </p>
    <p>
      <%= form.label :contact_type_id, :index => nil%>
      <%= form.form_or_view(form.collection_select( :contact_type_id, ContactType.find(:all, :conditions => ["owner = ?", owner_type]), :id, :name, {}, :index => nil), :contact_type, :name) %>
    </p>
    
    <p>
      <% if contact.new_record? %>
        <%= link_to_function "Annuler la création du contact", "this.up('.resource_form').remove()" %>
      <% elsif is_form_view? %>
        <%= link_to_function "Annuler la modification du contact", "mark_resource_for_dont_update(this.up('.contact_general_infos'))" %>
      <% else %>
        <%= link_to_function "Fermer", "this.up('.contact_general_infos').down('.resource_form').hide()" %>
      <% end %>

      <% if !contact.new_record? and is_form_view? %>
        <%= form.hidden_field :id, :index => nil %>
        <%= form.hidden_field :should_destroy, :index => nil, :class => 'should_destroy' %>
        <%= form.hidden_field :should_update, :index => nil, :class => 'should_update' %>
      <% end %>
    </p>
  </div>
</div>
<% end %>