<% form_for(@role) do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :name, "Nom du r&ocirc;le" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description, "Description du r&ocirc;le"%><br/>
    <%= f.text_area :description%>
  </p>
  <p>Choisir les utilisateurs qui poss&egrave;dent ce r&ocirc;le</p>
  
  <div>
    <table>
      <% for associated_user in User.find(:all, :order => :username) %>
        <tr>
          <td>
            <%= check_box_tag "role[user_ids][]", associated_user.id, @role.users.include?(associated_user) %>
          </td>
          <td>
            <%= associated_user.username %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <p>
    <%= f.submit submit_button_name %>
  </p>
<% end %>
