<div class="presentation_medium">
<% form_for(@role) do |form| %>
  <%= form.error_messages %>
  
  <p>
    <%= form.label :name %>
    <%= form.form_or_view(form.text_field(:name), :name) %>
  </p>
  <p>
    <%= form.label :description %>
    <%= form.form_or_view(form.text_area(:description), :description) %>
  </p>
  <div class="form_multiple_entries">
    <%= form.label :user_ids %>
    <div class="collection">
      <% for user in (is_form_view? ? User.find(:all, :order => :username) : @role.users) %>
        <div class="object">
          <%= check_box_tag("role[user_ids][]", user.id, @role.users.include?(user)) if is_form_view? %>
          <label><%= link_to(user.username, user) %></label>
        </div>
      <% end %>
    </div>
  </div>
  <p>
    <%= form.reset %>
    <%= form.submit submit_button_name %>
  <p>
<% end %>
</div>
