<% content_for :secondary_menu do %>
  <%= show_add_button %>
<% end %>

<h1>Liste des  r&ocirc;les</h1>

<div class="frame">
  <table>
    <tr>
      <th>Nom du r&ocirc;le</th>
      <th>Description du r&ocirc;le</th>
      <th>Actions</th>
    </tr>

    <% for role in @roles %>
      <tr>
        <td><%=h role.name %></td>
        <td title="<%=h role.description %>"><%=preview(role.description,30) %></td>
        <td><%= show_view_button(role) %> <%= show_edit_button(role) %> <%= show_delete_button(role) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>