<% add_contextual_menu_item :possible_actions do %>
  <%= new_role_link %>
<% end %>

<h1>Liste des r&ocirc;les</h1>

<div>
  <table>
    <thead>
      <tr>
        <th>Nom du r&ocirc;le</th>
        <th>Description du r&ocirc;le</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for role in @roles %>
        <tr>
          <td><%=h role.name %></td>
          <td><%=h role.description %></td>
          <td>
            <%= role_link(role, :link_text => "") %>
            <%= edit_role_link(role, :link_text => "") %>
            <%= delete_role_link(role, :link_text => "") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @roles %>
</div>
