<% secondary_menu POSSIBLE_ACTIONS do %>
  <%= new_role_link %>
<% end %>

<h1>Liste des  r&ocirc;les</h1>

<div class="frame">
  <table>
    <tr>
      <th>Nom du r&ocirc;le</th>
      <th>Description du r&ocirc;le</th>
      <th>Actions</th>
    </tr>

    <% for role in @roles %>
      <tr>
        <td><%=h role.name %></td>
        <td title="<%=h role.description %>"><%=preview(role.description,30) %></td>
        <td>
          <%= role_link(role, :link_text => "") %>
          <%= edit_role_link(role, :link_text => "") %>
          <%= delete_role_link(role, :link_text => "") %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
