<% secondary_menu POSSIBLE_ACTIONS do %>
	<%= show_add_button("Ajouter un r么le")%>
	<%= show_edit_button(@role,"Modifier ce r么le")%>
	<%= show_delete_button(@role,"Supprimer ce r么le")%>
<% end %>
<% secondary_menu USEFUL_LINKS do %>
	<%= link_to "Liste des r么les",roles_path%>
<% end %>
<h1>D&eacute;tails du r&ocirc;le</h1>
<%= render :partial => @role %>
