<% secondary_menu POSSIBLE_ACTIONS do %>
	<%= new_role_link %>
	<%= edit_role_link(@role) %>
	<%= delete_role_link(@role) %>
<% end %>
<% secondary_menu USEFUL_LINKS do %>
	<%= roles_link %>
<% end %>
<h1>D&eacute;tails du r&ocirc;le</h1>
<%= render :partial => @role %>
