<% contextual_search_for_role %>

<% add_contextual_menu_item :possible_actions do %>
	<%= new_role_link %>
	<%= edit_role_link(@role) %>
	<%= delete_role_link(@role) %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
	<%= roles_link %>
<% end %>

<h1>D&eacute;tails du r&ocirc;le</h1>
<%= render :partial => @role %>
