<% content_for :header do %>
  <%= stylesheet_link_tag_with_theme_support 'sales/sales' %>
<% end %>

<div>
  <% if @orders.empty? %>
    <p>Aucune facture</p>
  <% else %>
    <div class="autoscroll">
      <table class="" id="productions">
        <thead>
          <tr>
            <th>N° Dossier</th>
            <th>Type dossier</th>
            <th>Nom projet</th>
            <th>Raison sociale</th>
            <th>Ville(s) d'intervention</th>
            <th>Devis sign&eacute; le</th>
            <th>R&eacute;f. devis</th>
            <th>Montant TTC</th>
            <th>Entr&eacute;e en production le</th>
            <th>Avancement de la production</th>
            <th>Qt&eacute; produits termin&eacute;es / total devis</th>
            <th>Qt&eacute; produits &agrave; livrer</th>
            <th>Qt&eacute; produits livr&eacute;s</th>
            <th>Date prév. de livraison</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for order in @orders %>
            <% production_step = order.pre_invoicing_step.production_step %>
            <tr class="">
              <td><%= link_to(order.reference, order, :title => "Voir ce dossier") %></td>
              <td><%= order.order_type.title %></td>
              <td><%= link_to(order.title, order, :title => "Voir ce dossier") %></td>
              <td><%= link_to("#{order.customer.name}", order.customer, :title => "Voir fiche client") %></td>
              <td><%= display_interventions_town_for(order) %></td>
              <td><%= order.signed_quote.signed_on.humanize %></td>
              <td><%= link_to(order.signed_quote.reference, order_commercial_step_quote_step_quote_path(order, order.signed_quote), :title => "Voir ce devis") %></td>
              <td><%= order.signed_quote.total_with_taxes.round_to(2).to_s + " &euro;" %></td>
              <td><%= production_step.begining_production_on.humanize if production_step.begining_production_on%></td>
              <td><%= production_step.global_progression.round_to(2).to_f.to_s + " %"%></td>
              <td><%= production_step.numbers_of_built_products.to_i.to_s + " / " + order.signed_quote.number_of_pieces.to_i.to_s%></td>
              <td>#</td>
              <td>#</td>
              <td><%= order.previsional_delivery.humanize %></td>
              <td><%= display_production_step_action_buttons(order) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
