<tr>
<% if input %>
  <%= "<td>#{stock_flow.adjustment ? 'Inventaire' : stock_flow.purchase_number}</td>" %>
<% else %>
  <%= "<td>#{stock_flow.adjustment ? 'Inventaire' : stock_flow.file_number}</td>" %>
<% end %>
<%= "<td> #{stock_flow.supply.name}</td>" %>
<%= "<td>#{stock_flow.supplier.name}</td>" %>
<%= "<td>#{stock_flow.quantity}</td>" %>
<% if input %>
  <%= "<td>#{number_with_precision(stock_flow.fob_unit_price.to_s,2) + ' &euro;'} </td>" %>
  <%= "<td>#{number_with_precision(stock_flow.tax_coefficient,2) + ' &#37;'} </td>" %>
<% end %>
<%= "<td>#{stock_flow.created_at.strftime("%d-%m-%Y")}</td>" %>
</tr>

