<% content_for :header do %>
  <%= javascript_include_tiny_mce_if_used %>
  <%= tiny_mce if using_tiny_mce? %>
<% end %>

<div class="presentation_medium">
<% form_for(@content) do |form| %>
  <%= render :partial => 'menus/menu_form', :object => @content.menu, :locals => {:menu_owner => @content} %>

  <h2>Information concernant le contenu</h2>
  <%= form.error_messages %>
  
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </p>
  <p>
    <%= form.text_area(:text, :cols => 100, :rows => 30) %>
  </p>

  <%= submit_tag submit_button_name %>
<% end %>
</div>
