<%= display_button %>
<h4>Modification de la page</h4>

<% form_for(@content) do |content| %>
  <%= content.error_messages %>
  <%= render :partial => 'form', :locals => {:content => content} %>
  <%= content.submit  'Modifier' %>  <%= link_to 'Retour', :action => 'index' %>
<% end %> 
