<% content_for :javascript do %>
  <%= javascript_include_tiny_mce_if_used %>
  <%= tiny_mce if using_tiny_mce? %>
<% end %>

<%= display_button %>
<h4>Modification de la page</h4>

<% form_for(@content) do |content| %>
  <%= content.error_messages %>
  <%= render :partial => 'form', :locals => {:content => content} %>
  <%= content.submit  'Modifier' %>
<% end %><br/>
<%= link_to 'Retour', :action => 'index' %>