<% content_for :javascript do %>
  <%= javascript_include_tiny_mce_if_used %>
  <%= tiny_mce if using_tiny_mce? %>
<% end %>

<h1>Modifier un contenu</h1>
<%= display_reload_button %>
<% form_for(@content) do |content| %>
  <%= content.error_messages %>
  <%= render :partial => 'form', :locals => {:content => content, :submit_button_name => "Modifier"} %>
<% end %>