<% contextual_menu POSSIBLE_ACTIONS do %>
	<%= new_content_link %>
	<%= content_link(@content) %>
	<%= delete_content_link(@content) %>
<% end %>

<% contextual_menu USEFUL_LINKS do %>
	<%= contents_link %>
<% end %>

<h1>Modifier un contenu</h1>
<%= render :partial => @content, :locals => {:submit_button_name => "Modifier"} %>
