<% add_contextual_menu_item :possible_actions do %>
	<%= new_content_link %>
	<%= content_link(@content) %>
	<%= delete_content_link(@content) %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
	<%= contents_link %>
<% end %>

<h1>Modifier un contenu</h1>
<%= render :partial => @content %>
