<h4>Nouvelle page</h4>

<% form_for(@category) do |category| %>
  <%= category.error_messages %>

  <p>
    <%= category.label :title %><br />
    <%= category.text_field :title %>
  </p>
  <p>
    <%= category.label :text %><br />
    <%= category.text_field :text %>
  </p>
  <p>
    <%= category.submit "Create" %>
  </p>
<% end %>