<% secondary_menu POSSIBLE_ACTIONS do %>
	<%= show_content_add_button %>
	<%= show_content_edit_button(@content) %>
	<%= show_content_delete_button(@content) %>
<% end %>

<% secondary_menu USEFUL_LINKS do %>
	<%= show_content_list_button %>
<% end %>

<% if @content.versions.length > 0 %>
  <% secondary_menu "Historique" do %>
    <%= show_contents_versions(@content_versions) %>
  <% end %>
<% end %>

<h1><%= @content.title %></h1>
<div class="frame formated_content">
  <fieldset>
    <p><%= @content.description %></p>
    <hr/>
    <p><%= @content.text %></p>
    <hr/>
    <p>
      <strong>Auteur :</strong>
      <%= (@author.employee.nil? ? @author.username : @author.employee.fullname) unless @author.nil? %>
    </p>
    <p>
      <strong>Contributeurs :</strong>
      <%= contributors_full_names(@contributors) %>
    </p>
  </fieldset>
</div>
