<% #fields_for "customer[establishment_attributes][][address_attributes]", address do |form| 
%>
<% owner_type = address_owner.class.name.downcase %>
<% fields_for "#{owner_type}[address_attributes][]", address = address_form do |form| %>
  <%= form.error_messages %>
  <p>
    <%= form.label :address1, :index => nil %>
    <%= form.form_or_view(form.text_field(:address1, :index => nil) + " - " + form.text_field(:address2, :index => nil), :address1and2) %>
  </p>
  <p>
    <%= form.label :country_name, :index => nil %>
    <%= form.form_or_view(form.text_field(:country_name, :index => nil), :country_name) %>
  </p>
  <p>
    <%= form.label :city_name, :index => nil %>
    <%= form.form_or_view(form.text_field(:city_name, :index => nil), :city_name) %>
  </p>
  <p>
    <%= form.label :zip_code, :index => nil %>
    <%= form.form_or_view(form.text_field(:zip_code, :index => nil), :zip_code) %>
  </p>
  <% #OPTIMIZE the herein hidden fields would not be exists if the fields_for command accept argument like 'customer[establishment_attributes][][address_attributes]' %>
  <% if is_form_view? %>
    <%= form.hidden_field :id, :index => nil %>
    <%= form.hidden_field :has_address_id, :index => nil %>
    <%= form.hidden_field :has_address_type, :index => nil %>
  <% end %>
<% end %>
