<% if is_form_view?%>
  <%@premium||=nil %>
  <% form_for([@employee,@premium]) do |f| %>
    <%=f.error_messages%> 
    <h2>Prime</h2>
    <p>
      <%= f.label :premium %>
      <%= f.text_field :premium, {:size => 8, :maxlength => 10, :class => "disable-stylesheet-width"} %>
      &nbsp;le&nbsp;
      <%= f.form_or_view(f.date_select( :date,{ :start_year => 2000, :order => [:day,:month,:year] } ) ) %>
    </p>
    <p>
      <%= f.label :remark %>
      <%= f.form_or_view(f.text_area( :remark,{ :rows => "5"})) %>
    </p>
    <p>
      <%= f.submit "Ajouter", :onclick => "return confirm_premium();" %>
    </p>
  <%end%>

<% else %>

    <h2>Primes</h2>    
      <% @employee.premia[0...5].each do |p|%>
          <p>
            <strong><%= p.premium %> &euro;</strong>
            <%= p.date.strftime("le %d %B %Y") unless p.date.nil? %>
            <%=h( "(#{p.remark})")%> 
          </p>
      <% end %>
      
      <%= display_premia_view_link( @employee, @premia_controller) %>
      <%= display_premia_add_link( @employee, @premia_controller) %>

<% end%>
