<% add_contextual_menu_item :useful_links do %>
  <%= employee_link(@employee, :link_text => "Voir l'employé") %>
  <%= employees_link(:link_text => "Voir tous les employés") %>
<% end %>

<%= render :partial => 'employees/employee_summary', :locals => { :employee => @employee } %>

<% title_context "Ressources Humaines" %>
<% title_context @employee.fullname %>
<%= title "Historique des primes" %>

<div class="presentation-medium">
  <% if @premia.empty? %>
    <p>Aucune prime</p>
  <% else%>
    <table>
      <thead>
        <tr>
          <th>Montant</th>
          <th>Commentaire</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% for premium in @premia%>
          <tr>
            <td><%=h premium.amount %></td>
            <td><%=h premium.remark %></td>
            <td><%=h l(premium.date, :format => :long) unless premium.date.nil? %></td>
          </tr> 
        <% end %>
      </tbody>
    </table>  
  <% end %>
</div>
