<% secondary_menu USEFUL_LINKS do %>
  <%= employee_link(@employee) %>
  <%= employees_link %>
<% end %>

<h1>Ajouter une Prime à <%=@employee.fullname%> </h1>

<% content_for :header do %>
     <%= javascript_include_tag 'rh/premium' %>
<% end %>

<div class="frame presentation_small">

  <% form_for([@employee,@premium]) do |f| %>
    <%=f.error_messages%> 
    <h2>Prime</h2>
    <p>
      <%= f.label :amount %>
      <%= f.text_field :amount, { :size => 10, :maxlength => 10 } %>
      &nbsp;le&nbsp;
      <%= f.form_or_view(f.date_select( :date,{ :start_year => 2000, :order => [:day,:month,:year] } ) ) %>
    </p>
    <p>
      <%= f.label :remark %>
      <%= f.form_or_view(f.text_area( :remark,{ :rows => "5"})) %>
    </p>
    <p>
      <%= f.submit "Ajouter", :onclick => "return confirm_premium();" %>
    </p>
  <%end%>

</div>
