<% add_contextual_menu_item :useful_links do %>
  <%= employee_link(@employee, :link_text => "Voir l'employé") %>
  <%= employees_link(:link_text => "Voir tous les employés") %>
<% end %>

<% content_for :header do %>
  <%= javascript_include_tag 'rh/premium' %>
<% end %>

<%= render :partial => 'employees/employee_summary', :locals => { :employee => @employee } %>

<% title_context "Ressources Humaines" %>
<% title_context @employee.fullname %>
<%= title "Nouvelle prime" %>

<div class="presentation_small">
  <h2>Prime</h2>
  
  <% form_for([@employee, @premium]) do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :amount %>
      <%= f.text_field :amount, :size => 10, :maxlength => 10 %>
      &nbsp;le&nbsp;
      <%= f.calendar_date_select :date %>
    </p>
    <p>
      <%= f.label :remark %>
      <%= f.text_area_autoresize :remark %>
    </p>
    
    <%= f.form_buttons :only => [:reset, :submit_and_quit], :confirm => "Êtes-vous sûr ?\nAttention, cette action est irreversible !", :disable_with => nil %>
  <% end %>
  
</div>
