<% add_contextual_menu_item :possible_actions do %>
  <%= new_stock_flow_link(StockOutput, Commodity.new) %>
  <%= new_stock_flow_link(StockOutput, Consumable.new) %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= stock_inputs_link(:link_text => "Voir toutes les sorties de stocks") if params[:supply_type] %>
  <%= stock_flows_link(StockOutput, Commodity.new) unless params[:supply_type] == "Commodity" %>
  <%= stock_flows_link(StockOutput, Consumable.new) unless params[:supply_type] == "Consumable" %>
  <%= commodity_categories_link(:link_text => "Voir toutes les catégories de matières premières") %>
  <%= consumable_categories_link(:link_text => "Voir toutes les catégories de consommables") %>
<% end %>

<h1>Toutes les sorties de stock</h1>
<div>
  <% if @stock_flows.any? %>
    <%= render :partial => 'stock_flows/stock_flows', :object => @stock_flows %>
  <% else %>
    <p>Aucune sortie de stock n'a &eacute;t&eacute; trouv&eacute;e</p>
  <% end %>
</div>
