<% add_contextual_menu_item :possible_actions do %>
  <%= new_stock_flow_link(StockOutput, Commodity.new) unless params[:supply_type] == "Commodity" %>
  <%= new_stock_flow_link(StockOutput, Consumable.new) unless params[:supply_type] == "Consumable" %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= stock_outputs_link(:link_text => "Voir toutes les sorties de stocks") %>
  <%= commodity_categories_link(:link_text => "Voir toutes les catégories de matières premières") %>
  <%= consumable_categories_link(:link_text => "Voir toutes les catégories de consommables") %>
<% end %>

<h1>Nouvelle sortie de stock</h1>
<%= render :partial => 'stock_flows/stock_flow', :object => @stock_flow, :locals => { :supply_type  => @supply_type,
                                                                                      :supplies     => @supplies } %>
