<% purchase_order_supply = purchase_order_supply_in_one_line_for_view %>
<% parcels = purchase_order_supply.parcels.compact %>
<% supplier_supply = purchase_order_supply.supplier_supply(purchase_order_supply.purchase_order.supplier.id, purchase_order_supply.supply_id)  %>

<% class_attributes = 'class="even"' if (purchase_order_supply_in_one_line_for_view_counter % 2) == 0 %>
<% class_attributes = 'class="disabled"' if (purchase_order_supply.was_cancelled? || purchase_order_supply.purchase_order.was_cancelled?) %>
<% class_attributes = 'class="even disabled"' if (purchase_order_supply_in_one_line_for_view_counter % 2) == 0 && (purchase_order_supply.was_cancelled? || purchase_order_supply.purchase_order.was_cancelled?) %>
<% parcel_class_attributes = '' %>

<tr <%= class_attributes %>>
  <td <%= "rowspan=\"#{parcels.count}\"" unless parcels.empty? %>><%= display_supply_reference(purchase_order_supply.supply) %></td>
  <td <%= "rowspan=\"#{parcels.count}\"" unless parcels.empty? %>><%= purchase_order_supply.supply.designation %></td>
  <td <%= "rowspan=\"#{parcels.count}\"" unless parcels.empty? %>><%= display_purchase_order_supply_supplier_reference(purchase_order_supply) %></td>
  <td <%= "rowspan=\"#{parcels.count}\"" unless parcels.empty? %>><%= display_purchase_order_supply_supplier_designation(purchase_order_supply) %></td>
  
  <td <%= "rowspan=\"#{parcels.count}\"" unless parcels.empty? %>><%= display_type_for(purchase_order_supply.supply) %></td>
  <td <%= "rowspan=\"#{parcels.count}\"" unless parcels.empty? %>><%= purchase_order_supply.supply.stock_quantity %></td>
  <td <%= "rowspan=\"#{parcels.count}\"" unless parcels.empty? %>><%= display_purchase_order_supply_associated_purchase_requests(purchase_order_supply) %></td>
<% if parcels.empty? %>
    <td></td>
<% else %>
    <td <%= "class=\"disabled\"" if parcels.first.was_cancelled? %> ><%= link_to( parcels.first.reference, purchase_order_parcel_path(purchase_order_supply.purchase_order,parcels.first)) %></td>
<% end %>
  <td <%= "rowspan=\"#{parcels.count}\"" unless parcels.empty? %>><%= display_purchase_order_supply_reshipped_from_parcel(purchase_order_supply) %></td>
  <td <%= "rowspan=\"#{parcels.count}\"" unless parcels.empty? %>><%= display_purchase_order_supply_status(purchase_order_supply) %></td>
  <td <%= "rowspan=\"#{parcels.count}\"" unless parcels.empty? %>><%= display_purchase_order_supply_current_status_date(purchase_order_supply) %></td>
  <td <%= "rowspan=\"#{parcels.count}\"" unless parcels.empty? %> class="amount"><%= display_purchase_order_supply_unit_price_including_tax(purchase_order_supply) %></td>
  <td <%= "rowspan=\"#{parcels.count}\"" unless parcels.empty? %>><%= purchase_order_supply.quantity %></td>
  <td <%= "rowspan=\"#{parcels.count}\"" unless parcels.empty? %> class="amount"><%= display_purchase_order_supply_total(purchase_order_supply) %></td>
  <td <%= "rowspan=\"#{parcels.count}\"" unless parcels.empty? %>><%= "#{supplier_supply.lead_time}&#160;jour(s)" %></td>
  <td <%= "rowspan=\"#{parcels.count}\"" unless parcels.empty? %>><%= display_purchase_order_supply_buttons(purchase_order_supply) %></td>
</tr>

<% for parcel in parcels %>
  <% if parcel != parcels.first %>
    <% if parcel.was_cancelled? and (purchase_order_supply_in_one_line_for_view_counter % 2) == 0 %>
      <% parcel_class_attributes = 'class="even disabled"' %>
    <% elsif !parcel.was_cancelled? and (purchase_order_supply_in_one_line_for_view_counter % 2) == 0 %>
      <% parcel_class_attributes = 'class="even"' %>
    <% elsif parcel.was_cancelled? and (purchase_order_supply_in_one_line_for_view_counter % 2) != 0 %>
      <% parcel_class_attributes = 'class="disabled"' %>
    <% else %>
      <% parcel_class_attributes = class_attributes %>
    <% end %>
    <tr <%= parcel_class_attributes %> >
      <td>
        <%= link_to( parcel.reference, purchase_order_parcel_path(purchase_order_supply.purchase_order,parcel)) %>
      </td>
    </tr>
  <% end %>
<% end %>
