<% purchase_order_supply = purchase_order_supply_in_one_line_for_view %>

<tr>
  <td><%= display_purchase_order_supply_reference(purchase_order_supply) %></td>
  <td><%= purchase_order_supply.supply.designation %></td>
  <td><%= #display_purchase_order_supply_parcel_reference(purchase_order_supply) 
  %></td>
  <td><%= #display_purchase_order_supply_status(purchase_order_supply)
  %></td>
  <td><%= #display_purchase_order_supply_current_status_date(purchase_order_supply)
  %></td>
  <td><%= purchase_order_supply.quantity %></td>
  <td><%= display_unit_price_including_tax(purchase_order_supply) %></td>
  <td><%= display_purchase_order_supply_total(purchase_order_supply) %></td>
  <td><%= display_purchase_order_supply_associated_purchase_requests(purchase_order_supply) %></td>
  <td><%= display_purchase_order_supply_supplier_reference(purchase_order_supply) %></td>
  <td><%= display_purchase_order_supply_supplier_designation(purchase_order_supply) %></td>
  <td><%= display_purchase_order_lead_time(purchase_order_supply) %></td>
  <td><%= display_purchase_order_buttons(purchase_order_supply) %></td>
</tr>

