<%
purchase_order_supply = purchase_order_comment_line_in_one_line
class_name = "comment_line" if purchase_order_supply.comment_line? 
supplier_supply = purchase_order_supply.supplier_supply(supplier.id, purchase_order_supply.supply_id) || SupplierSupply.new
unconfirmed_purchase_request = purchase_order_supply.unconfirmed_purchase_request_supplies
collection_length ||= 1
counter ||= 1
%>

<% fields_for "purchase_order[purchase_order_comment_line_attributes][]", purchase_order_supply, :index => nil do |f| %>

  <%
    position        = purchase_order_supply.position.zero? ? counter : purchase_order_supply.position
    move_up_image   = "arrow_up_#{'disable_' if position == 1}16x16.png"
    move_down_image = "arrow_down_#{'disable_' if position == collection_length}16x16.png"
  %>

  <tr class='<%="purchase_order_supply resource #{class_name}"  %>' style="<%= 'display:none' if purchase_order_supply.should_destroy? %>"> 
    <td style="display:none;">
      <%= f.hidden_field :comment_line %>
      <%= f.hidden_field :id %>
      <%= f.hidden_field :should_destroy, :class => :should_destroy %>
      <%= f.hidden_field :position, :class => :position, :value => position %>
    </td>
    <td></td>
    <td colspan=4>
      <% if f.form_view? %>
         <%= f.text_area_autoresize :description, :index => nil %>
      <% else %>
        <%= purchase_order_supply.description %>
      <% end %>
    </td>
    <td colspan=<%= is_form_view? ? "'9'" : "'7'"%> ></td>
    <td>
        <% if is_form_view?%>
          <%= link_to( image_tag( move_up_image, :alt => text_up = "Monter la ligne", :title => text_up, :class => "arrow_up"), "#up", :onclick => "move_up(this);" ) %>
          <%= link_to( image_tag( move_down_image, :alt => text_down = "Descendre la ligne", :title => text_down, :class => "arrow_down"), "#down", :onclick => "move_down(this);" ) %>
        <%end%>
      <% if purchase_order_supply.new_record?%>
        <%= link_to_function(image_tag("cross_16x16.png"), "if (confirm('Êtes-vous sûr ?')){this.up('.resource').remove(); update_all_total();}") %>
      <% elsif is_form_view? %>
        <%= link_to_function image_tag("cross_16x16.png"), "if (confirm('Êtes-vous sûr? Attention, les modifications seront appliquées à la soumission du formulaire.')){ mark_resource_for_destroy_order_supply(this.up('.resource'));}" %>
      <% end %>
    </td>
  
  </tr>
<% end %>
