<% content_for :header do %>
  <%= stylesheet_link_tag_with_theme_support "purchases/purchases" %>
<% end %>

<%= generate_purchase_order_supply_contextual_menu(@purchase_order_supply) %>

<h1>Fourniture de l'ordre</h1>
<div class="presentation_medium">
  <table class="no_nth">
    <%= render :partial => "purchase_order_supplies/array_head" %>
    <tbody>
      <%= render :partial => "purchase_order_supplies/purchase_order_supply_in_one_line_for_view", :object => @purchase_order_supply %>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  
  <h2>Annuler la fourniture.</h2>
  <% form_for [@purchase_order_supply.purchase_order, @purchase_order_supply], :url => { :action => "cancel" } do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :cancelled_comment %>
      <%= f.text_area_autoresize :cancelled_comment %>
    </p>
    <p>
      <%= f.submit "Valider" %>
    </p>
  <% end %>
</div>
