<% content_for :header do %>
  <%= javascript_include_tag 'logistics/commodities' %>
<% end %>

<% add_contextual_menu_item :commodities_stats do %>
	<%= "<span class='contextual_menu_statistic'>Il y a #{pluralize(@commodities_categories_root.size, "catégorie", "catégories")}</span>" %>
	<%= "<span class='contextual_menu_statistic'>Il y a #{pluralize(@commodities_categories_root_child.size, "sous catégorie", "sous catégories")}</span>" %>
	<%= "<span class='contextual_menu_statistic'>Il y a #{pluralize(@commodities.size, "matière première","matières premières")}</span>"%>
<% end %>

<% add_contextual_menu_item :possible_actions do %>
  <%= new_commodity_category_link %>
  <%= new_commodity_link %>
  <% #TODO display all OR display only activated ones %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= inventories_link %>
  <%= inventory_link(@last_inventory, :link_text => "View last inventory") unless @last_inventory.nil? %>
  <%= new_inventory_link %>
<% end %>


<% if @commodities.size > 0 %>
<h1>Liste des Cat&eacute;gories de mati&egrave;res premi&egrave;res</h1>
<div>
  <table class="commodity">
    <tr>
      <th rowspan='2'>Cat&eacute;gorie</th>
      <th rowspan='2'>Sous cat&eacute;gorie</th>
      <th rowspan='2'>Fournisseur</th>
      <th rowspan='2'>D&eacute;signation</th>
      <th rowspan='2'>Unit&eacute;e de mesure/U</th>
      <th rowspan='2'>Masse/U (kg)</th>
      <th colspan='3'>Prix/U (&euro;)</th>
      <th rowspan='2'>Actions</th>
      <tr>
        <th>FOB</th>
        <th>Coef Taxe</th>
        <th>Prix</th>
      </tr>
    </tr>
    <%= @type != "show_all" ? get_structured : get_structured(nil) %>
  </table>
</div>
<% end %>
