<% content_for :header do %>
  <script type="text/javascript" src="/javascripts/logisctic/price_calculator.js"></script>
  <script type="text/javascript" src="/javascripts/logisctic/reduce.js"></script>
  <script type="text/javascript" src="/javascripts/logisctic/develop.js"></script>
  <script type="text/javascript" src="/javascripts/logisctic/total.js"></script>
<% end %>

<% content_for :secondary_menu do %>

  <h1><span class='gray_color'>Statistiques</span></h1>
  <ul>
    <li><%= "<span class='secondary_menu_statistic'>Il y a #{pluralize(@commodities_categories_root.size, "cat&eacute;gorie", "cat&eacute;gories")}</span>" %></li>
    <li><%= "<span class='secondary_menu_statistic'>Il y a #{pluralize(@commodities_categories_root_child.size, "sous cat&eacute;gorie", "sous cat&eacute;gories")}</span>" %></li>
    <li><%= "<span class='secondary_menu_statistic'>Il y a #{pluralize(@commodities.size, "mati&egrave;re premi&egrave;re","mati&egrave;res premi&egrave;res")}</span>"%></li>
    </ul>
<span class='total' style='display: none;'></span>
<span id='total_ttc' style='display: none;'></span>

<%= show_action_menu(@type) %>

<%= show_link_menu(@inventory)%>

<% end %>

<% if @inventories.size > 0 %>
<h1>Liste des Cat&eacute;gories de mati&egrave;res premi&egrave;res</h1>
<div class="frame">
  <table class="commodity">
    <tr>
      <th rowspan='2'>Cat&eacute;gorie</th>
      <th rowspan='2'>Sous cat&eacute;gorie</th>
      <th rowspan='2'>Fournisseur</th>
      <th rowspan='2'>D&eacute;signation</th>
      <th rowspan='2'>Unit&eacute;e de mesure/U</th>
      <th rowspan='2'>Masse/U (kg)</th>
      <th colspan='3'>Prix/U (&euro;)</th>
      <th rowspan='2'>Actions</th>
      <tr>
        <th>FOB</th>
        <th>Coef Taxe</th>
        <th>Prix</th>
      </tr>
    </tr>
    <%= @type != "show_all" ? get_structured : get_structured(nil) %>
  </table>
</div>
<% end %>