<h1>Modifier les permissions</h1>

<h2>Menu: <%= @menu_permissions[0].menu.title %></h2>

<%= display_flash %>

<table>
	<tr>
    <th rowspan="2">Roles</th>
		<th colspan="5">Permissions</th>
	</tr>
	<tr>
    <th>Lister</th>
    <th>Voir</th>
    <th>Ajouter</th>
    <th>Modifier</th>
    <th>Supprimer</th>
  </tr>
<% form_tag(menu_permission_path, :method => 'put') do %>
<% for menu in @menu_permissions %>
  <tr>
      <td><%= link_to menu.role.name, edit_role_permission_path(menu.role.id) %></td>
      <td><%= check_box_tag "list[]", menu.role_id, menu.list %></td>
      <td><%= check_box_tag "view[]", menu.role_id, menu.view %></td>
      <td><%= check_box_tag "add[]", menu.role_id, menu.add %></td>
      <td><%= check_box_tag "edit[]", menu.role_id, menu.edit %></td>
      <td><%= check_box_tag "delete[]", menu.role_id, menu.delete %></td>
    </tr>
<% end %>
</table><br/>
<%= submit_tag "Mettre à jour" %>
<% end %><br/><br/>
<%= link_to "Retour", menu_permissions_path %>
