<% contextual_menu POSSIBLE_ACTIONS do %>
  <%= new_machine_link %>
  <%= machines_link %>
  <%= new_machine_tool_event_link(@machine)%>
  <%= machine_link(@machine)%>
<% end %>

<h1>Modifier une machine</h1>
<%= render :partial => "tools/tool", :locals => {:tool => @machine, :button_name => "Modifier"} %>
