<% content_for :header do %>
  <%= stylesheet_link_tag_with_theme_support 'sales/sales' %>
<% end %>

<% unless product_reference_category.new_record? %>
  <% add_contextual_menu_item ProductReferenceCategory.human_name do %>
    <% product_reference_category_action_buttons(product_reference_category).each do |button| %>
      <%= button %>
    <% end %>
  <% end %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= new_product_reference_category_link(:link_text => 'Nouvelle famille') unless is_new_view? %>
  <%= product_references_link(:link_text => "Voir tous les produits références") %>
<% end %>

<div class="presentation_medium">
  <% form_for product_reference_category do |form|%>
    <%= form.error_messages %>
    
    <p>
      <%= form.label :name, nil, :required => :required %>
      <%= form.form_or_view(form.text_field(:name), :name) %>
      
      <%= form.label :reference, nil, :required => :required %>
      <%= form.form_or_view(form.text_field(:reference, :disabled => !product_reference_category.can_update_reference?), :reference) %>
    </p>
    <%= form.form_buttons :return_uri_on_quit => product_references_path %>
  <% end %>
</div>
