<div class="presentation_medium">
  <% form_for product_reference_category do |form|%>
    <%= form.error_messages %>
    
    <p>
      <%= form.label :name %>
      <%= form.form_or_view(form.text_field(:name), :name) %>
      
      <%= form.label :reference %>
      <%= form.form_or_view(form.text_field(:reference, :disabled => !product_reference_category.can_update_reference?), :reference) %>
    </p>
    <%= form.form_buttons %>
  <% end %>
</div>
