<% contextual_menu USEFUL_LINKS do %>
  <%= employee_link(@employee) %>
  <%= employees_link %>
<% end %>

<h1>Historique des salaires</h1>

<%= render :partial => 'employees/employee_summary', :locals => {:employee => @employee}%>
<div class="presentation-medium">

<% if @salaries.empty? %>
  <p>Aucun salaire</p>  
<% else %>
  <table>
      <tr>
        <th>Montant brut</th>
        <th>Montant net</th>
        <th>Date de mise en application</th>
      </tr>
      <% for salary in @salaries%>
      <tr>
        <td><%=h salary.gross_amount%> &euro;</td>
        <td><%=h net(salary.net_amount)%> &euro;</td>
        <td><%=h salary.created_at.strftime("%d/%m/%Y")%></td>
      </tr> 
      <%end%>
  </table>  
<% end %>
</div>
