<% add_contextual_menu_item :useful_links do %>
  <%= employee_link(@employee, :link_text => "Voir l'employé") %>
  <%= employees_link(:link_text => "Voir tous les employés") %>
<% end %>

<%= render :partial => 'employees/employee_summary', :locals => {:employee => @employee}%>

<% title_context "Ressources Humaines" %>
<% title_context @employee.fullname %>
<%= title "Historique du salaire" %>

<div class="presentation-medium">
  <% if @salaries.empty? %>
    <p>Aucun salaire</p>  
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Montant brut</th>
          <th>Montant net</th>
          <th>Date de mise en application</th>
        </tr>
      </thead>
      <tbody>
        <% @salaries.each do |job_contract, salaries|%>
          <tr class="group">
            <td colspan="3" ><%= job_contract_details(job_contract) %></td>
          </tr>
          <% salaries.each do |salary|%>
            <tr>
              <td><%=h salary.gross_amount %> &euro;</td>
              <td><%=h salary.net_amount %> &euro;</td>
              <td><%=h l(salary.date, :format => :long) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
