<tr class="progression resource">
  <% fields_for "production_step[production_progresses_attributes][]", production_progress , :index => nil do |v| %>
  <td style="display:none;">
    <%= v.hidden_field :product_id, :value => production_progress.product_id.to_s%>
    <%= v.hidden_field :id%>
  </td>
  <td><%= production_progress.product.reference%></td>
  <td><%= production_progress.product.designation%></td>
  <td class='quantity'><%= production_progress.product.quantity%></td>
  <td><%= v.form_or_view(v.select(:progression,(0..100).to_a.select{|n| n % 5 == 0}, {:class => "progression"}, :index => nil), :progression)%></td>
  
  <td><%= v.form_or_view(v.select(:building_quantity, production_progress.range_of_building_quantity , {:selected => production_progress.building_quantity.to_i},{:index => nil, :class => "building_quantity", :onChange => "update_built_quantity_select(this.up('.resource'))"}), :building_quantity)%></td>
  
  <td><%= v.form_or_view(v.select(:built_quantity,production_progress.range_of_built_quantity, {:selected => production_progress.built_quantity.to_i}, {:index => nil, :class => "built_quantity", :onChange => "update_building_quantity_select(this.up('.resource'))"}), :built_quantity)%></td>
  
  <td><%= v.form_or_view(v.select(:available_to_deliver_quantity,production_progress.range_of_available_quantity, {:selected => production_progress.available_to_deliver_quantity.to_i}, {:index => nil, :class => "available_to_deliver_quantity"}), :available_to_deliver_quantity)%></td>
 
  <% end %>
</tr>
