<% production_step = order.pre_invoicing_step.production_step %>
<% production_step.build_production_progresses_with_end_products %>
<%= order_header %>
<h1>Production</h1>
<div>
<% form_for(production_step, :url => {:controller=>"production_step", :action=>"update"}, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
  <div class="presentation_medium">
    <p>
      <%= f.label :begining_production_on%>
      <%= f.form_or_view(f.calendar_date_select(:begining_production_on, {}, {:disabled => production_step.begining_production_on ? true : false}), :begining_production_on, :humanize)%>
    </p>
    <p>
      <%= f.label :ending_production_on%>
      <%= f.form_or_view(f.calendar_date_select(:ending_production_on), :ending_production_on, :humanize)%>
    </p>
  </div>
  <table>
      <thead>
        <tr>
          <th>R&eacute;f&eacute;rence</th>
          <th>D&eacute;signation</th>
          <th>Qt&eacute;</th>
          <th>Avancement de la production (%)</th>
          <th>Qt&eacute; produits en production</th>
          <th>Qt&eacute; produits termin&eacute;s</th>
          <th>Qt&eacute; produits livrables</th>
        </tr>
      </thead>
      <tbody>
        <%= render (:partial => 'production_step/production_progress',:collection => production_step.production_progresses, :locals => {:order => order, :production_step => production_step}) if production_step.production_progresses.any? %>
      </tbody>
  </table>
  <%= f.form_buttons%>
<% end %>
</div>

