<div class="presentation_medium">
  <% form_for(@user) do |form| %>
    <%= form.error_messages %>
    <p>
      <%= form.label :username %>
      <%= form.form_or_view(form.text_field(:username),:username) %>
    </p>
      <% if is_form_view?%> 
      <p>
        <%= form.label :password %>
        <%= form.password_field :password, :value => "" %>
      </p>
      <p>
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, :value => "" %>
      </p>
      <p>
        <%= form.label :force_password_expiration, nil, :class => "disable-stylesheet-width" %>
        <%= form.check_box :force_password_expiration %>
      </p>
      <% end %>
    <p>
      <%= form.label :enabled %>
      <%= form.form_or_view(form.check_box( :enabled ), @user.enabled ? "<strong>oui</strong>":"<strong>non</strong>") %>
    </p>
  <div class="form_multiple_entries">
    <%= form.label :roles %>   
    <div class="collection">
        <% for associated_role in @roles %>
        <div class="object">
          <%= form.form_or_view(check_box_tag("user[role_ids][]", associated_role.id, @user.roles.include?(associated_role)) +" "+  associated_role.name,link_to(associated_role.name,associated_role))%>
        </div>
        <% end %>
    </div>
  </div>
  
  <%= form.form_buttons %>
  <% end %>
</div>
