<div class="frame presentation_medium">
  <% form_for(@user) do |form| %>
    <%= form.error_messages %>
    <p>
      <%= form.label :username %>
      <%= form.form_or_view(form.text_field(:username),:username) %>
    </p>
      <% if is_form_view?%> 
      <p>
        <%= form.label :password %>
        <%= form.password_field :password, :value => "" %>
      </p>
      <p>
        <%= form.label :password_confirmation%>
        <%= form.password_field :password, :value => "" %>
      </p>
      <p>
        <%= label_tag :temporary_password, "Demander &agrave; l&apos;utilisateur un nouveau mot de passe à sa prochaine connexion :", :class => "disable-stylesheet-width" %>
        <%= check_box_tag :temporary_password, false %>
      </p>
      <% end %>
    <p>
      <%= form.label :enabled %>
      <%= form.form_or_view(form.check_box( :enabled), @user.enabled ? "<strong>oui</strong>":"<strong>non</strong>") %>
    </p>
    <p><%= form.label :roles %></p>    
    <div class="scroll_checkboxes" >
        <% for associated_role in @roles %>
        <ul>
          <li><%= form.form_or_view(check_box_tag("user[role_ids][]", associated_role.id, @user.roles.include?(associated_role)) +" "+  associated_role.name, link_to(associated_role.name,associated_role))%></li>
        </ul>
        <% end %>
    </div>
    <%if is_form_view?%>  
      <p>
        <%= form.reset 'Annuler' %>
        <%= form.submit submit_button_name %>  
      </p>
    <%end%>    
  <% end %>

</div>
<%= link_to 'Retour', users_path %>
