<h1>Modification d'un compte utilisateur</h1>

<div class="frame">
  <% form_for(@user) do |f| %>
    <%= f.error_messages %>
 
      <p>
        <%= f.label :username, "Nom du compte utilisateur" %>
        <%= f.text_field :username %>
      </p>
      <p>
        <%= f.label :password, "Mot de passe" %>
        <%= f.password_field :password, :value => "" %>
      </p>
      <p>
        <%= f.label :password_confirmation, "Confirmation du mot de passe" %>
        <%= f.password_field :password_confirmation, :value => "" %>
      </p>
      <p>
        <%= label_tag :temporary_password, "Demander &agrave; l&apos;utilisateur un nouveau mot de passe à sa prochaine connexion :" %>
        <%= check_box_tag :temporary_password, false %>
      </p>
      <p>
        <%= f.label :enabled, "Compte activ&eacute; :" %>
        <%= f.check_box :enabled %>
      </p>


    <p>Choisir le(s) r&ocirc;le(s) de l'utilisateur</p>


      <table>
        <% for associated_role in @roles %>
          <tr>
            <td>
              <%= check_box_tag "user[role_ids][]", associated_role.id, @user.roles.include?(associated_role) %>
            </td>
            <td>
              <%= associated_role.name %>
            </td>
          </tr>
        <% end %>
      </table>


    <%= f.submit "Mettre &agrave; jour" %>
  <% end %>


  <%= link_to 'Retour', users_path %>
</div>
