<h1>Editer un utilisateur</h1>

<% form_for (@user) do |f| %>
  <%= f.error_messages %>
   <div>
    <p>
      <%= f.label "Nom Utilisateur" %><br/>
      <%= f.text_field :username %>
    </p>
    <p>
      <%= f.label "Mot de passe" %><br />
      <%= f.password_field :password, :value => "" %>
    </p>
    <p>
      <%= f.label "confirmez" %><br />
      <%= f.password_field :password_confirmation %>
    </p>
  </div>
  
  <p>Choisissez les r&ocirc;le(s) que peut choisir l'utilisateur</p>
  
  
  
  <div>
    <table>
      <% for associated_role in Role.find(:all, :order => :name) %>
        <tr>
          <td>
            <%= check_box_tag "user[role_ids][]", associated_role.id, @user.roles.include?(associated_role) %>
          </td>
          <td>
            <%= associated_role.name %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  
  <%= f.submit "Mettre à jour" %>
<% end %>


<%= link_to 'Retour', users_path %>
