<% secondary_menu POSSIBLE_ACTIONS do %>
	<%= show_user_add_button %>
	<%= show_user_view_button(@role) %>
	<%= show_user_delete_button(@user)%>
<% end %>
<% secondary_menu USEFUL_LINKS do %>
	<%= show_user_list_button %>
<% end %>
<h1>Modification d&apos;un compte utilisateur</h1>
<%= render :partial => @user, :locals => { :submit_button_name => "Mettre &agrave; jour"} %>

