<% secondary_menu POSSIBLE_ACTIONS do %>
  <%= show_add_button("Ajouter un utilisateur") %>
<% end %>

<h1>Liste des comptes utilisateurs</h1>

<div class="frame">
  <table>
    <tr>
      <th>Employ&eacute;</th>
      <th>Nom du compte utilisateur</th>
      <th>Compte activ&eacute; ?</th>
      <th>Derni&egrave;re connexion</th>
      <th>Actions</th>
    </tr>

    <% for user in @users %>
      <tr>
        <td><%=  user.employee.nil? ? "" : user.employee.fullname  %></td>
        <td><%= link_to user.username, user %></td>
        <td><%= user.enabled ? "Oui" : "Non" %></td>
        <td><%= user.last_connection.nil? ? "Jamais connect&eacute;" :user.last_connection.strftime("%d/%m/%Y  [%Hh%M]") %></td>
        <td><%= show_view_button(user) %> <%= show_edit_button(user) %> <%= show_delete_button(user)%>
        </td>
      </tr>
    <% end %>
  </table>
</div>
