<h1>Liste des comptes utilisateurs</h1>

<table>
  <tr>
    <th>Employée</th>
    <th>Nom du compte utilisateur</th>
		<th>Activé</th>
		<th>Dernière connexion</th>
    <th>Action</th>
  </tr>
  
  <% for user in @users %>
    <tr>
      <td><%=  user.employee.nil? ? "" : user.employee.fullname  %></td>
      <td><%= link_to user.username, user %></td>
			<td><%= user.enabled ? "Oui" : "Non" %></td>
			<td><%= user.last_connection.nil? ? "Jamais connecté" :user.last_connection.strftime("%d/%m/%Y  [%H:%M]") %></td>
      <td><%= link_to 'Details', user %> &#124;
              <%= link_to 'Modifier', edit_user_path(user) %>
      </td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Ajouter(pour dev)', new_user_path%>
