<h1>Liste des comptes utilisateurs</h1>

<div class="cadre">
  <table>
    <tr>
      <th>Employ&eacute;</th>
      <th>Nom du compte utilisateur</th>
      <th>Compte activ&eacute; ?</th>
      <th>Derni&egrave;re connexion</th>
      <th>Actions</th>
    </tr>

    <% for user in @users %>
      <tr>
        <td><%=  user.employee.nil? ? "" : user.employee.fullname  %></td>
        <td><%= link_to user.username, user %></td>
        <td><%= user.enabled ? "Oui" : "Non" %></td>
        <td><%= user.last_connection.nil? ? "Jamais connect&eacute;" :user.last_connection.strftime("%d/%m/%Y  [%Hh%M]") %></td>
        <td><%= link_to 'D&eacute;tails', user %> &#124;
                <%= link_to 'Modifier', edit_user_path(user) %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= link_to 'Ajouter (pour dev)', new_user_path%>
</div>