<% contextual_menu POSSIBLE_ACTIONS do %>
  <%= new_user_link %>
<% end %>

<h1>Liste des comptes utilisateurs</h1>

<div>
  <table>
    <tr>
      <th>Employ&eacute;</th>
      <th>Nom du compte utilisateur</th>
      <th>Compte activ&eacute; ?</th>
      <th>Derni&egrave;re connexion</th>
      <th>Actions</th>
    </tr>

    <% for user in @users %>
      <tr>
        <td><%=  user.employee.nil? ? "" : user.employee.fullname  %></td>
        <td><%= link_to user.username, user %></td>
        <td><%= user.enabled ? "Oui" : "Non" %></td>
        <td><%= user.last_connection.nil? ? "Jamais connect&eacute;" :user.last_connection.to_humanized_datetime %></td>
        <td>
          <%= user_link(user, :link_text => "") %>
          <%= edit_user_link(user, :link_text => "") %>
          <%= delete_user_link(user, :link_text => "")%>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @users, :prev_label => "<<", :next_label => ">>" %>
</div>
