<h1>Créer un utilisateur</h1>

<div class="cadre">
  <% form_for(@user) do |f| %>
    <%= f.error_messages %>
  <div>
    <p>
      <%= f.label "Nom Utilisateur"%>
      <%=f.text_field :username %>
    </p>
    <p>
      <%= f.label "Mot_de_passe" %>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label "confirmez" %>
      <%= f.password_field :password_confirmation %>
    </p>
  </div>
  
  <p>Choisissez les r&ocirc;le(s) que peut choisir l'utilisateur</p>
  
  
  
  <div>
    <table>
      <% for associated_role in Role.find(:all, :order => :name) %>
        <tr>
          <td>
            <%= check_box_tag "user[role_ids][]", associated_role.id, @user.roles.include?(associated_role) %>
          </td>
          <td>
            <%= associated_role.name %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  
  <%= f.submit "Ajouter" %>
<% end %>

<%= link_to 'Retour', users_path %>
</div>
