<% secondary_menu POSSIBLE_ACTIONS do%>
	<%= show_user_add_button %>
	<%= show_user_edit_button(@user)%>
	<%= show_user_delete_button(@user)%>
<% end %>
<% secondary_menu USEFUL_LINKS do %>
	<%= show_user_list_button %>
<% end %>
<h1>Informations d'un compte utilisateur</h1>

<%= render :partial => @user %>

