<% add_contextual_menu_item :possible_actions do %>
	<%= new_user_link %>
	<%= edit_user_link(@user)%>
	<%= delete_user_link(@user)%>
<% end %>

<% add_contextual_menu_item :useful_links do %>
	<%= users_link %>
<% end %>

<h1>Informations d'un compte utilisateur</h1>
<%= render :partial => @user %>
