<p>
  <b>Nom utilisateur:</b>
  <%=h @user.username %>
</p>
<p>
	<b>Activé:</b>
	<%= @user.enabled ? "Oui" : "Non" %>
</p>
<p>
	<b>Dernière connexion</b>
	<%= @user.last_connection.strftime("%d/%m/%Y  [%H:%M]")  %>
</p>
<p>
  <b>R&ocirc;les:</b>
  <% for role in @user.roles %>
    <ul>
      <li><%=link_to role.name,role %></li>
    </ul>
  <% end %>
</p>

<%= link_to 'Modifier', edit_user_path(@user) %> |
<%= link_to 'Retour', users_path %>
