<% contextual_menu POSSIBLE_ACTIONS do %>
  <%= new_device_link %>
  <%= devices_link %>
  <%= new_device_tool_event_link(@device)%>
  <%= device_link(@device)%>
<% end %>

<h1>Modifier un p&eacute;riph&eacute;rique</h1>
<%= render :partial => "tools/tool", :locals => {:tool => @device, :button_name => "Modifier"} %>
