<% add_contextual_menu_item :possible_actions do %>
  <%= new_device_link %>
  <%= edit_device_link @device %>
  <%= delete_device_link(@device) %>
  <%= new_device_tool_event_link(@device) if @device.can_be_edited? %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= devices_link %>
  <%= device_tool_events_link(@device) %>
<% end %>

<h1>Voir le p&eacute;riph&eacute;rique</h1>
<%= render :partial => "tools/tool", :locals => {:tool => @device} %>
