<% fields_for "customer[establishment_attributes][]", establishment_form do |form| %>
<div class="establishment_form" id="establishment_form_<%=establishment_form.id%>" <%= "style=\"display:none\"" unless establishment_form.new_record? %> >
  <div style="border: 1px solid red; padding: 5px; margin: 5px">
    <%= form.error_messages %>
    <p>
      <%= form.label :name, "Nom :", :index => nil %>
      <%= form.text_field :name, :index => nil %>
    </p>
    <p>
      <%= form.label :establishment_type_id, "Type :", :index => nil %>
      <%= form.collection_select :establishment_type_id, EstablishmentType.find(:all), :id, :name, {}, :index => nil %>
    </p>
    <%= render :partial => "shared/address", :object => establishment_form.address || establishment_form.build_address %>
    
    <p>
      <% if establishment_form.new_record? %>
        <%= link_to_function "Annuler la création de l'établissement", "this.up('.establishment_form').remove()" %>
      <% else %>
        <%= link_to_function "Annuler la modification de l'établissement", "mark_for_dont_update(this.up('.establishment_general_infos'))" %>
      <% end %>

      <% unless establishment_form.new_record? %>
        <%= form.hidden_field :id, :index => nil %>
        <%= form.hidden_field :should_destroy, :index => nil, :class => 'should_destroy' %>
        <%= form.hidden_field :should_update, :index => nil, :class => 'should_update' %>
      <% end %>
    </p>
  </div>
</div>
<% end %>