<div class="presentation_medium">
  <h2>Informations</h2>
  <% if purchase_delivery.build_purchase_delivery_items_with_purchase_order_supplies(purchase_order.purchase_order_supplies).any? %>
    <% form_for([purchase_order, purchase_delivery], :html => {:multipart => true}) do |f| %>
      <%= f.error_messages %>
      <div>
        <% options = purchase_delivery_all_actions_without_cancel(purchase_delivery) %>
        <%= f.label :status, "D&eacute;finir l'état &agrave;" %>
        <%= f.select(:status, options) %>
        <%= observe_field 'purchase_delivery_status', :update => 'purchase_delivery_status_form', :url => purchase_delivery_status_partial_url(), :with => :status %>
      </div>
      <div id='purchase_delivery_status_form'>
        <% if purchase_delivery.processing_by_supplier? || !purchase_delivery.status %>
          <%= render :partial => 'purchase_deliveries/process_by_supplier_forms', :object => purchase_delivery %>
        <% elsif purchase_delivery.shipped? %>
          <%= render :partial => 'purchase_deliveries/ship_forms', :object => purchase_delivery %>
        <% elsif purchase_delivery.received_by_forwarder? %>
          <%= render :partial => 'purchase_deliveries/receive_by_forwarder_forms', :object => purchase_delivery %>
        <% elsif purchase_delivery.received? %>
          <%= render :partial => 'purchase_deliveries/receive_forms', :object => purchase_delivery %>
        <% end %>
      </div>
      <h2>Liste des fournitures</h2>
      <div>
        <%= render :partial => 'purchase_delivery_items/begin_table' %>
        <%= render :partial => 'purchase_delivery_items/purchase_delivery_item_in_one_line', :collection => purchase_delivery.build_purchase_delivery_items_with_purchase_order_supplies(purchase_order.purchase_order_supplies), :locals => { :purchase_order => purchase_order} if purchase_delivery.build_purchase_delivery_items_with_purchase_order_supplies(purchase_order.purchase_order_supplies).any?  %>
        <%= render :partial => 'purchase_delivery_items/end_table' %>
      </div>
      
      <%= link_to "Retourner à l'ordre d'achat", purchase_order_path(purchase_order) %>
      <%= f.form_buttons %>
    <% end %><!--end form -->
  <% else %>
    <p>Toute vos fournitures sont d&eacute;j&agrave; associ&eacute;es &agrave; des colis</p>
  <% end %>
</div>
