<% content_for :header do %>
<script type="text/javascript" src="/javascripts/logisctic/commodity_category.js"></script>
<% end %>

<% secondary_menu POSSIBLE_ACTIONS do %>
  <%= new_commodity_category_link %>
  <%= new_commodity_link %>
<% end %>

<% secondary_menu USEFUL_LINKS do %>
  <%= commodity_categories_link %>
  <%= inventories_link %>
  <%= inventory_link(@inventory) unless @inventory.nil? %>
  <%= new_inventory_link%>
<% end %>

<h1>Ajouter une nouvelle cat&eacute;gorie de mati&egrave;re premi&egrave;re</h1>
<div class="frame presentation_medium">
  <% form_for(@category) do |form| %>

  <p>
    <%= form.error_messages %>
  </p>

  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>

  <p>
    <% if @type == "child" or @root_commodity_category != nil %>
    <%= form.label :unit_measure_id %>
    <%= form.collection_select(:unit_measure_id, format_unit_measure, :id, :name, {}) %>
    <% end %>
  </p>

  <p>
    <%= form.label :commodity_category_id %>
    <%= form.collection_select(:commodity_category_id, @categories, :id, :name , options = {:include_blank => '-- Racine --'}, {:onchange => 'disableUnitMeasure();'}) %>
  </p>

  <p>
    <%= form.submit "Ajouter" %>
  </p>

  <% end %>
</div>
