<% content_for :header do %>
  <%= stylesheet_link_tag_with_theme_support 'sales/sales' %>
  <%= stylesheet_link_tag_with_theme_support 'sales/invoice' %>
<% end %>

<%= generate_shared_contextual_menu_partial %>

<h1>Gestion des factures en cours</h1>

<div>
  <% if @invoices.empty? %>
    <p>Aucune facture n'a été trouvée</p>
  <% else %>
    <div class="autoscroll">
      <table class="" id="invoices">
        <thead>
          <tr>
            <th><%= toggle_selectable_items_link(image_tag('confirm_16x16.png'), 'invoice') %></th>
            <th>N° Dossier</th>
            <th>Nom projet</th>
            <th>Contact facturation</th>
            <th>Client</th>
            <th>R&eacute;f.</th>
            <th>Date d'&eacute;mission</th>
            <th>Type</th>
            <th>Envoy&eacute;e le</th>
            <th>D&eacute;lai de paiement</th>
            <th>Nombre d'&eacute;ch&eacute;ances</th>
            <th>Prochaine &eacute;ch&eacute;ance</th>
            <th>Ech&eacute;ance Net TTC</th>
            <th>Total Net TTC</th>
            <th>Factoris&eacute;e</th>
            <th>R&eacute;f. BL/BI</th>
            <th>BL/BI sign&eacute;</th>
            <th>Derni&egrave;re relance effectu&eacute;e le</th>
            <th>Montant r&eacute;gl&eacute;</th>
            <th>État</th>
          </tr>
        </thead>
        <tbody>
          <% for invoice in @invoices %>
            <tr class="invoice <%= invoice.status %>_invoice <%= invoice.priority_level %>">
              <td class="selector"><%= context_menu(invoice, 'invoice') %></td>
              <td class="reference text"><%= invoice.order.reference %></td>
              <td class="order"><%= link_to(invoice.order.title, invoice.order, :title => "Voir ce dossier", :class => "no_style") %></td>
              <td class="invoice_contact"><%= invoice.invoice_contact.fullname %></td>
              <td class="customer"><%= link_to(invoice.order.customer.name, invoice.order.customer, :title => "Voir fiche client", :class => "no_style") %></td>
              <td class="reference text"><%= invoice.reference %></td>
              <td class="published_on"><%= l(invoice.published_on, :format => :short) if invoice.published_on and invoice.confirmed_at %></td>
              <td class="invoice_type"><%= invoice.invoice_type.title %></td>
              <td class="sended_on"><%= l(invoice.sended_on, :format => :short) if invoice.sended_on %></td>
              <td class="payment_delay"><%= display_delay_of_paiment_for(invoice) %></td>
              <td class="number_of_due_dates"><%= invoice.number_of_due_dates %></td>
              <td class="upcoming_due_date"><%= l(invoice.upcoming_due_date.date, :format => :short) + display_delay_of_upcoming_due_date_paiment_for(invoice) if invoice.upcoming_due_date %></td>
              <td class="upcoming_due_date_net_to_paid amount"><%= invoice.upcoming_due_date.net_to_paid.to_f.round_to(2).to_s(2) + "&euro;" if invoice.upcoming_due_date %></td>
              <td class="net_to_paid amount"><%= invoice.net_to_paid.to_f.round_to(2).to_s(2) + "&euro;" %></td>
              <td class="factorised"><%= image_tag("confirm_16x16.png", :alt => "Factorisé", :title => "Factorisé") if invoice.factorised? %> </td>
              <td class="delivery_notes"><%= display_delivery_notes_references_for(invoice) %></td>
              <td class="delivery_note_states"><%= display_state_of_delivery_notes_references_for(invoice) %></td>
              <td>#</td>
              <td class="already_paid_amount amount"><%= invoice.already_paid_amount.to_f.round(2).to_s + " &euro;" %></td>
              <td class="status"><%= invoice_status_text(invoice) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
