<table>
  <tr>
    <th>Titre du lien</th>
    <th>url de la page</th>    
    <th>Titre de la page</th>
    <th>Description de la page</th>
    <th>Actions</th>
  </tr>

    <% for static_page in @static_pages %>
      <tr>
        <td><%= static_page.title_link %></td>
        <td><%= static_page.url %></td>
        <td><%= static_page.title %></td>
        <td><%= static_page.description%></td>
        <td><%= link_to("Edit", edit_static_page_path(static_page)) %> <%= link_to("Delete", static_page, {:method => :delete}) %></td>
      </tr>
    <% end%>
</table>

<%= link_to 'Ajouter une nouvelle statique page', :action => 'new' %>