<h2> Visualisation de la page </h2>

<p>Titre de la page : <%= @static_page.title %></p>
<p>Description de la page : <%= @static_page.description %></p>
<p> Texte de la page : <br/><br/>
<%= @static_page.text%></p>
<p>Auteur : <%=@author.employee.fullname unless @author.nil? %></p>
<% if @contributors_full_names.length > 0%>
  <p> Contributeurs : <%= @contributors_full_names.join(', ')%>
   </p>
 <%end%>