<%= order_header %>

<h1>Conception graphique</h1>

<div>
<% if is_form_view? %>
  <% form_for(@step, :url => { :controller =>"step_graphic_conception", :action => :update },  :html => { :multipart => true }) do |form| %>
    <%= form.error_messages %>
    
    <%= display_checklists_list(@step)%>
    
    <h2>Documents</h2>
    <%= display_documents_list(@step) %>
    <%= display_document_add_button(@step) %>
    
    <h2>Bons à tirer</h2>
    <%= display_press_proofs_dropbox %>
    <%= display_press_proofs_list %>
    <%= display_press_proofs_buttons %>
    
    <%= display_remarks_list(@step) %>
    <%= display_remark_add_button(@step) %>
    
    <p>
      <%= form.submit 'Enregistrer' %>
      <%= form.submit 'Clôturer cette étape', :name => :close_step %>
    </p>
  <% end %>
<% else %>
  <%= display_checklists_list(@step)%>
  
  <h2>Documents</h2>
  <%= display_documents_list(@step) %>
  
  <h2>Bons à tirer</h2>
  <%= display_press_proofs_dropbox %>
  <%= display_press_proofs_list %>
  <%= display_press_proofs_buttons %>
  
  <%= display_remarks_list(@step) %>
<% end %>
</div>

<style>
//#press_proofs {
//	width: 700px;
//	min-height: 100px;
//}
//#press_proofs.hover {
//	border-style: dashed;
//}
</style>


<script type="text/javascript">
//function add_document_draggable (id) {
//	new Draggable('document_' + id, {
//		revert: true
//	});
//}
//
//function remove_document_draggable (obj) {
//	obj.ancestors()[1].remove();
//}
//
//<% @documents.each do |document| %>
//add_document_draggable('<%= document.id %>');
//<% end %>
//
//Droppables.add('press_proofs', {
//	accept: 'document',
//	hoverclass: 'hover',
//	onDrop: function(draggable) {
//		var press_proofs_elm = document.getElementById('press_proofs');
//		press_proofs_elm.highlight();
//		var all_selected = press_proofs_elm.getElementsByClassName('document');
//		for (var i=0; i < all_selected.length; i++) {
//			if (draggable.id == all_selected[i].id) {
//				alert('Ce document a déjà été selectionner');
//				return false;
//			}
//		};
//		press_proofs_elm.appendChild(draggable.cloneNode(true));
//		
//		var input = document.createElement('input');
//		input.setAttribute('name', 'press_proofs[]');
//		input.setAttribute('value', draggable.id);
//		input.setAttribute('type', 'hidden');
//		
//		press_proofs_elm.lastChild.lastChild.lastChild.remove();
//		press_proofs_elm.lastChild.lastChild.childNodes[4].setAttribute('onclick', 'remove_document_draggable(this);');
//		press_proofs_elm.lastChild.lastChild.childNodes[4].innerHTML = 'Enlever';
//		press_proofs_elm.lastChild.style.top = '0';
//		press_proofs_elm.lastChild.style.left = '0';
//		press_proofs_elm.lastChild.appendChild(input);
//	}
//});

</script>

<!-- Osibox initialisation -->
<% #osibox_initialisation(@step, "/orders/#{@order.id}/graphic_conception/documents/") %>
