<table width="100%">
	<tr>
		<td width="30%"><img src="<%= File.join(RAILS_ROOT, 'public/themes/emr/images/logo_emr.jpg') %>" width="100"/>
		</td>
		<td><h1>Bon à tirer</h1></td>
	</tr>
</table>

<br />

<p>
	Nom de projet :
	<strong><%= @order.title %></strong>
</p>
<p>
	Client / &Eacute;tablissement :
	<strong><%= @order.customer.name %> - <%= @order.establishment.nil? ? "Pas d'établissement" : @order.establishment.name %></strong>
</p>
<p>
	Lieu de livraison :
	<strong><%= @order.establishment.nil? ? "Pas d'établissement" : @order.establishment.full_address %></strong>
</p>
<p>
	Etapes finies / Etapes totales :
	<strong><%= @order.advance[:terminated].to_s + "/" + @order.advance[:total].to_s %></strong>
</p>
<p>
	Suivi commercial :
	<strong><%= @order.commercial.fullname %></strong>
</p>
<p>
	Type de dossier :
	<strong><%= @order.order_type.title %></strong>
</p>

<br />

<table width="100%">
	<tr>
		<td width="20%"></td>
		<td width="40%">Validation "bon pour accord"</td>
		<td width="40%">Date et signature</td>
	</tr>
</table>