<%
intervention = survey_intervention
contacts_owners = intervention.survey_step.order.customer.head_office_and_establishments
id_attr = "id=\"intervention_#{intervention.id}\"" unless intervention.new_record?
style   = "style=\"display:none\"" if intervention.should_destroy?
%>

<div class="survey_intervention resource" <%= id_attr %> <%= style %>>
  <% unless intervention.new_record? %>
    <% fields_for intervention, :index => nil do |form| %>
      <p>
        <%= form.label :start_date %>
        <%= strong intervention.start_date_was.to_datetime.humanize %>
      </p>
      <p>
        <%= form.label :duration_hours %>
        <%= strong intervention.duration_humanized %>
      </p>
      <p>
        <%= form.label :internal_actor_id %>
        <%= link_to(intervention.internal_actor.fullname, intervention.internal_actor) %>
      </p>
      <p>
        <%= form.label :survey_intervention_contact_id %>
        <%= display_contact_picker(intervention, intervention.order_and_customer_contacts, :form => form,
                                                                                           :contact_key => 'survey_intervention_contact',
                                                                                           :contacts_owners => contacts_owners,
                                                                                           :force_show_view => true)%>
      </p>
      <p>
        <%= form.label :comment %>
        <%= strong intervention.comment %>
      </p>
      <p>
        <%= display_survey_intervention_edit_button(intervention) %>
        <%= display_survey_intervention_delete_button(intervention) %>
      </p>
      
    <% end -%>
  <% end %>
  
  <%= render :partial => 'survey_interventions/survey_intervention_form', :object => intervention %>
</div>
