<%
intervention = survey_intervention_form
contacts_owners = intervention.survey_step.order.customer.head_office_and_establishments
style_attr = 'style="display:none"' unless intervention.new_record? or !intervention.errors.empty? or intervention.should_update?
%>

<div class="survey_intervention_form resource_form" <%= style_attr %>>
  <% fields_for "survey_step[survey_intervention_attributes][]", intervention, :index => nil do |form| %>
    <%= form.error_messages %>
    <p>
      <%= form.label :start_date, nil, :required => :required %>
      <%= form.calendar_datetime_select(:start_date, { :index => intervention.id }, { :index => nil }) %>
    </p>
    <p>
      <%= form.label :duration_hours %>
      <%= form.text_field :duration_hours, :size => 1 %> h <%= form.text_field :duration_minutes, :size => 1 %> min
    </p>
    <p>
      <%= form.label :internal_actor_id, nil, :required => :required %>
      <%= form.collection_select :internal_actor_id, Employee.actives, :id, :fullname, ( intervention.new_record? ? { :include_blank => "Veuillez choisir un employee" } : {} ) %>
    </p>
    <p>
      <%= form.label :survey_intervention_contact_id %>
      <%= display_contact_picker(intervention, intervention.order_and_customer_contacts, :form => form,
                                                                                         :contact_key => 'survey_intervention_contact',
                                                                                         :contacts_owners => contacts_owners)%>
    </p>
    <p>
      <%= form.label :comment %>
      <%= form.text_area_autoresize :comment, :cols => 50, :index => nil %>
    </p>
    <p style="display:none">
      <%= form.hidden_field :id %>
      <%= form.hidden_field :should_destroy, :class => :should_destroy %>
      <%= form.hidden_field :should_update, :class => :should_update %>
      <%= form.hidden_field :should_create, :class => :should_create %>
    </p>
    <p>
      <%= display_survey_intervention_close_form_button(intervention) %>
    </p>
    
  <% end -%>
</div>
