<% content_for :header do %>
  <%= javascript_include_tiny_mce_if_used %>
  <%= tiny_mce if using_tiny_mce? %>
  <script type="text/javascript" src="/javascripts/memorandums/sended_memorandums.js"></script>
<% end %>

<div class="presentation_medium">
 <% form_for( :memorandum,
              @sended_memorandum,
              :url => memorandum_path(@sended_memorandum),
              :html => ((params[:action] == 'edit') or (params[:action] == 'update')) ? {:method => :put} : {}
              ) do |form| %>
   <%= form.error_messages %>
  <p><%= form.label :title %>
  <%= form.text_field :title  %></p>

  <p><%= form.label :subject%>
  <%= form.text_field :subject  %></p>

  <p><%= form.label :text %>
  <%= form.text_area( :text, :cols => 100, :rows => 30) %></p>

  <p><%= form.label :signature %>
  <%= initialize_signature %></p>

  <%= show_structured_services(@sended_memorandum, action = params[:action]) %>
  <div  id='services'>
    <table>
      <thead>
        <th rowspan='2' >Service</th>
        <th colspan='2'>Action</th>
        <tr>
          <th>R&eacute;cursif</th>
          <th>Enlever</th>
        </tr>
      </thead>
      <tbody id='services_list'>
      <% if params[:action] == 'edit' %>
        <%= show_services(@sended_memorandum) %>
      <% end  %>
      </tbody>
    </table>
  </div>

   <p>
     <label>Publier : </label>
     <input type='checkbox' value='true' name='published[publish]' /><i> (Attention cette action annule la possibilit&eacute;e de modifier la note de service)</i>
   </p>
   <%= form.submit submit_button_name %>
<% end %>
</div>
