<% secondary_menu POSSIBLE_ACTIONS do %>
	<%= show_memorandum_add_button %>
	<%= show_memorandum_view_button(@sended_memorandum) %>
<% end %>

<% secondary_menu USEFUL_LINKS do %>
	<%= show_memorandum_list_button("View all sended memorandums") %> 
	<%= show_received_memorandum_list_button %>
<% end %>
<h1>Modifier une note de service</h1>
<%= render :partial => "memorandum", :locals => { :submit_button_name => "Modifier"} %>
