<% content_for :header do %>
  <%= javascript_include_tiny_mce_if_used %>
  <%= tiny_mce if using_tiny_mce? %>
    <script type="text/javascript" src="/javascripts/memorandums/sended_memorandums.js"></script>
<% end %>

<h1>Modifier une note de service</h1>

<div class="frame presentation_medium">
<% form_for(@sended_memorandum) do |sended_memorandums|%>
  <%= sended_memorandums.error_messages %>
  <%= render :partial => "form", :locals => {:sended_memorandums => sended_memorandums} %>
<%= show_structured_services(@sended_memorandum, action = "edit") %>
<div  id='services'>
  <table>
    <thead>
      <th rowspan='2' >Service</th>
      <th colspan='2'>Action</th>
      <tr>
        <th>R&eacute;cursif</th>
        <th>Enlever</th>
      </tr>
    </thead>
    <tbody id='services_list'>
    <%= show_services(@sended_memorandum) %>
    </tbody>
  </table>
</div>
<p><label>Publier : </label>
<input type='checkbox' value='true' name='published[publish]' /><i> (Attention cette action annule la possibilit&eacute;e de modifier la note de service)</i></p>  
  <%= sended_memorandums.submit("Modifier") if @sended_memorandum.published_at.nil? %> <%= link_to(" Retour", sended_memorandums_path) %>
<% end %>
</div>