<% content_for :header do %>
  <%= javascript_include_tiny_mce_if_used %>
  <%= tiny_mce if using_tiny_mce? %>
  <script type="text/javascript" src="/javascripts/memorandums/sended_memorandums.js"></script>
<% end %>

<h1>Nouvelle note de service</h1>

<div class="frame presentation_medium">
<% form_for(@sended_memorandum) do |sended_memorandums|%>
  <%= sended_memorandums.error_messages %>
  <%= render :partial => "form", :locals => {:sended_memorandums => sended_memorandums} %>
  <label>Liste des services</label>
  <%= show_structured_services %>
<div  id='services' style='display:none;'>
  <table>
    
    <thead>
      <th rowspan='2' >Service</th>
      <th colspan='2'>Action</th>
      <tr>
        <th>R&eacute;cursif</th>
        <th>Enlever</th>
      </tr>
    </thead>
    <tbody id='services_list'></tbody>
  </table>
</div>
  <%= sended_memorandums.submit("Ajouter") %> <%= link_to(" Retour", sended_memorandums_path) %>
<% end %>
</div>
