<% secondary_menu POSSIBLE_ACTIONS do %>
	<%= show_memorandum_add_button %>
	<%= show_memorandum_edit_button(@sended_memorandum) %>
<% end %>

<% secondary_menu USEFUL_LINKS do %>
	<%= show_memorandum_list_button("View all sended memorandums") %> 
	<%= show_received_memorandum_list_button %>
<% end %>
<h1>Note de service</h1>

<div class='frame'>
<h2 style='text-align: center;'><%= @sended_memorandum.title %></h2>

<div class='formated_content'>
  <fieldset>
    <%= view_memorandum(@sended_memorandum) %>
  </fieldset>
</div>

</div>
