<% add_contextual_menu_item :possible_actions do %>
	<%= new_memorandum_link %>
	<%= edit_memorandum_link(@sended_memorandum) unless @sended_memorandum.published? %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
	<%= memorandums_link(:link_text => "List all sended memorandums") %> 
<% end %>

<h1>Note de service</h1>

<div>
<h2 style='text-align: center;'><%= @sended_memorandum.title %></h2>

<div class='formated_content'>
  <fieldset>
    <%= view_sended_memorandum(@sended_memorandum) %>
  </fieldset>
</div>

</div>
