<h1>Note de service</h1>

<div class='frame'>
<h2 style='text-align: center;'><%= @sended_memorandum.title %></h2>
<p style ='text-align: center;text-indent: 0;margin: 0;'> le : <%= @sended_memorandum.updated_at %></p>
<p><strong>Sujet : </strong><%= @sended_memorandum.subject %></p>
<div class='formated_content'><fieldset><%= @sended_memorandum.text %></fieldset></div>
<fieldset>
<p><strong>De : </strong> <%= @sended_memorandum.signature %></p>
<p><strong>Publier par : </strong> <%= @sended_memorandum.user_id %></p>
</fieldset>
<%= link_to("Modifier", edit_sended_memorandum_path(@sended_memorandum)) %> <%= link_to("Retour", sended_memorandums_path) %>
</div>
