<%
require_locals documents_owner
id_attr = "id=\"resource_document_#{document.id}\"" unless document.new_record?
%>

<div class="resource document" <%= id_attr %> >
  <% unless document.new_record? -%>
    <%= content_tag :div, nil, :class => :preview, :id => "document_preview_#{@document_id}" %>
    <%= content_tag(:div, image_tag(document.attachment.url(:thumb)), :class => :thumb) %>
    <% content_tag :div, :class => :details do -%>
      <%= content_tag(:h1, h(document.name)) unless document.name.nil? or document.name.empty? %>
      <%= content_tag(:span, h(document.tag_list.join(", "))) + content_tag(:br) unless document.tag_list.empty? %>
      <%= content_tag(:span, h(document.description)) + content_tag(:br) unless document.description.nil? or document.description.empty? %>
      <%= content_tag(:span, document.created_at.to_datetime.humanize) + content_tag(:br) unless document.created_at.nil? %>
      <%= display_document_preview_button(document) %>
      <%= display_document_download_button(document) %>
      <%= display_document_edit_button(document) %>
      <%= display_document_delete_button(document) %>
    <% end -%>
  <% end -%>
  
  <%= render(:partial => "documents/document_form", :object => document, :locals => { :documents_owner => documents_owner }) if is_form_view? %>
</div>
