<% content_for :header do %>
  <%= stylesheet_link_tag_with_theme_support 'core/has_resources/has_resources' %>
  <%= javascript_include_tag 'core/has_resources/has_resources.js' %>
<% end %>

<%
documents = documents_list

should_use_id ||= false # set should_use_id at true if there a many instances of documents_owner in the same page, and documents_owner ID should be used to separate them

@group_by ||= "date"
@order_by ||= "asc" # ascendent

case @group_by
when "type"
  @groups = documents.sort_by{ |d| d.document_type.title }.group_by{ |d| d.document_type.title }
when "name"
  @groups = documents.sort_by{ |d| d.name }.group_by{ |d| letter = d.name[0..0]
                                                           if letter.between("A", "D")
                                                             "A-D"
                                                           elsif letter.between("E", "H")
                                                             "E-H"
                                                           elsif letter.between("I", "L")
                                                             "I-L"
                                                           elsif letter.between("M", "P")
                                                             "M-P"
                                                           elsif letter.between("Q", "T")
                                                             "Q-T"
                                                           elsif letter.between("U", "Z")
                                                             "U-Z"
                                                           end }
when "tag"
  #OPTIMIZE fix the bug when a document has multiple tags
  @groups = documents.sort_by{ |d| d.tag_list }.group_by{ |d| d.tags.collect{ |t| t.name } }
else # group by 'date' by default
  @groups = documents.sort_by{ |d| d.new_record? ? Time.now : d.created_at }.group_by{ |d| d.new_record? ? time_ago_in_words(Time.now) : time_ago_in_words(d.created_at) }.reverse # reverse because by default we want to display the earlier to the later
end

@groups.reverse! if @order_by == "desc"
%>

<%= "<p>Classer par #{group_documents_by_method("type", @documents_owner)} | #{group_documents_by_method("date", @documents_owner)} | #{group_documents_by_method("name", @documents_owner)} | #{group_documents_by_method("tag", @documents_owner)}</p>" unless is_form_view? %>
<% @groups.each do |group, collection| %>
  <% style = "style=\"display:none\"" if collection.reject(&:should_destroy?).empty? %>
  <div class="resource_group document_group" <%= style %>>
    <%= content_tag(:h1, group.blank? ? "\"Aucun\"" : group) %>
    <%= render :partial => 'documents/document', :collection => collection, :locals => { :documents_owner => @documents_owner, :should_use_id => should_use_id }  %>
  </div>
<% end %>
