<div class="document" id="document_<%= document.id %>">
  <%= content_tag :div, nil, :class => :preview, :id => "document_preview_#{document.id}" %>
  <%= image_tag(document.attachment.url(:thumb), :class => "thumb") %>
  <div class="details" id="details_<%= document.id %>">
    <%= content_tag(:h1, document.name) %>
    <%= content_tag(:span, document.tag_list.join(", ")) + content_tag(:br) unless document.tag_list.empty? %>
    <%= content_tag(:span, document.description) + content_tag(:br) %>
    <%= content_tag(:span, document.created_at.to_humanized_datetime) unless document.new_record? %>
    <br/>
    <%= display_document_preview_button(document) %>
    <%= display_document_download_button(document) %>
    <%= display_document_edit_button(document) %>
    <%= display_document_delete_button(document) %>
  </div>
  <% if is_form_view? %>
    <div class="form" id="form_<%= document.id %>">
      <%= render :partial => "documents/document_form", :object => document, :locals => { :documents_owner => document.has_document } %>
    </div>
  <% end %>
</div>
