<% content_for :header do %>
  <%= stylesheet_link_tag_with_theme_support 'core/has_resources/has_resources' %>
  <%= stylesheet_link_tag_with_theme_support 'core/has_contacts/has_contacts' %>
  <%= stylesheet_link_tag_with_theme_support 'core/has_contacts/has_contacts' %>
  <%= stylesheet_link_tag_with_theme_support 'purchases/purchases' %>
  <%= stylesheet_link_tag_with_theme_support "thirds/thirds" %>
  <%= javascript_include_tag 'core/has_resources/has_resources' %>
  <%= javascript_include_tag 'sales/sales' %>
  <%= javascript_include_tag 'purchases/purchases' %>
  <%= javascript_include_tag 'purchases/quotation_requests' %>
<% end %>

<% supplier = quotation_request.supplier %>

<%
quotation_request_headers = { :quotation_request_informations             => "Informations générales",
                              :quotation_request_supplies_list            => "Liste des produits (#{quotation_request.existing_and_free_quotation_request_supplies.reject{ |qrs| qrs.should_destroy?}.count})",
                              :quotation_request_supplier_contacts        => "Contact fournisseur",
                              :quotation_request_additional_informations  => "Informations supplémentaires"}

quotation_request_errors  = { :quotation_request_informations       => quotation_request.errors.on(:supplier_id)          || quotation_request.errors.on(:supplier)         ||
                                                                       quotation_request.errors.on(:supplier_contact_id)  || quotation_request.errors.on(:supplier_contact) ||
                                                                       quotation_request.errors.on(:status)               || quotation_request.errors.on(:reference)        ||
                                                                       quotation_request.errors.on(:title) ? ' errors' : '',
                              :quotation_request_supplies_list      => quotation_request.errors.on(:quotation_request_supplies) ? ' errors' : '',
                              :quotation_request_supplier_contacts  => quotation_request.errors.on(:name)                 || quotation_request.errors.on(:supplier_contact_id) ? ' errors' : '' }
%>

<div class="presentation_medium root_nav">
  <ul class="quotation_request_nav tab_nav">
    <li class="quotation_request_informations<%= quotation_request_errors[:quotation_request_informations] %> selected">
      <%= quotation_request_headers[:quotation_request_informations ] %>
    </li>
    
    <li class="quotation_request_supplies_list<%= quotation_request_errors[:quotation_request_supplies_list] %>">
      <%= quotation_request_headers[:quotation_request_supplies_list ] %>
    </li>
    
    <li class="quotation_request_supplier_contacts<%= quotation_request_errors[:quotation_request_supplier_contacts] %>">
      <%= quotation_request_headers[:quotation_request_supplier_contacts ] %>
    </li>
    
    <li class="quotation_request_additional_informations">
      <%= quotation_request_headers[:quotation_request_additional_informations ] %>
    </li>
  </ul>
  
  <% form_for quotation_request do |f| %>
    <%= f.error_messages %>
    
    <h2 class="quotation_request_informations section_nav"><%= quotation_request_headers[:quotation_request_informations] %></h2>
    <div class="quotation_request_informations section_nav selected">
      <%= render :partial => "quotation_request_informations", :object => quotation_request, :locals => { :f => f, :supplier => supplier } %>
    </div>
    
    <h2 class="quotation_request_supplies_list section_nav"><%= quotation_request_headers[:quotation_request_supplies_list] %></h2>
    <div class="quotation_request_supplies_list section_nav">
      <%= render :partial => 'quotation_request_supplies/quotation_request_supplies', :locals => { :quotation_request => quotation_request }  %>
    </div>
    
    <h2 class="quotation_request_supplier_contacts section_nav"><%= quotation_request_headers[:quotation_request_supplier_contacts] %></h2>
    <div class="quotation_request_supplier_contacts section_nav">
      <% if supplier %>
        <% if is_form_view? %>
          <%= label :select_contacts, "À l'attention de" %>
          <%= display_contact_picker(quotation_request, supplier.contacts, :contact_key => 'supplier_contact', :contacts_owners => [supplier], :div_id => "quotation_request_supplier_contact") %>
        <% else %>
          <%= display_contact(quotation_request.supplier_contact) if quotation_request.supplier_contact_id %>
        <% end %>
      <% end %>
    </div>
    
    <h2 class="quotation_request_additional_informations section_nav"><%= quotation_request_headers[:quotation_request_additional_informations] %></h2>
    <div class="quotation_request_additional_informations section_nav">
      <%= render :partial => "additional_info", :object => quotation_request, :locals => { :form  => f } %>
    </div>
  
    <%= f.form_buttons %>
  <% end %>
</div>
