<h1>Modifier les permissions</h1>

<h2>Business Object: <%= params[:name] %></h2>

<%= display_flash %>

<table>
	<tr>
    <th rowspan="2">Roles</th>
		<th colspan="5">Permissions</th>
	</tr>
	<tr>
    <th>Lister</th>
    <th>Voir</th>
    <th>Ajouter</th>
    <th>Modifier</th>
    <th>Supprimer</th>
  </tr>
<% form_tag :action => 'update', :name => params[:name] do %>
<% for business_object in @business_object_permissions %>
  <tr>
      <td><%= business_object.role.name %></td>
      <td><%= check_box_tag "list[]", business_object.role_id, business_object.list %></td>
      <td><%= check_box_tag "view[]", business_object.role_id, business_object.view %></td>
      <td><%= check_box_tag "add[]", business_object.role_id, business_object.add %></td>
      <td><%= check_box_tag "edit[]", business_object.role_id, business_object.edit %></td>
      <td><%= check_box_tag "delete[]", business_object.role_id, business_object.delete %></td>
    </tr>
<% end %>
</table>
<%= submit_tag "Mettre à jour" %>
<% end %>
<%= link_to "Retour", business_object_permissions_path %>