<h2><%= $month_fr[@date.month - 1] %> <%= @date.year %> (semaine <%= @date.week %>)</h2>
<div id="calendar_content">
	<div id="group_day"><%= everyday_of_a_week(@date) %></div>
	<div id="scroll">
		<div id="hour_column">
			<% 24.times do |i| %><%= "<div class=\"hour\">#{i}h00</div>" %><% end %>
		</div>
		<div id="grid_week">
			<% date = @date.beginning_of_week %>
			<% 7.times do |i| %>
			<div id="<%= date.to_s.gsub("-","") %>" class="day_grid<%= " today" if date == Date::today %><%= " not_working_day" unless ConfigurationManager.admin_society_identity_configuration_working_day.include?(i.to_s) %>">
				<div class="day_grid_border"><ul></ul></div>
			</div>
			<% date += 1.days %>
			<% end %>
		</div>
	</div>
</div>
<script type="text/javascript">
calendar_init(<%= params[:id] %>, 'week', <%= @calendar.can_list?(current_user) %>, <%= @calendar.can_view?(current_user) %>, <%= @calendar.can_add?(current_user) %>, <%= @calendar.can_edit?(current_user) %>, <%= @calendar.can_delete?(current_user) %>, "<%= navigation_before(@date) %>", "<%= navigation('day') %>", "<%= navigation('week') %>", "<%= navigation('month') %>", "<%= navigation_after(@date) %>", "<%= get_events_link %>", "<%= form_authenticity_token %>");
setTimeout(function() {
	var all_events = document.getElementsByClassName('event');
	for (var i=0; i < all_events.length; i++) {
		all_events[i].setAttribute('onclick', "this.style.zIndex = 10;");
	};
	alert('test');
}, 1000);

</script>