<style type="text/css">@import url(/javascripts/calendar/skins/calendar-blue.css);</style> 
<style>
div {
//	border: 1px solid;
}
h1 {
	text-align: center;
}
#group_day {
	position: relative;
	margin-left: 70px;
	margin-right: 15px;
	right: 0px;
}
#group_day .day {
	float :left;
	width: 13.85%;
	text-align: center;
}
#group_day #full_day_bar {
	display: inline;
	padding-top: 18px;
}
#calendar {
}
#calendar_content {
	overflow: hidden;
}
#calendar #scroll {
	margin-left: 16px;
	padding-right: 1px;
	overflow: auto;
	height: 600px;
}
#calendar #scroll #hour_column {
	width: 70px;
	float: left;
	text-align: center;
}
#calendar #scroll .hour {
	height: 60px;
}
#calendar #scroll #grid_week {
	position: relative;
	margin-left: 70px;
	right: 0px;
	height: 1440px;
}
#calendar #scroll #grid_week .day_grid {
	float: left;
	width: 14.285714285714286%;
	height: 100%;
	z-index: -100;
	background: url('/images/grid_repeat-x.gif') repeat;
}
#calendar #scroll #grid_week .day_grid .day_grid_border {
	border: 1px solid #c8c8c8;
	border-top: none;
	border-bottom: none;
	width: 100%;
	height: 100%;
}
#calendar #scroll #grid_day {
	position: relative;
	margin-left: 70px;
	right: 0px;
	height: 1440px;
}
#calendar #scroll #grid_day .day_grid {
	float: left;
	width: 100%;
	height: 100%;
	z-index: -100;
	background: url('/images/grid_repeat-x.gif') repeat;
}
#calendar #scroll #grid_day .day_grid .day_grid_border {
	border-left: 1px solid gray;
	width: 100%;
	height: 100%;
}
#calendar #scroll .day_grid_border ul {
	padding: 0px;
	margin: 0px;
}
#calendar #scroll .day_grid_border li {
	position: absolute;
}
#calendar #scroll #grid_week .day_grid_border li {
	width: 14.10%;
}
#calendar #scroll #grid_day .day_grid_border li {
	width: 99.8%;
}
#calendar #scroll #grid_month {
	width: 99%;
	height: 600px;
}
#calendar #scroll #grid_month .day_grid {
	float: left;
	width: 14%;
	height: 20%;
	border: 1px solid;
}
#calendar #scroll #grid_month .day_grid ul {
	display: block;
}
#calendar #scroll #grid_month .event_month {
	font-size: 12px;
}
#calendar #scroll .event {
	position: absolute;
	width: 100%;
	border: 1px solid black;
	padding: 4px 0px;
	min-height: 20px;
	text-align: center;
	font-size: 10px;
	color: white;
	cursor: move;
	-moz-border-radius: 8px;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=80);
}
#calendar #scroll .event_content {
	height: 100%;
}
#event_box {
	font-size: 12px;
	visibility: hidden;
	position: absolute;
	top: 0px;
	border: 3px solid black;
	padding: 8px;
	-moz-border-radius: 8px;
	background-color: #C8C8C8;
	z-index: 1;
	width: 380px;
}
.calendar {
	z-index: 2;
}
</style>
<% content_for :javascript do %>
<script type="text/javascript" src="/javascripts/resize.js"></script>
<script type="text/javascript" src="/javascripts/calendar/calendar.js"></script> 
<script type="text/javascript" src="/javascripts/calendar/lang/calendar-en.js"></script> 
<script type="text/javascript" src="/javascripts/calendar/calendar-setup.js"></script>
<script type="text/javascript" src="/javascripts/calendar/osirails_calendar.js"></script>
<% end %>
<h1><%= h(@calendar.title) %></h1>
<div id="calendar" class="frame">
	<!-- LERT -->
	<link href="/javascripts/lert-1.0/lert.css" rel="stylesheet" type="text/css"/>
	<script src="/javascripts/lert-1.0/lert.js" type="text/javascript"></script>

	<div id="mini_calendar" style="width: 300px;"></div>
	<script type="text/javascript">
	Calendar.setup({ 
		flat : "mini_calendar",
		onSelect: function (cal) {
			var year = cal.date.print("%Y");
			var month = cal.date.print("%m");
			var day = cal.date.print("%d");
			window.location = "/calendars/<%= params[:id] %>/show/" + period + "/" + year + "/" + month + "/" + day;
		}
	});
	</script>
	<div class="calendar-buttons">
		<%= link_to "Aujourd'hui", :id => params[:id],  :period => params[:period], :year => Date::today.year, :month => Date::today.month, :day => Date::today.day %>
		<div class="cal-prev" onclick="ajax_link(link_period_before);"></div>
		<span class="cal-buttons<%= ' selected' if params[:period] == 'day' %>" onclick="navig_selected(link_period_day, this);">jour</span>
		<span class="cal-buttons<%= ' selected' if params[:period] == 'week' %>" onclick="navig_selected(link_period_week, this);">semaine</span>
		<span class="cal-buttons<%= ' selected' if params[:period] == 'month' %>" onclick="navig_selected(link_period_month, this);">mois</span>
		<div class="cal-next" onclick="ajax_link(link_period_after);"></div>
	</div>

	<div id="calendar_yield"></div>
	<div id="event_box">
		<a style="float: right;" onClick="hide_event_box();">Fermer</a>
		<div id="event_box_content"></div>
	</div>
	<script type="text/javascript">
	ajax_link("<%= navigation(params[:period]) %>");
	//document.getElementById('secondary_menu').style.display = 'none';
	new Draggable('event_box');
	</script>
</div>