<% content_for :header do %>
<script type="text/javascript" src="/javascripts/resize.js"></script>
<script type="text/javascript" src="/javascripts/calendar/calendar.js"></script> 
<script type="text/javascript" src="/javascripts/calendar/lang/calendar-fr.js"></script> 
<script type="text/javascript" src="/javascripts/calendar/calendar-setup.js"></script>
<script type="text/javascript" src="/javascripts/calendar/osirails_calendar.js"></script>
<script src="/javascripts/lert-1.0/lert.js" type="text/javascript"></script>

<link href="/javascripts/lert-1.0/lert.css" rel="stylesheet" type="text/css"/>
<link href="/stylesheets/mini-calendar-skins/calendar-blue.css" rel="stylesheet" type="text/css"/>
<link href="/stylesheets/calendar.css" rel="stylesheet" type="text/css"/>
<% end %>
<% content_for :secondary_menu do %>
<h1><span class="gray_color">Calendrier</span></h1>
<div id="mini_calendar"></div>
<script type="text/javascript">
Calendar.setup({
	flat : "mini_calendar",
	onSelect: function (cal) {
		var year = cal.date.print("%Y");
		var month = cal.date.print("%m");
		var day = cal.date.print("%d");
		ajax_link('/calendars/' + db_calendar_id + '?period=' + period + '&year=' + year + '&month=' + month + '&day=' + day);
	}
});
</script>
<% end %>
<h1><%= h(@calendar.title) %></h1>
<div id="calendar" class="frame presentation_calendar">
	<div class="calendar-buttons">
		<span class="cal-buttons" onclick="ajax_link('/calendars/' + db_calendar_id + '/' + period);">Aujourd'hui</span>
	</div>
	<div class="calendar-buttons" style="text-align: center;">
		<div class="cal-prev" onclick="ajax_link(link_period_before);"></div>
		<span class="cal-buttons<%= ' selected' if params[:period] == 'day' %>" onclick="navig_selected(link_period_day, this);">jour</span>
		<span class="cal-buttons<%= ' selected' if params[:period] == 'week' %>" onclick="navig_selected(link_period_week, this);">semaine</span>
		<span class="cal-buttons<%= ' selected' if params[:period] == 'month' %>" onclick="navig_selected(link_period_month, this);">mois</span>
		<div class="cal-next" onclick="ajax_link(link_period_after);"></div>
	</div>

	<div id="calendar_yield"></div>
	<div id="event_box">
		<img src="/images/close_icon.png" class="close" onclick="hide_event_box();" />
		<div id="event_box_content" onkeypress="if(event.keyCode == 13) return false;"></div>
	</div>
	<script type="text/javascript">
	ajax_link("<%= navigation(params[:period]) %>");
	new Draggable('event_box');
	</script>
</div>