<script src="/javascripts/resize.js" type="text/javascript"></script>
<style type="text/css">@import url(/javascripts/calendar/skins/aqua/theme.css);</style> 
<script type="text/javascript" src="/javascripts/calendar/calendar.js"></script> 
<script type="text/javascript" src="/javascripts/calendar/lang/calendar-en.js"></script> 
<script type="text/javascript" src="/javascripts/calendar/calendar-setup.js"></script>
<style>
div {
//	border: 1px solid;
}
h1 {
	text-align: center;
}
#group_day {
	padding-left: 60px;
	height: 20px;
	width: 75%;
}
#group_day .day {
	float: left;
	width: 14.285714285714286%;
	text-align: center;
}
#calendar {

}
#calendar #scroll {
	padding-right: 1px;
	overflow: auto;
	height: 600px;
}
#calendar #scroll #hour_column {
	width: 70px;
	float: left;
	text-align: center;
}
#calendar #scroll .hour {
	height: 60px;
}
#calendar #scroll #grid_week {
	position: relative;
	margin-left: 70px;
	right: 0px;
	height: 1440px;
}
#calendar #scroll #grid_week .day_grid {
	float:left;
	width: 14.285714285714286%;
	height: 100%;
	z-index: -100;
	background: url('/images/grid_repeat-x.gif') repeat;
}
#calendar #scroll #grid_week .day_grid .day_grid_border {
	border: 1px solid #C8C8C8;
	border-top: none;
	border-bottom: none;
	width: 100%;
	height: 100%;
}
#calendar #scroll #grid_day {
	position: relative;
	margin-left: 70px;
	right: 0px;
	height: 1440px;
}
#calendar #scroll #grid_day .day_grid {
	float:left;
	width: 100%;
	height: 100%;
	z-index: -100;
	background: url('/images/grid_repeat-x.gif') repeat;
}
#calendar #scroll #grid_day .day_grid .day_grid_border {
	border-left: 1px solid gray;
	width: 100%;
	height: 100%;
}
#calendar #scroll ul {
	padding: 0px;
	margin: 0px;
}
#calendar #scroll li {
	position: absolute;
	width: 0px;
	display: block;
}
#calendar #scroll #grid_week li {
	width: 14.10%;
}
#calendar #scroll #grid_day li {
	width: 99.8%;
}
#calendar #scroll .event {
	position: absolute;
	width: 100%;
	border: 1px solid black;
	padding: 4px 0px;
	min-height: 20px;
	text-align: center;
	font-size: 10px;
	color: white;
	cursor: move;
	-moz-border-radius: 8px;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=80);
}
#calendar #scroll .event_content {
	height: 100%;
}
#event_box {
	font-size: 12px;
	visibility: hidden;
	position: absolute;
	top: 0px;
	border: 3px solid black;
	padding: 8px;
	-moz-border-radius: 8px;
	background-color: #C8C8C8;
	z-index: 100;
	width: 380px;
}
.calendar {
	z-index: 101;
}
</style>
<script type="text/javascript">
/* Globals */
draggables_events = new Array();
event_box_id = "event_box";
event_box_content_id = "event_box_content";

/* Functions */

/* period must be: 'day' or 'week' or 'year' */
function calendar_init (p) {
	period = p;
}

function add_event (id, title, top, height, color, week_day) {
	var grid_day = document.getElementById(week_day).childNodes[1].firstChild;
	var events = document.getElementsByClassName('event');
	for (var i=0; i < events.length; i++) {
		if (events[i].id == 'event' + id) {
			document.getElementById(events[i]).parentNode.remove();
		};
	};
	var elm_id = 'event' + id
	var event_div = document.createElement("div");
	var event_content = document.createElement("div");
	var li = document.createElement("li");
	
	event_div.setAttribute('id', elm_id);
	event_div.setAttribute('class', 'event');
	event_div.setAttribute('style', 'top: ' + top + 'px; height: ' + height + 'px; background-color: ' + color);
	event_div.setAttribute('onDblclick', 'display_event_box(\'show\', \''+ elm_id +'\', event);');
	
	event_content.setAttribute('class', 'event_content');
	
	event_content.innerHTML = "<span name='start_at' class='start_at'></span>-<span name='end_at' class='end_at'></span><br /><span name='title' class='title'>" + title + "</span>";
	
	event_div.appendChild(event_content);
	li.appendChild(event_div);
	grid_day.appendChild(li);
	
  //Effect.Pulsate(elm_id, { pulses: 2, duration: 1 });

	add_draggable(elm_id);
  new Resizeable(elm_id, {
  	left:0,
  	right:0,
  	top: 0,
  	bottom: 4,
		minHeight: 19,
  	resize: function() {
  		update_time(elm_id);
			save_event(elm_id);
  	}
  });
  update_time(elm_id);
}

function add_draggable (elm_id) {
  draggables_events.push(new Draggable(elm_id, {
		handle: document.getElementById(elm_id).firstChild,
  	snap: [document.getElementById('grid_' + period).childNodes[1].offsetWidth, 15],
  	change: function(draggable) {
  		grid_area(draggable);
			drag_and_scroll(draggable.element.id);
  	},
  	onDrag: function(draggable) {
			update_time(draggable.element.id);

  	},
		onEnd: function(draggable) {
			change_day_events(draggable);
			save_event(draggable.element.id);
		}
  }));
}

function grid_area(draggable) {
	var cal_event = draggable.element;
	var coeff = get_position(cal_event.ancestors()[3].id);
	var grid_elm = document.getElementById('grid_' + period);

	var left_size = parseInt(cal_event.style.left);
	var left_max_size = (6 - coeff) * (cal_event.offsetWidth);
	if (left_size > left_max_size) {
		cal_event.style.left = left_max_size + "px";
	};
	var left_min_size = - coeff * (cal_event.offsetWidth);
	if (left_size < left_min_size) {
		cal_event.style.left = left_min_size + "px";
	};
	var top_size = parseInt(cal_event.style.top);
	var top_max_size = grid_elm.offsetHeight - cal_event.offsetHeight - 2;
	if (top_size > top_max_size) {
		cal_event.style.top = top_max_size + "px";
	};
	if (top_size < 0) {
		cal_event.style.top = "0px";
	};
}

function update_time (id) {
	var eventss = document.getElementsByClassName('event');
 	for (var i=0; i < eventss.length; i++) {
 		id = eventss[i].id;

	element = document.getElementById(id);
	var left_size = parseInt(element.style.left);
	var top_size = parseInt(element.style.top);
	var height = element.offsetHeight;
	
	var start_at_hour = ((top_size - top_size % 60) / 60);
	var start_at_min = (top_size % 60);
	
	var temp_diff = top_size + height;
	var end_at_hour = ((temp_diff - temp_diff % 60) / 60);
	var end_at_min = (temp_diff % 60);
	
	var start_at = start_at_hour + "h" + start_at_min;
	var end_at = end_at_hour + "h" + end_at_min;
	
	element.firstChild.childNodes[0].innerHTML = start_at;
	element.firstChild.childNodes[2].innerHTML = end_at;
	};
}

function resize_events () {
	for (var i=0; i < draggables_events.length; i++) {
		draggables_events[i].destroy();
	};
	var events = document.getElementsByClassName('event');
	for (var i=0; i < events.length; i++) {
		add_draggable(events[i].id);
	};
}

function change_day_events (draggable) {
	var	cal_event = draggable.element;
	var left_size = parseInt(cal_event.style.left);
	var day_num = get_position (cal_event.ancestors()[3].id);
	var target_day = day_num + (left_size / cal_event.ancestors()[1].offsetWidth);
	var day = cal_event.ancestors()[4].childNodes[target_day * 2 + 1];
	cal_event.style.left = 0;
	var events = document.getElementsByClassName('event');
	for (var i=0; i < events.length; i++) {
		if (events[i].id == cal_event.id) {
			events[i].id = "event" + day.id + cal_event.id.substr(13, cal_event.id.length - 13);
			cal_event.id = events[i].id;
		};
	};
	day.childNodes[1].childNodes[0].appendChild(cal_event.ancestors()[0]);
}

function display_event_box (action, event_id, event) {
	event_box_loading();
	var event_box_elm = document.getElementById(event_box_id);
	switch (action) {
		case "show":
			var db_event_id = event_id.substr(13, event_id.length - 13);
			new Ajax.Request('/events/'+ action +'/'+ db_event_id, {asynchronous:true, evalScripts:true});
		break;
		case "new":
		var height = event.pageY + document.getElementById('scroll').scrollTop - document.getElementById('grid_' + period).offsetTop;
		if (height >= 23 * 60) { height = 23 * 60; };
		if (event.target.className == "day_grid_border") {
			temp_event_id = event.target.parentNode.id + "new";
			event_id = 'event' + temp_event_id;
			new Ajax.Request('/events/'+ action, {asynchronous:true, evalScripts:true});
			add_event(temp_event_id, 'Nouvel événement', height, 50, 'blue', event.target.parentNode.id);
		};
		break;
	};
	document.getElementById(event_id).parentNode.appendChild(event_box_elm);
	event_box_elm.style.top = document.getElementById(event_id).style.top;
	event_box_elm.style.visibility = 'visible';
	Effect.Grow(event_box_id, {direction: 'center'});
}

function hide_event_box () {
	var event_box_elm = document.getElementById(event_box_id);
	Effect.Fade(event_box_id, {duration: 1});
	setTimeout(function() {
		document.getElementById('calendar').appendChild(event_box_elm);
		event_box_loading();
	}, 900);
	reload_events();
}

function save_event (elm_id) {
	cal_event = document.getElementById(elm_id);
	event_id = elm_id.substr(13, elm_id.length - 13);
	date = cal_event.ancestors()[0].ancestors()[0].ancestors()[1].id;
	if (new Ajax.Request('/events/update/' + event_id +'?top=' + parseInt(cal_event.style.top) +'&height=' + (parseInt(cal_event.style.height) + 10) + '&date=' + date, {asynchronous:true, evalScripts:true})) {
		// TODO Manage error
	};
}

/* period must be: 'day' or 'week' or 'year' */
function get_position (elm_id) {
	var grid_elm = document.getElementById('grid_' + period)
	var days_num = grid_elm.childNodes.length
	for (var i=0; i < days_num; i++) {
		if (grid_elm.childNodes[i].id == elm_id) {
			return ((i - 1) / 2);
		};
	};
	return 0;
}

function drag_and_scroll (elm_id) {
	var event_elm = document.getElementById(elm_id);
	var scroll_elm = document.getElementById('calendar').childNodes[9];
	var event_top = parseInt(event_elm.style.top);
	var event_height = parseInt(event_elm.style.height);
	var scroll_height = 600;
	if (event_top <= scroll_elm.scrollTop) {
		scroll_elm.scrollTop = event_top;
	} else if ((event_top + event_height) >= (scroll_elm.scrollTop + scroll_height)) {
		scroll_elm.scrollTop = event_top + event_height - scroll_height;
	};
}

function reload_events () {
	var events = document.getElementsByClassName('event');
	for (var i=0; i < events.length; i++) {
		if (events[i].id.substr(13, 3) == 'new') {
					events[i].parentNode.remove();
		};
	};
	<%= get_events_function %>;
}

function event_box_loading () {
	var event_box_elm = document.getElementById(event_box_id);
 	document.getElementById(event_box_content_id).innerHTML = "Chargement";
}

function event_frequence_change (argument) {
	switch(argument) {
		case "event_frequence_type":
			var type_elm = document.getElementById('event_frequence_type');
			var more_elm = document.getElementById('event_frequence_more');
			var form = "<span>Fin</span>" +
				"<select onChange=\"event_frequence_change('event_frequence_more');\">" +
				"<option>Jamais</option>" +
				"<option>Apr&egrave;s</option>" +
				"<option>le</option>" +
				"</select>" +
				"<div id=\"event_frequence_more_input\"></div>" +
				"<input id=\"event_interval\" name=\"event[interval]\" type=\"hidden\" value=\"1\"/>";
				
			switch(type_elm.options[type_elm.selectedIndex].text) {
				case "Personnaliser":
					more_elm.innerHTML = "En cours de développement";
				break;
				case "Chaque jour":
					more_elm.innerHTML = form + "<input id=\"event_frequence\" name=\"event[frequence]\" type=\"hidden\" value=\"DAILY\"/>"
				break;
				case "Chaque semaine":
					more_elm.innerHTML = form + "<input id=\"event_frequence\" name=\"event[frequence]\" type=\"hidden\" value=\"WEEKLY\"/>"
				break;
				case "Tous les mois":
					more_elm.innerHTML = form + "<input id=\"event_frequence\" name=\"event[frequence]\" type=\"hidden\" value=\"MONTHLY\"/>"
				break;
				case "Tous les ans":
					more_elm.innerHTML = form + "<input id=\"event_frequence\" name=\"event[frequence]\" type=\"hidden\" value=\"YEARLY\"/>"
				break;
				default:
					more_elm.innerHTML = "<input id=\"event_frequence\" name=\"event[frequence]\" type=\"hidden\" value=\"\"/><input id=\"event_count\" name=\"event[count]\" type=\"hidden\" value=\"\"/><input id=\"event_until_date\" name=\"event[until_date]\" type=\"hidden\" value=\"\"/>";
				break;
			}
		break;
		
		case "event_frequence_more":
			var more_elm = document.getElementById('event_frequence_more');
			var more_select_elm = more_elm.childNodes[1];
			var more_input_elm = more_elm.childNodes[2];
			switch(more_select_elm.options[more_select_elm.selectedIndex].text) {
				case "Jamais":
					more_input_elm.innerHTML = "<input id=\"event_count\" name=\"event[count]\" type=\"hidden\" value=\"\"/><input id=\"event_until_date\" name=\"event[until_date]\" type=\"hidden\" value=\"\"/>";
				break;
				case "Après":
					more_input_elm.innerHTML = "<input class=\"disable-stylesheet-width\" id=\"event_count\" name=\"event[count]\" size=\"3\" value=\"1\" type=\"text\"> fois";
				break;
				case "le":
					more_input_elm.innerHTML = "<input class=\"disable-stylesheet-width\" id=\"event_until_date\" name=\"event[until_date]\" size=\"12\" value=\"\" type=\"text\">";
				break;
			};
		break;
	};
}

document.body.setAttribute('onResize', "resize_events();");
document.body.setAttribute('onLoad', "<%= get_events_function %>");
</script>
<h1><%= @calendar.title %></h1>
<div id="calendar" class="cadre">
	<div id="mini_calendar" style="width: 300px;"></div>
	<script type="text/javascript">
	Calendar.setup({ 
		flat : "mini_calendar",
		onSelect: function (cal) {
			var year = cal.date.print("%Y");
			var month = cal.date.print("%m");
			var day = cal.date.print("%d");
			window.location = "/calendars/show/<%= params[:id] %>/" + period + "/" + year + "/" + month + "/" + day;
		}
	});
	</script>
	<%= render_calendar(params[:period]) %>
	<div id="event_box">
		<a style="float: right;" onClick="hide_event_box();">Fermer</a>
		<div id="event_box_content"></div>
	</div>
	<script type="text/javascript">
	new Draggable('menu_secondaire');
	new Draggable('event_box');
	document.getElementById('scroll').scrollTop = 480;
	document.getElementById('grid_week').setAttribute('onDblClick', "display_event_box('new', null, event)");
	</script>
</div>