<h1>Liste des modules</h1>

<div class="frame">
  <h2>Modules</h2>
  <table id="feature_managment">
    <tr>
      <th>Nom</th>
      <th>Version</th>
      <th>Date d'ajout</th>
      <th style='width: 40px;'>Installé</th>
      <th style='width: 40px;'>Activé</th>
      <th style='width: 70px;'>Suppression</th>

    </tr>
    <% for feature in @features %>
    <tr>
      <td><%= feature.title %></td>
      <td><%= feature.version %></td>
      <td><%= feature.created_at.strftime("0%w/%m/%Y") %></td>
      <td><%= display_install_link(feature) %></td>
      <td><%= display_activate_link(feature) %></td>
      <td><%= display_remove_link(feature) %></td>
    </tr>
    <% end %>
  </table>

  <% if controller.can_add?(current_user) %>
  <h2>Ajout d'un module</h2>
  <p>Format accepté: .tar.gz
    <%= form_tag({:action => 'create'}, :multipart => true) %>
    <%= file_upload %>
  </p>
  <p>
    <%# submit_tag "Ajouter" %>
    <input type="submit" value="Ajouter" name="commit" onclick='osibox_open();' />
  </p>
</form>
<% end %>
</div>

<%= osibox_init :partial => 'feature_loading', :border_size => '1', :close_button => false %>
