<h1>Liste des modules</h1>

<div class="frame">
<h2>Modules</h2>
<table id="feature_managment">
	<tr>
		<th>Nom</th>
		<th>Version</th>
		<th>Date d'ajout</th>
		<th>Installé</th>
		<th>Activé</th>
		<th>Suppression</th>

	</tr>
	<% for feature in @features %>
	<tr>
		<td><%= feature.name %></td>
		<td><%= feature.version %></td>
		<td><%= feature.created_at.strftime("0%w/%m/%Y") %></td>
		<td><%= display_install_link(feature) %></td>
		<td><%= display_activate_link(feature) %></td>
		<td><%= display_remove_link(feature) %></td>
	</tr>
	<% end %>
</table>

<br />

<h2>Ajout d'un module</h2>
<p>Format accepté: .tar.gz
  <%= form_tag({:action => 'add_feature'}, :multipart => true) %>

<%= file_upload %>
</p>
<p>
<%= submit_tag "Ajouter" %>
</p>
</div>
</form>
