<h1>Liste des features</h1>


<table>
  <tr>
    <th>Nom</th>
    <th>Version</th>
    <th>Date d'ajout</th>
    <th colspan="3"></th>
    
  </tr>
  <% for feature in @features %>
    <tr>
      <td><%= feature.name %></td>
      <td><%= feature.business_objects %></td>
      <td><%= feature.created_at.strftime("0%w/%m/%Y") %></td>
      <td>
      <%= feature.installed ? "<div class=\"FeatureActivated-Installed\" style=\"color:green\">ø installé </div> ": "<div class=\"FeatureNonActivated-Installed\" style=\"color:red\">ø non installé</div> "%>
      <%= feature.activated ? "<div class=\"FeatureActivated-Installed\" style=\"color:green\">ø activé</div> ":"<div class=\"FeatureNonActivated-Installed\" style=\"color:red\">ø non activé</div>" %>
      </td>
      <td><%= dispay_install_button(feature) %></td>
      <td><%= diplay_activate_button(feature) %></td>
    </tr>
  <% end %>
</table>