<% content_for :header do %>
  <%= stylesheet_link_tag_with_theme_support 'sales/sales' %>
<% end %>

<div>
  <% if @invoices.empty? %>
    <p>Aucune facture</p>
  <% else %>
    <div class="autoscroll">
      <table class="" id="invoices">
        <thead>
          <tr>
            <th>N° Dossier</th>
            <th>Nom projet</th>
            <th>Contact facturation</th>
            <th>Raison sociale</th>
            <th>Date D'&eacute;mission</th>
            <th>R&eacute;f&eacute;rence</th>
            <th>Type</th>
            <th>Envoy&eacute; le</th>
            <th>D&eacute;lai de Paiement</th>
            <th>Nombre d'&eacute;ch&eacute;ances</th>
            <th>Prochaine &eacute;ch&eacute;ance</th>
            <th>Ech&eacute;ance Net TTC</th>
            <th>Total Net TTC</th>
            <th>Factures Factoris&eacute;es</th>
            <th>R&eacute;f BL/BI</th>
            <th>BL/BI sign&eacute;</th>
            <th>Derni&egrave;re relance Effectu&eacute;e le</th>
            <th>Montant R&eacute;gl&eacute;</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for invoice in @invoices %>
            <tr class="<%= set_tr_class_name_for(invoice)%>">
              <td><%= invoice.order.reference%></td>
              <td><%= link_to(invoice.order.title, invoice.order, :title => "Voir ce dossier", :class => "no_style") %></td>
              <td><%= invoice.invoice_contact.fullname %></td>
              <td><%= link_to(invoice.order.customer.name, invoice.order.customer, :title => "Voir fiche client", :class => "no_style") %></td>
              <td><%= l(invoice.published_on, :format => :short) if invoice.published_on and invoice.confirmed_at %></td>
              <td><%= invoice.reference %></td>
              <td><%= invoice.invoice_type.title %></td>
              <td><%= l(invoice.sended_on, :format => :short) if invoice.sended_on %></td>
              <td><%= display_delay_of_paiment_for(invoice)%></td>
              <td><%= invoice.number_of_due_dates %></td>
              <td><%= l(invoice.upcoming_due_date.date, :format => :short) + display_delay_of_upcoming_due_date_paiment_for(invoice)%></td>
              <td><%= invoice.upcoming_due_date.net_to_paid.to_f.round_to(2).to_s(2) + "&euro;"%></td>
              <td><%= invoice.net_to_paid.to_f.round_to(2).to_s(2) + "&euro;"%></td>
              <td><%= image_tag( "confirm_16x16.png", :alt    => "factorisé", :title  => "factorisé") if invoice.factorised?%> </td>
              <td><%= display_delivery_notes_references_for(invoice)%></td>
              <td><%= display_state_of_delivery_notes_references_for(invoice)%></td>
              <td>#</td>
              <td><%= invoice.already_paid_amount.to_f.round(2).to_s + " &euro;" %></td>
              <td><%= display_invoice_action_buttons(invoice.order, invoice) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
