<%= order_header %>

<h1>Chiffrage</h1>

<div>
<% if is_form_view? %>
  <% form_for(@step, :url => { :controller => "step_estimate", :action => :update, :order_id => @order },  :html => { :multipart => true}) do |form| %>
    <%= form.error_messages %>
    
    <%= render :partial => 'quotes/quotes_list', :object => @step.quotes %>
    <%= display_quote_add_button %>
    
    <p>
      <%= form.submit 'Enregistrer' %>
      <%= form.submit 'Clôturer cette étape', :name => :close_step %>
    </p>
  <% end %>
<% else %>
  <%= render :partial => 'quotes/quotes_list', :object => @step.quotes %>
<% end %>
</div>

<!-- Osibox initialisation -->
<% #osibox_initialisation(@step, "/orders/#{@order.id}/survey/documents/") %>
