<%= order_header %>

<div class="frame tabulation presentation_medium">
	<%= order_steps %>
  <% form_for(@step, :url => { :controller => "step_estimate", :action => :update, :order_id => @order },  :html => { :multipart => true}) do |form| %>
    <%= form.error_messages %>
    
    <p>
      <%= form.submit 'Modifier' %>
      <%= form.submit 'Cloturer', :name => :close_step %>
    </p>
  <% end %>
</div>

<!-- Osibox initialisation -->
<% #osibox_initialisation(@step, "/orders/#{@order.id}/survey/documents/") %>
