<% content_for :header do -%>
  <%= stylesheet_link_tag_with_theme_support 'core/has_resources/has_resources' %>
  <%= stylesheet_link_tag_with_theme_support 'sales/order' %>
<% end %>

<h1>Fiche détaillée du dossier</h1>

<%= order_header %>

<div class="presentation_medium root_nav standard">
  
  <% tab_navigator :order_nav do |t| %>
    <% t.nav_buttons do %>
      <%= t.tab :progress,          "Avancement", :selected => true %>
      <%= t.tab :documents,         "Documents (X)" %>
      <%= t.tab :monitoring,        "Suivi (X messages)" %>
      <%= t.tab :customer_contacts, "Contacts client (X)" %>
      <%= t.tab :internal_actors,   "Acteurs internes (X)" %>
    <% end %>
  
    <% t.content_for :progress do %>
      <%= render :partial => 'orders/progress', :locals => { :order => @order } %>
    <% end %>
    
    <% t.content_for :documents do %>
      <%= render :partial => 'orders/documents', :locals => { :order => @order } %>
    <% end %>
    
    <% t.content_for :monitoring do %>
      <%# render :partial => 'orders/monitoring', :locals => { :order => @order } %>
    <% end %>
    
    <% t.content_for :customer_contacts do %>
      <%# render :partial => 'orders/customer_contacts', :locals => { :order => @order } %>
    <% end %>
    
    <% t.content_for :internal_actors do %>
      <%# render :partial => 'orders/internal_actors', :locals => { :order => @order } %>
    <% end %>
  <% end %>
</div>
