<% content_for :header do -%>
  <%= stylesheet_link_tag_with_theme_support 'sales/invoice' %>
<% end -%>

<%= order_header %>

<%= generate_invoicing_step_contextual_menu_partial %>

<%= title "Paiements" %>

<div class="payment_step">
  <div class="payment_step_notice">
    <p>
      L'étape "Paiements" permet de signaler le règlement des factures pour le dossier en cours.<br/>
    </p>
    <p>
      L'étape "Paiements" est automatiquement clôturée lorsque tous les produits sont facturés et que chaque facture est payée.
    </p>
  </div>
  
  <%= render :partial => 'payment_step/payment_state', :locals => { :order => @order } %>
  <hr/>
  
  <%= display_invoices_for_payment(@order) %>
  <%# content_tag(:p, display_invoice_add_button(@order)) if is_form_view? %>
</div>
