<% content_for :header do %>
  <%= stylesheet_link_tag_with_theme_support 'sales/sales' %>
<% end %>

<% unless product_reference.new_record? %>
  <% add_contextual_menu_item ProductReference.human_name do %>
    <% product_reference_action_buttons(product_reference).each do |button| %>
      <%= button %>
    <% end %>
  <% end %>
  
  <% add_contextual_menu_item ProductReferenceCategory.human_name do %>
    <% product_reference_category_action_buttons(product_reference.product_reference_category).each do |button| %>
      <%= button %>
    <% end %>
  <% end %>
  
  <% add_contextual_menu_item ProductReferenceSubCategory.human_name do %>
    <% product_reference_sub_category_action_buttons(product_reference.product_reference_sub_category).each do |button| %>
      <%= button %>
    <% end %>
  <% end %>
<% end %>

<% add_contextual_menu_item :useful_links do %>
  <%= new_product_reference_link(:link_text => 'Nouveau produit référence') unless is_new_view? %>
  <%= product_references_link(:link_text => "Voir tous les produits références") %>
<% end %>

<div class="presentation_medium">
  <% form_for product_reference do |form| %>
    <%= form.error_messages %>
    
    <fieldset class="presentation_in_columns">
      <legend>Référencement</legend>
      
      <div>
        <% if is_form_view? %>
          <p>
            <%= form.label :product_reference_category_id, nil, :required => :required %>
            <% if is_form_view? and product_reference.new_record? %>
              <%= form.collection_select :product_reference_category_id, @product_reference_categories, :id, :reference_and_name, { :include_blank => "Veuillez choisir une famille" } %>
              <%= observe_field("product_reference_product_reference_category_id", :url    => self.send("update_product_reference_sub_categories_path"),
                                                                                   :update => "product_reference_product_reference_sub_category_id",
                                                                                   :with   => 'id') %>
            <% else %>
              <%= strong product_reference.product_reference_category.name %>
            <% end %>
          </p>
        
          <p>
            <%= form.label :product_reference_sub_category_id, nil, :required => :required %>
            <% if is_form_view? and product_reference.new_record? %>
              <%
              sub_category_select_id   = "product_reference_product_reference_sub_category_id"
              sub_category_select_name = "product_reference[product_reference_sub_category_id]"
              %>
              <select id="<%= sub_category_select_id %>" name="<%= sub_category_select_name %>">
                <%= render :partial => 'product_reference_sub_categories/product_reference_sub_categories', :object => product_reference.product_reference_category ? product_reference.product_reference_category.product_reference_sub_categories.actives : [],
                                                                                                            :locals => { :current => product_reference.product_reference_sub_category_id } %>
              </select>
            <% else %>
              <%= strong product_reference.product_reference_sub_category.name %>
            <% end %>
          </p>
          
          <p>
            <%= form.label :name, nil, :required => :required %>
            <%= form.form_or_view(form.text_field(:name), :name) %>
          </p>
        <% else %>
          <p>
            <%= form.label :designation %>
            <%= strong product_reference.designation %>
          </p>
        <% end %>
      </div>
      
      <% unless product_reference.new_record? %>
        <div>
          <p>
            <%= form.label :reference %>
            <%= strong product_reference.reference %>
          </p>
        </div>
      <% end %>
    </fieldset>

    <fieldset>
      <legend>Autres caractéristiques</legend>
      <div>
        <p>
          <%= form.label :dimensions %>
          <%= display_product_dimensions(form, product_reference) %>
        </p>
        <p>
          <%= form.label :description %>
          <%= form.form_or_view(form.autoresize_text_area(:description, :cols => 60), :description) %>
        </p>
        <p>
          <%= form.label :vat, nil, :required => :required %>
          <%= form.form_or_view(form.collection_select(:vat, Vat.find(:all, :order => :position), :rate, :name, :include_blank => "Veuillez choisir un taux de TVA"), :vat, :name) %>
        </p>
      </div>
    </fieldset>
    
    <%= form.form_buttons %>
  <% end %>
</div>
