<% secondary_menu POSSIBLE_ACTIONS do %>
  <%= new_job_link %>
<% end %>

<h1> Liste des fiches de poste</h1>

<div class="frame presentation_medium">
 <table>
    <tr>
      <th>Nom</th>
      <th>Actions</th>
    </tr>
    <% for job in @jobs%>
    <tr>
      <td><%=job.name %></td>
      <td style="width:70px;">
        <%= job_link(job, :link_text => "") %>
        <%= edit_job_link(job, :link_text => "") %>
        <%= delete_job_link(job, :link_text => "") %>
      </td>
    </tr>
    <%end%>
</table>
</div>
