<% secondary_menu POSSIBLE_ACTIONS do %>
  <%= show_add_button("Ajouter une fiche de poste")%>
<% end %>

<h1> Liste des fiches de poste</h1>

<div class="frame presentation_medium">
 <table>
    <tr>
      <th>Nom</th>
      <th>Actions</th>
    </tr>
    <% for job in @jobs%>
    <tr>
      <td><%=job.name %></td>
      <td style="width:70px;"><%=show_view_button(job)%> <%=show_edit_button(job)%> <%=show_delete_button(job)%></td>
    </tr>
    <%end%>
</table>
</div>
