<h1> Liste des fonctions</h1>

<div class="cadre">
 <table>
    <tr>
      <th>Nom</th>
      <th colspan="3">Actions</th>
    </tr>
    <% for job in @jobs%>
    <tr>
      <td><%= link_to job.name, job%></td>
      <td><%=link_to 'Détails', job%></td>
      <td><%=link_to 'Modifier', edit_job_path(job)%></td> 
      <td><%=link_to 'Supprimer', job, :confirm => 'Etes vous sûr ?', :method => :delete%></td>
      </td>
    </tr>
<%end%>
</table>
<%= link_to 'Ajouter', new_job_path%>
</div>
