<h1>Ajout d&apos;une fonction</h1>

<div class="cadre">
<%form_for(@job) do |j|%>
  <p>
    <%= j.label :name, "Nom :"%>
    <%= j.text_field :name%>
  </p>
  <p>
    <%= j.label :mission, "Mission :"%>
    <%= j.text_area :mission %>
  </p>
  <p>
    <%= j.label :activity, "Activités :"%>
    <%= j.text_area :activity%>
  </p>
  <p>
    <%= j.label :goal, "Objectifs :"%>
    <%= j.text_area :goal%>
  </p>
  <%=j.submit 'Ajouter' %>
<%end%>
<p>
  <%=link_to 'Retour', jobs_path%>
</p>
</div>
