<% secondary_menu POSSIBLE_ACTIONS do %>
  <%= show_job_add_button%>
  <%= show_job_edit_button(@job)%>
  <%= show_job_delete_button(@job)%>
<% end %>

<% secondary_menu USEFUL_LINKS do %>
  <%= show_job_list_button %>
<% end %>

<h1>D&eacute;tails sur "<%=h@job.name%>"</h1>

<%= render :partial => @job, :object => @job%>
