<% secondary_menu POSSIBLE_ACTIONS do %>
  <%= new_job_link %>
  <%= edit_job_link(@job) %>
  <%= delete_job_link(@job) %>
<% end %>

<% secondary_menu USEFUL_LINKS do %>
  <%= jobs_link %>
<% end %>

<h1>D&eacute;tails sur "<%=h@job.name%>"</h1>

<%= render :partial => @job, :object => @job%>
