<h2> Informations g&eacute;n&eacute;rales </h2>
  <p>
    <%= label :establishment, :name, "Nom de l'etablissement" %>
    <%= establishment.text_field :name %>
  </p>

  <p>
    <%= label :establishment, "Type d'etablissement"%>
    <%= establishment.select(:establishment_type_id, EstablishmentType.find(:all).collect {|a| [ a.name, a.id]}) %>
  </p>

  <% fields_for :address, establishment_.address do |address|%>
    <%= address.error_messages %>
    <p>
      <%= label :address, "Address1" %>
      <%= address.text_field :address1%>
    </p>

      <p>
      <%= label :address, "Address2" %>
      <%= address.text_field :address2%>  
      </p>

        <%= javascript_tag "document.getElementById('customer_establishments_#{cpt}_name').value = '#{params[:customer][:establs]}'" %>

    <%= render :partial => 'addresses/address', 
        :locals => {:cpt=> 1, :owner_address => establishment_.address, :address_name => "establishment"}%>

  <%end #fields_for%>