<p>
  <%= label :establishment, "Nom de l'etablissement" %>
  <%= establishment.text_field :name %>
</p>
 
<p>
  <%= label :establishment, "Type d'etablissement"%>
  <%= establishment.select(:establishment_type_id, EstablishmentType.find(:all).collect {|a| [ a.wording, a.id]})%>
</p>

<% fields_for :address, establishment_.address do |address|%>
  <p>
    <%= label :address, "Address1" %>
    <%= address.text_field :address1%>
  </p>
  
    <p>
    <%= label :address, "Address2" %>
    <%= address.text_field :address2%>  
    </p>
    
    <p>
    <%= label :address, "Pays"%>
    <%= text_field_with_auto_complete(:country, :name, 
        {:size => 15, :value => "#{establishment_.address.country_name}"}) -%>
    </p>

    <p>
    <%= label :address, "Ville"%>
    <%= text_field_with_auto_complete(:city, :name, 
        {:country_id => 1, :size => 15, :value => "#{establishment_.address.city_name}"}) -%>
    </p>
      
    <p>
    <%= label :address, "Zip_code"%>
    <%= text_field_with_auto_complete(:city, :zip_code,
        {:country_id => 1, :size => 15, :value =>  "#{establishment_.address.zip_code}"}) -%>
    </p>
    
<%end #fields_for%>

  
  <%= observe_field "country_name",
        :update => "city_name",
        :frequency => 2,
        :url=>{:action=>'country_change'},
        :with => "'country_name='+ document.forms['edit_establishment_#{establishment_.id}']['city_name']['value']"
%>

  <%= observe_field "city_names",
        :update => "city_name",
        :frequency => 2,
        :url=>{:action=>'city_change'},
        :with => "'city_name='+ document.forms['edit_establishment_#{establishment_.id}']['city_name']['value']"
%>
