<div id='<%= "link_add_remove_establishment_#{cpt}"%>'>

  <%= error_messages_for("new_establishment#{cpt}") %>
  
  <%= link_to_remote("supprimer", :url => {:controller => "establishments", :action => "delete_new_establishment", :id => cpt}, 
      :with => "'number=' + $('new_establishment_number_value').value")%>
</div>

<div id='<%= "new_establishment#{cpt}"%>'>

<p>
  <%= label :new_establishment, "Nom du nouvel &eacute;tablissement" %>
  <%= text_field("new_establishment#{cpt}","name")%>
</p>

 <p>
  <%= label :new_establishment, "Type d'&eacute;tablissement" %>
  <%= select("new_establishment#{cpt}", "establishment_type_id",EstablishmentType.find(:all).collect {|a| [ a.wording, a.id ] })%>
</p>

<p>
  <%= label :new_address, "Address1" %>
  <%= text_field("new_establishment_address#{cpt}","address1")%>
</p>

<p>
  <%= label :new_address, "Address2" %>
  <%= text_field("new_establishment_address#{cpt}","address2")%>
</p>

<p>
  <%= label :new_address, "Pays" %>
  <%= select("new_establishment_address#{cpt}", "country_name",Country.find(:all).collect {|a| [ a.name, a.name ] })%>
</p>

<p>
  <%= label :new_address, "Ville" %>
  <%= select("new_establishment_address#{cpt}", "city_name",City.find(:all).collect {|a| [ a.name, a.name ] })%>
</p>

<p>
  <%= label :new_address, "Code postal" %>
  <%= select("new_establishment_address#{cpt}", "city_name",City.find(:all).collect {|a| [ a.zip_code, a.zip_code ] })%>
</p>

<%= hidden_field("valid_establishment_#{cpt}", "value", "value" => 'true')%>

</div>

<% unless error%>
<div id='<%= "link_add_remove_establishment_#{cpt.to_i + 1}"%>'>
    <%=link_to_remote("(+)", :url => {:controller => "establishments", :action => "add_establishment", :cpt => cpt.to_i + 1},
     :with => "'number=' + $('new_establishment_number_value').value")%>
</div>
<%end%>