<div id='<%= "link_add_remove_establishment_#{cpt}"%>'>

  <%= error_messages_for("new_establishment#{cpt}") %>
  
  <%= link_to_remote("supprimer", :url => {:controller => "establishments", :action => "delete_new_establishment", :id => cpt}, 
      :with => "'number=' + $('new_establishment_number_value').value")%>
</div>

<div id='<%= "new_establishment#{cpt}"%>'>

<p>
  <%= label "new_establishment#{cpt}", :name , "Nom du nouvel &eacute;tablissement" %>
  <%= text_field("new_establishment#{cpt}","name")%>
</p>

 <p>
  <%= label "new_establishment#{cpt}", :establishment_type_id, "Type d'&eacute;tablissement" %>
  <%= select("new_establishment#{cpt}", "establishment_type_id",EstablishmentType.find(:all).collect {|a| [ a.name, a.id ] })%>
</p>

<p>
  <%= label "new_establishment_address#{cpt}", "address1", "Address1" %>
  <%= text_field("new_establishment_address#{cpt}","address1")%>
</p>

<p>
  <%= label :new_address, "Address2" %>
  <%= text_field("new_establishment_address#{cpt}","address2")%>
</p>

<% unless error%>
  <% owner_address = Address.new() %>
<%else%>
  <%owner_address = Address.new(
    :country_name => params["new_country#{cpt}"][:name],
    :city_name => params["new_city#{cpt}"][:name],
    :zip_code => params["new_city#{cpt}"][:zip_code])%>  
<%end%>

<%= render :partial => 'addresses/address', 
      :locals => {:cpt=> cpt, :owner_address => owner_address}%>

<%= hidden_field("valid_establishment_#{cpt}", "value", "value" => 'true')%>

</div>

<% unless error%>
<div id='<%= "link_add_remove_establishment_#{cpt.to_i + 1}"%>'>
    <%=link_to_remote("(+)", :url => {:controller => "establishments", :action => "add_establishment", :cpt => cpt.to_i + 1},
     :with => "'number=' + $('new_establishment_number_value').value")%>
</div>
<%end%>