<h1>Modifier un Etablissement</h1>
  <% form_for([@customer, @establishment])  do |establishment| %>
    <%= establishment.error_messages %>
    
    <%= render :partial => 'establishment', :locals => {:establishment => establishment, :establishment_ => @establishment} %>
  
    <% if @contacts.length > 0 -%>
      <h2> Contacts du client</h2>
        <div class="frame"> 
            <% for contact in @contacts%>
                <div <%= "id='customer_contact#{contact.id}'" %>>
                  <%= contact.first_name + " " + contact.last_name%>
                  <%= link_to "Plus d'infos", edit_customer_contact_path(@customer, contact,:owner_type => "Customer") %>
                  <%= link_to("Supprimer", [@customer, @establishment,  contact], :method => :delete, :confirm => 'Etes vous sûr ?') %>
                </div>
            <%end #for%>   
        </div>
    <%end #if%> 
  
    <% @error ||= false %>
    <%= render :partial => 'contacts/new_contact', :locals => {:owner_type => "Establishment",
                :owner_id => @establishment.id, :params => params, :new_contact_number => @new_contact_number,
                :error => @error} %>
              
    <%= submit_tag 'Modifier' %>
    
    <%= link_to "Supprimer", [@customer, @establishment], :method => :delete, :confirm => 'Etes vous sûr ?'%>
  <%end%>
  

<%= link_to "Revenir sur la fiche du client", edit_customer_path(@customer)%>
