<% content_for :header do -%>
  <%= javascript_include_tag "sales/#{graphic_item.class.name.underscore}" %>
  <%= stylesheet_link_tag_with_theme_support 'core/has_resources/has_resources' %>
<% end -%>

<%
  graphic_item_errors  = { :informations => graphic_item.errors.on(:product_id) || graphic_item.errors.on(:product) ||
                                            graphic_item.errors.on(:name) || graphic_item.errors.on(:description) ||
                                            graphic_item.errors.on(:mockup_type_id) || graphic_item.errors.on(:mockup_type) ||
                                            graphic_item.errors.on(:graphic_document_type_id) || graphic_item.errors.on(:graphic_document_type) ||
                                            graphic_item.errors.on(:graphic_unit_measure_id) || graphic_item.errors.on(:graphic_unit_measure) ||
                                            graphic_item.errors.on(:new_graphic_item_version) ? ' errors' : ''}
%>

<div class="presentation_medium graphic_item root_nav standard">
  
  <% tab_navigator :graphic_item_nav do |t| %>
    <% t.nav_buttons do %>
      <%= t.tab :informations,            "Informations",
                                          :class    => graphic_item_errors[:informations],
                                          :selected => true %>
      <%= t.tab :versions,                "Versions (#{graphic_item.graphic_item_versions.count})",
                                          :disabled => graphic_item.new_record? %>
      <%= t.tab :additional_informations, "Informations supplémentaires" %>
    <% end %>
    
    <% action = graphic_item.new_record? ? :create : :update %>
    <% form_for(graphic_item, :url => { :controller => "#{graphic_item.class.name.tableize}", :action => action}, :html => { :multipart => true, :class => is_form_view? ? (graphic_item.new_record? ? "new_#{graphic_item.class.name.underscore}" : "edit_#{graphic_item.class.name.underscore}") : "skip_prevent_close" }) do |form| %>
      
      <% t.content_for :informations do %>
        <%= form.error_messages(:skip_links => true) %>
        <%= render :partial => 'graphic_items/graphic_item_infos', :object => graphic_item, :locals => { :form => form } %>
      <% end %>
      
      <% t.content_for :versions do %>
        <%= render :partial => 'graphic_items/graphic_item_versions', :object => graphic_item, :locals => { :form => form } %>
      <% end %>
      
      <% t.content_for :additional_informations do %>
        <%= render :partial => 'graphic_items/graphic_item_additional_infos', :object => graphic_item, :locals => { :form => form } %>
      <% end %>
      
      <%= form.form_buttons %>
    <% end %>
  <% end %>
</div>
