<% content_for :header do -%>
  <%= stylesheet_link_tag_with_theme_support 'core/has_resources/has_resources' %>
<% end -%>

<% press_proof ||= nil %>

<div class="resource document">
  <div class="thumb">
    <% if image||= nil %>
      <%= image_tag(image)%>
    <% else %>
      <%= image_tag(graphic_item_summary.current_image.url(:thumb)) %>
    <% end %>
  </div>
  <div class="details">
    <%= content_tag(:h1, h(graphic_item_summary.name)) unless graphic_item_summary.name.blank? %>
      <%= content_tag(:span, graphic_item_summary.send("#{graphic_item_summary.class.name.underscore}_type").name) + content_tag(:br) unless graphic_item_summary.send("#{graphic_item_summary.class.name.underscore}_type").name.blank? %>
      <%= content_tag(:span, graphic_item_summary.created_at.humanize) + content_tag(:br) unless graphic_item_summary.created_at.nil? %>
      <% if graphic_item_summary.class.name == "Mockup" %>
        <%= content_tag(:span, graphic_item_summary.product.name) + content_tag(:br) unless graphic_item_summary.product.name.blank? %>
      <% end %>
      
      <%= display_graphic_item_summary_preview_button(graphic_item_summary, press_proof) %>
      <%= display_graphic_item_summary_download_button(graphic_item_summary) %>
      <%= display_graphic_item_summary_view_button(graphic_item_summary) %>
      <% unless without_action||=false %>
        <%= display_graphic_item_summary_edit_button(graphic_item_summary) %>
        <%= display_graphic_item_summary_delete_button(graphic_item_summary) %>
        <%= display_graphic_item_summary_cancel_button(graphic_item_summary) %>
        <br/>
          <%= image_tag("picture_file_16x16.png", :alt => graphic_item_summary.class.form_labels[:image], :title => "Fichier image") %> 
          <%= link_to("Télécharger", graphic_item_summary.current_image.url) %> /
          <%= display_graphic_item_summary_image_spool_actions(graphic_item_summary) %>
        <br/>
        <% if graphic_item_summary.current_version.source_file_name %>
          <%= image_tag("picture_source_16x16.png", :alt => graphic_item_summary.class.form_labels[:source], :title => "Fichier source") %> 
          <%= link_to("Télécharger", graphic_item_summary.current_source.url) %> /
          <%= display_graphic_item_summary_source_spool_actions(graphic_item_summary) %>
        <% end %>
      <% end %>
  </div>
</div>
