<%= order_header %>

<% add_contextual_menu_item :graphic_items do %>
  <%= new_graphic_item_link(Mockup) %>
  <%= new_graphic_item_link(GraphicDocument) %>
<% end %>

<% display_user_spool_in_contextual_menu %>

<h1>Les ressources graphiques du dossier</h1>

<div>
  <ul id="graphic_items">
    <li>
      <a href="<%= order_mockups_path %>">
        <button>
          <h1>Maquettes</h1>
          <p>Une Maquette est un document contractuel associ&eacute; &agrave; un produit et traduit une solution graphique. Une maquette peut contenir une ou plusieurs vues diff&eacute;rentes du produit. Seule les maquettes peuvent &ecirc;tre ins&eacute;r&eacute;es dans les BAT.</p>
        </button>
      </a>
    </li>
    <li>
      <a href="<%= order_graphic_documents_path %>">
        <button>
          <h1>Documents Graphiques</h1>
          <p>Un Document Graphique n'est pas associ&eacute; à un produit en particulier. Vous pouvez d&eacute;cider de joindre ou non ce type de document &agrave; un BAT (en compl&eacute;ment) au moment de l'envoyer au client, mais il n'est pas contractuel. Ces documents sont plut&ocirc;t destin&eacute;s &agrave; &ecirc;tre exploit&eacute; en interne.</p>
        </button>
      </a>
    </li>
</div>
