<%= order_header %>

<% content_for :header do -%>
  <%= javascript_include_tag 'sales/quotes_list' %>
<% end -%>

<h1>Chiffrage</h1>

<div>
  <p>
    L'étape de chiffrage permet d'établir le devis pour la commande en cours.<br/>
    Vous avez la possibilité de rédiger autant de devis que vous le souhaitez, mais seul UN devis peut être validé à la fois.<br/>
    L'étape de chiffrage est automatiquement clôturé lorsqu'un devis est déclaré comme <strong>signé</strong>.
  </p>
  
  <div class="presentation_in_columns" id="quotes_list_more_infos" style="display:none">
    <div>
      <p>
        Après avoir été validé <%= image_tag("/images/confirm_16x16.png", :alt => "Validé", :title => "Validé") %>, un devis peut être signalé comme :
      </p>
      
      <ul class="quote_caption">
        <li><%= image_tag("/images/cancel_16x16.png", :alt => "Annulé", :title => "Annulé") %> <strong>annulé</strong>, car le devis est incorrect et doit être modifié</li>
        <li><%= image_tag("/images/send_to_customer_16x16.png", :alt => "Envoyé", :title => "Envoyé") %> <strong>envoyé</strong>, car le devis a été envoyé au client</li>
        <li><%= image_tag("/images/sign_16x16.png", :alt => "Signé", :title => "Signé") %> <strong>signé</strong>, car le devis (ou un bon de commande) a été signé par le client</li>
      </ul>
      
      <p>Vous pouvez voir ci-contre la légende utilisée :</p>
    </div>
    
    <div>
      <table>
        <tr class="quote">
          <td>Devis incomplet</td>
        </tr>
        <tr class="quote <%= Quote::STATUS_CANCELLED %>_quote">
          <td>Devis annulé</td>
        </tr>
        <tr class="quote <%= Quote::STATUS_CONFIRMED %>_quote">
          <td>Devis validé</td>
        </tr>
        <tr class="quote <%= Quote::STATUS_SENDED %>_quote">
          <td>Devis envoyé</td>
        </tr>
        <tr class="quote <%= Quote::STATUS_SIGNED %>_quote">
          <td>Devis signé</td>
        </tr>
      </table>
    </div>
  </div>
  
  <p>
    <%= link_to "Plus de détails", '#quote_list_more', :id => 'quotes_list_more_infos_link' %>
  </p>
  
  <h2>Devis</h2>
  <%= render :partial => 'quotes/quotes_list', :object => @step.order.quotes %>
  <%= display_quote_add_link(@step.order) if is_form_view? %>
</div>
