<%= order_header %>

<% content_for :header do -%>
  <%= javascript_include_tag 'sales/quotes_list' %>
<% end -%>

<h1>Chiffrage</h1>

<div>
  <p>
    L'étape de chiffrage permet d'établir le devis pour la commande en cours.<br/>
    Vous avez la possibilité de rédiger autant de devis que vous le souhaitez, mais seul UN devis peut être validé à la fois.<br/>
    L'étape de chiffrage est automatiquement clôturé lorsqu'un devis est déclaré comme <strong>signé</strong>.
  </p>
  
  <div class="presentation_in_columns" id="quotes_list_more_infos" style="display:none">
    <div>
      <p>
        Après avoir été validé <%= image_tag("/images/#{Quote::STATUS_VALIDATED}_16x16.png", :alt => "Valider", :title => "Valider") %>, un devis peut être signalé comme :
      </p>
      
      <ul class="quote_caption">
        <li><%= image_tag("/images/#{Quote::STATUS_INVALIDATED}_16x16.png", :alt => "Invalider", :title => "Invalider") %> <strong>invalidé</strong>, car le devis est incorrect et doit être modifié</li>
        <li><%= image_tag("/images/#{Quote::STATUS_SENDED}_16x16.png", :alt => "Envoyer", :title => "Envoyer") %> <strong>envoyé</strong>, car le devis a été envoyé au client</li>
        <li><%= image_tag("/images/#{Quote::STATUS_SIGNED}_16x16.png", :alt => "Signer", :title => "Signer") %> <strong>signé</strong>, car le devis (ou un bon de commande) a été signé par le client</li>
      </ul>
      
      <p>Vous pouvez voir ci-contre la légende utilisée :</p>
    </div>
    
    <div>
      <table>
        <tr class="quote">
          <td>Devis incomplet</td>
        </tr>
        <tr class="quote <%= Quote::STATUS_INVALIDATED %>_quote">
          <td>Devis invalidé</td>
        </tr>
        <tr class="quote <%= Quote::STATUS_VALIDATED %>_quote">
          <td>Devis validé</td>
        </tr>
        <tr class="quote <%= Quote::STATUS_SENDED %>_quote">
          <td>Devis envoyé</td>
        </tr>
        <tr class="quote <%= Quote::STATUS_SIGNED %>_quote">
          <td>Devis signé</td>
        </tr>
      </table>
    </div>
  </div>
  
  <p>
    <%= link_to "Plus de détails", '#quote_list_more', :id => 'quotes_list_more_infos_link' %>
  </p>
  
  <h2>Devis</h2>
  <%= render :partial => 'quotes/quotes_list', :object => @step.quotes %>
  <%= display_quote_add_button if is_form_view? %>
</div>

<!-- Osibox initialisation -->
<% #osibox_initialisation(@step, "/orders/#{@order.id}/survey/documents/") %>
