<div class="presentation_large">
<% form_for @reference do |form| %>
<%= form.error_messages %>
  <h2>Rérérence</h2>
  <p>
    <%= form.label :reference %>
    <%= form.form_or_view(form.text_field(:reference), :reference) %>
  </p>
  <p>
    <%= form.label :name %>
    <%= form.form_or_view(form.text_field(:name), :name) %>
  </p>
  <p>
    <%= form.label :description %>
    <%= form.form_or_view(form.text_area(:description, :rows => "5", :cols => "50"), :description) %>
  </p>
  <p>
    <%= form.label :information %>
    <%= form.form_or_view(form.text_field(:information), :information) %>
  </p>
  <p>
    <%= form.label :product_reference_category_id %>
    <%= form.form_or_view(form.collection_select_with_indentation(:product_reference_category_id, @categories, :id, :name, {:indentation => 15}), :product_reference_category, :name) %>
  </p>

  <h2>Informations concernant la production</h2>
  <p>
    <%= form.label :production_cost_manpower %>
    <%= form.form_or_view(form.text_field(:production_cost_manpower), :production_cost_manpower) %>
  </p>
  <p>
    <%= form.label :production_time %>
    <%= form.form_or_view(form.text_field(:production_time), :production_time) %>
  </p>

  <h2>Informations concernant la livraison</h2>
  <p>
    <%= form.label :delivery_cost_manpower %>
    <%= form.form_or_view(form.text_field(:delivery_cost_manpower), :delivery_cost_manpower) %>
  </p>
  <p>
    <%= form.label :delivery_time %>
    <%= form.form_or_view(form.text_field(:delivery_time), :delivery_time) %>
  </p>

  <p><%= form.submit(submit_button_name) if defined?(submit_button_name) %></p>
<% end %>
</div>
