<h1>Modifier <%= @reference.name %></h1>
<div class="frame">
<% form_for @reference do |reference| %>
  <%= reference.error_messages %>
  <%= render :partial => "form", :locals => {:reference => reference} %>
  <%= reference.submit "Modifier"%> &brvbar; <%= link_to( "Retour", :controller => 'product_reference_manager', :action => 'index' ) %>
<% end %>
</div>