<% if @category %>

  <h3>Modifier <%= @category.name %></h3>

  <% form_for @category do |category| %>
             <%= category.error_messages %>
    <fieldset>
      <h3>Famille</h3>
      <p>
        <%= category.label :name, "Nom"%><br/>
        <%= category.text_field :name %>
      </p>
  
      <p>
        <%= category.label :product_reference_category_id, "Parent" %>
        <%= category.collection_select(:product_reference_category_id, @categories, :id, :name, options = {:include_blank => '-- Racine --'}) %>
      </p>
          <%= category.submit "Modifier"%> &brvbar; <%= link_to( "Retour", :action => 'index' ) %>
    </fieldset>
  <% end %>

<% else %>
  
  <h3>Modifier <%= @reference.name %></h3>

  <% form_for @reference do |reference| %>
             <%= reference.error_messages %>
    <fieldset>
      <h3>Référence</h3>
      <p>
        <%= reference.label :name, "Nom" %><br />
        <%= reference.text_field :name %>
      </p>
  
      <p>
        <%= reference.label :description, "Description" %><br />
        <%= reference.text_field :description %>
      </p>
  
      <p>
        <%= reference.label :information, "Information complémentaire" %><br />
        <%= reference.text_field :information %>
      </p>
  
      <p>
        <%= reference.label :product_reference_category_id, "Famille" %>
        <%= reference.collection_select(:product_reference_category_id, @categories, :id, :name, {}) %>
      </p>
  
      <fieldset>
        <h3>Production</h3>
        <p>
          <%= reference.label :production_cost_manpower, "Co&ucirc;t de main-d'oeuvre" %><br />
          <%= reference.text_field :production_cost_manpower %>
        </p>
    
        <p>
          <%= reference.label :production_time, "Dur&eacute;e" %><br />
          <%= reference.text_field :production_time %>
        </p>
      </fieldset>
  
      <fieldset>
        <h3>Livraison</h3>
        <p>
          <%= reference.label :delivery_cost_manpower, "Co&ucirc;t de main-d'oeuvre" %><br />
          <%= reference.text_field :delivery_cost_manpower %>
        </p>
    
        <p>
          <%= reference.label :delivery_time, "Durée" %><br />
          <%= reference.text_field :delivery_time %>
        </p>
      </fieldset>
          <%= reference.submit "Modifier"%> &brvbar; <%= link_to( "Retour", :action => 'index' ) %>
    </fieldset>
  <% end %>
<% end %>