<script type="text/javascript">
osibox_wall = 'osibox_wall';
osibox_popup = 'osibox_popup';

osibox_wall_elm = document.getElementById('osibox_wall');
osibox_popup_elm = document.getElementById('osibox_popup');

osibox_wall_elm.remove();
osibox_popup_elm.remove();
</script>
<div style="visibility: hidden;
						position: absolute;
						left: 0px;
						top: 0px;
						right: 0px;
						bottom: 0px;
						z-index: 999;
						background-color: <%= options[:wall_color] %>;
						opacity: <%= options[:wall_opacity] %>;
						-moz-opacity: <%= options[:wall_opacity] %>;
						filter:alpha(opacity=<%= options[:wall_opacity] * 100 %>);"
	id="osibox_wall">
</div>

<div style="visibility: hidden;
						position: absolute;
						top: 0px;
						left: 0px;
						z-index: 1000;
						padding: 8px;
						overflow: auto;
						-moz-border-radius: <%= options[:border_radius] %>;
						border: <%= options[:border_size] %> <%= options[:border_type] %> <%= options[:border_color] %>;
						background-color: <%= options[:background_color] %>;
						<% unless options[:height].nil? %>
						height: <%= options[:height] %>;
						<% end %>
						<% unless options[:width].nil? %>
						width: <%= options[:width] %>;
						<% end %>
						<% if options[:scroll] %>
						overflow: scroll;
						<% end %>"
	id="osibox_popup">
	<a style="float: right; font-size: 12px;" onclick="osibox_close();">Fermer</a><br>
	<% if !options[:partial].nil? %>
		<%= render :partial => options[:partial] %>
	<% elsif !options[:url].empty? %>
		<%= render_component options[:url] %>
	<% else %>
	 <% raise ArgumentError, "Partial or url missing" %>
	<% end %>
</div>
<script type="text/javascript">
document.body.appendChild(osibox_wall_elm);
document.body.appendChild(osibox_popup_elm);

function osibox_open () {
	osibox_wall_elm = document.getElementById('osibox_wall');
	osibox_popup_elm = document.getElementById('osibox_popup');

	var top = (document.body.offsetHeight - osibox_popup_elm.offsetHeight) / 2;
	if (top < 10) {
		top = 10;
	};
	var left = (document.body.offsetWidth - osibox_popup_elm.offsetWidth) / 2;
	if (left < 10) {
		left = 10;
	};
	
	osibox_popup_elm.style.top = top + document.scrollTop + 'px';
	osibox_popup_elm.style.left = left + 'px';
	osibox_wall_elm.style.top = document.scrollTop;
	
	osibox_wall_elm.style.visibility = 'visible';
	osibox_popup_elm.style.visibility = 'visible';
	document.body.style.overflow = 'hidden';
	
	Effect.Grow(osibox_wall_elm);
	Effect.Grow(osibox_popup_elm);
}

function osibox_close () {
	osibox_wall_elm = document.getElementById('osibox_wall');
	osibox_popup_elm = document.getElementById('osibox_popup');
	
	Effect.Fade(osibox_wall_elm);
	Effect.Fade(osibox_popup_elm);

	document.body.style.overflow = '';
}
</script>