<%
invoice = invoice_in_one_line
status = invoice.status ? " #{invoice.status}_invoice" : ''
title = invoice.status ? " title=\"#{invoice.status.titleize} invoice\"" : ''

due_date = invoice.upcoming_due_date || invoice.due_dates.last
%>

<tr class="invoice<%= status %>"<%= title %>>
  <td><%= invoice.reference %></td>
  <td><%= invoice.published_on.humanize if invoice.published_on and invoice.confirmed_at %></td>
  <td><%= invoice.invoice_type.title %></td>
  <td><%= invoice.net_to_paid.to_f.round_to(2).to_s(2) %></td>
  <td><%= due_date.date.humanize %></td>
  <td><%= due_date.net_to_paid.to_f.round_to(2).to_s(2) %></td>
  <td><%= invoice.sended_on.humanize if invoice.sended_on %></td>
  <% if @order.customer.factorised? %>
    <td></td>
  <% end %>
  <td><%= invoice.was_totally_paid_on.humanize if invoice.was_totally_paid? %></td>
  <td></td>
  <td class="actions"><%= display_invoice_action_buttons(@order, invoice) %></td>
</tr>
