<% content_for :header do -%>
  <%= stylesheet_link_tag_with_theme_support 'core/has_resources/has_resources' %>
  <%= stylesheet_link_tag_with_theme_support 'core/has_contacts/has_contacts' %>
  <%= javascript_include_tag 'core/has_resources/resources_picker' %>
<% end -%>

<%
require_locals form

invoice                 = invoice_header
order                   = invoice.order
default_bill_to_address = order.customer.bill_to_address
quote                   = invoice.associated_quote
delivery_notes          = invoice.delivery_note_invoices.collect(&:delivery_note)
%>

<div id="invoice_header">
  <h3>Informations générales</h3>
  <p>
    <%= form.label :invoice_type_id %>
    <%= form.hidden_field :invoice_type_id if is_form_view? %>
    <%= strong(invoice.invoice_type.title) if invoice.invoice_type %> <%= link_to( "(Changer le type de facture ?)", new_order_invoicing_step_invoice_step_invoice_path ) if invoice.new_record? %>
  </p>
  
  <p>
    <%= form.label :published_on %>
    <%= form.form_or_view(form.date_select(:published_on, { :order => [ :day, :month, :year ] }), :published_on, :humanize) %>
  </p>
  
  <p>
    <%= form.label :factor_id %>
    <% if is_form_view? %>
      <% factor = order.customer.factor ? [ order.customer.factor ] : [] %>
      <%= form.collection_select :factor_id, factor, :id, :name_and_fullname, { :include_blank => "Aucun (facture non factorisée)" }, { :disabled => invoice.can_be_factorised? ? nil : Factor.all, :onchange => "javascript:toggle_disable_of_select_number_of_due_dates()" } %>
    <% else %>
      <%= strong( invoice.factor ? invoice.factor.name_and_fullname : "Aucun (facture non factorisée)") %>
    <% end %>
  </p>
  
  <div id="contact_container">
    <h3>Contact de facturation</h3>
    <p>
      <%= label :select_contacts, "À l'attention de " %>
      <%= display_contacts_picker(invoice, order.contacts) %>
    </p>
  </div>
  
  <div>
    <h3>Adresse de facturation</h3>
    <%= render :partial => 'addresses/address_form', :object => invoice.bill_to_address || invoice.build_bill_to_address(default_bill_to_address.attributes), :locals => { :address_owner => invoice } %>
  </div>
  
  <h3>Références</h3>
  <p>
    <label>Devis signé :</label>
    <%= link_to(quote.public_number, order_commercial_step_estimate_step_quote_path(order, quote)) %>
    <%= link_to(image_tag("mime_type_extensions/pdf_16x16.png"), order_commercial_step_estimate_step_quote_path(order, quote, :format => :pdf)) %>
  </p>
  
  <div class="form_multiple_entries">
    <%= form.label :delivery_note_invoices %>
    <div class="collection">
      <% for delivery_note in delivery_notes %>
        <div class="object">
          <label>
            <%= link_to(delivery_note.reference, order_pre_invoicing_step_delivery_step_delivery_note_path(order, delivery_note)) %>
            <%= link_to(image_tag("mime_type_extensions/pdf_16x16.png"), order_pre_invoicing_step_delivery_step_delivery_note_path(order, delivery_note, :format => :pdf)) %>
          </label>
        </div>
      <% end %>
      
    </div>
  </div>
</div>
