<% content_for :header do -%>
  <%= stylesheet_link_tag_with_theme_support 'core/has_contacts/has_contacts' %>
<% end -%>

<%
require_locals form

invoice                 = invoice_header
order                   = invoice.order
contacts_owners         = order.customer.head_office_and_establishments
default_bill_to_address = order.customer.bill_to_address
quote                   = invoice.signed_quote
delivery_notes          = invoice.delivery_note_invoices.collect(&:delivery_note)
%>

<div id="invoice_header">
  <h3>Informations générales</h3>
  <p>
    <%= form.label :invoice_type_id %>
    <%= form.hidden_field :invoice_type_id if is_form_view? %>
    <%= strong(invoice.invoice_type.title) if invoice.invoice_type %> <%= link_to( "(Changer le type de facture ?)", new_order_invoicing_step_invoice_step_invoice_path ) if invoice.new_record? %>

    <%= form.label :invoicing_actor_id %>
    <%= form.form_or_view(form.collection_select(:invoicing_actor_id, Employee.all, :id, :fullname, :include_blank => invoice.new_record? ? "Veuillez sélectionner un employé" : false), :invoicing_actor, :fullname) %>
  </p>
  
  <p>
    <%= form.label :published_on %>
    <% if form.form_view? %>
      <%= form.calendar_date_select :published_on %> <% if invoice.was_uncomplete? and invoice.published_on.blank? %><span class="help_text">Laisser vide pour mettre automatiquement la date de validation</span><% end %>
    <% else %>
      <%= strong l(invoice.published_on, :format => :long) %>
    <% end %>
  </p>
  
  <p>
    <%= form.label :factor_id %>
    <% if is_form_view? %>
      <% factor = order.customer.factor ? [ order.customer.factor ] : [] %>
      <%= form.collection_select :factor_id, factor, :id, :name_and_fullname, { :include_blank => "Aucun (facture non factorisée)" }, { :disabled => invoice.can_be_factorised? ? nil : Factor.all, :onchange => "javascript:toggle_disable_of_select_number_of_due_dates()" } %>
    <% else %>
      <%= strong( invoice.factor ? invoice.factor.name_and_fullname : "Aucun (facture non factorisée)") %>
    <% end %>
  </p>
  
  <div class="presentation_in_columns">
    <div class="small">
      <h3>Adresse de facturation</h3>
      <%= render :partial => 'addresses/address_form', :object => invoice.bill_to_address || invoice.build_bill_to_address(default_bill_to_address.attributes), :locals => { :address_owner => invoice } %>
    </div>
    
    <div id="contact_container">
      <h3>Contact de facturation</h3>
      <p>
        <%= label :select_contacts, "À l'attention de " %>
        <%= display_contact_picker(invoice, invoice.order_and_customer_contacts, :form => form,
                                                                                 :contact_key => "invoice_contact",
                                                                                 :contacts_owners => contacts_owners) %>
      </p>
    </div>
  </div>
  
  <h3>Références</h3>
  <p>
    <label>Devis signé :</label>
    <%= link_to(quote.reference, order_commercial_step_quote_step_quote_path(order, quote)) %>
    <%= link_to(image_tag("mime_type_extensions/pdf_16x16.png"), order_commercial_step_quote_step_quote_path(order, quote, :format => :pdf)) %>
  </p>
  
  <div class="form_multiple_entries">
    <%= form.label :delivery_note_invoices %>
    <div class="collection">
      <% for delivery_note in delivery_notes %>
        <div class="object">
          <label>
            <%= link_to(delivery_note.reference, order_production_step_delivery_step_delivery_note_path(order, delivery_note)) %>
            <%= link_to(image_tag("mime_type_extensions/pdf_16x16.png"), order_production_step_delivery_step_delivery_note_path(order, delivery_note, :format => :pdf)) %>
          </label>
        </div>
      <% end %>
      
    </div>
  </div>
</div>
