<% quote = transition_table_for_deposit_invoice %>

<h2 class="warning">Facture d'acompte en attente de création</h2>
<p>Le devis pour cette affaire a été signé, vous pouvez créer la facture d'acompte correspondante.</p>

<div class="autoscroll">
  <table>
    <thead>
      <tr>
        <th>Réf.</th>
        <th>Émis&nbsp;le</th>
        <th>Signé&nbsp;le</th>
        <th>Nb Produits</th>
        <th>Total&nbsp;TTC</th>
        <th>Acompte demandé&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr class="quote">
        <td>
          <%= context_menu(quote, 'quote', :display_checkbox => false) %>
          <%= quote.reference %>
        </td>
        <td><%= quote.confirmed_on.humanize %></td>
        <td><%= quote.signed_on.humanize %></td>
        <td><%= quote.number_of_products %></td>
        <td><%= quote.net_to_paid.to_f.round_to(2).to_s(2) %>&nbsp;&euro;</td>
        <td><%= quote.deposit %>&nbsp;%</td>
      </tr>
    </tbody>
  </table>
</div>

<hr/>
