<% delivery_notes = transition_table_for_other_invoices %>

<h2 class="warning">Facture de situation/solde en attente de création</h2>
<p>Un ou plusieurs Bon de Livraison sont prêts à être facturés.</p>

<table>
  <tr>
    <th>Réf.</th>
    <th>Émis le</th>
    <th>Ville</th>
    <th>Livraison effectuée le</th>
    <th>Signé le</th>
    <th>Nb produits<br/>facturables&#160;/&#160;livrés</th>
    <th>Nb produits<br/>total (devis)</th>
    <th>Actions</th>
  </tr>
  <% for dn in delivery_notes %>
    <tr>
      <td><%= dn.reference %></td>
      <td><%= dn.published_on.humanize %></td>
      <td><%= dn.ship_to_address.city_name %></td>
      <td><%= dn.delivered_delivery_intervention.delivery_at.humanize %></td>
      <td><%= dn.signed_on.humanize %></td>
      <td><%= "#{dn.number_of_delivered_pieces} / #{dn.number_of_pieces}" %></td>
      <td><%= dn.associated_quote.number_of_pieces %></td>
      <td><%= display_transform_delivery_note_in_invoice(dn) %></td>
    </tr>
  <% end %>
</table>
