<%= order_header %>

<%= generate_invoice_contextual_menu_partial %>

<%= title 'Signaler que la facture a été abandonée (déclarée "sans suite")' %>

<div class="presentation_medium">
  <%= render :partial => 'invoices_list', :object => [ Invoice.find(@invoice.id) ] %>
  
	<% form_for @invoice, :url => { :controller => "invoices", :action => "abandon", :order_id => @order.id }, :method => :put do |form| %>
    <%= form.error_messages %>
    <p>
      <%= form.label :abandoned_comment %>
      <%= form.text_area_autoresize :abandoned_comment %>
    </p>
    
    <%= form.form_buttons(:only => [:reset, :submit]) %>
  <% end %>
</div>
