<%= order_header %>

<%= javascript_include_tag 'sales/invoice' %>

<h1>Signaler le règlement partiel de la facture par le CLIENT</h1>

<div class="presentation_medium">
  <%= render :partial => 'invoices_list', :object => [ Invoice.find(@invoice.id) ] %>
  
	<% form_for @invoice, :url  => { :controller => "invoices", :action => "due_date_pay", :order_id => @order.id },
	                      :html => { :onsubmit  => 'return confirm("Attention !! Les informations que vous avez entrés ne pourront plus être modifié. Merci de vérifier les informations avant de valider. Êtes-vous sûr de vouloir continuer ?")',
	                                 :method    => :put,
	                                 :multipart => true } do |form| %>
    <div id="due_dates">
      <%= render :partial => 'due_date_payment', :collection => @invoice.due_dates %>
    </div>
    
    <%= form.form_buttons %>
  <% end %>
</div>
