<% content_for :header do -%>
  <%= javascript_include_tag 'sales/invoice' %>
  <%= stylesheet_link_tag_with_theme_support 'sales/invoice' %>
<% end -%>

<%= order_header %>

<%= generate_invoice_contextual_menu_partial %>

<%= title "Signaler le règlement du solde de la facture par le FACTOR" %>

<div class="presentation_medium">
  <%= render :partial => 'invoices_list', :object => [ Invoice.find(@invoice.id) ] %>
  
	<% form_for @invoice, :url => { :controller => "invoices", :action => "factoring_balance_pay", :order_id => @order.id }, :html => { :onsubmit => 'return confirm("Attention !! Les informations que vous avez entrés ne pourront plus être modifié. Merci de vérifier les informations avant de valider. Êtes-vous sûr de vouloir continuer ?")', :method => :put } do |form| %>
    <div class="due_dates">
      <%= render :partial => 'factoring_balance_payment', :collection => @invoice.due_dates %>
    </div>
    
    <%= form.form_buttons(:only => [:reset, :submit]) %>
  <% end %>
</div>
