<% content_for :header do %>
  <%= javascript_include_tag 'sales/delivery_interventions' %>
  <%= stylesheet_link_tag_with_theme_support 'sales/delivery_note' %>
<% end %>

<%
require_locals delivery_note, order

header = if params[:action].starts_with?("schedule")
  "Planifier une intervention de type \"#{delivery_note.delivery_note_type.title}\""
elsif params[:action].starts_with?("realize")
  "Signaler la réalisation d'une intervention"
else
  "Informations concernant l'intervention"
end

disable_realize_tab = params[:action].starts_with?('schedule') || !delivery_intervention.realized?

select_realize_tab = params[:action].starts_with?('realize') || delivery_intervention.was_realized?
select_schedule_tab = !select_realize_tab

action = params[:action].gsub('_form', '')
%>

<div>
  <h2>Bon de livraison</h2>
  <%= render :partial => 'delivery_notes/delivery_notes', :object => [ delivery_note ] %>
</div>

<h1><%= header %></h1>

<%
delivery_intervention_errors = { :schedule     => delivery_intervention.errors.any? && delivery_intervention.scheduled? ? 'errors' : '',
                                 :realisation  => delivery_intervention.errors.any? && delivery_intervention.realized? ? 'errors' : '' }
%>

<% if params[:action].starts_with?("schedule") and delivery_intervention.outdated? %>
  
  <div class="presentation_medium">
    <% form_for(delivery_intervention, :url => { :controller => 'delivery_notes', :action => :realize, :return_uri => order_pre_invoicing_step_delivery_step_delivery_note_schedule_form_path(order, delivery_note) }, :html => { :method => :put }) do |form| %>
      <%= form.error_messages %>
      <%= render :partial => 'delivery_interventions/delivery_intervention_outdated', :object => delivery_intervention, :locals => { :form => form } %>
    <% end %>
  </div>
  
<% else %>

  <div class="presentation_medium root_nav standard">
    
    <% tab_navigator :delivery_intervention_nav do |t| %>
      <% t.nav_buttons do %>
        <%= t.tab :schedule,    "Planification", :class => delivery_intervention_errors[:schedule],
                                                 :selected => select_schedule_tab %>
        <%= t.tab :realisation, "Réalisation",   :class => delivery_intervention_errors[:realisation],
                                                 :selected => select_realize_tab,
                                                 :disabled => disable_realize_tab %>
      <% end %>
      
      <% form_for(delivery_intervention, :url => { :controller => 'delivery_notes', :action => action }, :html => { :method => :put, :multipart => true }) do |form| %>
        
        <% t.content_for :schedule do |parent| %>
          <%= form.error_messages unless delivery_intervention_errors[:schedule].blank? %>
          <%= render :partial => 'delivery_interventions/delivery_intervention_schedule', :object => delivery_intervention, :locals => { :form => form } %>
        <% end %>
        
        <% t.content_for :realisation do |parent| %>
          <% unless params[:action].starts_with?("schedule") %>
            <%= form.error_messages unless delivery_intervention_errors[:realisation].blank? %>
            <%= render :partial => 'delivery_interventions/delivery_intervention_realisation', :object => delivery_intervention, :locals => { :form => form } %>
          <% end %>
        <% end %>
        
        <%= form.form_buttons %>
      <% end %>
    <% end %>
  </div>

<% end %>
