<p class="text_form">
  <%= third.label :third_name, "Nom" %>
  <%= third.text_field :name  %>
</p>
  
<p class="text_form">
  <% third.label :third_legal_form, "Forme juridique" %>
  <%= third.text_field :legal_form %>
</p>
  
<p class="text_form">
  <%= third.label :third_siret_number, "Num&eacute;ro Siret"%>
  <%= third.text_field :siret_number %>
</p>
  
<p class="text_form">
  <%= third.label :third_activity_sector, "Secteur d'activit&eacute;"%>
  <%= my_text_field_with_auto_complete(:activity_sector, :name, {:index => 1, :value => activity_sector, :url => {:controller => 'customers'},:skip_style => false }, {:skip_style => false,:select => 'activity_sector_name',
     :with => "'value='+document.getElementById('new_activity_sector1_name').value"})%>
 <%=  javascript_tag "document.getElementById('new_activity_sector1_name').value = '#{activity_sector}'"%>
</p>
  
<p class="text_form">
  <%= third.label :third_activities, "Activit&eacute;s" %>
  <%= third.text_field :activities  %>
</p>
  
<p class="text_form">
  <%= third.label :third_banking_informations, "Informations bancaires" %>
  <%= third.text_field :banking_informations %>
</p>
  
<p>
  <%= third.label :third_type_id, "Type de tiers" %>
  <%= third.select("third_type_id", ThirdType.find(:all).collect {|a| [ a.wording, a.id ] })%>
</p>
  
<p>
  <%= third.label :third_note, "Note du tiers" %>
  <%= third.select("note", {"0" => 0, "1" => 1, "2"=> 2, "3" => 3, "4" => 4, "5"=> 5})%>
</p>