<h1>Modifier un fournisseur </h1>

  <% form_for(@supplier) do |supplier| %>
    <%= supplier.error_messages %>
    <%= render :partial => 'thirds/third', :locals => {:third => supplier, :third_ => @supplier, :activity_sector_name => @activity_sector, :iban_ => @supplier.iban} %>
    
    <div class="frame">
      <h2> Contacts</h2> 
      <% if @contacts.length > 0 -%>
        <% for contact in @contacts %>
          <p>
            <%= contact.first_name + " " + contact.last_name %>
            <%= link_to "Plus d'infos", edit_supplier_contact_path(@supplier, contact,:owner_type => "Supplier") %>
            <%= link_to("Supprimer", [@supplier,  contact], :method => :delete, :confirm => 'Etes vous sûr ?') %>
          <p>
        <%end%>   
      <%end%>
      <%= display_contact_form(@supplier, @error, params)%>
    </div>

    <%= supplier.submit  'Modifier' %> <%= link_to 'Retour', suppliers_path %>
  <% end %>