<h1>Informations concernant le client </h1>
<div class="cadre">

<p>
  <%= label :supplier_name, "Nom" %>
  <%= @supplier.name %>
</p>
<p>
  <b>Forme l&eacute;gale:</b>
  <%= @supplier.legal_form %>
</p>
<p>
  <b>Numéro Siret:</b>
  <%= @supplier.siret_number %>
</p>
<p>
  <b>Secteur d'activité:</b>
  <%= @supplier.activity_sector.name %>
</p>
<p>
  <b>Activités:</b>
  <%= @supplier.activities %>
</p>
<p>
  <b>Note:</b>
<%= @supplier.note %>
</p>
<p>
  <b>Type de client:</b>
  <%= @supplier.third_type.wording %>
</p>

<%= link_to 'Retour', :action => 'index' %>
</div>


