<% content_for :header do %>
  <%= stylesheet_link_tag_with_theme_support "thirds/thirds" %>
<% end %>
<div>
  <% form_for forwarder, :html => { :multipart => true } do |form| %>
    <%= form.error_messages %>
    
    <div class="presentation_medium">
      <h2 class="forwarder_informations">Informations g&eacute;n&eacute;rales</h2>
      <div class="forwarder_informations">
        <%= render :partial => "forwarder_main_info", :object => forwarder, :locals => { :form => form } %>
      </div>
      
      <h2 class="forwarder_conveyances">Moyens de transport</h2>
      <div class="forwarder_conveyances">
        <% unless is_form_view? %>
          <% if forwarder.conveyances.empty? %>
            <%= "<p>Aucun moyen de transport n'est associé à ce transporteur</p> " %>
          <% else %>
            <%= forwarder.conveyances.collect{ |conveyance| conveyance.name + "<br />" }%>
          <% end %>
        <% else %>
            <p>Veuillez choisir dans la liste les diff&eacute;rents transports que vous souhaitez attribuer &agrave; ce transporteur. </p>
            <p>Vous pouvez choisir plusieurs transport en maintenant la touche CTRL enfoncé et en cliquant sur les transports</p>
            <p><%= form.collection_select(:forwarder_conveyance_ids, Conveyance.all, :id, :name, {}, { :index => nil, :multiple => true } ) %></p>
          <br />
        <% end %>
      </div>
      
      <h2 class="forwarder_departures">Points de d&eacute;part</h2>
      <div class="forwarder_departures">
        <%= display_departures_list(forwarder) %>
        <%= display_departure_add_button(forwarder) if is_form_view? %>
      </div>
      
      <h2 class="forwarder_additional_informations">Informations suppl&eacute;mentaires</h2>
      <div class="forwarder_additional_informations">
        <%= render :partial => "thirds/third_additional_info", :object => forwarder, :locals => { :form  => form } %>
      </div>
    </div>
    
    <%= form.form_buttons %>
  <% end %>
</div>
