<% forwarder = forwarder_in_one_line %>
<% form ||= nil %>

<tr class="forwarder resource">
  
  <td><%= forwarder.name %></td>
  <td><%= forwarder.conveyances.collect{ |conveyance| conveyance.name + "<br />" } %></td>
  <td><%= forwarder.departures.collect{ |departure| departure.formatted + "<br />" } %></td>
  <td>
    <% if forwarder.activated %>
      <%= "<span class=\"activated\">Oui</span>" %>
    <% else %>
      <%= "<span class=\"deactivated\">Non</span>"%>
    <% end %>
  </td>
  
  <%= "<td>#{display_forwarder_buttons(forwarder) unless is_form_view?}</td>" unless is_new_view? or is_edit_view? %>
</tr>
