<% content_for :header do -%>
  <%= javascript_include_tag 'thirds/thirds' %>
  <%= stylesheet_link_tag_with_theme_support 'thirds/thirds' %>
  <%= javascript_include_tag 'core/has_resources/has_resources' %>
  <%= stylesheet_link_tag_with_theme_support 'core/has_resources/has_resources' %>
<% end -%>

<%= generate_forwarder_contextual_menu_partial(@forwarder) %>

<% 
#contextual_search_for_forwarder
%>

<h1>Nouveau transporteur</h1>
<%= render :partial => @forwarder %>
