<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="author" content="Oxydium - SUPINFO PS1"/>
		<meta name="category" content="ERP"/>
		<meta name="publisher" content="Oxydium - SUPINFO PS1"/>
		<meta name="copyright" content="Oxydium - SUPINFO PS1"/>
		<link rel="stylesheet" media="screen" type="text/css" title="Design" href="<%= @stylesheet %>"/>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <%= javascript_include_tag :defaults %>
    <%= yield :header %>
		<title>Page d'accueil - Intranet d'EMR [Enseigne, Maintenance Réunion]</title>
	</head>
	<body>

<div id="all_page">
									<!-- BANNIERE -->
		<div id="banner">
			<div id="logo"> 
				<span id="welcome_message">Bienvenue, Oxydium</span>
			</div>	
			<div id="background_banner">
				<div id="block_button_banner">
          <div id="button_on_banner">
            <a class="button_banner" href="">
              <span>Ma page d'accueil</span>
						</a>
            <a class="button_banner" href="">
							<span>Rechercher</span>
						</a>
						<a class="button_banner" href="">
							<span>Se déconnecter</span>
						</a>
					</div>
					<div id="banner_datetime">
						<p>Nous sommes le Samedi 6 Avril et il est 03H30.</p>
					</div>
				</div>
			</div>
		</div>						<!-- SOUS-BANNIERE -->
		<div id="under_banner">
      <%= yield :memorandums %>
		</div>
	<div id="block_body"><!-- REGROUPS THE WHOLE OF THE WEBSITE WITH THE EXCEPTION OF BANNERS -->	
		<div id="menu">				<!-- MENU PRINCIPAL-->	
      <%= yield :vertical_menu %>
		</div>
		<div id="page">	<!-- CONTENT OF THE PAGE -->
			<div id="secondary_menu"> <!-- SECONDARY MENU -->
				<div class="shown_secondary_menu" id="secondary_menu_toggle_button">
					<span id="status_background_secondary_menu">
						<span id="status_text_secondary_menu">Cacher le menu</span>
					</span>
				</div>
				<div id="shadow_secondary_menu">
					<div id="content_secondary_menu">
            <%= yield :secondary_menu %>
					</div>
				</div>
			</div>
			<div id="content_page">

						<!-- MENU HORIZONTAL -->
<!--Conseil :____________________________________________
			écrire le menu de bas en haut pour avoir	|
			un ordre hiérarchique de gauche à droite    |
			____________________________________________|-->
				<div id="horizontal_menu">
          <%= yield :horizontal_menu %>
				</div>
        <div id="empty">
          <!-- Permet de contrer le float du menu horizontal en mettant une marge qui englobe celui-ci -->
        </div>
				<!--div class="flash_container"><span class="flash_notice"><span>Connexion réussie</span></span></div-->
				<div class="flash_container"><span class="flash_error"><span>Erreur lors de la connexion.</span></span></div>
        <%= yield %>
		<h1>Configurer les permissions</h1>
		<div class="tabs">
			<ul>
				<li class="selected" title="Gestion des permissions en fonction des rôles">
					<a href="/permissions/role_permissions">Rôles</a>
				</li>
				<li title="Gestion des permissions en fonction des objets métiers">
					<a href="/permissions/business_object_permissions">Objets métiers</a>
				</li>
				<li  title="Gestion des permissions en fonction des types de documents">
					<a href="/permissions/document_permissions">Types de document</a>
				</li>
				<li  title="Gestion des permissions en fonction des menus">
					<a href="/permissions/menu_permissions">Menus</a>
				</li>
				<li  title="Gestion des permissions en fonction des plannings">
					<a href="/permissions/calendar_permissions">Plannings</a>
				</li>
			</ul>
		</div>
		<div class="frame tabulation">
			<h2>Test H2</h2>
			<h3>Test H3</h3>
		  	<ul>
		      	<li>
		        	<a href="">admin</a>
		      	</li>
		 		<li>
		        	<a href="">guest</a>
		      	</li>
		  	</ul>
		</div>
		<div class="frame presentation_medium">
		<form action="/employees/1" class="edit_employee" enctype="multipart/form-data" id="edit_employee_1" method="post"><div style="margin: 0pt; padding: 0pt;"><input name="_method" value="put" type="hidden"><input name="authenticity_token" value="b1810d683d1ce07231d8a048dda848f4b003fac0" type="hidden"></div>

		  <h2>Fiche d'identité</h2>
		  <p>
		    <label for="employee_civility">Civilité :</label>
		    <select id="employee_civility_id" name="employee[civility_id]"><option value="1" selected="selected">Mr</option>
		<option value="2">Mme</option>
		<option value="3">Mademoiselle</option></select>  
		  </p>

		  <p>
		    <label for="employee_last_name">Nom :</label>
		    <input id="employee_last_name" name="employee[last_name]" size="30" value="DOE" type="text">
		  </p>
		  <p>
		    <label for="employee_first_name">Prénom :</label>
		    <input id="employee_first_name" name="employee[first_name]" size="30" value="John" type="text">
		  </p>

		  <p>
		    <label for="employee_birth_date">Date de naissance :</label>
		    <select id="employee_birth_date_3i" name="employee[birth_date(3i)]">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>

		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>
		<option value="13">13</option>
		<option value="14">14</option>

		<option value="15">15</option>
		<option value="16">16</option>
		<option value="17">17</option>
		<option value="18">18</option>
		<option value="19">19</option>
		<option value="20">20</option>
		<option value="21">21</option>
		<option value="22">22</option>
		<option value="23">23</option>

		<option value="24">24</option>
		<option value="25">25</option>
		<option value="26">26</option>
		<option value="27">27</option>
		<option value="28">28</option>
		<option value="29">29</option>
		<option selected="selected" value="30">30</option>
		<option value="31">31</option>
		</select>

		<select id="employee_birth_date_2i" name="employee[birth_date(2i)]">
		<option value="1">Janvier</option>
		<option value="2">Février</option>
		<option value="3">Mars</option>
		<option value="4">Avril</option>
		<option value="5">Mai</option>
		<option value="6">Juin</option>
		<option value="7">Juillet</option>
		<option value="8">Août</option>

		<option selected="selected" value="9">Septembre</option>
		<option value="10">Octobre</option>
		<option value="11">Novembre</option>
		<option value="12">Décembre</option>
		</select>
		<select id="employee_birth_date_1i" name="employee[birth_date(1i)]">
		<option value="1900">1900</option>
		<option value="1901">1901</option>
		<option value="1902">1902</option>
		<option value="1903">1903</option>

		<option value="1904">1904</option>
		<option value="1905">1905</option>
		<option value="1906">1906</option>
		<option value="1907">1907</option>
		<option value="1908">1908</option>
		<option value="1909">1909</option>
		<option value="1910">1910</option>
		<option value="1911">1911</option>
		<option value="1912">1912</option>

		<option value="1913">1913</option>
		<option value="1914">1914</option>
		<option value="1915">1915</option>
		<option value="1916">1916</option>
		<option value="1917">1917</option>
		<option value="1918">1918</option>
		<option value="1919">1919</option>
		<option value="1920">1920</option>
		<option value="1921">1921</option>

		<option value="1922">1922</option>
		<option value="1923">1923</option>
		<option value="1924">1924</option>
		<option value="1925">1925</option>
		<option value="1926">1926</option>
		<option value="1927">1927</option>
		<option value="1928">1928</option>
		<option value="1929">1929</option>
		<option value="1930">1930</option>

		<option value="1931">1931</option>
		<option value="1932">1932</option>
		<option value="1933">1933</option>
		<option value="1934">1934</option>
		<option value="1935">1935</option>
		<option value="1936">1936</option>
		<option value="1937">1937</option>
		<option value="1938">1938</option>
		<option value="1939">1939</option>

		<option value="1940">1940</option>
		<option value="1941">1941</option>
		<option value="1942">1942</option>
		<option value="1943">1943</option>
		<option value="1944">1944</option>
		<option value="1945">1945</option>
		<option value="1946">1946</option>
		<option value="1947">1947</option>
		<option value="1948">1948</option>

		<option value="1949">1949</option>
		<option value="1950">1950</option>
		<option value="1951">1951</option>
		<option value="1952">1952</option>
		<option value="1953">1953</option>
		<option value="1954">1954</option>
		<option value="1955">1955</option>
		<option value="1956">1956</option>
		<option value="1957">1957</option>

		<option value="1958">1958</option>
		<option value="1959">1959</option>
		<option value="1960">1960</option>
		<option value="1961">1961</option>
		<option value="1962">1962</option>
		<option value="1963">1963</option>
		<option value="1964">1964</option>
		<option value="1965">1965</option>
		<option value="1966">1966</option>

		<option value="1967">1967</option>
		<option value="1968">1968</option>
		<option value="1969">1969</option>
		<option value="1970">1970</option>
		<option value="1971">1971</option>
		<option value="1972">1972</option>
		<option value="1973">1973</option>
		<option value="1974">1974</option>
		<option value="1975">1975</option>

		<option value="1976">1976</option>
		<option value="1977">1977</option>
		<option value="1978">1978</option>
		<option value="1979">1979</option>
		<option value="1980">1980</option>
		<option value="1981">1981</option>
		<option value="1982">1982</option>
		<option value="1983">1983</option>
		<option value="1984">1984</option>

		<option value="1985">1985</option>
		<option value="1986">1986</option>
		<option value="1987">1987</option>
		<option selected="selected" value="1988">1988</option>
		<option value="1989">1989</option>
		<option value="1990">1990</option>
		<option value="1991">1991</option>
		<option value="1992">1992</option>
		<option value="1993">1993</option>

		</select>

		  </p>
		  <p>
		    <label for="employee_family_situation">Situation familiale :</label>
		    <select id="employee_family_situation_id" name="employee[family_situation_id]"><option value="1" selected="selected">Célibataire</option>
		<option value="2">Marié(e)</option>
		<option value="3">Veuf/Veuve</option>
		<option value="4">Divorcé(e)</option></select>

		  </p>
		  <p>
		    <label for="social_security_number">N° sécurité sociale :</label>
		    <input class="disable-stylesheet-width" id="social_security_number[0]" maxlength="13" name="social_security_number[0]" size="11" value="1234567891234" type="text">
		<input class="disable-stylesheet-width" id="social_security_number[1]" maxlength="2" name="social_security_number[1]" size="1" value="45" type="text">
		  </p>
		  <!--#####################################-->

		  <h2>Coordonnées</h2>

		  <h3>Adresse postale</h3>
		  <p>
		    <label for="employee[address][address1]">Adresse :</label> 
		    <input id="employee[address][address1]" name="employee[address][address1]" value="1 rue des rosiers" type="text"> - <input id="employee[address][address2]" name="employee[address][address2]" value="" type="text">
		  </p>
		  <p>
		    <label for="employee_address_country_name">Pays</label>

		    <style type="text/css">        div.auto_complete {
		          width: 350px;
		          background: #fff;
		        }
		        div.auto_complete ul {
		          border:1px solid #888;
		          margin:0;
		          padding:0;
		          width:100%;
		          list-style-type:none;
		        }
		        div.auto_complete ul li {
		          margin:0;
		          padding:3px;
		        }
		        div.auto_complete ul li.selected {
		          background-color: #ffb;
		        }
		        div.auto_complete ul strong.highlight {
		          color: #800; 
		          margin:0;
		          padding:0;
		        }
		</style><input autocomplete="off" id="employee_address_country_name" name="employee[address][country][name]" size="30" type="text"></p><div style="display: none;" class="auto_complete" id="employee_address_country_name_auto_complete"></div><script type="text/javascript">
		//<![CDATA[
		var employee_address_country_name_auto_completer = new Ajax.Autocompleter('employee_address_country_name', 'employee_address_country_name_auto_complete', '/addresses/auto_complete_for_country_name', {callback:function(element, value) { return 'value='+document.getElementById('employee_address_country_name').value }, parameters:'authenticity_token=' + encodeURIComponent('b1810d683d1ce07231d8a048dda848f4b003fac0'), select:'country_name'})
		//]]>
		</script>    

		    <p>
		    <label for="employee_address_city_name">Ville</label>
		    <style type="text/css">        div.auto_complete {
		          width: 350px;
		          background: #fff;
		        }
		        div.auto_complete ul {
		          border:1px solid #888;
		          margin:0;
		          padding:0;
		          width:100%;
		          list-style-type:none;
		        }
		        div.auto_complete ul li {
		          margin:0;
		          padding:3px;
		        }
		        div.auto_complete ul li.selected {
		          background-color: #ffb;
		        }
		        div.auto_complete ul strong.highlight {
		          color: #800; 
		          margin:0;
		          padding:0;
		        }
		</style><input autocomplete="off" id="employee_address_city_name" name="employee[address][city][name]" size="30" type="text"></p><div style="display: none;" class="auto_complete" id="employee_address_city_name_auto_complete"></div><script type="text/javascript">
		//<![CDATA[
		var employee_address_city_name_auto_completer = new Ajax.Autocompleter('employee_address_city_name', 'employee_address_city_name_auto_complete', '/addresses/auto_complete_for_city_name', {callback:function(element, value) { return 'value='+document.getElementById('employee_address_city_name').value+
		        '&country_name='+document.getElementById('employee_address_country_name').value }, parameters:'authenticity_token=' + encodeURIComponent('b1810d683d1ce07231d8a048dda848f4b003fac0'), select:'city_name'})
		//]]>
		</script>    

		    <p>
		    <label for="employee_address_city_zip_code">Code Postal</label>
		    <style type="text/css">        div.auto_complete {
		          width: 350px;
		          background: #fff;
		        }
		        div.auto_complete ul {
		          border:1px solid #888;
		          margin:0;
		          padding:0;
		          width:100%;
		          list-style-type:none;
		        }
		        div.auto_complete ul li {
		          margin:0;
		          padding:3px;
		        }
		        div.auto_complete ul li.selected {
		          background-color: #ffb;
		        }
		        div.auto_complete ul strong.highlight {
		          color: #800; 
		          margin:0;
		          padding:0;
		        }

		</style><input autocomplete="off" id="employee_address_city_zip_code" name="employee[address][city][zip_code]" size="30" type="text"></p><div style="display: none;" class="auto_complete" id="employee_address_city_zip_code_auto_complete"></div><script type="text/javascript">
		//<![CDATA[
		var employee_address_city_zip_code_auto_completer = new Ajax.Autocompleter('employee_address_city_zip_code', 'employee_address_city_zip_code_auto_complete', '/addresses/auto_complete_for_city_zip_code', {callback:function(element, value) { return 'value='+document.getElementById('employee_address_city_zip_code').value+
		        '&country_name='+document.getElementById('employee_address_country_name').value }, parameters:'authenticity_token=' + encodeURIComponent('b1810d683d1ce07231d8a048dda848f4b003fac0'), select:'city_zip_code'})
		//]]>
		</script>    

		    <script type="text/javascript">
		//<![CDATA[
		document.getElementById('employee_address_country_name').value='Réunion'
		//]]>
		</script>
		    <script type="text/javascript">
		//<![CDATA[
		document.getElementById('employee_address_city_name').value = 'Saint-Denis'
		//]]>
		</script>
		    <script type="text/javascript">
		//<![CDATA[
		document.getElementById('employee_address_city_zip_code').value = '97400'
		//]]>
		</script>



		    <script type="text/javascript">
		//<![CDATA[
		new Form.Element.Observer('employee_address_country_name', 0.1, function(element, value) {new Ajax.Request('/addresses/country_change', {asynchronous:true, evalScripts:true, parameters:'country_name='+encodeURIComponent(document.getElementById('employee_address_country_name').value)+
		            '&city_name='+encodeURIComponent(document.getElementById('employee_address_city_name').value)+
		            '&city_zip_code='+encodeURIComponent(document.getElementById('employee_address_city_zip_code').value)+
		            '&address_name=employee' + '&authenticity_token=' + encodeURIComponent('b1810d683d1ce07231d8a048dda848f4b003fac0')})})
		//]]>
		</script>

		      <script type="text/javascript">
		//<![CDATA[
		new Form.Element.Observer('employee_address_city_name', 0.1, function(element, value) {new Ajax.Request('/addresses/city_name_change', {asynchronous:true, evalScripts:true, parameters:'country_name='+encodeURIComponent(document.getElementById('employee_address_country_name').value)+
		            '&city_name='+encodeURIComponent(document.getElementById('employee_address_city_name').value)+
		            '&address_name=employee' + '&authenticity_token=' + encodeURIComponent('b1810d683d1ce07231d8a048dda848f4b003fac0')})})
		//]]>
		</script>


		  <script type="text/javascript">
		//<![CDATA[
		new Form.Element.Observer('employee_address_city_zip_code', 0.1, function(element, value) {new Ajax.Request('/addresses/city_zip_code_change', {asynchronous:true, evalScripts:true, parameters:'country_name='+encodeURIComponent(document.getElementById('employee_address_country_name').value)+
		            '&city_zip_code='+encodeURIComponent(document.getElementById('employee_address_city_zip_code').value)+
		            '&address_name=employee' + '&authenticity_token=' + encodeURIComponent('b1810d683d1ce07231d8a048dda848f4b003fac0')})})
		//]]>
		</script>


		  <h3>Adresses électroniques</h3>
		  <p>
		    <label for="employee_email">Email personnel :</label>
		    <input id="employee_email" name="employee[email]" size="30" value="john@doe.com" type="text">
		  </p>
		  <p>

		    <label for="employee_society_email">Email professionnel :</label>
		    <input id="employee_society_email" name="employee[society_email]" size="30" value="john.doe@society.com" type="text">
		  </p>
		  <h3>Numéros de téléphone</h3>
		  <div id="add_lines_employee">




		        <!-- le <p> est ouvers à la ligne ci-dessous avec un id -->
		        <p id="employee_number_0">       
		        <select id="employee_numbers__0_indicative_id" name="employee[numbers][0][indicative_id]"><option value="1" selected="selected">+262</option>

		<option value="2">+33</option>
		<option value="3">+34</option>
		<option value="4">+44</option>
		<option value="5">+49</option>
		<option value="6">+81</option>
		<option value="7">+86</option>
		<option value="8">+1</option></select>
		        <input class="disable-stylesheet-width" id="employee[numbers][0][number]" maxlength="9" name="employee[numbers][0][number]" size="7" value="692123456" type="text">
		        <select id="employee_numbers__0_number_type_id" name="employee[numbers][0][number_type_id]"><option value="1" selected="selected">Mobile</option>

		<option value="2">Fixe</option>
		<option value="3">Fax</option>
		<option value="4">Mobile Professionnel</option>
		<option value="5">Fixe Professionnel</option>
		<option value="6">Fax Professionnel</option></select>
		        <input checked="checked" id="employee[numbers][0][visible]" name="employee[numbers][0][visible]" value="true" type="checkbox">
		        &nbsp;Visible par tous &nbsp;
		        <a href="#" onclick="if (confirm('Etes vous sur?')) { new Ajax.Request('/employees/remove_line?attribute=employee&amp;deleted_id=1&amp;rem=0', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('b1810d683d1ce07231d8a048dda848f4b003fac0')}); }; return false;"><img src="/images/delete_16x16.png" alt="Enlever le numéro" title="Enlever le numéro"></a>


		      </p>
		        <!-- le <p> est ouvers à la ligne ci-dessous avec un id -->
		        <p id="employee_number_1">       
		        <select id="employee_numbers__1_indicative_id" name="employee[numbers][1][indicative_id]"><option value="1" selected="selected">+262</option>
		<option value="2">+33</option>
		<option value="3">+34</option>
		<option value="4">+44</option>
		<option value="5">+49</option>
		<option value="6">+81</option>

		<option value="7">+86</option>
		<option value="8">+1</option></select>
		        <input class="disable-stylesheet-width" id="employee[numbers][1][number]" maxlength="9" name="employee[numbers][1][number]" size="7" value="262987654" type="text">
		        <select id="employee_numbers__1_number_type_id" name="employee[numbers][1][number_type_id]"><option value="1">Mobile</option>
		<option value="2" selected="selected">Fixe</option>
		<option value="3">Fax</option>
		<option value="4">Mobile Professionnel</option>
		<option value="5">Fixe Professionnel</option>

		<option value="6">Fax Professionnel</option></select>
		        <input checked="checked" id="employee[numbers][1][visible]" name="employee[numbers][1][visible]" value="true" type="checkbox">
		        &nbsp;Visible par tous &nbsp;
		        <a href="#" onclick="if (confirm('Etes vous sur?')) { new Ajax.Request('/employees/remove_line?attribute=employee&amp;deleted_id=2&amp;rem=1', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('b1810d683d1ce07231d8a048dda848f4b003fac0')}); }; return false;"><img src="/images/delete_16x16.png" alt="Enlever le numéro" title="Enlever le numéro"></a>

		      </p>



		    <p>
		      <span id="employee_add_link"><a href="#" onclick="new Ajax.Request('/employees/add_line?attribute=employee&amp;opt=2', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('b1810d683d1ce07231d8a048dda848f4b003fac0')}); return false;"><img src="/images/add_16x16.png" alt="Ajouter le numéro" title="Ajouter le numéro"></a></span>
		    </p>


		</div>

		  <!--#####################################-->

		  <h2>Coordonnées bancaires</h2>
		  <p>
		    <label for="iban[bank_name]">Nom de la banque :</label> 
		    <input class="disable-stylesheet-width" id="iban[bank_name]" maxlength="17" name="iban[bank_name]" size="15" value="Bred" type="text">
		  </p>
		  <p>

		    <label for="iban[bank_code]">Code bancaire :</label> 
		    <input class="disable-stylesheet-width" id="iban[bank_code]" maxlength="5" name="iban[bank_code]" size="3" value="12345" type="text">
		  </p>
		  <p>
		    <label for="iban[branch_code]">Code guichet :</label> 
		    <input class="disable-stylesheet-width" id="iban[branch_code]" maxlength="5" name="iban[branch_code]" size="3" value="12345" type="text">
		  </p>
		   <p>
		    <label for="iban[account_number]">N° de compte :</label> 
		    <input class="disable-stylesheet-width" id="iban[account_number]" maxlength="10" name="iban[account_number]" size="8" value="2147483647" type="text">

		  </p>
		   <p>
		    <label for="iban[key]">Clé :</label> 
		    <input class="disable-stylesheet-width" id="iban[key]" maxlength="2" name="iban[key]" size="1" value="12" type="text">
		  </p>
		   <p>
		    <label for="iban[account_name]">Nom du titulaire :</label> 
		    <input id="iban[account_name]" name="iban[account_name]" type="text">
		  </p>

		  <h2>Fiche de poste</h2>
		  <p>
		    </p><div>
		      <table>
		        <tbody><tr>
		          <th colspan="2">Services</th>
		          <th>Responsable?</th>

		        </tr>      

		        <tr>
		          <td>
		            <input checked="checked" id="employee[service_ids][]" name="employee[service_ids][]" value="1" type="checkbox"> <!-- @numbers is define only in 'edit' and 'update' methods then if it is null we are using 'new' or 'create' method -->
		          </td>
		          <td>
		            Direction Générale
		          </td>
		          <td>

		            <input id="responsable[1]" name="responsable[1]" value="1" type="checkbox">
		          </td>
		        </tr>

		        <tr>
		          <td>
		            <input id="employee[service_ids][]" name="employee[service_ids][]" value="2" type="checkbox"> <!-- @numbers is define only in 'edit' and 'update' methods then if it is null we are using 'new' or 'create' method -->
		          </td>
		          <td>

		            Service Administratif
		          </td>
		          <td>
		            <input id="responsable[2]" name="responsable[2]" value="2" type="checkbox">
		          </td>
		        </tr>

		        <tr>
		          <td>
		            <input id="employee[service_ids][]" name="employee[service_ids][]" value="3" type="checkbox"> <!-- @numbers is define only in 'edit' and 'update' methods then if it is null we are using 'new' or 'create' method -->

		          </td>
		          <td>
		            Service Commercial
		          </td>
		          <td>
		            <input id="responsable[3]" name="responsable[3]" value="3" type="checkbox">
		          </td>
		        </tr>

		        <tr>

		          <td>
		            <input id="employee[service_ids][]" name="employee[service_ids][]" value="4" type="checkbox"> <!-- @numbers is define only in 'edit' and 'update' methods then if it is null we are using 'new' or 'create' method -->
		          </td>
		          <td>
		            Production
		          </td>
		          <td>
		            <input id="responsable[4]" name="responsable[4]" value="4" type="checkbox">
		          </td>

		        </tr>

		        <tr>
		          <td>
		            <input id="employee[service_ids][]" name="employee[service_ids][]" value="5" type="checkbox"> <!-- @numbers is define only in 'edit' and 'update' methods then if it is null we are using 'new' or 'create' method -->
		          </td>
		          <td>
		            Atelier Décor
		          </td>
		          <td>

		            <input id="responsable[5]" name="responsable[5]" value="5" type="checkbox">
		          </td>
		        </tr>

		        <tr>
		          <td>
		            <input id="employee[service_ids][]" name="employee[service_ids][]" value="6" type="checkbox"> <!-- @numbers is define only in 'edit' and 'update' methods then if it is null we are using 'new' or 'create' method -->
		          </td>
		          <td>

		            Atelier Découpe
		          </td>
		          <td>
		            <input id="responsable[6]" name="responsable[6]" value="6" type="checkbox">
		          </td>
		        </tr>

		        <tr>
		          <td>
		            <input id="employee[service_ids][]" name="employee[service_ids][]" value="7" type="checkbox"> <!-- @numbers is define only in 'edit' and 'update' methods then if it is null we are using 'new' or 'create' method -->

		          </td>
		          <td>
		            Atelier Fraisage
		          </td>
		          <td>
		            <input id="responsable[7]" name="responsable[7]" value="7" type="checkbox">
		          </td>
		        </tr>

		      </tbody></table>

		    </div>

		  <div id="jobs_choice">
		    <div id="jobs_list">
		      <table>
		        <tbody><tr>
		          <th colspan="2">Fonctions</th>
		        </tr>

		      </tbody></table>

		    </div>
		    <p>
		      <a onclick="osibox_open();" style="text-decoration: underline;">Ajouter une fonction</a>
		    </p>
		  <!-- Display Documents div -->



		    <span id="main_submit">
		      <button type="submit" class="input-button">
		  	    <span>Modifier</span>

		      </button>
		      <a href="/employees">Retour</a>
		    </span>
		  </div>
		</form>
	</div>
		            <h1>Paramètres de base de l'entreprise</h1>
		<div class="tabs"><ul><li class="selected" title="Configuration des paramètres globaux de l'entreprise"><a href="/society_configurations/society_identity_configuration">Paramètres globaux</a></li><li title="Gestion des secteurs d'activités"><a href="/society_configurations/society_activity_sectors">Secteurs d'activités</a></li><li title="Gestion des services"><a href="/society_configurations/services">Services</a></li></ul></div>

		<div class="frame tabulation presentation_small">
		  <h1>Les paramètres globaux de l'entreprise</h1>
			<h2>Informations Générales</h2>
			<p>
			  <label for="admin_society_identity_configuration_name"><strong>Entreprise : </strong></label>EMR
			</p>
			<p>
			  <label for="admin_society_identity_configuration_siret"><strong>Numéro SIRET : </strong></label>01234567891234
			</p>
			<p>
			  <label for="admin_society_identity_configuration_phone"><strong>Numéro de téléphone :  </strong></label>0692001122
			</p>
			<p>
			  <label for="admin_society_identity_configuration_fax"><strong>Numéro de fax : </strong></label>0692001123
			</p>
			<h2>Coordonnées</h2>
			<p>
			  <label for="admin_society_identity_configuration_address_first_line"><strong>Adresse :</strong></label>32, Rue des pommes&nbsp;-&nbsp;Batiment Rouge
			</p>
			<p>
			  <label for="admin_society_identity_configuration_address_zip"><strong>Code Postal :</strong></label>97400
			</p>
			<p>
			  <label for="admin_society_identity_configuration_address_town"><strong>Ville :</strong></label>Sainte-Clotilde    
			</p>
			<p>
			  <label for="admin_society_identity_configuration_address_country"><strong>Pays :</strong></label>France - Réunion    
			</p>
			<h2>Informations complémentaires</h2>
			<p>
			  <label for="admin_society_identity_configuration_domain"><strong>Nom de domaine :</strong></label>emr-oi.com
			</p>
			<h2>Calendrier</h2>
			<p>
				<label for="admin_society_identity_configuration_working_day"><strong>Jours ouvrables :</strong></label>
				Lundi<input name="admin_society_identity_configuration_working_day[]" value="0" checked="checked" disabled="disabled" type="checkbox">
				Mardi<input name="admin_society_identity_configuration_working_day[]" value="1" checked="checked" disabled="disabled" type="checkbox">
				Mercredi<input name="admin_society_identity_configuration_working_day[]" value="2" checked="checked" disabled="disabled" type="checkbox">
				Jeudi<input name="admin_society_identity_configuration_working_day[]" value="3" checked="checked" disabled="disabled" type="checkbox">
				Vendredi<input name="admin_society_identity_configuration_working_day[]" value="4" checked="checked" disabled="disabled" type="checkbox">
				Samedi<input name="admin_society_identity_configuration_working_day[]" value="5" disabled="disabled" type="checkbox">
				Dimanche<input name="admin_society_identity_configuration_working_day[]" value="6" disabled="disabled" type="checkbox">
			</p>
			<a href="/society_identity_configuration/edit">Modifier</a>
		</div>
		<h1>Liste de menu</h1>
		<div class="frame">
		  <div class='hierarchic'><ul class="parent"><li class="category">Administration<span class="action"><img alt="Monter" src="/images/arrow_up_disable_16x16.png?1221822209" title="Monter" /> <a href="/menus/move_down/3"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/3/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><ul><li class="category">Utilisateurs<span class="action"><img alt="Monter" src="/images/arrow_up_disable_16x16.png?1221822209" title="Monter" /> <a href="/menus/move_down/17"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/17/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><li class="category">Rôles<span class="action"><a href="/menus/move_up/4"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/4"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/4/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><li class="category">Navigation<span class="action"><a href="/menus/move_up/18"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/18"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/18/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><li class="category">Contenus<span class="action"><a href="/menus/move_up/23"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/23"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/23/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><ul><li class="category">Versions de contenus<span class="action"><img alt="Monter" src="/images/arrow_up_disable_16x16.png?1221822209" title="Monter" /> <img alt="Descendre" src="/images/arrow_down_disable_16x16.png?1221822209" title="Descendre" /> <a href="/menus/24/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li></ul><li class="category">Configuration de l'entreprise<span class="action"><a href="/menus/move_up/5"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/5"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/5/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><ul><li class="category">Paramètres globaux<span class="action"><img alt="Monter" src="/images/arrow_up_disable_16x16.png?1221822209" title="Monter" /> <a href="/menus/move_down/6"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/6/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><li class="category">Secteurs d'activités<span class="action"><a href="/menus/move_up/8"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/8"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/8/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><li class="category">Services<span class="action"><a href="/menus/move_up/7"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <img alt="Descendre" src="/images/arrow_down_disable_16x16.png?1221822209" title="Descendre" /> <a href="/menus/7/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li></ul><li class="category">Sécurité<span class="action"><a href="/menus/move_up/9"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/9"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/9/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><li class="category">Recherche<span class="action"><a href="/menus/move_up/10"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/10"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/10/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><li class="category">Permissions<span class="action"><a href="/menus/move_up/12"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/12"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/12/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><ul><li class="category">Rôles<span class="action"><img alt="Monter" src="/images/arrow_up_disable_16x16.png?1221822209" title="Monter" /> <a href="/menus/move_down/16"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/16/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><li class="category">Objets métiers<span class="action"><a href="/menus/move_up/13"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/13"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/13/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><li class="category">Types de document<span class="action"><a href="/menus/move_up/14"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/14"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/14/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><li class="category">Menus<span class="action"><a href="/menus/move_up/15"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/15"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/15/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><li class="category">Plannings<span class="action"><a href="/menus/move_up/20"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <img alt="Descendre" src="/images/arrow_down_disable_16x16.png?1221822209" title="Descendre" /> <a href="/menus/20/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li></ul><li class="category">Modules<span class="action"><a href="/menus/move_up/11"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <img alt="Descendre" src="/images/arrow_down_disable_16x16.png?1221822209" title="Descendre" /> <a href="/menus/11/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li></ul><li class="category">Downloads<span class="action"><a href="/menus/move_up/1"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/1"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/1/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><li class="category">Compte utilisateur<span class="action"><a href="/menus/move_up/2"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/2"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/2/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><li class="category">Documents<span class="action"><a href="/menus/move_up/19"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/19"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/19/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><li class="category">Calendrier<span class="action"><a href="/menus/move_up/21"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/21"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/21/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><ul><li class="category">Evenements<span class="action"><img alt="Monter" src="/images/arrow_up_disable_16x16.png?1221822209" title="Monter" /> <img alt="Descendre" src="/images/arrow_down_disable_16x16.png?1221822209" title="Descendre" /> <a href="/menus/22/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li></ul><li class="category">Logistique<span class="action"><a href="/menus/move_up/25"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/25"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/25/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><ul><li class="category">Gestion des matières premières<span class="action"><img alt="Monter" src="/images/arrow_up_disable_16x16.png?1221822209" title="Monter" /> <a href="/menus/move_down/26"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/26/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><ul><li class="category">Matières premières<span class="action"><img alt="Monter" src="/images/arrow_up_disable_16x16.png?1221822209" title="Monter" /> <a href="/menus/move_down/27"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/27/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><li class="category">Catégories de matières premières<span class="action"><a href="/menus/move_up/28"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <img alt="Descendre" src="/images/arrow_down_disable_16x16.png?1221822209" title="Descendre" /> <a href="/menus/28/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li></ul><li class="category">Gestion des inventaires<span class="action"><a href="/menus/move_up/29"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <img alt="Descendre" src="/images/arrow_down_disable_16x16.png?1221822209" title="Descendre" /> <a href="/menus/29/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><ul><li class="category">Gestion des matières premières des inventaires<span class="action"><img alt="Monter" src="/images/arrow_up_disable_16x16.png?1221822209" title="Monter" /> <img alt="Descendre" src="/images/arrow_down_disable_16x16.png?1221822209" title="Descendre" /> <a href="/menus/30/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li></ul></ul><li class="category">Notes de service<span class="action"><a href="/menus/move_up/31"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/31"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/31/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><ul><li class="category">Notes de service reçus<span class="action"><img alt="Monter" src="/images/arrow_up_disable_16x16.png?1221822209" title="Monter" /> <a href="/menus/move_down/32"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/32/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><li class="category">Notes de service envoyées<span class="action"><a href="/menus/move_up/33"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <img alt="Descendre" src="/images/arrow_down_disable_16x16.png?1221822209" title="Descendre" /> <a href="/menus/33/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li></ul><li class="category">Produits<span class="action"><a href="/menus/move_up/34"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/34"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/34/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><ul><li class="category">Catalogue des produits et références<span class="action"><img alt="Monter" src="/images/arrow_up_disable_16x16.png?1221822209" title="Monter" /> <a href="/menus/move_down/35"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/35/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><li class="category">Gestion des références produits<span class="action"><a href="/menus/move_up/36"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <img alt="Descendre" src="/images/arrow_down_disable_16x16.png?1221822209" title="Descendre" /> <a href="/menus/36/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><ul><li class="category">Gestion des catégories<span class="action"><img alt="Monter" src="/images/arrow_up_disable_16x16.png?1221822209" title="Monter" /> <a href="/menus/move_down/37"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/37/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><li class="category">Gestion des références<span class="action"><a href="/menus/move_up/38"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <img alt="Descendre" src="/images/arrow_down_disable_16x16.png?1221822209" title="Descendre" /> <a href="/menus/38/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li></ul></ul><li class="category">Ressources Humaines<span class="action"><a href="/menus/move_up/39"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/39"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/39/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><ul><li class="category">Personnel<span class="action"><img alt="Monter" src="/images/arrow_up_disable_16x16.png?1221822209" title="Monter" /> <img alt="Descendre" src="/images/arrow_down_disable_16x16.png?1221822209" title="Descendre" /> <a href="/menus/40/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><ul><li class="category">Fonctions<span class="action"><img alt="Monter" src="/images/arrow_up_disable_16x16.png?1221822209" title="Monter" /> <a href="/menus/move_down/41"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/41/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><li class="category">Contrat de travail<span class="action"><a href="/menus/move_up/42"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/42"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/42/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><li class="category">Primes<span class="action"><a href="/menus/move_up/43"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/43"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/43/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><li class="category">Salaires<span class="action"><a href="/menus/move_up/44"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <img alt="Descendre" src="/images/arrow_down_disable_16x16.png?1221822209" title="Descendre" /> <a href="/menus/44/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li></ul></ul><li class="category">Tiers<span class="action"><a href="/menus/move_up/45"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/45"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/45/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><ul><li class="category">Fournisseurs<span class="action"><img alt="Monter" src="/images/arrow_up_disable_16x16.png?1221822209" title="Monter" /> <a href="/menus/move_down/46"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/46/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><li class="category">Clients<span class="action"><a href="/menus/move_up/47"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/47"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/47/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><ul><li class="category">Etablissement du Client<span class="action"><img alt="Monter" src="/images/arrow_up_disable_16x16.png?1221822209" title="Monter" /> <img alt="Descendre" src="/images/arrow_down_disable_16x16.png?1221822209" title="Descendre" /> <a href="/menus/48/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li></ul><li class="category">Contacts de Client<span class="action"><a href="/menus/move_up/49"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <img alt="Descendre" src="/images/arrow_down_disable_16x16.png?1221822209" title="Descendre" /> <a href="/menus/49/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li></ul><li class="category">Prospect<span class="action"><a href="/menus/move_up/50"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/50"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/50/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><ul><li class="category">Etude commerciale<span class="action"><img alt="Monter" src="/images/arrow_up_disable_16x16.png?1221822209" title="Monter" /> <img alt="Descendre" src="/images/arrow_down_disable_16x16.png?1221822209" title="Descendre" /> <a href="/menus/51/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><ul><li class="category">Conception graphique<span class="action"><img alt="Monter" src="/images/arrow_up_disable_16x16.png?1221822209" title="Monter" /> <a href="/menus/move_down/52"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/52/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><li class="category">Devis<span class="action"><a href="/menus/move_up/53"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/53"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/53/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><li class="category">Visite commerciale<span class="action"><a href="/menus/move_up/54"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <img alt="Descendre" src="/images/arrow_down_disable_16x16.png?1221822209" title="Descendre" /> <a href="/menus/54/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li></ul></ul><li class="category">Ventes<span class="action"><a href="/menus/move_up/55"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/55"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/55/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><ul><li class="category">Cloturés<span class="action"><img alt="Monter" src="/images/arrow_up_disable_16x16.png?1221822209" title="Monter" /> <a href="/menus/move_down/56"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/56/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><li class="category">Archivés<span class="action"><a href="/menus/move_up/57"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/57"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/57/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><li class="category">Facturation<span class="action"><a href="/menus/move_up/58"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <img alt="Descendre" src="/images/arrow_down_disable_16x16.png?1221822209" title="Descendre" /> <a href="/menus/58/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li></ul><li class="category">Dossier de commande<span class="action"><a href="/menus/move_up/59"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <a href="/menus/move_down/59"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/59/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><ul><li class="category">Informations de commande<span class="action"><img alt="Monter" src="/images/arrow_up_disable_16x16.png?1221822209" title="Monter" /> <a href="/menus/move_down/60"><img alt="Descendre" src="/images/arrow_down_16x16.png?1221822209" title="Descendre" /></a> <a href="/menus/60/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li><li class="category">Historiques<span class="action"><a href="/menus/move_up/61"><img alt="Monter" src="/images/arrow_up_16x16.png?1221822209" title="Monter" /></a> <img alt="Descendre" src="/images/arrow_down_disable_16x16.png?1221822209" title="Descendre" /> <a href="/menus/61/edit"><img alt="Modifier" src="/images/edit_16x16.png?1221822209" title="Modifier" /></a> <img alt="Supprimer" src="/images/delete_disable_16x16.png?1221822209" title="Supprimer" /></span></li></ul></ul></div>

		  <a href="/menus/new">Ajouter</a>
		</div>
		<!--|||||||||||||||||||||||||   IIIICCCCIIII |||||||||||||||||||||||||||||||-->
		<div class="frame presentation_medium">
		<form action="/employees/1" class="edit_employee" enctype="multipart/form-data" id="edit_employee_1" method="post"><div style="margin: 0pt; padding: 0pt;"><input name="_method" value="put" type="hidden"><input name="authenticity_token" value="8efd1f658333c99f8c62321a5e24761b5bcaca3c" type="hidden"></div>
		  <div class="errorExplanation" id="errorExplanation"><h2>3 erreurs sont survenues lors de la sauvegarde</h2><p>Les champs suivants ne sont pas valides :</p><ul><li>Social security number format numéro de sécurité social incorrect</li><li>First name ne peut être vide</li><li>Last name ne peut être vide</li></ul></div> 
		  <h2>Fiche d'identité</h2>
		  <p>
		    <label for="employee_civility">Civilité :</label>
		    <select id="employee_civility_id" name="employee[civility_id]"><option value="1" selected="selected">Mr</option>

		<option value="2">Mme</option>
		<option value="3">Mademoiselle</option></select>  
		  </p>
		  <p>
		    </p><div class="fieldWithErrors"><label for="employee_last_name">Nom :</label></div>
		    <div class="fieldWithErrors"><input id="employee_last_name" name="employee[last_name]" size="30" value="" type="text"></div>

		  <p>
		    </p><div class="fieldWithErrors"><label for="employee_first_name">Prénom :</label></div>

		    <div class="fieldWithErrors"><input id="employee_first_name" name="employee[first_name]" size="30" value="" type="text"></div>

		  <p>
		    <label for="employee_birth_date">Date de naissance :</label>
		    <select id="employee_birth_date_3i" name="employee[birth_date(3i)]">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>

		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>
		<option value="13">13</option>

		<option value="14">14</option>
		<option value="15">15</option>
		<option value="16">16</option>
		<option value="17">17</option>
		<option value="18">18</option>
		<option value="19">19</option>
		<option value="20">20</option>
		<option value="21">21</option>
		<option value="22">22</option>

		<option value="23">23</option>
		<option value="24">24</option>
		<option value="25">25</option>
		<option value="26">26</option>
		<option value="27">27</option>
		<option value="28">28</option>
		<option value="29">29</option>
		<option selected="selected" value="30">30</option>
		<option value="31">31</option>

		</select>
		<select id="employee_birth_date_2i" name="employee[birth_date(2i)]">
		<option value="1">Janvier</option>
		<option value="2">Février</option>
		<option value="3">Mars</option>
		<option value="4">Avril</option>
		<option value="5">Mai</option>
		<option value="6">Juin</option>
		<option value="7">Juillet</option>
		<option value="8">Août</option>

		<option selected="selected" value="9">Septembre</option>
		<option value="10">Octobre</option>
		<option value="11">Novembre</option>
		<option value="12">Décembre</option>
		</select>
		<select id="employee_birth_date_1i" name="employee[birth_date(1i)]">
		<option value="1900">1900</option>
		<option value="1901">1901</option>
		<option value="1902">1902</option>
		<option value="1903">1903</option>

		<option value="1904">1904</option>
		<option value="1905">1905</option>
		<option value="1906">1906</option>
		<option value="1907">1907</option>
		<option value="1908">1908</option>
		<option value="1909">1909</option>
		<option value="1910">1910</option>
		<option value="1911">1911</option>
		<option value="1912">1912</option>

		<option value="1913">1913</option>
		<option value="1914">1914</option>
		<option value="1915">1915</option>
		<option value="1916">1916</option>
		<option value="1917">1917</option>
		<option value="1918">1918</option>
		<option value="1919">1919</option>
		<option value="1920">1920</option>
		<option value="1921">1921</option>

		<option value="1922">1922</option>
		<option value="1923">1923</option>
		<option value="1924">1924</option>
		<option value="1925">1925</option>
		<option value="1926">1926</option>
		<option value="1927">1927</option>
		<option value="1928">1928</option>
		<option value="1929">1929</option>
		<option value="1930">1930</option>

		<option value="1931">1931</option>
		<option value="1932">1932</option>
		<option value="1933">1933</option>
		<option value="1934">1934</option>
		<option value="1935">1935</option>
		<option value="1936">1936</option>
		<option value="1937">1937</option>
		<option value="1938">1938</option>
		<option value="1939">1939</option>

		<option value="1940">1940</option>
		<option value="1941">1941</option>
		<option value="1942">1942</option>
		<option value="1943">1943</option>
		<option value="1944">1944</option>
		<option value="1945">1945</option>
		<option value="1946">1946</option>
		<option value="1947">1947</option>
		<option value="1948">1948</option>

		<option value="1949">1949</option>
		<option value="1950">1950</option>
		<option value="1951">1951</option>
		<option value="1952">1952</option>
		<option value="1953">1953</option>
		<option value="1954">1954</option>
		<option value="1955">1955</option>
		<option value="1956">1956</option>
		<option value="1957">1957</option>

		<option value="1958">1958</option>
		<option value="1959">1959</option>
		<option value="1960">1960</option>
		<option value="1961">1961</option>
		<option value="1962">1962</option>
		<option value="1963">1963</option>
		<option value="1964">1964</option>
		<option value="1965">1965</option>
		<option value="1966">1966</option>

		<option value="1967">1967</option>
		<option value="1968">1968</option>
		<option value="1969">1969</option>
		<option value="1970">1970</option>
		<option value="1971">1971</option>
		<option value="1972">1972</option>
		<option value="1973">1973</option>
		<option value="1974">1974</option>
		<option value="1975">1975</option>

		<option value="1976">1976</option>
		<option value="1977">1977</option>
		<option value="1978">1978</option>
		<option value="1979">1979</option>
		<option value="1980">1980</option>
		<option value="1981">1981</option>
		<option value="1982">1982</option>
		<option value="1983">1983</option>
		<option value="1984">1984</option>

		<option value="1985">1985</option>
		<option value="1986">1986</option>
		<option value="1987">1987</option>
		<option selected="selected" value="1988">1988</option>
		<option value="1989">1989</option>
		<option value="1990">1990</option>
		<option value="1991">1991</option>
		<option value="1992">1992</option>
		<option value="1993">1993</option>

		</select>

		  </p>
		  <p>
		    <label for="employee_family_situation">Situation familiale :</label>
		    <select id="employee_family_situation_id" name="employee[family_situation_id]"><option value="1" selected="selected">Célibataire</option>
		<option value="2">Marié(e)</option>
		<option value="3">Veuf/Veuve</option>
		<option value="4">Divorcé(e)</option></select>

		  </p>
		  <p>
		    <label for="social_security_number">N° sécurité sociale :</label>
		    <input class="disable-stylesheet-width" id="social_security_number[0]" maxlength="13" name="social_security_number[0]" size="11" type="text">
		<input class="disable-stylesheet-width" id="social_security_number[1]" maxlength="2" name="social_security_number[1]" size="1" type="text">
		  </p>
		  <!--#####################################-->

		  <h2>Coordonnées</h2>

		  <h3>Adresse postale</h3>
		  <p>
		    <label for="employee[address][address1]">Adresse :</label> 
		    <input id="employee[address][address1]" name="employee[address][address1]" value="1 rue des rosiers" type="text"> - <input id="employee[address][address2]" name="employee[address][address2]" value="" type="text">
		  </p>
		  <p>
		    <label for="employee_address_country_name">Pays</label>

		    <style type="text/css">        div.auto_complete {
		          width: 350px;
		          background: #fff;
		        }
		        div.auto_complete ul {
		          border:1px solid #888;
		          margin:0;
		          padding:0;
		          width:100%;
		          list-style-type:none;
		        }
		        div.auto_complete ul li {
		          margin:0;
		          padding:3px;
		        }
		        div.auto_complete ul li.selected {
		          background-color: #ffb;
		        }
		        div.auto_complete ul strong.highlight {
		          color: #800; 
		          margin:0;
		          padding:0;
		        }
		</style><input autocomplete="off" id="employee_address_country_name" name="employee[address][country][name]" size="30" type="text"></p><div style="display: none;" class="auto_complete" id="employee_address_country_name_auto_complete"></div><script type="text/javascript">
		//<![CDATA[
		var employee_address_country_name_auto_completer = new Ajax.Autocompleter('employee_address_country_name', 'employee_address_country_name_auto_complete', '/addresses/auto_complete_for_country_name', {callback:function(element, value) { return 'value='+document.getElementById('employee_address_country_name').value }, parameters:'authenticity_token=' + encodeURIComponent('8efd1f658333c99f8c62321a5e24761b5bcaca3c'), select:'country_name'})
		//]]>
		</script>    

		    <p>
		    <label for="employee_address_city_name">Ville</label>
		    <style type="text/css">        div.auto_complete {
		          width: 350px;
		          background: #fff;
		        }
		        div.auto_complete ul {
		          border:1px solid #888;
		          margin:0;
		          padding:0;
		          width:100%;
		          list-style-type:none;
		        }
		        div.auto_complete ul li {
		          margin:0;
		          padding:3px;
		        }
		        div.auto_complete ul li.selected {
		          background-color: #ffb;
		        }
		        div.auto_complete ul strong.highlight {
		          color: #800; 
		          margin:0;
		          padding:0;
		        }
		</style><input autocomplete="off" id="employee_address_city_name" name="employee[address][city][name]" size="30" type="text"></p><div style="display: none;" class="auto_complete" id="employee_address_city_name_auto_complete"></div><script type="text/javascript">
		//<![CDATA[
		var employee_address_city_name_auto_completer = new Ajax.Autocompleter('employee_address_city_name', 'employee_address_city_name_auto_complete', '/addresses/auto_complete_for_city_name', {callback:function(element, value) { return 'value='+document.getElementById('employee_address_city_name').value+
		        '&country_name='+document.getElementById('employee_address_country_name').value }, parameters:'authenticity_token=' + encodeURIComponent('8efd1f658333c99f8c62321a5e24761b5bcaca3c'), select:'city_name'})
		//]]>
		</script>    

		    <p>
		    <label for="employee_address_city_zip_code">Code Postal</label>
		    <style type="text/css">        div.auto_complete {
		          width: 350px;
		          background: #fff;
		        }
		        div.auto_complete ul {
		          border:1px solid #888;
		          margin:0;
		          padding:0;
		          width:100%;
		          list-style-type:none;
		        }
		        div.auto_complete ul li {
		          margin:0;
		          padding:3px;
		        }
		        div.auto_complete ul li.selected {
		          background-color: #ffb;
		        }
		        div.auto_complete ul strong.highlight {
		          color: #800; 
		          margin:0;
		          padding:0;
		        }

		</style><input autocomplete="off" id="employee_address_city_zip_code" name="employee[address][city][zip_code]" size="30" type="text"></p><div style="display: none;" class="auto_complete" id="employee_address_city_zip_code_auto_complete"></div><script type="text/javascript">
		//<![CDATA[
		var employee_address_city_zip_code_auto_completer = new Ajax.Autocompleter('employee_address_city_zip_code', 'employee_address_city_zip_code_auto_complete', '/addresses/auto_complete_for_city_zip_code', {callback:function(element, value) { return 'value='+document.getElementById('employee_address_city_zip_code').value+
		        '&country_name='+document.getElementById('employee_address_country_name').value }, parameters:'authenticity_token=' + encodeURIComponent('8efd1f658333c99f8c62321a5e24761b5bcaca3c'), select:'city_zip_code'})
		//]]>
		</script>    

		    <script type="text/javascript">
		//<![CDATA[
		document.getElementById('employee_address_country_name').value='Réunion'
		//]]>
		</script>
		    <script type="text/javascript">
		//<![CDATA[
		document.getElementById('employee_address_city_name').value = 'Saint-Denis'
		//]]>
		</script>
		    <script type="text/javascript">
		//<![CDATA[
		document.getElementById('employee_address_city_zip_code').value = '97400'
		//]]>
		</script>



		    <script type="text/javascript">
		//<![CDATA[
		new Form.Element.Observer('employee_address_country_name', 0.1, function(element, value) {new Ajax.Request('/addresses/country_change', {asynchronous:true, evalScripts:true, parameters:'country_name='+encodeURIComponent(document.getElementById('employee_address_country_name').value)+
		            '&city_name='+encodeURIComponent(document.getElementById('employee_address_city_name').value)+
		            '&city_zip_code='+encodeURIComponent(document.getElementById('employee_address_city_zip_code').value)+
		            '&address_name=employee' + '&authenticity_token=' + encodeURIComponent('8efd1f658333c99f8c62321a5e24761b5bcaca3c')})})
		//]]>
		</script>

		      <script type="text/javascript">
		//<![CDATA[
		new Form.Element.Observer('employee_address_city_name', 0.1, function(element, value) {new Ajax.Request('/addresses/city_name_change', {asynchronous:true, evalScripts:true, parameters:'country_name='+encodeURIComponent(document.getElementById('employee_address_country_name').value)+
		            '&city_name='+encodeURIComponent(document.getElementById('employee_address_city_name').value)+
		            '&address_name=employee' + '&authenticity_token=' + encodeURIComponent('8efd1f658333c99f8c62321a5e24761b5bcaca3c')})})
		//]]>
		</script>


		  <script type="text/javascript">
		//<![CDATA[
		new Form.Element.Observer('employee_address_city_zip_code', 0.1, function(element, value) {new Ajax.Request('/addresses/city_zip_code_change', {asynchronous:true, evalScripts:true, parameters:'country_name='+encodeURIComponent(document.getElementById('employee_address_country_name').value)+
		            '&city_zip_code='+encodeURIComponent(document.getElementById('employee_address_city_zip_code').value)+
		            '&address_name=employee' + '&authenticity_token=' + encodeURIComponent('8efd1f658333c99f8c62321a5e24761b5bcaca3c')})})
		//]]>
		</script>


		  <h3>Adresses électroniques</h3>
		  <p>
		    <label for="employee_email">Email personnel :</label>
		    <input id="employee_email" name="employee[email]" size="30" value="john@doe.com" type="text">
		  </p>
		  <p>

		    <label for="employee_society_email">Email professionnel :</label>
		    <input id="employee_society_email" name="employee[society_email]" size="30" value="john.doe@society.com" type="text">
		  </p>
		  <h3>Numéros de téléphone</h3>
		  <div id="add_lines_employee">




		        <!-- le <p> est ouvers à la ligne ci-dessous avec un id -->
		        <p id="employee_number_0">       
		        <select id="employee_numbers__0_indicative_id" name="employee[numbers][0][indicative_id]"><option value="1" selected="selected">+262</option>

		<option value="2">+33</option>
		<option value="3">+34</option>
		<option value="4">+44</option>
		<option value="5">+49</option>
		<option value="6">+81</option>
		<option value="7">+86</option>
		<option value="8">+1</option></select>
		        <input class="disable-stylesheet-width" id="employee[numbers][0][number]" maxlength="9" name="employee[numbers][0][number]" size="7" value="692123456" type="text">
		        <select id="employee_numbers__0_number_type_id" name="employee[numbers][0][number_type_id]"><option value="1" selected="selected">Mobile</option>

		<option value="2">Fixe</option>
		<option value="3">Fax</option>
		<option value="4">Mobile Professionnel</option>
		<option value="5">Fixe Professionnel</option>
		<option value="6">Fax Professionnel</option></select>
		        <input checked="checked" id="employee[numbers][0][visible]" name="employee[numbers][0][visible]" value="true" type="checkbox">
		        &nbsp;Visible par tous &nbsp;
		        <a href="#" onclick="if (confirm('Etes vous sur?')) { new Ajax.Request('/employees/remove_line?attribute=employee&amp;deleted_id=1&amp;rem=0', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('8efd1f658333c99f8c62321a5e24761b5bcaca3c')}); }; return false;"><img src="/images/delete_16x16.png" alt="Enlever le numéro" title="Enlever le numéro"></a>


		      </p>




		        <!-- le <p> est ouvers à la ligne ci-dessous avec un id -->
		        <p id="employee_number_1">       
		        <select id="employee_numbers__1_indicative_id" name="employee[numbers][1][indicative_id]"><option value="1" selected="selected">+262</option>
		<option value="2">+33</option>
		<option value="3">+34</option>
		<option value="4">+44</option>
		<option value="5">+49</option>
		<option value="6">+81</option>

		<option value="7">+86</option>
		<option value="8">+1</option></select>
		        <input class="disable-stylesheet-width" id="employee[numbers][1][number]" maxlength="9" name="employee[numbers][1][number]" size="7" value="262987654" type="text">
		        <select id="employee_numbers__1_number_type_id" name="employee[numbers][1][number_type_id]"><option value="1">Mobile</option>
		<option value="2" selected="selected">Fixe</option>
		<option value="3">Fax</option>
		<option value="4">Mobile Professionnel</option>
		<option value="5">Fixe Professionnel</option>

		<option value="6">Fax Professionnel</option></select>
		        <input checked="checked" id="employee[numbers][1][visible]" name="employee[numbers][1][visible]" value="true" type="checkbox">
		        &nbsp;Visible par tous &nbsp;
		        <a href="#" onclick="if (confirm('Etes vous sur?')) { new Ajax.Request('/employees/remove_line?attribute=employee&amp;deleted_id=2&amp;rem=1', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('8efd1f658333c99f8c62321a5e24761b5bcaca3c')}); }; return false;"><img src="/images/delete_16x16.png" alt="Enlever le numéro" title="Enlever le numéro"></a>

		      </p>



		    <p>
		      <span id="employee_add_link"><a href="#" onclick="new Ajax.Request('/employees/add_line?attribute=employee&amp;opt=2', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('8efd1f658333c99f8c62321a5e24761b5bcaca3c')}); return false;"><img src="/images/add_16x16.png" alt="Ajouter le numéro" title="Ajouter le numéro"></a></span>
		    </p>


		</div>

		  <!--#####################################-->

		  <h2>Coordonnées bancaires</h2>
		  <p>
		    <label for="iban[bank_name]">Nom de la banque :</label> 
		    <input class="disable-stylesheet-width" id="iban[bank_name]" maxlength="17" name="iban[bank_name]" size="15" value="Bred" type="text">
		  </p>
		  <p>

		    <label for="iban[bank_code]">Code bancaire :</label> 
		    <input class="disable-stylesheet-width" id="iban[bank_code]" maxlength="5" name="iban[bank_code]" size="3" value="12345" type="text">
		  </p>
		  <p>
		    <label for="iban[branch_code]">Code guichet :</label> 
		    <input class="disable-stylesheet-width" id="iban[branch_code]" maxlength="5" name="iban[branch_code]" size="3" value="12345" type="text">
		  </p>
		   <p>
		    <label for="iban[account_number]">N° de compte :</label> 
		    <input class="disable-stylesheet-width" id="iban[account_number]" maxlength="10" name="iban[account_number]" size="8" value="2147483647" type="text">

		  </p>
		   <p>
		    <label for="iban[key]">Clé :</label> 
		    <input class="disable-stylesheet-width" id="iban[key]" maxlength="2" name="iban[key]" size="1" value="12" type="text">
		  </p>
		   <p>
		    <label for="iban[account_name]">Nom du titulaire :</label> 
		    <input id="iban[account_name]" name="iban[account_name]" value="" type="text">
		  </p>

		  <h2>Fiche de poste</h2>
		  <p>
		    </p><div>
		      <table>
		        <tbody><tr>
		          <th colspan="2">Services</th>
		          <th>Responsable?</th>

		        </tr>      

		        <tr>
		          <td>
		            <input checked="checked" id="employee[service_ids][]" name="employee[service_ids][]" value="1" type="checkbox"> <!-- @numbers is define only in 'edit' and 'update' methods then if it is null we are using 'new' or 'create' method -->
		          </td>
		          <td>
		            Direction Générale
		          </td>
		          <td>

		            <input id="responsable[1]" name="responsable[1]" value="1" type="checkbox">
		          </td>
		        </tr>

		        <tr>
		          <td>
		            <input id="employee[service_ids][]" name="employee[service_ids][]" value="2" type="checkbox"> <!-- @numbers is define only in 'edit' and 'update' methods then if it is null we are using 'new' or 'create' method -->
		          </td>
		          <td>

		            Service Administratif
		          </td>
		          <td>
		            <input id="responsable[2]" name="responsable[2]" value="2" type="checkbox">
		          </td>
		        </tr>

		        <tr>
		          <td>
		            <input id="employee[service_ids][]" name="employee[service_ids][]" value="3" type="checkbox"> <!-- @numbers is define only in 'edit' and 'update' methods then if it is null we are using 'new' or 'create' method -->

		          </td>
		          <td>
		            Service Commercial
		          </td>
		          <td>
		            <input id="responsable[3]" name="responsable[3]" value="3" type="checkbox">
		          </td>
		        </tr>

		        <tr>

		          <td>
		            <input id="employee[service_ids][]" name="employee[service_ids][]" value="4" type="checkbox"> <!-- @numbers is define only in 'edit' and 'update' methods then if it is null we are using 'new' or 'create' method -->
		          </td>
		          <td>
		            Production
		          </td>
		          <td>
		            <input id="responsable[4]" name="responsable[4]" value="4" type="checkbox">
		          </td>

		        </tr>

		        <tr>
		          <td>
		            <input id="employee[service_ids][]" name="employee[service_ids][]" value="5" type="checkbox"> <!-- @numbers is define only in 'edit' and 'update' methods then if it is null we are using 'new' or 'create' method -->
		          </td>
		          <td>
		            Atelier Décor
		          </td>
		          <td>

		            <input id="responsable[5]" name="responsable[5]" value="5" type="checkbox">
		          </td>
		        </tr>

		        <tr>
		          <td>
		            <input id="employee[service_ids][]" name="employee[service_ids][]" value="6" type="checkbox"> <!-- @numbers is define only in 'edit' and 'update' methods then if it is null we are using 'new' or 'create' method -->
		          </td>
		          <td>

		            Atelier Découpe
		          </td>
		          <td>
		            <input id="responsable[6]" name="responsable[6]" value="6" type="checkbox">
		          </td>
		        </tr>

		        <tr>
		          <td>
		            <input id="employee[service_ids][]" name="employee[service_ids][]" value="7" type="checkbox"> <!-- @numbers is define only in 'edit' and 'update' methods then if it is null we are using 'new' or 'create' method -->

		          </td>
		          <td>
		            Atelier Fraisage
		          </td>
		          <td>
		            <input id="responsable[7]" name="responsable[7]" value="7" type="checkbox">
		          </td>
		        </tr>

		      </tbody></table>

		    </div>

		  <div id="jobs_choice">
		    <div id="jobs_list">
		      <table>
		        <tbody><tr>
		          <th colspan="2">Fonctions</th>
		        </tr>

		      </tbody></table>

		    </div>
		    <p>
		      <a onclick="osibox_open();" style="text-decoration: underline;">Ajouter une fonction</a>
		    </p>
		  <!-- Display Documents div -->



		    <span id="main_submit">
		      <button type="submit" class="input-button">
		  	    <span>Modifier</span>

		      </button>
		      <a href="/employees">Retour</a>
		    </span>
		  </div>

		</form>
		</div>
	</div> <!-- content_page : FIN -->
</div> <!-- PAGE : FIN -->
<div id="footer_page">
	<div id="footer">
		<div id="bottom_core_menu">
			<div id="footer_content">
					<p>
						Coordonnées : <span>pae la mare - ilot 7 - n°48 - 97438 sainte-marie - la réunion </span> | 
						<span>tél.</span> +262 (0)2 62 53 12 89 - <span>Fax</span> +262 (0)2 62 53 16 42 <br />
						&copy; Tous droits réservés 2008 <br />
						<a href="http://validator.w3.org/check?uri=referer">
							<img	class="bottom_icons"
									src="/images/valid-xhtml.png"
									alt="Valid XHTML 1.0 Strict" height="15" width="80" />
							</a>&nbsp;
						<img	class="bottom_icons" 
								src="/images/plume-cms-powered.png"
								alt="powered by Oxydium" height="15" width="80"/>&nbsp;&nbsp;
						<img 	class="bottom_icons"
								src="/images/madeonamac.png"
								alt="Made On a Mac" height="15" width="80"/>
					</p>
				</div><!--FOOTER_CONTAIN : FIN  -->
			</div><!-- bottom_core_menu : FIN -->
		</div><!-- FOOTER : FIN-->
	</div><!-- footer_page : FIN -->
</div> <!-- CORPS : FIN -->
</div><!-- ALL PAGE : FIN-->
	</body>
</html>