<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="author" content="Oxydium - SUPINFO PS1"/>
		<meta name="category" content="ERP"/>
		<meta name="publisher" content="Oxydium - SUPINFO PS1"/>
		<meta name="copyright" content="Oxydium - SUPINFO PS1"/>
		<link rel="stylesheet" media="screen" type="text/css" title="Design" href="/stylesheets/default.css"/>
     <%= javascript_include_tag :defaults %>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
		<title>Page d'accueil - Intranet d'EMR [Enseigne, Maintenance Réunion]</title>
	</head>
	<body>

<div id="all_page">
									<!-- BANNIERE -->
		<div id="banniere">
			<div id="logo"> 
				<span id="msg_accueil">Bonjour, Mathieu Fontaine</span>
			</div>	
			<div id="banniere_fond">
				<div id="boutons">
          <div id="button_on_banner">
            <a class="button_banner" href="rechercher/rechercher.html">
              <span>Ma page d'accueil</span>
						</a>
            <a class="button_banner" href="rechercher/rechercher.html">
							<span>Rechercher</span>
						</a>
						<a class="button_banner" href="rechercher/rechercher.html">
							<span>Se déconnecter</span>
						</a>
					</div>
				</div>
			</div>
		</div>						<!-- SOUS-BANNIERE -->
		<div id="sous_banniere">
			<div id="txt_sous_banniere">	<!-- Limiter le texte à 297 caractères !! [Sous risque de bug] -->
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse semper, arcu non rhoncus fermentum,
				nisl odio semper pede, a pellentesque erat dui sit amet elit. Sed pede est, tempus a, fringilla eu, suscipit eget,
				lorem. In feugiat suscipit dolor. Lorem ipsum dolor sit amet, consectetuer. AA
			</div>
			<div id="bouton-ban">
				<input type="button" id="precedent" alt="bouton précédent" title="Information précédente"/>
				<span class="number">02</span>|<span class="number">10</span>
				<input type="button" id="suivant" alt="bouton suivant" title="Information suivante"/>
			</div>
		</div>
		
	<div id="corps"><!-- Regroupe la TOTALITE de la page web à l'exception des bannières-->	
		<div id="menu">				<!-- MENU PRINCIPAL-->	
				<ul>
          <%= display_main_menu %>
					<!--<li><a href="menu_liens/gestion_entreprise.html">Gestion de l'entreprise</a></li>
					<li><a href="menu_liens/entreprise.html">L'entreprise</a></li>
					<li><a href="menu_liens/ressource_humaine.html">Ressources Humaines</a></li>
					<li><a href="menu_liens/ventes.html">Ventes</a></li>
					<li><a href="menu_liens/productions.html">Productions</a></li>
					<li><a href="menu_liens/achats.html">Achats</a></li>
					<li><a href="menu_liens/equipements.html">Equipements</a></li>
					<li><a href="menu_liens/finances.html">Finances</a></li>
					<li><a href="menu_liens/bibliotheque.html">Bibliothèque</a></li>
					<li><a href="menu_liens/administration_intranet.html">Administration de l'Intranet</a></li>-->
				</ul>
		</div>

		<div id="page">			<!-- CONTENU DE LA PAGE -->
								<!-- MENU SECONDAIRE 	-->
		<div id="menu_secondaire">
			<div id="ombre">
				<div id="menu_secondaire_contenu">
					<h4 id="menu_secondaire_header"><span class="gris">Second</span> <span class="bleu">Menu</span></h4>
					<p>	<span id="recherche">Recherche :</span><br />
						<input type="text" /><br />
						<a class="default-button" href="#">
							<span>Rechercher</span>
						</a>&nbsp;<a href="#" class="help">Rechercher avancée</a>
					</p>
					<h4><span class="gris">Liens</span> <span class="bleu">utile</span></h4>
					<div id="lien">
						<ul>
							<li><a href="#">Lien N°1</a></li>
							<li><a href="#">Lien N°2</a></li>
							<li><a href="#">Lien N°3</a></li>
						</ul>
					</div>
					<h4><span class="gris">Action</span> <span class="bleu">possibles</span></h4>
					<ul>
						<li class="icons_link"><a href="#"><img src="../images/view.png" alt="voir" title="voir" class="view_icon" />Voir</a></li>
						<li class="icons_link"><a href="#"><img src="../images/add.png" alt="ajouter" title="ajouter" class="add_icon" />Ajouter</a></li>
						<li class="icons_link"><a href="#"><img src="../images/modif.png" alt="modifier" title="modifier" class="modif_icon" />Modifier</a></li>
						<li class="icons_link"><a href="#"><img src="../images/del.png" alt="supprimer" title="supprimer" class="del_icon" />Supprimer</a></li>
					</ul>
					<div id="bottom_menu_secondaire">&nbsp;</div>
				</div>
			</div>
		</div>
		<div id="page_contenu">

						<!-- MENU HORIZONTAL -->
<!--Conseil :____________________________________________
			écrire le menu de bas en haut pour avoir	|
			un ordre hiérarchique de gauche à droite    |
			____________________________________________|-->
				<div id="menu_horizontal">
          <%= display_second_menu %>
				</div>
        <div id="empty"></div><!-- Permet de contrer le float du menu horizontal en mettant une marge qui englobe celui-ci -->
        <%= display_flash %>

        <%= yield %>
        
				<div class="cadre">
					<h2>Test</h2>
					<h3>Test de formulaire</h3>
					<form id="monForm" action="#" method="post">
						<fieldset>
							<legend>Informations personnelles</legend>
								<p>
									<label for="form_firstname">Prénom : </label>
									<input class="no-stylesheet-width" type="text" id="form_firstname" name="firstname" tabindex="10" size="5" />
								</p>
								<p>
									<label for="form_lastname">Nom : </label>
									<input type="text" id="form_lastname" name="lastname" tabindex="20" />
								</p>
						        <p>
						          	<label for="form_gender">Sexe : </label>
						            <input type="text" id="form_gender" name="gender" tabindex="30" />
						      	</p>
								<div id="birth">
									<p>
						            	<label for="form_birthday">Date de naissance : </label>
											<select name="jour" id="form_birthday" tabindex="40">
												<optgroup label="Jours">
																			<option></option>
																			<option value="1">1</option>
																			<option value="2">2</option>
																			<option value="3">3</option>
																			<option value="4">4</option>

																			<option value="5">5</option>
																			<option value="6">6</option>
																			<option value="7">7</option>
																			<option value="8">8</option>
																			<option value="9">9</option>
																			<option value="10">10</option>

																			<option value="11">11</option>
																			<option value="12">12</option>
																			<option value="13">13</option>
																			<option value="14">14</option>
																			<option value="15">15</option>
																			<option value="16">16</option>

																			<option value="17">17</option>
																			<option value="18">18</option>
																			<option value="19">19</option>
																			<option value="20">20</option>
																			<option value="21">21</option>
																			<option value="22">22</option>

																			<option value="23">23</option>
																			<option value="24">24</option>
																			<option value="25">25</option>
																			<option value="26">26</option>
																			<option value="27">27</option>
																			<option value="28">28</option>

																			<option value="29">29</option>
																			<option value="30">30</option>
																			<option value="31">31</option>
																			</optgroup>
																		</select>
																		<select name="mois" id="mois" tabindex="50">
																			<optgroup label="Mois">
																			<option></option>
																			<option value="1">Janvier</option>

																			<option value="2">F&eacute;vrier</option>
																			<option value="3">Mars</option>
																			<option value="4">Avril</option>
																			<option value="5">Mai</option>
																			<option value="6">Juin</option>
																			<option value="7">Juillet</option>

																			<option value="8">Aout</option>
																			<option value="9">Septembre</option>
																			<option value="10">Octobre</option>
																			<option value="11">Novembre</option>
																			<option value="12">D&eacute;cembre</option>
																			</optgroup>
																		</select>

																		<select name="annee" id="annee" tabindex="60" >
																			<optgroup label="Année">
																			<option></option>
																			<option value="2008">2008</option>
																			<option value="2007">2007</option>
																			<option value="2006">2006</option>
																			<option value="2005">2005</option>
																			<option value="2004">2004</option>

																			<option value="2003">2003</option>
																			<option value="2002">2002</option>
																			<option value="2001">2001</option>
																			<option value="2000">2000</option>
																			<option value="1999">1999</option>
																			<option value="1998">1998</option>

																			<option value="1997">1997</option>
																			<option value="1996">1996</option>
																			<option value="1995">1995</option>
																			<option value="1994">1994</option>
																			<option value="1993">1993</option>
																			<option value="1992">1992</option>

																			<option value="1991">1991</option>
																			<option value="1990">1990</option>
																			<option value="1989">1989</option>
																			<option value="1988">1988</option>
																			<option value="1987">1987</option>
																			<option value="1986">1986</option>

																			<option value="1985">1985</option>
																			<option value="1984">1984</option>
																			<option value="1983">1983</option>
																			<option value="1982">1982</option>
																			<option value="1981">1981</option>
																			<option value="1980">1980</option>

																			<option value="1979">1979</option>
																			<option value="1978">1978</option>
																			<option value="1977">1977</option>
																			<option value="1976">1976</option>
																			<option value="1975">1975</option>
																			<option value="1974">1974</option>

																			<option value="1973">1973</option>
																			<option value="1972">1972</option>
																			<option value="1971">1971</option>
																			<option value="1970">1970</option>
																			<option value="1969">1969</option>
																			<option value="1968">1968</option>

																			<option value="1967">1967</option>
																			<option value="1966">1966</option>
																			<option value="1965">1965</option>
																			<option value="1964">1964</option>
																			<option value="1963">1963</option>
																			<option value="1962">1962</option>

																			<option value="1961">1961</option>
																			<option value="1960">1960</option>
																			<option value="1959">1959</option>
																			<option value="1958">1958</option>
																			<option value="1957">1957</option>
																			<option value="1956">1956</option>

																			<option value="1955">1955</option>
																			<option value="1954">1954</option>
																			<option value="1953">1953</option>
																			<option value="1952">1952</option>
																			<option value="1951">1951</option>
																			<option value="1950">1950</option>

																			<option value="1949">1949</option>
																			<option value="1948">1948</option>
																			<option value="1947">1947</option>
																			<option value="1946">1946</option>
																			<option value="1945">1945</option>
																			<option value="1944">1944</option>

																			<option value="1943">1943</option>
																			<option value="1942">1942</option>
																			<option value="1941">1941</option>
																			<option value="1940">1940</option>
																			<option value="1939">1939</option>
																			<option value="1938">1938</option>

																			<option value="1937">1937</option>
																			<option value="1936">1936</option>
																			<option value="1935">1935</option>
																			<option value="1934">1934</option>
																			<option value="1933">1933</option>
																			<option value="1932">1932</option>

																			<option value="1931">1931</option>
																			<option value="1930">1930</option>
																			<option value="1929">1929</option>
																			<option value="1928">1928</option>
																			<option value="1927">1927</option>
																			<option value="1926">1926</option>

																			<option value="1925">1925</option>
																			<option value="1924">1924</option>
																			<option value="1923">1923</option>
																			<option value="1922">1922</option>
																			<option value="1921">1921</option>
																			<option value="1920">1920</option>

																			<option value="1919">1919</option>
																			<option value="1918">1918</option>
																			<option value="1917">1917</option>
																			<option value="1916">1916</option>
																			<option value="1915">1915</option>
																			<option value="1914">1914</option>

																			<option value="1913">1913</option>
																			<option value="1912">1912</option>
																			<option value="1911">1911</option>
																			<option value="1910">1910</option>
																			<option value="1909">1909</option>
																			<option value="1908">1908</option>

																			<option value="1907">1907</option>
																			<option value="1906">1906</option>
																			<option value="1905">1905</option>
																			<option value="1904">1904</option>
																			<option value="1903">1903</option>
																			<option value="1902">1902</option>

																			<option value="1901">1901</option>
																			<option value="1900">1900</option>
																			</optgroup>
																		</select>
							        </p>
								</div>
							        <p>
							          	<label for="form_address">Adresse : </label>
							            <input type="text" id="form_address" name="address" tabindex="70" />
						        	</p>
							        <p>
							            <label for="form_postal_code">Code postal : </label>
							            <input type="text" id="form_postal_code" name="postal_code" tabindex="80" />
							        </p>
							        <p>
							            <label for="form_city">Ville : </label>
							            <input type="text" id="form_city" name="city" tabindex="90" />
							        </p>
							        <p><span class="fieldWithErrors">
							            <label for="form_country">Pays : </label>
							            <select id="form_country" name="country">
						             		<optgroup label="Amérique">
								            	<option value="ca">Canada</option>
						                    	<option value="us">États-Unis</option>
							               </optgroup>
											                <optgroup label="Europe">
																<option value="al">Allemagne</option>
																<option value="en">Angleterre</option>
											                    <option value="be">Belgique</option>
											                    <option value="es">Espagne</option>
																<option value="fr">France</option>
																<option value="it">Italie</option>
															</optgroup>
															<optgroup label="Autre">
																<option value="re">Réunion (île de la)</option>
											                </optgroup>
											            </select>
														</span>
											        </p>
											    </fieldset>

											    <fieldset>
											    <legend>Compte</legend>
											        <p>	<span class="fieldWithErrors">
											            <label for="form_login">Identifiant : </label>
											            <input type="text" id="form_login" name="login" tabindex="100" />
											        	</span>
													</p>
											        <p>
											            <label for="form_password">Mot de passe : </label>
											            <input type="password" id="form_password" name="password" tabindex="110" />
											        </p>
											        <p>
											            <label for="form_password2">Confirmer le mot de passe : </label>
											            <input type="password" id="form_password2" name="password2" tabindex="120" />
											        </p>
											        <p>
											            <label for="form_question">Question secrète : </label>
											            <input type="text" id="form_question" name="question" tabindex="130" />
											        </p>
											        <p>
											            <label for="form_response">Réponse : </label>
											            <input type="text" id="form_response" name="response" tabindex="140" />
											        </p>
											        <p>
											            <label for="form_mail">Adresse email : </label>
											            <input type="text" id="form_mail" name="mail" tabindex="150" />
											        </p>
											    </fieldset>
											    	<p>
											       		<button type="submit" class="input-button"><span>Valider</span></button>
														<button type="reset" class="input-button"><span>reset</span></button>
											    	</p>
											</form>
				</div>
			</div> <!-- PAGE_CONTENU : FIN -->
		</div> <!-- PAGE : FIN -->
		<div id="pied_de_page">
			<div id="footer">
				<div id="menu_principal_bottom">
					<div id="footer_containt">
						<p>
							Coordonnées : <span>pae la mare - ilot 7 - n°48 - 97438 sainte-marie - la réunion </span> | 
							tél. +262 (0)2 62 53 12 89 - Fax +262 (0)2 62 53 16 42 <br />
							&copy; Tous droits réservés 2008 <br />
							<a href="http://validator.w3.org/check?uri=referer">
								<img	class="bottom_icons"
										src="images/valid-xhtml.png"
										alt="Valid XHTML 1.0 Strict" height="15" width="80" />
							</a>&nbsp;
							<img	class="bottom_icons" 
									src="images/plume-cms-powered.png"
									alt="powered by Oxydium" height="15" width="80"/>&nbsp;&nbsp;
							<img 	class="bottom_icons"
									src="images/madeonamac.png"
									alt="Made On a Mac" height="15" width="80"/>
						</p>
					</div><!--FOOTER_CONTAIN : FIN  -->
				</div><!-- MENU_PRINCIPAL_BOTTOM : FIN -->
			</div><!-- FOOTER : FIN-->
		</div><!-- PIED_DE_PAGE : FIN -->
	</div> <!-- CORPS : FIN -->
</div><!-- ALL PAGE : FIN-->
	</body>
</html>