<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="author" content="Oxydium - SUPINFO PS1"/>
		<meta name="category" content="ERP"/>
		<meta name="publisher" content="Oxydium - SUPINFO PS1"/>
		<meta name="copyright" content="Oxydium - SUPINFO PS1"/>
    <%= stylesheet_link_tag_with_theme_support "default" %>
    <%= stylesheet_link_tag_with_theme_support "context_menu" %>
    <%= stylesheet_link_tag_with_theme_support "tab_navigation" %>
    <%= stylesheet_link_tag_with_theme_support "contextual_menu" %>
    <%= stylesheet_link_tag "lightbox" %>
    <%= stylesheet_link_tag "journalization" %>
    <%= tag("link", { "rel" => "shortcut icon", "type" => "image/x-icon", "href" => "#{$CURRENT_THEME_PATH}/favicon.ico" }) %>
    <%= javascript_include_tag "prevent_close" %>
    <%= javascript_include_tag "tab_navigation" %>
    <%= javascript_include_tag "display_time" %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "context_menu" %>
    <%= javascript_include_tag "builder" %>
    <%= javascript_include_tag "text_area_autoresize" %>
    <%= javascript_include_tag "strftime" %>
    <%= javascript_include_tag "lightbox/lightbox" %>
    <%= include_calendar_headers_tags("fr") %>
    <%= daynames_and_monthnames_retrieval %>   
    
    <%= yield :header %>
		<title>Page d'accueil - Intranet d'EMR [Enseigne, Maintenance Réunion]</title>
	</head>
	<body>
    <!-- BANNIERE -->
    <div id="banner">
      <div id="logo"> 
        <span id="welcome_message"><%= display_welcome_message %></span>
      </div>	
      <div id="background_banner">
        <div id="block_button_banner">
          <a class="button_banner" href="<%= root_path %>"><span>Ma page d'accueil</span></a>
          <a class="button_banner" href="<%= search_path %>"><span>Rechercher</span></a>
          <a class="button_banner" href="<%= logout_url %>"><span>Se déconnecter</span></a>
        </div>
        <div id="banner_datetime">
          <p><%= display_date_time %></p>
        </div>
      </div>
    </div>
    <!-- TODO disable this helper when feature memorandum are disable -->
    <%= display_memorandums %>

    <div id="block_body"><!-- REGROUPS THE WHOLE PAGE EXCEPTED BANNERS -->
      <div id="nav">
        <%= display_menu %>
      </div>
      <div id="page">
        <div id="ajax_indicator" style="display:none">
          <div>
            <span>Chargement en cours, veuillez patienter...</span>
          </div>
        </div>
        
        <div id="content_page" class="<%= content_page_class %>" >
          <%= display_flash %>
          
          <div id="ajax_holder" style="display:none">
            <div id="ajax_holder_waiting">
              <%= image_tag("loading_16x16.gif", :title => "Veuillez patienter", :alt => "Veuillez patienter", :id => 'ajax_holder_loader') %>
            </div>
            <div id="ajax_holder_content"></div>
            <div id="ajax_holder_command">
              <%= link_to_function( image_tag("close_icon.png", :title => "Fermer", :alt => "Fermer"), "close_ajax_holder()") %>
            </div>
          </div> <!-- AJAX_HOLDER : END -->
        
          <%= yield %>
          
          <p class="link_back"><%= link_to '&lt;&lt; Page précédente', :back %></p>
          
        </div> <!-- CONTENT_PAGE : END -->
        <%= display_contextual_menu %>
      </div> <!-- PAGE : END -->
      <div id="footer">
        <p>
          <%= display_footer %>
          <br/>
          <a href="http://validator.w3.org/check?uri=referer">
            <img class="bottom_icons" src="/images/valid-xhtml.png" alt="Valid XHTML 1.0 Strict" height="15" width="80" />
          </a>
        </p>
        <%= display_version %>
      </div> <!-- FOOTER : END -->
    </div> <!-- BLOCK_BODY : FIN-->
	</body>
</html>
