<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="author" content="Oxydium - SUPINFO PS1"/>
		<meta name="category" content="ERP"/>
		<meta name="publisher" content="Oxydium - SUPINFO PS1"/>
		<meta name="copyright" content="Oxydium - SUPINFO PS1"/>
    <%= stylesheet_link_tag_with_theme_support 'login.css' %>
		<%= tag("link", { "rel" => "shortcut icon", "type" => "image/x-icon", "href" => "#{$CURRENT_THEME_PATH}/favicon.ico" }) %>
		<title>Espace Login - Intranet d'EMR [Enseigne, Maintenance Réunion]</title>
	</head>
	<body>
		<div id="banner">
			<div id="logo"></div>	
			<div id="under_banner"></div>
		</div>		
		<%= display_flash %>
		
		<h1>Bienvenue sur l'intranet de <abbr title="Enseigne, Maintenance Réunion">EMR</abbr>. Veuillez vous identifier.</h1>
		<div id="login_content" class="error_login_content">
		  <%= yield %>
		  <%= display_version %>
		</div>
	</body>
</html>

