<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="author" content="EMR (Enseigne Maintenance Réunion)"/>
		<meta name="category" content="ERP"/>
		<meta name="publisher" content="EMR (Enseigne Maintenance Réunion)"/>
		<meta name="copyright" content="EMR (Enseigne Maintenance Réunion)"/>
    <%= stylesheet_link_tag_with_theme_support "popup.css" %>
    <%= tag("link", { "rel" => "shortcut icon", "type" => "image/x-icon", "href" => "#{$CURRENT_THEME_PATH}/favicon.ico" }) %>
    <%= javascript_include_tag :defaults %>
    <%= yield :header %>
		<title>Page d'accueil - Intranet d'EMR [Enseigne, Maintenance Réunion]</title>
	</head>
	<body>

  <%= yield %>

	</body>
</html>
