<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="author" content="Oxydium - SUPINFO PS1"/>
		<meta name="category" content="ERP"/>
		<meta name="publisher" content="Oxydium - SUPINFO PS1"/>
		<meta name="copyright" content="Oxydium - SUPINFO PS1"/>
    <%= stylesheet_link_tag "#{@theme_path}/stylesheets/popup.css" %>
    <%= tag("link", { "rel" => "shortcut icon", "type" => "image/x-icon", "href" => "#{@theme_path}/favicon.ico" }) %>
    <%= javascript_include_tag :defaults %>
    <%= yield :header %>
		<title>Page d'accueil - Intranet d'EMR [Enseigne, Maintenance Réunion]</title>
	</head>
	<body>

  <%= yield %>

	</body>
</html>
