<%
purchase_order = pending_purchase_order_in_one_line
parcels = purchase_order.parcels.compact

even = (pending_purchase_order_in_one_line_counter % 2).zero? ? 'even' : ''
rowspan = parcels.any? ? "rowspan=\"#{parcels.size}\"" : ''
%>

<tr class="<%= even %>">
  <td <%= rowspan %>><%= display_purchase_order_reference(purchase_order) %></td>
  <td <%= rowspan %>><%= purchase_order.created_at.humanize %></td>
  <td <%= rowspan %>><%= display_purchase_order_current_status(purchase_order) %></td>
  <td <%= rowspan %>><%= display_purchase_order_current_status_date(purchase_order) %></td>
  <td <%= rowspan %>><%= purchase_order.supplier.address.country_name %></td>
  <td <%= rowspan %>><%= purchase_order.supplier.name %></td>
  <% if parcels.empty? %>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  <% else %>
    <td><%= parcels.first.reference %></td>
    <td><%= display_parcel_previsional_deliveray_date(parcels.first) %></td>
    <td><%= parcels.first.conveyance %></td>
    <td><%= display_parcel_current_status(parcels.first) %></td>
    <td><%= display_parcel_current_status_date(parcels.first) %></td>
    <td>
      <% if parcels.first.received_by_forwarder_on %>
        <%= (parcels.first.received_on and parcels.first.awaiting_pick_up) ? ( "A été récupéré" ) : ( parcels.first.awaiting_pick_up == "1" ? "Oui" : "Non" ) %>
      <% end %>
    </td>
  <% end %>
  <td <%= rowspan %>><%= display_associated_purchase_requests(purchase_order) %></td>
  <td <%= rowspan %>><%= display_purchase_order_total_price(purchase_order) %></td>
  <td <%= rowspan %>></td>
  <td <%= rowspan %>><%= display_purchase_order_buttons(purchase_order)%></td>
</tr>

<%
for parcel in parcels
  if parcel != parcels.first 
%>
    <tr class="<%= even %>">
      <td><%= parcel.reference %></td>
      <td><%= display_parcel_previsional_deliveray_date(parcel) %></td>
      <td><%= parcel.conveyance %></td>
      <td><%= display_parcel_current_status(parcel) %></td>
      <td><%= display_parcel_current_status_date(parcel) %></td>
      <td>
        <% if parcel.received_by_forwarder_on %>
          <%= (parcel.received_on and parcel.awaiting_pick_up) ? ( "A été récupéré" ) : ( parcel.awaiting_pick_up == "1" ? "Oui" : "Non" ) %>
        <% end %>
      </td>
    </tr>
<%  
  end
end 
%>
