<%
pending_purchase_order_in_one_line_counter += 1
purchase_order = pending_purchase_order_in_one_line
purchase_deliveries = purchase_order.purchase_deliveries.compact

even = (pending_purchase_order_in_one_line_counter % 2).zero? ? 'even' : ''
rowspan = purchase_deliveries.any? ? "rowspan=\"#{purchase_deliveries.size}\"" : ''
%>

<tr class="<%= even %>">
  <td <%= rowspan %>><%= display_purchase_order_reference(purchase_order) %></td>
  <td <%= rowspan %>><%= purchase_order.created_at.humanize %></td>
  <td <%= rowspan %>><%= display_purchase_order_current_status(purchase_order) %></td>
  <td <%= rowspan %>><%= display_purchase_order_current_status_date(purchase_order) %></td>
  <td <%= rowspan %>><%= purchase_order.supplier.address.country_name %></td>
  <td <%= rowspan %>><%= purchase_order.supplier.name %></td>
  <% if purchase_deliveries.empty? %>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  <% else %>
    <td><%= purchase_deliveries.first.reference %></td>
    <td><%= display_purchase_delivery_previsional_deliveray_date(purchase_deliveries.first) %></td>
    <td><%= purchase_deliveries.first.conveyance %></td>
    <td><%= display_purchase_delivery_current_status(purchase_deliveries.first) %></td>
    <td><%= display_purchase_delivery_current_status_date(purchase_deliveries.first) %></td>
    <td>
      <% if purchase_deliveries.first.received_by_forwarder_on %>
        <%= (purchase_deliveries.first.received_on and purchase_deliveries.first.awaiting_pick_up) ? ( "A été récupéré" ) : ( purchase_deliveries.first.awaiting_pick_up == "1" ? "Oui" : "Non" ) %>
      <% end %>
    </td>
  <% end %>
  <td <%= rowspan %>><%= display_associated_purchase_requests(purchase_order) %></td>
  <td <%= rowspan %>><%= display_purchase_order_total_price(purchase_order) %></td>
  <td <%= rowspan %>></td>
  <td <%= rowspan %>><%= display_purchase_order_buttons(purchase_order)%></td>
</tr>

<%
for purchase_delivery in purchase_deliveries
  if purchase_delivery != purchase_deliveries.first 
%>
    <tr class="<%= even %>">
      <td><%= purchase_delivery.reference %></td>
      <td><%= display_purchase_delivery_previsional_deliveray_date(purchase_delivery) %></td>
      <td><%= purchase_delivery.conveyance %></td>
      <td><%= display_purchase_delivery_current_status(purchase_delivery) %></td>
      <td><%= display_purchase_delivery_current_status_date(purchase_delivery) %></td>
      <td>
        <% if purchase_delivery.received_by_forwarder_on %>
          <%= (purchase_delivery.received_on and purchase_delivery.awaiting_pick_up) ? ( "A été récupéré" ) : ( purchase_delivery.awaiting_pick_up == "1" ? "Oui" : "Non" ) %>
        <% end %>
      </td>
    </tr>
<%  
  end
end 
%>
